{% extends base_template %}

{% block actions %}
    <li>{% include '@SonataAdmin/Button/edit_button.html.twig' %}</li>
    <li>{% include '@SonataAdmin/Button/history_button.html.twig' %}</li>
    <li>{% include '@SonataAdmin/Button/list_button.html.twig' %}</li>
    <li>{% include '@SonataAdmin/Button/create_button.html.twig' %}</li>
{% endblock %}

{#{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}#}

{% block show %}
    <div class="sonata-ba-view row">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            <div class="{{ view_group.class | default('col-md-12') }}">
                <div class="{{ view_group.box_class }}">
                    {% if name %}
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                {% block show_title %}
                                    {{ admin.translator.trans(name) }}
                                {% endblock %}
                            </h4>
                        </div>
                    {% endif %}
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'global.link' | trans({}, 'CapcoAppBundle') }}</th>
                                <td>
                                    <div>
                                        <p>
                                            <a href="{{ object | capco_url(true) }}">
                                                {{ object | capco_url(true) }}
                                            </a>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'admin.fields.reporting.type' | trans({}, 'CapcoAppBundle') }}</th>
                                <td>
                                    <div>
                                        {% if(object.Opinion is not null) %}
                                            <span>{{ 'admin.fields.reporting.opinion'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% elseif (object.opinionVersion is not null) %}
                                            <span>{{ 'global.version'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% elseif (object.Source is not null) %}
                                            <span>{{ 'admin.fields.reporting.source'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% elseif (object.Argument is not null) %}
                                            <span>{{ 'global.argument.label'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% elseif (object.Comment is not null) %}
                                            <span>{{ 'global.comment'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% elseif (object.Proposal is not null) %}
                                            <span>{{ 'admin.fields.reporting.proposal'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% elseif (object.debateArgument is not null) %}
                                            <span>{{ 'admin.fields.reporting.debateArgument'|trans({}, 'CapcoAppBundle') }}</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% for field_name in view_group.fields %}
                                {% block show_field %}
                                    <tr class="sonata-ba-view-container">
                                        {% if elements[field_name] is defined %}
                                            {{ elements[field_name]|render_view_element(object) }}
                                        {% endif %}
                                    </tr>
                                {% endblock %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="well well-small form-actions">
            <a class="btn btn-success" href="{{ admin.generateObjectUrl('archive', object) }}">
                <i class="fa fa-check"></i> {{ 'admin.action.reporting.archive.label' | trans({}, 'CapcoAppBundle') }}
            </a>
            {{ 'global.or'|trans({}, 'CapcoAppBundle') }}
            <a class="btn btn-danger" href="{{ admin.generateObjectUrl('trash', object) }}">
                <i class="fa fa-trash"></i> {{ 'admin.action.reporting.trash.label' | trans({}, 'CapcoAppBundle') }}
            </a>
            <a class="btn btn-danger" href="{{ admin.generateObjectUrl('disable', object) }}">
                <i class="fa fa-ban"></i> {{ 'admin.action.reporting.disable.label' | trans({}, 'CapcoAppBundle') }}
            </a>
        </div>

    </div>
{% endblock %}
