{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set profiler_markup_version = profiler_markup_version|default(1) %}

    {% set icon %}
        <span class="icon">{{ include('@CapcoApp/DataCollector/elasticsearch_logo.svg.twig') }}</span>
        <span class="sf-toolbar-value">{{ collector.queriesCount }}</span>
        {% if collector.queriesCount > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">
                    <span class="sf-toolbar-label">in</span>
                    <span class="sf-toolbar-value">{{ '%0.2f'|format(collector.time) }}</span>
                    <span class="sf-toolbar-label">ms</span>
                </span>
        {% endif %}
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Queries</b>
            <span class="sf-toolbar-status">{{ collector.queriesCount }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Query Time</b>
            <span>{{ '%0.2f'|format(collector.time) }} ms</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
    <span class="label {{ collector.queriesCount ? '' : 'disabled' }}">
        <span class="icon">{{ include('@CapcoApp/DataCollector/elasticsearch_logo.svg.twig') }}</span>
        <strong>Elasticsearch</strong>
    </span>
{% endblock %}

{% block panel %}
    <style>
        th.large-cell {
            min-width: 400px;
        }
    </style>
    <h2>Queries</h2>

    {% if not collector.queriesCount %}
        <div class="empty">
            <p>No queries were performed.</p>
        </div>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Method</th>
                <th>Path</th>
                <th class="large-cell">ES Query</th>
                <th>cURL query</th>
                <th>Backtrace</th>
                <th>Query time</th>
                <th class="large-cell">ES response</th>
                <th>Item count</th>
                <th>Total time</th>
            </tr>
            </thead>
            <tbody>
            {% for key, query in collector.queries %}
                <tr>
                    <td>{{ query.method }}</td>
                    <td>{{ query.path }}</td>
                    <td>{{ dump(query.data) }}</td>
                    <td>
                        {% if query.connection.transport in ['Http', 'Https'] %}
                            <a class="js-show-curl" href="#elastica_curl_query_{{ key }}">+ Display cURL query</a>
                            <span style="display: none">
                                <code>curl -X{{ query.method }} '{{ query.connection.transport|lower }}
                ://{{ query.connection.host }}:{{ query.connection.port }}
                /{{ query.path }}{% if query.queryString|length %}?{{ query.queryString|url_encode }}{% endif %}
                ' -d '{{ query.data|json_encode }}'</code>
                            </span>
                        {% else %}
                            <i>No available</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if query.backtrace is defined %}
                            <a class="js-show-bt" href="#elastica_bt_query_{{ key }}">+ Display backtrace query</a>
                            <span style="display: none">
                                <pre>{{ query.backtrace }}</pre>
                            </span>
                        {% else %}
                            <i>No available</i>
                        {% endif %}
                    </td>
                    <td>{{ query.engineMS }}<span class="unit">ms</span></td>
                    <td>
                        {% if query.response %}
                            {{ dump(query.response) }}
                        {% else %}
                            <i>No available</i>
                        {% endif %}
                    </td>
                    <td>{{ query.itemCount }}</td>
                    <td>{{ '%0.2f'|format(query.executionMS * 1000) }}<span class="unit">ms</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <script type="text/javascript">
            (function () {
                Array
                    .from(document.querySelectorAll('.js-show-bt'))
                    .forEach(toggler => {
                        toggler.addEventListener('click', (e) => {
                            e.preventDefault()
                            const btSpan = e.target.nextElementSibling
                            const isHidden = btSpan.style.display === 'none';
                            btSpan.style.display = isHidden ? 'block' : 'none'
                            toggler.innerText = isHidden ? '- Hide backtrace query' : '+ Display backtrace query'
                        })
                    })

                Array
                    .from(document.querySelectorAll('.js-show-curl'))
                    .forEach(toggler => {
                        toggler.addEventListener('click', (e) => {
                            e.preventDefault()
                            const curlSpan = e.target.nextElementSibling
                            const isHidden = curlSpan.style.display === 'none';
                            curlSpan.style.display = isHidden ? 'block' : 'none'
                            toggler.innerText = isHidden ? '- Hide cURL query' : '+ Display cURL query'
                        })
                    })
            })()
        </script>
    {% endif %}
{% endblock %}
