{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">{{ include('@CapcoApp/DataCollector/logo.svg.twig') }}</span>
        <strong>GraphQL</strong>
    </span>
{% endblock %}

{% block panel %}
    <style>
        th.value, th.key {
            min-width: 300px;
        }
        th.cache {
            min-width: 110px;
        }
    </style>
    {# Optional, for showing the most details. #}
    <h2>Dataloader cache stats</h2>
    {% if collector.cacheHitsCount > 0 or collector.cacheMissesCount > 0 %}
        <div class="metrics">
            <div class="metric">
                <span class="value">{{ collector.cacheHitsCount }}</span>
                <span class="label">Total hits</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.cacheMissesCount }}</span>
                <span class="label">Total misses</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.cacheTotalReads }}</span>
                <span class="label">Total reads</span>
            </div>
            <div class="metric-divider"></div>
            <div class="metric">
                <span class="value">{{ collector.cacheHitsReadsPercentage }} <span class="unit">%</span></span>
                <span class="label">Hits / reads</span>
            </div>
        </div>
        <h2>Dataloader calls</h2>
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Subtype</th>
                <th>Cached</th>
                <th>Elapsed</th>
                <th class="key">Serialized key</th>
                <th class="cache">Cache key</th>
                <th class="value">Value</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in collector.cacheHitsMisses %}
                <tr>
                    <td>{{ entry.type }}</td>
                    <td>{{ entry.subtype }}</td>
                    <td>{{ entry.cached ? 'Yes' : 'No' }}</td>
                    <td>{{ entry.duration }}<span class="unit">ms</span></td>
                    <td>{{ dump(entry.key) }}</td>
                    <td>
                        {% if entry.cacheKey is not null %}
                            <a class="js-show-key" href="#">Show key</a>
                            <span style="display: none">{{ entry.cacheKey }}</span>
                        {% else %}
                            <i>Not in cache</i>
                        {% endif %}
                    </td>
                    <td>{{ dump(entry.value) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>No GraphQL queries using dataloaders were found.</p>
        </div>
    {% endif %}

    <script>
        (function() {
            Array
                .from(document.querySelectorAll('.js-show-key'))
                .forEach(toggler => {
                    toggler.addEventListener('click', (e) => {
                        e.preventDefault()
                        const cacheKeySpan = e.target.nextElementSibling
                        const isHidden = cacheKeySpan.style.display === 'none';
                        cacheKeySpan.style.display = isHidden ? 'block' : 'none'
                        toggler.innerText = isHidden ? 'Hide key' : 'Show key'
                    })
                })
        })()
    </script>
{% endblock %}
