{% extends "CapcoAppBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'error.other.title'|trans({'%code%': status_code}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div class="container text-center">
		<p><strong>{{ 'error.actions'|trans({}, 'CapcoAppBundle') }}</strong></p>
		<p>
			<a href="{{ path('app_homepage') }}">{{ 'error.to_homepage'|trans({}, 'CapcoAppBundle') }}</a><br/>
			<a href="{{ menu_url('contact') }}">{{ 'error.report'|trans({}, 'CapcoAppBundle') }}</a>
		</p>
	</div>

	<div class="container">
		<h2 class="h2">{{ 'error.contribute'|trans({}, 'CapcoAppBundle') }}</h2>
		{{ render(controller('CapcoAppBundle:Site/Project:lastProjects', {'max': 4, 'offset': 0})) }}
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(window).on('load', function() {
			App.equalheight('.thumbnail--custom');
		});
        $(window).on('resize', function() {
            App.resized('.thumbnail--custom');
        });
	</script>
{% endblock %}
