{% extends "CapcoAppBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'error.other.title'|trans({'%code%': status_code}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div class="container text-center">
		<p><strong>{{ 'error.actions'|trans({}, 'CapcoAppBundle') }}</strong></p>
		<p>
			<a href="{{ path('app_homepage') }}">{{ 'error.to_homepage'|trans({}, 'CapcoAppBundle') }}</a><br/>
			<a href="{{ path('app_page_show', {'slug': 'contact'}) }}">{{ 'error.report'|trans({}, 'CapcoAppBundle') }}</a>
		</p>
	</div>

{% endblock %}
