{% macro link(p, route, params, pageName) %}{% spaceless %}
    {%  set pm = params | merge( { (pageName): p } ) %}
    {{ path(route, pm) }}
{% endspaceless %}{% endmacro %}
{% import _self as render %}

{% if pageName is not defined %}
    {% set pageName = 'page' %}
{% endif %}

{% if nb > 1 %}
    <div class="pagination--custom  text-center">
        <ul class="pagination">
            <li {% if current <= 1 %} class="disabled"{% endif %}>
                <a  href="{% if current > 1 %}{{ render.link(1, route, params, pageName) }}{% else %}#{% endif %}" aria-label="{{ 'global.pagination.first' | trans({}, 'CapcoAppBundle') }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li {% if current <= 1 %} class="disabled"{% endif %}>
                <a  href="{% if current > 1 %}{{ render.link(current-1, route, params, pageName) }}{% else %}#{% endif %}" aria-label="{{ 'global.pagination.previous' | trans({}, 'CapcoAppBundle') }}">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            {% set down = max(current-2, 1) %}
            {% set up = min(current+2, nb) %}
            {% for p in range(down, up) %}
                <li{% if p == current %} class="active"{% endif %}>
                    <a href="{{ render.link(p, route, params, pageName) }}" aria-label="{{ 'global.pagination.goto' | trans({'page': p}, 'CapcoAppBundle') }}">{{ p }}</a>
                </li>
            {% endfor %}
            <li {% if current >= nb %} class="disabled"{% endif %}>
                {% set p = current+1 %}
                <a  href="{% if current < nb %}{{ render.link(current+1, route, params, pageName) }}{% else %}#{% endif %}" aria-label="{{ 'global.pagination.next' | trans({}, 'CapcoAppBundle') }}">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li {% if current >= nb %} class="disabled"{% endif %}>
                {% set p = nb %}
                <a  href="{% if current < nb %}{{ render.link(nb, route, params, pageName) }}{% else %}#{% endif %}" aria-label="{{ 'global.pagination.last' | trans({}, 'CapcoAppBundle') }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
{% endif %}
