{% if is_feature_enabled('share_buttons') %}
    {% set classes = classes is defined ? ' ' ~ classes : '' %}
    {% set btn_classes = btn_classes is defined ? ' ' ~ btn_classes : '' %}
    <div class="dropdown dropdown--custom{{ classes }}">
        <button class="btn  btn-default{{ btn_classes }}" type="button" data-toggle="dropdown"><i class="cap cap-link"></i> {{ 'share_button.share' | trans({}, 'CapcoAppBundle') }} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <!-- is it always used ? Or it can be deleted ? -->
            <li role="menuitem">
                <a href="mailto:?subject={{ title|escape('url') }}&amp;body={{ url|escape('url') }}" title="{{ 'share_button.share_on.email' | trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-mail-2-1"></i> {{ 'share_button.email' | trans({}, 'CapcoAppBundle') }}
                </a>
            </li>
            <li role="menuitem">
                <a href="http://www.facebook.com/sharer.php?u={{ url|escape('url') }}&amp;t={{ title|escape('url') }}" onclick="window.open(this.href, 'Facebook', config='height=500, width=700, toolbar=no, menubar=no'); return false" title="{{ 'share_button.share_on.facebook' | trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-facebook"></i> {{ 'share_button.facebook' | trans({}, 'CapcoAppBundle') }}
                </a>
            </li>
            <li role="menuitem">
                <a href="http://twitter.com/share?url={{ url|escape('url') }}&amp;text={{ title|escape('url') }}" onclick="window.open(this.href, 'Twitter', config='height=500, width=700, toolbar=no, menubar=no'); return false" title="{{ 'share_button.share_on.twitter' | trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-twitter"></i> {{ 'share_button.twitter' | trans({}, 'CapcoAppBundle') }}
                </a>
            </li>
            <li role="menuitem">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url|escape('url') }}&amp;text={{ title|escape('url') }}" onclick="window.open(this.href, 'linkedin', config='height=500, width=700, toolbar=no, menubar=no'); return false" title="{{ 'share_button.share_on.twitter' | trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-linkedin"></i> {{ 'share_button.linkedin' | trans({}, 'CapcoAppBundle') }}
                </a>
            </li>
            <li role="menuitem">
                <button class="btn-link" data-toggle="modal" data-target="#shareLink{{ id }}">
                    <i class="cap cap-link-1"></i> {{ 'share_button.link' | trans({}, 'CapcoAppBundle') }}
                </button>
            </li>
        </ul>
    </div>

    <div class="modal fade  modal--custom" id="shareLink{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title h4">{{ 'share_button.share_on.link' | trans({}, 'CapcoAppBundle') }}</p>
                </div>
                <div class="modal-body">
                    <p class="excerpt">{{ title }}</p>
                    <textarea id="shareLinkInput{{ id }}" title="{{ 'share_button.share_on.link' | trans({}, 'CapcoAppBundle') }}" readonly rows="3">{{ url }}</textarea>
                </div>
            </div>
        </div>
    </div>
 {% endif %}
