{% set type_text = argumentTypes[argType] %}
{% set type_display = argumentTypesLabels[argType] %}
<div class="opinion  opinion--add-argument  block  block--bordered">
    <div class="opinion__body  box">
        {% if null != app.user %}
            {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': app.user, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
        {% endif %}
        <div class="opinion__data">
            <form method="post" {{ form_enctype(form) }}>
                <div class="form-group">
                    <label class="sr-only" for="arg{{ type_text }}-input">{{ 'argument.create.label'|trans({}, 'CapcoAppBundle') }} {{ type_display|trans({}, 'CapcoAppBundle') }}</label>
                    {{ form_errors(form.body) }}
                    <a class="connection-popover-js">
                        {{ form_widget(form.body, {'id': 'arg' ~ type_text ~ '-input', 'attr': {'data-toggle': 'collapse', 'href': '.arg' ~ type_text ~ '-btns', 'rows': 2, 'placeholder':'Ajouter un argument ' ~ type_display|trans({}, 'CapcoAppBundle'), } }) }}
                    </a>
                    {{ form_rest(form) }}
                    {% if null != app.user %}
                        <div class="collapse  arg{{ type_text }}-btns">
                            <button type="submit" class="btn  btn-success">{{ 'argument.create.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            <button type="button" class=" btn  btn-default" data-toggle="collapse" href=".arg{{ type_text }}-btns">{{ 'argument.create.cancel'|trans({}, 'CapcoAppBundle') }}</button>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
