{% set type_text = argumentTypes[argType] %}
{% set type_display = argumentTypesLabels[argType] %}
<div class="opinion  opinion--add-argument  block  block--shadowed">
    <div class="opinion__body  box">
        {% if app.user.Media %}
            <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': app.user.slug}) }}">
                {% thumbnail app.user.Media, 'avatar' with {'title': app.user.username, 'alt': app.user.username, 'class': 'media-object img-circle'} %}
            </a>
        {% endif %}
        <div class="opinion__data">
            <form method="post" {{ form_enctype(form) }}>
                <div class="form-group">
                    <label class="sr-only" for="arg{{ type_text }}-input">{{ 'argument.create.label'|trans({}, 'CapcoAppBundle') }} {{ type_display|trans({}, 'CapcoAppBundle') }}</label>
                    {{ form_widget(form.body, {'id': 'arg' ~ type_text ~ '-input', 'attr': {'data-toggle': 'collapse', 'href': '.arg' ~ type_text ~ '-btns', 'rows': 2, 'placeholder':'Ajouter un argument ' ~ type_display|trans({}, 'CapcoAppBundle'), } }) }}
                    {{ form_errors(form.body) }}
                    {{ form_rest(form) }}
                    <div class="collapse  arg{{ type_text }}-btns">
                        <button type="submit" class="btn  btn-success">{{ 'argument.create.submit'|trans({}, 'CapcoAppBundle') }}</button>
                        <button type="button" class=" btn  btn-default" data-toggle="collapse" href=".arg{{ type_text }}-btns">{{ 'argument.create.cancel'|trans({}, 'CapcoAppBundle') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>