{% set nbArguments = arguments|length %}
{% set token = csrf_token('argument_vote') %}
{%  set currentUser = app.user %}
<div class="{% if argumentType == 'yes' %}block--tablet  {% endif %}block--bordered  opinion__arguments--{{ argumentType }}">
    <div class="opinion__arguments__header  row">
        <h4 class="col-xs-6  col-sm-12  col-md-6  h4  opinion__header__title">{% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}argument.show.nb{% endtranschoice %} {% if argumentType == "yes" %} {{ 'argument.show.type.for'|trans({}, 'CapcoAppBundle') }} {% else %} {{ 'argument.show.type.against'|trans({}, 'CapcoAppBundle') }} {% endif %} </h4>
        <div class="col-xs-6  col-sm-12  col-md-6">
            <div class="filter">
                {{ form_start(sortArgumentsForm) }}
                <div class="formgroup--inline">
                    {{ form_label(sortArgumentsForm.argumentSort, null, {'label_attr':{"class":"control-label  hidden-xs"} }) }}
                    {{ form_label(sortArgumentsForm.argumentSort, null, {'label_attr':{"class":"control-label  sr-only  visible-xs"} }) }}
                    <span class="formgroup--inline__control">
                        {{ form_widget(sortArgumentsForm.argumentSort, {'attr':{"class":"form-control"} }) }}
                    </span>
                </div>
                {{ form_end(sortArgumentsForm) }}
            </div>
        </div>
    </div>
    <ul class="media-list  opinion__list">
        {% for argument in arguments %}
            <li class="opinion  opinion--argument" id="arg-{{ argument.id }}">
                <div class="opinion__body  box">
                    {%  set avatar = argument.Author.Media|capco_default_avatar %}
                    {% if avatar != null %}
                        <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': argument.Author.slug}) }}">
                            {% thumbnail avatar, 'avatar' with {'title': argument.Author.username, 'alt': argument.Author.username, 'class': 'img-circle  pull-left'} %}
                        </a>
                    {% else %}
                        <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': argument.Author.slug}) }}">
                            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><circle fill="{{ capco_site_color_value('color.section.bg')  }}" cx="100" cy="100" r="97.617"/><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
                        </a>
                    {% endif %}
                    <div class="opinion__data">
                        <p class="h5  opinion__user"><a href="{{ path('capco_user_profile_show_all', {'slug': argument.Author.slug}) }}">{{ argument.Author.username }}</a></p>
                        <p class="excerpt  opinion__date">{{ argument.createdAt | localizeddate('long', 'short', app.request.locale) }}</p>
                    </div>
                    <p class="opinion__text more" style="max-height: 115px; overflow: hidden; width: 100%">
                        {{ argument.body }}
                    </p>

                    {% if false == argument.canContribute %}
                        <button disabled="disabled" class="btn  btn-dark-gray  btn-xs"><i class="cap-hand-like-2"></i> {{ 'argument.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                    {% else %}
                        <form method="POST" style="display: inline-block;" action="{{ path('app_consultation_vote_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}">
                            {% if argument.userHasVote(currentUser) %}
                                <button class="btn  btn-danger  btn-xs">{{ 'argument.vote.delete'|trans({}, 'CapcoAppBundle') }}</button>
                            {% else %}
                                <button class="btn  btn-success  btn--outline  btn-xs"><i class="cap-hand-like-2"></i> {{ 'argument.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ token }}">
                        </form>
                    {% endif %}
                    <span class="opinion__votes-nb">{{ argument.VoteCount }}</span>

                    {{ sonata_block_render({'type': 'capco.block.service.share_button'}, {
                        'url': (url('app_consultation_show_opinion', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) ~ '#arg-' ~ argument.id),
                        'title': ('share_button.argument_on'|trans({'%opinion%': opinion.title}, 'CapcoAppBundle')),
                        'btn_classes': 'btn-xs  btn-dark-gray  btn--outline',
                    }) }}

                    {%  if argument.canContribute %}
                        {% if(userReportingArgument is empty) %}
                        <a href="{{ path('app_report_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}" class="btn btn-xs btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'argument.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                        {% else %}
                            {% for userReport in userReportingArgument %}
                                {% if(userReport.Argument.id == argument.id ) %}
                                    <button disabled="disabled" class="btn btn-xs btn-dark-gray"><i class="cap cap-flag-1"></i> {{ 'argument.report.reported'|trans({}, 'CapcoAppBundle') }}</button>
                                {% else %}
                                    <a href="{{ path('app_report_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}" class="btn btn-xs btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'argument.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif  %}


                        {% if currentUser is not null and currentUser == argument.Author and argument.canContribute %}
                            <a href="{{ path('app_consultation_edit_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap cap-pencil-1"></i> {{ 'argument.update.button'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
