{% set nbArguments = arguments|length %}
{% set label = 'argument.show.nb.' ~ argumentType  %}
{% set token = csrf_token('argument_vote') %}
{%  set currentUser = app.user %}
<div class="{% if argumentType == 'yes' or argumentType == 'simple' %}block--tablet  {% endif %}block--bordered  opinion__arguments--{{ argumentType }}">
    <div class="opinion__arguments__header  row">
        <h4 class="col-xs-6  col-sm-12  col-md-6  h4  opinion__header__title">
            {{ label | transchoice(nbArguments, {}, 'CapcoAppBundle')  }}
        </h4>
        <div class="col-xs-6  col-sm-12  col-md-6">
            <div class="filter">
                {{ form_start(sortArgumentsForm) }}
                <div class="formgroup--inline">
                    {{ form_label(sortArgumentsForm.argumentSort, null, {'label_attr':{"class":"sr-only"} }) }}
                    <span class="formgroup--inline__control">
                        {{ form_widget(sortArgumentsForm.argumentSort, {'attr':{"class":"form-control"} }) }}
                    </span>
                </div>
                {{ form_end(sortArgumentsForm) }}
            </div>
        </div>
    </div>
    <ul class="media-list  opinion__list">
        {% for argument in arguments %}
            {% include 'CapcoAppBundle:Argument:blockArgument.html.twig' with {'argument': argument, 'currentUser': currentUser, 'token': token} only %}
        {% endfor %}
    </ul>
</div>
