{% set nbArguments = arguments|length %}
{% set token = csrf_token('argument_vote') %}
{%  set currentUser = app.user %}
<div class="block--bordered  opinion__arguments--{{ argumentType }}">
    <div class="opinion__arguments__header  row">
        <h4 class="col-xs-6  col-sm-12  col-md-6  h4  opinion__header__title">{% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}argument.show.nb{% endtranschoice %} {% if argumentType == "yes" %} {{ 'argument.show.type.for'|trans({}, 'CapcoAppBundle') }} {% else %} {{ 'argument.show.type.against'|trans({}, 'CapcoAppBundle') }} {% endif %} </h4>
        <div class="col-xs-6  col-sm-12  col-md-6">
            <div class="filter">
                {{ form_start(sortArgumentsForm) }}
                {{ form_errors(sortArgumentsForm) }}
                <div class="formgroup--inline">
                    {{ form_label(sortArgumentsForm.argumentSort, null, {'label_attr':{"class":"control-label"} }) }}
                    <span class="formgroup--inline__control">
                                {{ form_errors(sortArgumentsForm.argumentSort) }}
                        {{ form_widget(sortArgumentsForm.argumentSort, {'attr':{"class":"form-control"} }) }}
                            </span>
                </div>
                {{ form_end(sortArgumentsForm) }}
            </div>
        </div>
    </div>
    <ul class="media-list  opinion__list">
        {% for argument in arguments %}
            <li class="opinion  opinion--argument" id="arg-{{ argument.id }}">
                <div class="opinion__body  box">
                    {%  set avatar = argument.Author.Media|capco_default_avatar %}
                    {% if avatar != null %}
                        <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': argument.Author.slug}) }}">
                            {% thumbnail avatar, 'avatar' with {'title': argument.Author.username, 'alt': argument.Author.username, 'class': 'img-circle  pull-left'} %}
                        </a>
                    {% endif %}
                    <div class="opinion__data">
                        <p class="h5  opinion__user"><a href="{{ path('capco_user_profile_show_all', {'slug': argument.Author.slug}) }}">{{ argument.Author.username }}</a></p>
                        <p class="excerpt  opinion__date">{{ argument.createdAt | localizeddate('long', 'short', app.request.locale) }}</p>
                    </div>
                    <p class="opinion__text">
                        {{ argument.body }}
                    </p>

                    {% if false == argument.canContribute %}
                        <button disabled="disabled" class="btn  btn-dark-gray  btn-xs"><i class="cap-hand-like-2"></i> {{ 'argument.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                    {% else %}
                        <form method="POST" style="display: inline-block;" action="{{ path('app_consultation_vote_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}">
                            {% if argument.userHasVote(currentUser) %}
                                <button class="btn  btn-danger  btn-xs">{{ 'argument.vote.delete'|trans({}, 'CapcoAppBundle') }}</button>
                            {% else %}
                                <button class="btn  btn-success  btn--outline  btn-xs"><i class="cap-hand-like-2"></i> {{ 'argument.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ token }}">
                        </form>
                    {% endif %}
                    <span class="opinion__votes-nb">{{ argument.VoteCount }}</span>

                    {%  if argument.canContribute %}
                        {% if(userReportingArgument is empty) %}
                        <a href="{{ path('app_report_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}" class="btn btn-xs btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'argument.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                        {% else %}
                            {% for userReport in userReportingArgument %}
                                {% if(userReport.Argument.id == argument.id ) %}
                                    <button disabled="disabled" class="btn btn-xs btn-dark-gray"><i class="cap cap-flag-1"></i> {{ 'argument.report.reported'|trans({}, 'CapcoAppBundle') }}</button>
                                {% else %}
                                    <a href="{{ path('app_report_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}" class="btn btn-xs btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'argument.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif  %}


                        {% if currentUser is not null and currentUser == argument.Author and argument.canContribute %}
                            <a href="{{ path('app_consultation_edit_argument' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'argumentId': argument.id } ) }}" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap cap-pencil-1"></i> {{ 'argument.update.button'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
