{% if col_classes is not defined %}
    {% set col_classes = 'col-md-4  col-sm-6' %}
{% endif %}
<div class="{{ col_classes }}  col-xs-12">
    <div class="event  block  block--bordered">
        <div class="col-md-3  col-sm-3  hidden-xs">
            <div class="event__icon center-block">
                <div class="month">
                    <h3 class="month-calendar">
                        {{ event.startAt|localizeddate('none', 'none', app.request.locale, null, "MMM")|capitalize }}
                    </h3>
                </div>
                <div class="day">
                    <h3 class="day-calendar">
                        {{ event.startAt|localizeddate('none', 'none', app.request.locale, null, "dd") }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-9  col-sm-9  col-xs-12  event__body  box  event-js">
            <h4 class="event__title">
                <a href="{{ path('app_event_show' ,{'slug': event.slug } ) }}" title="{{ event.title }}">
                    {{ event.title }}
                </a>
            </h4>
            <p>
                {% for theme in event.themes %}
                    <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}"><span class="label label-default">{{ theme.title }}</span></a>
                {% endfor %}
            </p>
            <p class="excerpt"><i class="cap-calendar-1"></i>
                {% include 'CapcoAppBundle:Default:print_date.html.twig' with {'object': event} only %}
            </p>
            {% if (event.address) or (event.zipCode) or (event.city) %}
            <p class="excerpt"><i class="cap-marker-1"></i> {{ event.address }}, {{ event.zipCode }} {{ event.city }}</p>
            {% endif %}
        </div>
    </div>
</div>
