{% if col_classes is not defined %}
    {% set col_classes = 'col-md-4  col-sm-6' %}
{% endif %}
<div class="{{ col_classes }}  col-xs-12">
    <div class="event  block  block--bordered">
        <div class="col-md-3  col-sm-3  hidden-xs">
            <div class="event__icon center-block">
                <div class="month"> {{ event.startAt|localizeddate('none', 'none', app.request.locale, null, "MMM")|capitalize }}</div>
                <div class="day">{{ event.startAt|localizeddate('none', 'none', app.request.locale, null, "dd") }}</div>
            </div>
        </div>
        <div class="col-md-9  col-sm-9  col-xs-12  event__body  box  event-js">
            <h2 class="h4"><a href="{{ path('app_event_show' ,{'slug': event.slug } ) }}">{{ event.title }}</a></h2>
            <p>
                {% for theme in event.themes %}
                    <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}"><span class="label label-default">{{ theme.title }}</span></a>
                {% endfor %}
            </p>
            <p class="h5  excerpt"><i class="cap-calendar-1"></i>
                {%  set startDay = event.startAt | localizeddate('full', 'none', app.request.locale) %}
                {% set startTime = event.startAt | localizeddate('none', 'short', app.request.locale) %}
                {% if event.endAt is not null %}
                    {% set endTime = event.endAt | localizeddate('none', 'short', app.request.locale) %}
                    {% set endDay = event.endAt | localizeddate('full', 'none', app.request.locale) %}
                {% endif %}
                {% if event.endAt is null %}
                    {{ 'event.on_full_day'|trans({'%date%': startDay, '%time%': startTime}, 'CapcoAppBundle') }}
                {% elseif event.lastOneDay %}
                    {{ 'event.on_part_day' | trans({'%date%': startDay, '%start_time%': startTime, '%end_time%': endTime}, 'CapcoAppBundle') }}
                {% else %}
                    {{ 'event.between_dates'|trans({'%start%': startDay, '%end%': endDay}, 'CapcoAppBundle') }}
                {% endif %}
            </p>
            {% if (event.address) or (event.zipCode) or (event.city) %}
            <p class="h5  excerpt"><i class="cap-marker-1"></i> {{ event.address }}, {{ event.zipCode }} {{ event.city }}</p>
            {% endif %}
        </div>
    </div>
</div>
