<div class="col-md-6  col-sm-6  col-xs-12">
    <div class="event  block  block--shadowed">
        <div class="col-md-2  hidden-sm  hidden-xs">
            <div class="event__icon">
                <div class="month"> {{ event.startAt|date("M") }}.</div>
                <div class="day">{{ event.startAt|date("d") }}</div>
            </div>
        </div>
        <div class="col-md-10  col-xs-12  event__body  event-js">
            <h2><a href="{{ path('app_event_show' ,{'slug': event.slug } ) }}" class="h4">{{ event.title }}</a></h2>
            {{ event.body |striptags| truncate(50, true, '...') | jolitypo() }}
            <p class="h5  excerpt"><i class="cap-calendar-1"></i>
                {% if event.startAt == event.endAt %}
                    {{ 'event.on_date'|trans({'%date%': (event.startAt | localizeddate('long', 'none'))}, 'CapcoAppBundle') }}
                {% else %}
                    {{ 'event.between_dates'|trans({'%start%': (event.startAt | localizeddate('long', 'none')), '%end%': (event.endAt | localizeddate('long', 'none'))}, 'CapcoAppBundle') }}
                {% endif %}
            </p>
            {% if (event.address) or (event.zipCode) %}
            <p class="h5  excerpt"><i class="cap-marker-1"></i> {{ event.nbAddress }} {{ event.address }} , {{ event.zipCode }} {{ event.city }}</p>
            {% endif %}
        </div>
    </div>
</div>
