{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_event') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('events.jumbotron.title') %}
{% set meta_description = capco_site_parameter_value('blog.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('events.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('events.content.body') %}
{% set picto = capco_site_image_media('blog.picto') %}

{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (jumbotron_title ?: 'blog.page_title'|trans({}, 'CapcoAppBundle')),
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'image':       image,
        'url':         url('app_blog')
        } only %}
{% endblock %}

{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'event.index.title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'event.index.title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container  container--custom" {% if content_body is null %}style="display: none;"{% endif %}>
        {% if null != content_body %}
            {{ content_body|raw }}
        {% endif %}
    </div>

    <div class="container  container--custom">

        <div class="filter  block">
            <div class="row">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if is_feature_enabled('themes')%}
                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-4  filter__down">
                        {{ form_label(form.theme, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                        {{ form_errors(form.theme) }}
                        {{ form_widget(form.theme, {'attr':{"class":"form-control"} }) }}
                    </div>
                {% endif %}
                <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3 filter__down">
                    {{ form_label(form.project, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                    {{ form_errors(form.project) }}
                    {{ form_widget(form.project, {'attr':{"class":"form-control"} }) }}
                </div>
                <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3 filter__down">
                    {{ form_label(form.term, null, {'label_attr':{"class":"control-label sr-only"} }) }}
                    <div class="input-group  filter__search">
                        {{ form_errors(form.term) }}
                        {{ form_widget(form.term, {'attr':{"class":"form-control", "placeholder": 'project.searchform.search'|trans({}, 'CapcoAppBundle')} }) }}
                        <span class="input-group-btn">
                                <button type="submit" class="btn  btn-default"> <i class="cap cap-magnifier"></i><span class="sr-only">{{ 'project.searchform.search'|trans({}, 'CapcoAppBundle') }}</span></button>
                            </span>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {% if years|length > 0 %}
            {% for year, months in years %}
                {% for month, events in months %}
                    {% set date = (year ~ '-' ~ month ~ '-01') %}
                    <h2>{{ date | localizeddate('none', 'none', null, null, "MMMM y") | capitalize }}</h2>
                    <div class="row">
                        {% for event in events %}
                            {% include '@CapcoApp/Event/blockEvent.html.twig' with {'event': event} only %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p class="block">
                {{ 'event.no_result'|trans({}, 'CapcoAppBundle') }}
            </p>
        {% endif %}
    </div>

    <div class="container  container--custom  appendices__container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 text-center  appendices__item  box">
                <p class="appendices__title">{{ 'event.archived'|trans({}, 'CapcoAppBundle') }}</p>
                <p class="excerpt">
                    {% transchoice archivedEventsNb with {'%count%': archivedEventsNb} from 'CapcoAppBundle' %}
                        event.index.appendices.archived.number
                    {% endtranschoice %}</p>
                <p><a href="{{ path('app_event_archived') }}" class="btn  btn-primary  btn--outline">{{ 'event.see_archived'|trans({}, 'CapcoAppBundle') }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.event-js');
        });

        $(window).on('resize', function() {
            App.resized('.event-js');
        });
    </script>
{% endblock %}
