{% extends '@CapcoApp/Event/index.html.twig' %}

{% block canonical_link %}{{ url('app_event_show', {'slug': event.slug}) }}{% endblock %}

{% block metaTags %}
    {% set eventMedia %}{% if event.media %}{% path event.media, 'idea' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       event.title,
        'description': event.metaDescription|striptags ?: event.body|striptags|truncate(250, true),
        'url':         url('app_event_show', {'slug': event.slug}),
        'type':        'article',
        'image':       eventMedia
    } only %}
{% endblock %}


{% block title %}
    {{ parent() }} - {{ event.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet'/>
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}
    <div id="sidebar-container container-fluid">
        <div class="row mr-0 ml-0">
            <div class="col-xs-12">
                <section class="section--custom">
                    <div class="container  container--thinner">
                        <h1 class="h1"> {{ event.title }}</h1>
                        <div class="media d-flex align-items-center">
                            {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': event.author, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
                            <div class="media-body">
                                <p class="media--aligned  excerpt">
                                    {% if is_feature_enabled('profiles') %}
                                        <a href="{{ path('capco_user_profile_show_all', {'slug': event.author.slug}) }}">{{ event.author.username }}</a>
                                    {% else %}
                                        {{ event.author.username }}
                                    {% endif %}
                                    {% if is_feature_enabled('themes') and event.themes | length > 0 %}
                                        {{ 'event.show.in_theme'|trans({}, 'CapcoAppBundle') }}
                                        {% for theme in event.themes %}
                                            {% if theme.canDisplay %}
                                                <a
                                                href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{ theme.title }}</a>{% if loop.revindex0 == '1' %} {{ 'event.and' | trans({}, 'CapcoAppBundle') }}{% elseif loop.revindex0 >= '2' %}, {% endif %}{% endif %}{% endfor %},
                                    {% endif %}
                                    {{ 'event.show.on_date'|trans({'%date%': event.createdAt | localizeddate('long', 'none') }, 'CapcoAppBundle') }}
                                    {% if event.registrations|length > 0 %}
                                        | {% transchoice event.registrations|length with {'%count%': event.registrations|length} from 'CapcoAppBundle' %}
                                        event_registration.listing.count
                                    {% endtranschoice %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section--custom">
                    <div class="container container--thinner">

                        <ul class="event__meta  block">
                            <li class="excerpt"><i class="cap cap-calendar-1"></i>
                                {% include 'CapcoAppBundle:Default:print_date.html.twig' with {'object': event} only %}
                            </li>
                            {% if event.fullAddress %}
                                <li class="excerpt">
                                    <address>
                                        <i class="cap cap-marker-1  excerpt"></i>
                                        {{ event.fullAddress }} <br/>
                                    </address>
                                </li>
                            {% endif %}
                        </ul>

                        {% if event.media %}
                            {% thumbnail event.media, 'idea' with {'class': 'block  img-responsive'} %}
                        {% endif %}

                        <div class="block">
                            {{ event.body|raw| jolitypo() }}
                        </div>

                        {% if event.lat and event.lng %}
                            <div id="event_map" class="event__map block"
                                 data-lat="{{ event.lat }}"
                                 data-lng="{{ event.lng }}"
                            ></div>
                            {% if viewer is not null and viewer.superAdmin %}
                                lat : {{ event.lat }} - lng : {{ event.lng }}<br>
                            {% endif %}
                        {% endif %}

                        {% if viewer is not null and viewer.superAdmin %}
                            <hr></hr>
                            <h3>With new address</h3>
                            {% if event.lat(true) and event.lng(true) %}
                                <div id="event_map_2" class="event__map block"
                                     data-lat="{{ event.lat(true) }}"
                                     data-lng="{{ event.lng(true) }}"
                                ></div>
                                <address>
                                    <i class="cap cap-marker-1  excerpt"></i>
                                    {{ event.fullAddress(true) }} <br/>
                                </address>
                                lat : {{ event.lat(true) }} - lng : {{ event.lng(true) }}<br>
                            {% endif %}
                            <hr></hr>
                        {% endif %}

                        {% if event.projects | length > 0 %}
                            <div class="block event_link-project">
                                <p>
                                    {% transchoice event.projects | length from 'CapcoAppBundle' %}
                                        event.show.projects.title
                                    {% endtranschoice %}
                                </p>
                                <ul>
                                    {% for project in event.projects %}
                                        <li><a href="{{ project | capco_first_step_link }}">{{ project.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if event.link %}
                            <a class="btn  btn-primary  external-link mb-10" href="{{ event.link }}"
                               class="external-link">{{ 'event.link_button'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}

                        {{ react_render_component('ShareButtonDropdownApp', {
                            'props': {
                                'url': url('app_event_show', {'slug': event.slug}),
                                'title': event.title,
                                'id': 'event-' ~ event.slug,
                            }
                        }) }}
                    </div>
                </section>

                {% if event.registrations|length > 0 %}
                    <section class="section--custom">
                        <div class="container container--thinner">
                            <h2>{{ 'event_registration.listing.title'|trans({}, 'CapcoAppBundle') }}</h2>
                            {% set limit = 6 %}
                            {% include 'CapcoAppBundle:Event:event_registrations.html.twig' with {'event': event, 'limit': limit} only %}
                            {% if event.registrations|length > limit %}
                                <button type="button" class="btn btn-primary btn--outline" data-toggle="modal"
                                        data-target="#eventRegistrationModal">
                                    {{ 'event_registration.listing.see_all'|trans({}, 'CapcoAppBundle') }}
                                </button>
                            {% endif %}
                        </div>
                    </section>

                {% endif %}

                {% if capco_comment_can_add(event) or (capco_comment_can_show(event) and event.commentsCount > 0) %}
                    <section class="section--custom">
                        <div class="container container--thinner">
                            {% if capco_comment_can_show(event) %}
                                {{ react_render_component('CommentSectionApp', {'props': { 'commentableId': event.id|toGlobalId('Event') }}) }}
                            {% endif %}
                        </div>
                    </section>
                {% endif %}

            </div>

            {% if event|capco_event_registration_possible %}
                <div id="sidebar-overlay"></div>
                <div class="col-xs-12  col-sm-3  sidebar" id="sidebar">
                    <div class="block block--bordered box sidebar-hideable  sidebar-hidden-small">

                        {% if app.user is not null %}
                            <div class="media">
                                {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': app.user, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
                                <div class="media-body">
                                    <p class="media--aligned  excerpt">
                                        {% if is_feature_enabled('profiles') %}
                                            <a href="{{ path('capco_user_profile_show_all', {'slug': app.user.slug}) }}">
                                                {{ app.user.username }}
                                            </a>
                                        {% else %}
                                            {{ app.user.username }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        <div class="sidebar__form">
                            {{ form(form) }}
                        </div>

                        <button type="button"
                                class="sidebar-toggle sidebar-hidden-large  btn  btn-default  btn-block">{{ 'event_registration.toggle.cancel'|trans({}, 'CapcoAppBundle') }}</button>
                    </div>

                    {% if event | capco_event_user_registered(app.user) %}
                        <button type="button"
                                class="sidebar-toggle sidebar-hideable  sidebar-hidden-large  btn-danger btn-lg  btn  btn-block  btn--no-radius">{{ 'event_registration.toggle.unsubscribe'|trans({}, 'CapcoAppBundle') }}</button>
                    {% else %}
                        <button type="button"
                                class="sidebar-toggle sidebar-hideable  sidebar-hidden-large  btn-primary btn-lg  btn  btn-block  btn--no-radius">{{ 'event_registration.toggle.subscribe'|trans({}, 'CapcoAppBundle') }}</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>

    {% if event.registrations|length > 0 %}
        <!-- Modal -->
        <div class="modal fade" id="eventRegistrationModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'event_registration.listing.title_all'|trans({}, 'CapcoAppBundle') }}</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'CapcoAppBundle:Event:event_registrations.html.twig' with {'event': event } only %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/modal.js') }}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            App.showMap('event_map');
            App.showMap('event_map_2');
            {% if event | capco_event_registration_possible %}
            App.makeSidebar({
                sidebar: '#sidebar',
                container: '#sidebar-container',
                hideable: '.sidebar-hideable',
                toggle: '.sidebar-toggle',
                overlay: '#sidebar-overlay'
            });
            {% endif %}
        });
    </script>
    {% if event.customCode is defined and event.customCode != '' %}{{ event.customCode | raw }}{% endif %}
{% endblock %}
