{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_event_archived') }}{% endblock %}

{% set jumbotron_body = capco_site_parameter_value('events.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('events.content.body') %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       'event.archived'|trans({}, 'CapcoAppBundle'),
        'description': (jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'url':         url('app_event_archived')
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'event.archived'|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            <h1>{{ 'event.archived'|trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    <section class="section--custom">
        <div class="container">
            <div class="filter  block">
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% if is_feature_enabled('themes')%}
                        <div class="col-xs-12  col-sm-3  col-md-3  col-lg-4  filter__down">
                            {{ form_label(form.theme, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                            {{ form_errors(form.theme) }}
                            {{ form_widget(form.theme, {'attr':{"class":"form-control"} }) }}
                        </div>
                    {% endif %}
                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3 filter__down">
                        {{ form_label(form.project, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                        {{ form_errors(form.project) }}
                        {{ form_widget(form.project, {'attr':{"class":"form-control"} }) }}
                    </div>
                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3 filter__down">
                        {{ form_label(form.term, null, {'label_attr':{"class":"control-label sr-only"} }) }}
                        <div class="input-group  filter__search">
                            {{ form_errors(form.term) }}
                            {{ form_widget(form.term, {'attr':{"class":"form-control", "placeholder": 'project.searchform.search'|trans({}, 'CapcoAppBundle')} }) }}
                            <span class="input-group-btn">
                                    <button type="submit" class="btn  btn-default"> <i class="cap cap-magnifier"></i><span class="sr-only">{{ 'project.searchform.search'|trans({}, 'CapcoAppBundle') }}</span></button>
                                </span>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

            {% if years|length > 0 %}
                {% for year, months in years %}
                    {% for month, events in months %}
                        {% set date = (year ~ '-' ~ month ~ '-01') %}
                        <h2>{{ date | localizeddate('none', 'none', app.request.locale, null, "MMMM Y") | capitalize }}</h2>
                        <div class="row">
                            {% for event in events %}
                                {% include '@CapcoApp/Event/blockEvent.html.twig' with {'event': event} only %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p>
                    {{ 'event.no_result'|trans({}, 'CapcoAppBundle') }}
                </p>
            {% endif %}

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.event-js');
        });
        $(window).on('resize', function() {
            App.resized('.event-js');
        });
    </script>
{% endblock %}
