{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="dialog  dialog--white  block--shadowed">
                    <div class="dialog__header  box">
                        <h4 class="h4  dialog__title">{{ 'reporting.create.title'|trans({}, 'CapcoAppBundle') }}</h4>
                    </div>
                    <form method="post" {{ form_enctype(form) }}>
                        <div class="dialog__body  box">
                            <div class="media">
                                {% if app.user.Media %}
                                    <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': app.user.slug}) }}">
                                        {% thumbnail app.user.Media, 'avatar' with {'title': app.user.username, 'alt': app.user.username, 'class': 'media-object img-circle'} %}
                                    </a>
                                {% endif %}
                                <div class="media-body">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>
                        <div class="dialog__excerpt  excerpt  box">
                            <p>{{ 'reporting.create.text'|trans({}, 'CapcoAppBundle') }}</p>
                        </div>
                        <div class="dialog__footer  box">
                            <div class="pull-right">
                                <a href="{{ path('app_consultation_show_opinion', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}" class="btn  btn-default">{{ 'reporting.create.cancel'|trans({}, 'CapcoAppBundle') }}</a>
                                <button type="submit" class="btn  btn-primary">{{ 'reporting.create.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
