{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('fos_user_change_password') }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ "user.changePassword.show" | trans({}, 'CapcoAppBundle')}}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">

            {% include '@CapcoUser/Profile/action.html.twig' %}

            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="block--bordered  block--first-mobile  box">
                    <h4 class="h4">{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h4>
                    <hr/>

                    {{ form_errors(form) }}

                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal settings__form" role="form">
                        <div class="form-group">
                            {{ form_errors(form.current_password) }}
                            {{ form_label(form.current_password, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">{{ form_widget(form.current_password) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_errors(form.new.first) }}
                            {{ form_label(form.new.first, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">{{ form_widget(form.new.first) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_errors(form.new.second) }}
                            {{ form_label(form.new.second, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            <div class="col-sm-9">{{ form_widget(form.new.second) }}</div>
                        </div>

                        {{ form_rest(form) }}

                        <div class="form-group form-actions">
                            <div class="col-sm-offset-6 col-sm-6">
                                <button type="submit" name="submit"  class="btn btn-primary pull-right">Modification</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- col-xs-12 col-sm-8 col-md-9 -->
        </div> <!-- row -->
    </div> <!-- container -->
{% endblock fos_user_content %}
