{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('capco_change_password') }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'change_password.submit'|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'global.params' | trans({}, 'CapcoAppBundle')}}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <section class="section--custom">
        <div class="container">
            <div class="row">

                {% include '@CapcoUser/Profile/action.html.twig' %}

                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="block--bordered  block--first-mobile">

                        <div class="box">
                            <h4 class="h4">{{ "user.profile.password_title" | trans({}, 'CapcoAppBundle')}}</h4>
                        </div>

                        <hr class="hr--no-margin"/>

                        {{ form_start(form, { 'action': path('capco_change_password'), 'attr': { 'class': 'form-horizontal settings__form', 'role': 'form' } }) }}
                            <div class="box">

                                {{ form_errors(form) }}

                                <div class="form-group">
                                    {{ form_errors(form.current_password) }}
                                    {{ form_label(form.current_password, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-9">{{ form_widget(form.current_password) }}</div>
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.new.first) }}
                                    {{ form_label(form.new.first, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-9">{{ form_widget(form.new.first) }}</div>
                                </div>

                                <div class="form-group">
                                    {{ form_errors(form.new.second) }}
                                    {{ form_label(form.new.second, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-9">{{ form_widget(form.new.second) }}</div>
                                </div>

                                {{ form_rest(form) }}

                            </div>

                            <hr class="hr--no-margin"/>

                            <div class="box">
                                <div class="row form-actions">
                                    <div class="col-sm-offset-6 col-sm-6">
                                        <button type="submit" name="submit"  class="btn btn-primary pull-right">{{ 'global.save_modifications' | trans({}, 'CapcoAppBundle') }}</button>
                                    </div>
                                </div>
                            </div>

                        {{ form_end(form) }}

                    </div>
                </div> <!-- col-xs-12 col-sm-8 col-md-9 -->
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
{% endblock fos_user_content %}
