{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}
    {% include 'CapcoAppBundle::favicon.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {# Sonata css #}
    {{ parent() }}

    <style>
        @font-face {
            font-family: 'cap-collectif';
            font-weight: normal;
            font-style: normal;
            src: url("{{ asset('fonts/cap-collectif.eot') }}");
            src: url("{{ asset('fonts/cap-collectif.eot#iefix') }}") format('embedded-opentype'),
            url("{{ asset('fonts/cap-collectif.woff') }}") format('woff'),
            url("{{ asset('fonts/cap-collectif.ttf') }}") format('truetype'),
            url("{{ asset('fonts/cap-collectif.svg#cap-collectif') }}") format('svg');
        }
    </style>

    <link href="{{ asset('css/jquery.minicolors.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style-admin.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>

    <script type="text/javascript">
      window.CKEDITOR_BASEPATH = '/js/ckeditor/';
      window.locale = "{{ intl_locale() }}";
    </script>

    <script src="{{ asset('js/jquery.minicolors.js') }}"></script>
    <script src="{{ asset('js/vendor.js') }}"></script>
    {% if app.environment == 'test' %}
        <script>
            window.intl_messages={};
        </script>
    {% else %}
        <script src="{{ asset('js/'~intl_locale()~'.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/app.js') }}"></script>
    {# Sonata javascript #}
    {{ parent() }}

    <script type="text/javascript">
        $(window).on('load', function() {
            $('.minicolors-input').minicolors({
                theme: 'bootstrap'
            });
        });
    </script>
{% endblock %}

{% block sonata_admin_content_actions_wrappers %}
  {% if admin.class == 'Capco\\AppBundle\\Entity\\Proposal' and admin.hasSubject == false %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                {{ react_render_component('ProposalCreateFusionButtonApp') }}
            </li>
        </ul>
  {% endif %}
    {% if admin.class == 'Capco\\AppBundle\\Entity\\Event' and admin.hasSubject == false %}
        <ul class="nav navbar-nav navbar-right">
            <li class="mr-5">
                {{ react_render_component('AdminImportEventsApp') }}
            </li>
            <li class="mr-5">
                {{ react_render_component('AdminExportButtonApp') }}
            </li>
        </ul>
  {% endif %}
  {% if admin.class == 'Capco\\AppBundle\\Entity\\ProposalForm' and admin.hasSubject == false %}
      <ul class="nav navbar-nav navbar-right">
        <li>
            {{ react_render_component('ProposalFormCreateButtonApp') }}
        </li>
      </ul>
  {% elseif admin.class == 'Capco\\AppBundle\\Entity\\Group' and admin.hasSubject == false %}
      <ul class="nav navbar-nav navbar-right">
          <li>
              {{ react_render_component('GroupCreateButtonApp') }}
          </li>
      </ul>
  {% elseif admin.class == 'Capco\\AppBundle\\Entity\\Questionnaire' and admin.hasSubject == false %}
      {% include '@CapcoApp/redux_store.html.twig' %}
      <ul class="nav navbar-nav navbar-right">
          <li>
              {{ react_render_component('QuestionnaireCreateButtonApp') }}
          </li>
      </ul>
  {% elseif admin.class == 'Capco\\UserBundle\\Entity\\User' and admin.hasSubject == false %}
      {# TODO redux store in global #}
  {% include '@CapcoApp/redux_store.html.twig' %}
      <ul class="nav navbar-nav navbar-right">
          <li>
              {{ react_render_component('UserAdminCreateButtonApp') }}
          </li>
      </ul>
  {% endif %}
{% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
    <ul class="nav navbar-nav navbar-right">
    {% if _actions|split('</a>')|length > 2 %}
        <li class="dropdown sonata-actions">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'CapcoAppBundle') }} <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                {{ _actions|raw }}
            </ul>
        </li>
    {% else %}
        {{ _actions|raw }}
    {% endif %}
    </ul>
{% endif %}
{% endblock sonata_admin_content_actions_wrappers %}

{% block logo %}
    {% if admin_pool is defined %}
        {% spaceless %}
            <a class="logo" href="{{ path('app_homepage') }}">
                {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                {% endif %}
                {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <span>{{ admin_pool.title }}</span>
                {% endif %}
            </a>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block side_bar_nav %}
    {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            {% for group in admin_pool.dashboardgroups %}
                {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                {% for role in group.roles if not display %}
                    {% set display = is_granted(role) %}
                {% endfor %}

                {# Do not display the group label if no item in group is available #}
                {% set item_count = 0 %}
                {% if display %}
                    {% for admin in group.items if item_count == 0 %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') and is_admin_enabled(admin) %}
                            {% set item_count = item_count+1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if display and (item_count > 0) %}
                    {% set active = false %}
                    {% for admin in group.items %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') and app.request.get('_sonata_admin') == admin.code %}
                            {% set active = true %}
                        {% elseif current_group_label is defined and current_group_label == group.label %}
                            {% set active = true %}
                        {% endif %}
                    {% endfor %}
                    <li class="treeview{% if active %} active{% endif %}">
                        <a href="#">
                            {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                            <span>{{ group.label|trans({}, group.label_catalogue) }}</span>
                            <i class="fa pull-right fa-angle-left"></i>
                        </a>
                        <ul class="treeview-menu{% if active %} active{% endif %}">

                            {% include 'CapcoAdminBundle:RecentContributions:list_items.html.twig' %}
                            {% include 'CapcoAdminBundle:RecentReporting:list_items.html.twig' %}

                            {% for admin in group.items %}
                                {% if admin.hasroute('list') and admin.isGranted('LIST') and is_admin_enabled(admin) %}
                                    <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}><a href="{{ admin.generateUrl('list')}}"><i class="fa fa-angle-double-right"></i> {{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% include 'CapcoAdminBundle:Settings:list_items.html.twig' %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock side_bar_nav %}
