{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style-admin.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/jquery.minicolors.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('js/jquery.minicolors.js') }}"></script>
	<script type="text/javascript">
		$(window).on('load', function() {
			$('.minicolors-input').minicolors({
				theme: 'bootstrap'
			});
		});
	</script>
{% endblock %}


{% block side_bar_after_nav %}
    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            {% if is_feature_enabled('blog') %}
                <li class="treeview{% if app.request.get('_route') starts with 'admin_capco_app_post_' %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span>{{ 'admin.group.blog'|trans({}, 'SonataAdminBundle') }}</span>
                        <i class="fa pull-right fa-angle-left"></i>
                    </a>
                    <ul class="treeview-menu{% if app.request.get('_route') starts with 'admin_capco_app_post_' %} active{% endif %}">
                        <li><a href="{{ path('admin_capco_app_post_list')}}"><i class="fa fa-angle-double-right"></i> {{ 'admin.label.posts'|trans({}, 'SonataAdminBundle') }}</a></li>
                    </ul>
                </li>
            {% endif %}

            <li class="treeview{% if 'admin_feature' == app.request.get('_route') %} active{% endif %}">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>{{ 'admin.group.configuration'|trans({}, 'SonataAdminBundle') }}</span>
                    <i class="fa pull-right fa-angle-left"></i>
                </a>
                <ul class="treeview-menu{% if 'admin_feature' == app.request.get('_route') %} active{% endif %}">
                    <li><a href="{{ path('admin_feature')}}"><i class="fa fa-angle-double-right"></i> {{ 'admin.label.features'|trans({}, 'SonataAdminBundle') }}</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}
