<div class="col-xs-12  col-sm-6  col-md-4  col-lg-3">
    <div class="media  media--macro idea  block  block--bordered {% if idea.author.isVip %}bg-vip{% endif %}">
        {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': idea.Author, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
        <div class="media-body">
            <p class="media-heading  media--macro__user small">
                {% if is_feature_enabled('profiles') %}
                    <a href="{{ path('capco_user_profile_show_all', {'slug': idea.Author.slug}) }}">{{ idea.Author.username }}</a>
                {% else %}
                    {{ idea.Author.username }}
                {% endif %}
            </p>
            <p class="idea__date">
                {{ idea.createdAt | localizeddate('long', 'none') }}
            </p>
            {% if idea.createdAt | has_significant_diff(idea.updatedAt) %}
                <p class="idea__date">
                    {{ 'global.edited' | trans({'%date%': idea.updatedAt | localizeddate('long', 'none') }, 'CapcoAppBundle') }}
                </p>
            {% endif %}
        </div>
        <div class="media__content">
            <h2 class="h4"><a href="{{ path('app_idea_show', {'slug': idea.slug}) }}">{{ idea.title }}</a></h2>
            <span class="excerpt small">
                {% set votesCount = idea.votesCount %}
                {% set commentsCount = idea.commentsCount %}
                {% transchoice votesCount with {'%count%': votesCount} from 'CapcoAppBundle' %}
                    idea.show.votes
                {% endtranschoice %}
                •
                {% transchoice commentsCount with {'%count%': commentsCount} from 'CapcoAppBundle' %}
                    idea.show.comments
                {% endtranschoice %}
            </span>
            {% if idea.isTrashed %}<span class="label label-default">{{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}</span> {% endif %}
        </div>
    </div>
</div>
