<div class="col-xs-12  col-sm-6  col-md-4  col-lg-3">
    <div class="media  media--macro  block  block--bordered {% if proposal.author.isVip %}bg-vip{% endif %}">
        {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': proposal.Author, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
        <div class="media-body">
            <p class="media-heading  media--macro__user small"><a href="{{ path('capco_user_profile_show_all', {'slug': proposal.Author.slug}) }}">{{ proposal.Author.username }}</a></p>
            <span class="excerpt  small">
                {{ proposal.createdAt | localizeddate('long', 'none') }}
                {% if proposal.createdAt != proposal.updatedAt %}
                    • {{ 'global.edited' | trans({'%date%': proposal.updatedAt | localizeddate('long', 'none') }, 'CapcoAppBundle') }}
                {% endif %}
            </span>
        </div>
        <div class="media__content">
            <h2 class="h4"><a href="{{ path('app_project_show_proposal', {'projectSlug': proposal.getStep.project, 'proposalSlug': proposal.slug, 'stepSlug': proposal.getStep()}) }}">{{ proposal.title }}</a></h2>
            {#<span class="excerpt small">
                {% set votesCount = proposal.voteCount %}
                {% set commentsCount = proposal.commentsCount %}
                {% transchoice votesCount with {'%count%': votesCount} from 'CapcoAppBundle' %}
                proposal.show.votes
                {% endtranschoice %}
                •
                {% transchoice commentsCount with {'%count%': commentsCount} from 'CapcoAppBundle' %}
                proposal.show.comments
                {% endtranschoice %}
            </span>#}
            {% if proposal.isTrashed %}<span class="label label-default">{{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}</span> {% endif %}
        </div>
    </div>
</div>
