{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_idea') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('ideas.jumbotron.title') %}
{% set meta_description = capco_site_parameter_value('ideas.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('ideas.jumbotron.body') %}
{% set picto = capco_site_image_media('ideas.picto') %}

{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (jumbotron_title ?: 'idea.page_title'|trans({}, 'CapcoAppBundle')),
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'image':       image,
        'url':         url('app_idea')
        } only %}
{% endblock %}

{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'idea.index.page_title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'idea.index.page_title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ react_render_component('IdeasIndexPageApp', {'props': props}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% set customCode = capco_site_parameter_value('ideas.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}

