{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            <h1>{{ capco_site_parameter_value('ideas.jumbotron.title')}}</h1>
            {% set jumbotron_body = capco_site_parameter_value('ideas.jumbotron.body') %}
            {% if null != jumbotron_body %}
                <p>{{ jumbotron_body }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">

        {% set content_body = capco_site_parameter_value('ideas.content.body') %}
        {% if null != content_body %}
            <p class="block">{{ content_body }}</p>
        {% endif %}

        <div class="filter  block">
            <div class="row">
                <div class="col-xs-12  col-sm-3  col-md-3  col-lg-2  block">
                    <a href="{{ path('app_idea_create') }}" class="form-control  btn  btn-primary"><i class="cap cap-add-1"></i> {{ 'idea.index.button'|trans({}, 'CapcoAppBundle') }}</a>
                </div>

                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-4">
                        {{ form_label(form.theme, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                        {{ form_errors(form.theme) }}
                        {{ form_widget(form.theme, {'attr':{"class":"form-control"} }) }}
                    </div>
                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3">
                        <div class="formgroup--inline">
                            {{ form_label(form.sort, null, {'label_attr':{"class":"control-label"} }) }}
                            <span class="formgroup--inline__control">
                                {{ form_errors(form.sort) }}
                                {{ form_widget(form.sort, {'attr':{"class":"form-control"} }) }}
                            </span>
                        </div>
                    </div>

                    <div role="form" class="col-xs-12  col-sm-3  col-md-3  col-lg-3">
                        {{ form_label(form.term, null, {'label_attr':{"class":"control-label sr-only"} }) }}
                        <div class="input-group filter__search">
                            {{ form_errors(form.term) }}
                            {{ form_widget(form.term, {'attr':{"class":"form-control", "placeholder": 'idea.searchform.search'|trans({}, 'CapcoAppBundle')} }) }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn  btn-default"> <i class="cap cap-magnifier"></i></button>
                            </span>
                        </div>
                    </div>

                {{ form_end(form) }}

            </div>
        </div>

        <div class="row">
            {% if ideas|length > 0 %}
                {% for idea in ideas %}
                    {% include '@CapcoApp/Idea/blockIdea.html.twig' %}
                {% endfor %}
            {% else %}
                <p>
                    {{ 'idea.searchform.no_result'|trans({}, 'CapcoAppBundle') }}
                </p>
            {% endif %}
        </div>
    </div>

    {% if nbPage > 1 %}
        <div class="pagination--custom  text-center">
            <ul class="pagination">
                {% set theme = form.vars.data.theme %}
                {% if theme is null %}
                    {% set theme = 'all' %}
                {% endif %}
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        {% if (form.vars.data.sort is not null) or (form.vars.data.theme is not null) %}
                            {% if form.vars.data.term is not null %}
                                <a href="{{ path('app_idea_search_term', {'page': p, 'sort': form.vars.data.sort, 'theme': theme, 'term': form.vars.data.term }) }}">{{ p }}</a>
                            {% else %}
                                <a href="{{ path('app_idea_search', {'page': p, 'sort': form.vars.data.sort, 'theme': theme }) }}">{{ p }}</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_idea', {'page': p}) }}">{{ p }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
