{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_blog') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('ideas.jumbotron.title') %}
{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'idea.index.page_title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'idea.index.page_title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% set jumbotron_body = capco_site_parameter_value('ideas.jumbotron.body') %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">

        {% set content_body = capco_site_parameter_value('ideas.content.body') %}
        {% if null != content_body %}
            <div class="block">{{ content_body|raw }}</div>
        {% endif %}

        <div class="filter  block">
            <div class="row">
                <div class="col-xs-12  col-sm-3  col-md-3  col-lg-2  filter__down">
                    <a href="{{ path('app_idea_create') }}" class="form-control  btn  btn-primary"><i class="cap cap-add-1"></i> {{ 'idea.create.button'|trans({}, 'CapcoAppBundle') }}</a>
                </div>

                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% if is_feature_enabled('themes') %}
                        <div class="col-xs-12  col-sm-3  col-md-3  col-lg-4  filter__down">
                            {{ form_label(form.theme, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                            {{ form_errors(form.theme) }}
                            {{ form_widget(form.theme, {'attr':{"class":"form-control"} }) }}
                        </div>
                    {% endif %}

                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3  filter__down">
                        <div class="formgroup--inline">
                            {{ form_label(form.sort, null, {'label_attr':{"class":"control-label"} }) }}
                            <span class="formgroup--inline__control">
                                {{ form_errors(form.sort) }}
                                {{ form_widget(form.sort, {'attr':{"class":"form-control"} }) }}
                            </span>
                        </div>
                    </div>

                    <div role="form" class="col-xs-12  col-sm-3  col-md-3  col-lg-3  filter__down">
                        {{ form_label(form.term, null, {'label_attr':{"class":"control-label sr-only"} }) }}
                        <div class="input-group filter__search">
                            {{ form_errors(form.term) }}
                            {{ form_widget(form.term, {'attr':{"class":"form-control", "placeholder": 'idea.searchform.search'|trans({}, 'CapcoAppBundle')} }) }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn  btn-default"> <i class="cap cap-magnifier"></i><span class="sr-only">{{ 'idea.searchform.search'|trans({}, 'CapcoAppBundle') }}</span></button>
                            </span>
                        </div>
                    </div>

                {{ form_end(form) }}

            </div>
        </div>

        <div class="row">
            {% if ideas|length > 0 %}
                {% for idea in ideas %}
                    {% include '@CapcoApp/Idea/blockIdea.html.twig' %}
                {% endfor %}
            {% else %}
                <p class="block">
                    {{ 'idea.searchform.no_result'|trans({}, 'CapcoAppBundle') }}
                </p>
            {% endif %}
        </div>
    </div>

    {% if nbPage > 1 %}
        <div class="pagination--custom  text-center block">
            <ul class="pagination">
                {% set theme = form.vars.data.theme %}
                {% if theme is null %}
                    {% set theme = 'all' %}
                {% endif %}
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        {% if (form.vars.data.sort is not null) or (form.vars.data.theme is not null) %}
                            {% if form.vars.data.term is not null %}
                                <a href="{{ path('app_idea_search_term', {'page': p, 'sort': form.vars.data.sort, 'theme': theme, 'term': form.vars.data.term }) }}">{{ p }}</a>
                            {% else %}
                                <a href="{{ path('app_idea_search', {'page': p, 'sort': form.vars.data.sort, 'theme': theme }) }}">{{ p }}</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_idea', {'page': p}) }}">{{ p }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="appendices__container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 text-center  appendices__item  box">
                <h2 class="h4">{{ 'idea.index.appendices.trashed.title'|trans({}, 'CapcoAppBundle') }}</h2>
                <p class="excerpt">{% transchoice trashedIdeasNb with {'%count%': trashedIdeasNb} from 'CapcoAppBundle' %}
                    idea.index.appendices.trashed.number
                {% endtranschoice %}</p>
                <p><a href="{{ path('app_idea_trashed') }}" class="btn  btn-primary  btn--outline">{{ 'idea.index.appendices.trashed.button'|trans({}, 'CapcoAppBundle') }}</a></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.media--macro');window.onresize = App.module.rezised('.media--macro');
        });
    </script>
{% endblock %}
