{% extends '@CapcoApp/Idea/index.html.twig' %}

{% block canonical_link %}{{ url('app_idea_show', {'slug': idea.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ idea.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
<div id="sidebar-container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="container">
                <h1 class="h1"> {{ idea.title }}</h1>
                <div class="block">
                    <div class="media">
                        {%  set avatar = idea.Author.Media|capco_default_avatar %}
                        {% if avatar != null %}
                            <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': idea.Author.slug}) }}">
                                {% thumbnail avatar, 'avatar' with {'title': idea.Author.username, 'alt': idea.Author.username, 'class': 'media-object img-circle'} %}
                            </a>
                        {% else %}
                            <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': idea.Author.slug}) }}">
                                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><circle fill="{{ capco_site_color_value('color.section.bg')  }}" cx="100" cy="100" r="97.617"/><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
                            </a>
                        {% endif %}
                        <div class="media-body">
                            <p class="media--aligned  excerpt"><a href="{{ path('capco_user_profile_show_all', {'slug': idea.Author.slug}) }}">{{ idea.Author.username }}</a>
                                {% if is_feature_enabled('themes') and idea.theme and idea.theme.canDisplay %}
                                    {{ 'idea.show.in_theme'|trans({}, 'CapcoAppBundle') }} <a href="{{ path('app_theme_show', {'slug': idea.Theme.slug}) }}">{{ idea.Theme.title }}</a>
                                {% endif %}
                                {{ 'idea.show.on_date'|trans({}, 'CapcoAppBundle') }} {{ idea.createdAt | localizeddate('long', 'none') }}
                                {% if capco_comment_can_show(idea) %}
                                    | {% transchoice idea.commentsCount with {'%count%': idea.commentsCount} from 'CapcoAppBundle' %}
                                        idea.show.comments
                                    {% endtranschoice %}
                                {% endif %}
                                {% if idea.isTrashed %}<span class="label label-default">{{ 'idea.show.trashed.label'|trans({}, 'CapcoAppBundle') }}</span>{% endif %}</p>
                        </div>
                    </div>
                </div>

                {% if idea.Media %}
                    {% thumbnail idea.Media, 'idea' with {'class': 'block  img-responsive'} %}
                {% endif %}

                <div class="block">
                    {{ idea.body|raw }}
                </div>

                <div class="block">
                    {% if idea.isTrashed %}
                        <button disabled="disabled" class="btn btn-dark-gray"><i class="cap cap-hand-like-2-1"></i> {{ 'idea.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                        <span class="nb-bordered">{{ idea.voteCount }}</span>
                    {% endif %}

                    {{ sonata_block_render({'type': 'capco.block.service.share_button'}, {
                        'url': url('app_idea_show', {'slug': idea.slug}),
                        'title': idea.title,
                    }) }}

                    <div class="pull-right no-float-mobile">
                        {% if idea.reports | length == 0 %}
                            <a href="{{ path('app_report_idea' ,{'idea_slug': idea.slug } ) }}" class="btn btn-dark-gray  btn--outline  connection-popover-js">
                                <i class="cap cap-flag-1"></i> {{ 'idea.report.submit'|trans({}, 'CapcoAppBundle') }}
                            </a>
                        {% else %}
                            <button disabled="disabled" class="btn btn-dark-gray">
                                <i class="cap cap-flag-1"></i> {{ 'idea.report.reported'|trans({}, 'CapcoAppBundle') }}
                            </button>
                        {% endif %}

                        {% if idea.canContribute and app.user.id is defined and app.user.id == idea.Author.id %}
                            <a href="{{ path('app_idea_update', {'slug': idea.slug}) }}" class="btn  btn-dark-gray  btn--outline">
                                <i class="cap cap-pencil-1-1"></i> {{ 'idea.show.edit'|trans({}, 'CapcoAppBundle') }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if idea.votes | length > 0 %}

                <div class="block">
                    {% set limit = 6 %}
                     <h2>
                       {{ 'idea.vote.listing.title'|transchoice(idea.votes|length, {'%count%': idea.votes|length}, 'CapcoAppBundle') }}
                     </h2>
                    {% include 'CapcoAppBundle:Idea:votes.html.twig' with {'idea': idea, 'limit': limit} only %}
                    {% if idea.votes|length > limit %}
                        <button type="button" class="btn btn-primary btn--outline" data-toggle="modal" data-target="#ideaVotesModal">
                            {{ 'idea.vote.listing.see_all'|trans({}, 'CapcoAppBundle') }}
                        </button>
                    {% endif %}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="ideaVotesModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ 'idea.vote.listing.title_all'|trans({}, 'CapcoAppBundle') }}</h4>
                            </div>
                            <div class="modal-body">
                                {% include 'CapcoAppBundle:Idea:votes.html.twig' with {'idea': idea} only %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>

            {% if idea.isTrashed == true %}
                <div class="container">
                    <h2>{{ 'idea.show.trashed.reason'|trans({}, 'CapcoAppBundle') }}</h2>
                    {% if idea.trashedReason is not null %}
                        <p>{{ idea.trashedReason }}</p>
                    {% else %}
                        <p>{{ 'idea.show.trashed.no_reason'|trans({}, 'CapcoAppBundle') }}</p>
                    {% endif %}
                    <p class="excerpt">{{ 'idea.show.trashed.date'|trans({'%date%': idea.trashedAt | localizeddate('long', 'none') }, 'CapcoAppBundle') }}</p>
                </div>
            {% endif %}

            {% if capco_comment_can_show(idea) and idea.commentsCount > 0 %}
                {{ render(controller('CapcoAppBundle:Comment:showComments', {'object': idea})) }}
            {% endif %}

            {% if capco_comment_can_add(idea) %}
                {{ render(controller('CapcoAppBundle:Comment:create', {'objectId': idea.id, 'objectType': idea.className})) }}
            {% endif %}

        </div>
        <div id="sidebar-overlay"></div>
        <div class="col-xs-12  col-sm-3  sidebar" id="sidebar">
            <div class="block block--bordered box sidebar-hideable  sidebar-hidden-small">

                {% include 'CapcoUserBundle:Avatar:sidebar_header.html.twig' with { 'user': app.user, 'class': 'media-object'} only %}

                <div class="sidebar__form">
                    {{ form(form) }}
                </div>

                {% if app.user is null %}
                    <p class="text-center"><a href="{{ path('fos_user_security_login') }}">{{ 'event_registration.create.my_account'|trans({}, 'CapcoAppBundle') }}</a></p>
                {% endif %}
            </div>
            {% if idea | capco_idea_user_voted(app.user) %}
                <button type="button" class="sidebar-toggle sidebar-hideable  sidebar-hidden-large  btn-danger btn-lg  btn  btn-block  btn--no-radius">{{ 'idea_vote.toggle.unsubscribe'|trans({}, 'CapcoAppBundle') }}</button>
            {% else %}
                <button type="button" class="sidebar-toggle sidebar-hideable  sidebar-hidden-large  btn-primary btn-lg  btn  btn-block  btn--no-radius">{{ 'idea_vote.toggle.subscribe'|trans({}, 'CapcoAppBundle') }}</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/readmore/readmore.js') }}"></script>
    <script type="text/javascript">
        $('.more').readmore({
            collapsedHeight: 98,
            moreLink: '<a href="#">{{ 'comment.read_more'|trans({}, 'CapcoAppBundle') }}</a>',
            lessLink: '<a href="#">{{ 'comment.read_less'|trans({}, 'CapcoAppBundle') }}</a>'
        });
        App.module.makeSidebar({
            sidebar: '#sidebar',
            container: '#sidebar-container',
            hideable: '.sidebar-hideable',
            toggle: '.sidebar-toggle',
            overlay: '#sidebar-overlay'
        });
        {% if null == app.user %}
            App.module.initPopovers('.connection-popover-js', {
                placement: "top",
                html: "true",
                trigger: "focus",
                title: "{{ 'user.login.popover.title'|trans({}, 'CapcoAppBundle') }}",
                content: "<p>{{ 'user.login.popover.body'|trans({}, 'CapcoAppBundle') }}</p><p><a href='{{ path('fos_user_registration_register') }}' class='btn  btn-success  center-block'>{{ 'user.login.popover.signin'|trans({}, 'CapcoAppBundle') }}</a></p><p><a href='{{ path('fos_user_security_login') }}' class='btn  btn-default  center-block'>{{ 'user.login.popover.login'|trans({}, 'CapcoAppBundle') }}</a></p>"
            });
        {% endif %}
    </script>
{% endblock %}

