{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_idea_trashed') }}{% endblock %}

{% set title = capco_site_parameter_value('ideas.trashed.jumbotron.title') %}
{% block title %}
    {% if null != title %}
        {{ parent() }} - {{ title }}
    {% else %}
        {{ parent() }} - {{ 'idea.trashed.jumbotron.title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != title %}
                <h1>{{ title }}</h1>
            {% else %}
                <h1>{{ 'idea.trashed.jumbotron.title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container  container--custom">
        {% set content_body = capco_site_parameter_value('ideas.trashed.content.body') %}
        {% if null != content_body %}
            {{ content_body|raw }}
        {% endif %}
    </div>

    <div class="container">

        <div class="row">
            {% if ideas|length > 0 %}
                {% for idea in ideas %}
                    {% include '@CapcoApp/Idea/blockIdea.html.twig' with {'idea': idea} only %}
                {% endfor %}
            {% else %}
                <p>
                    {{ 'idea.trashed.none'|trans({}, 'CapcoAppBundle') }}
                </p>
            {% endif %}
        </div>

        {% set route, params = 'app_idea_trashed', {} %}
        {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.media--macro');
        });

        $(window).on('resize', function() {
            App.resized('.media--macro');
        });
    </script>
{% endblock %}
