{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% set title = capco_site_parameter_value('ideas.trashed.jumbotron.title') %}
            {% if null != title %}
                <h1>{{ title }}</h1>
            {% else %}
                <h1>{{ 'idea.trashed.jumbotron.title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">

        {% set content_body = capco_site_parameter_value('ideas.trashed.content.body') %}
        {% if null != content_body %}
            <p class="block">{{ content_body }}</p>
        {% endif %}

        <div class="row">
            {% if ideas|length > 0 %}
                {% for idea in ideas %}
                    {% include '@CapcoApp/Idea/blockIdea.html.twig' %}
                {% endfor %}
            {% else %}
                <p>
                    {{ 'idea.trashed.none'|trans({}, 'CapcoAppBundle') }}
                </p>
            {% endif %}
        </div>
    </div>

    {% if nbPage > 1 %}
        <div class="pagination--custom  text-center block">
            <ul class="pagination">
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('app_idea_trashed', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.media--macro');window.onresize = App.module.rezised('.media--macro');
        });
    </script>
{% endblock %}
