{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">{{ idea.title }}</h1>
        <div class="block">
            <div class="media">
                <a href="#" class="pull-left">
                    <img class="img-circle  pull-left" src="http://rdjpg.com/32/32" alt=""/>
                </a>
                <div class="media-body">
                    <p class="media--aligned  excerpt"><a href="#">{{ idea.Author.username }}</a> dans <a href="#">{{ idea.Theme.title }}</a> le {{ idea.createdAt | localizeddate('long', 'none') }}</p>
                </div>
            </div>
        </div>
        {% if idea.media %}
            {% thumbnail idea.Media, 'big' with {'class': 'block  img-responsive'} %}
        {% endif %}

        <div class="block">
            {{ idea.body }}
        </div>

        {% if userVoteCount == 0 %}
            {{ form_start(form, {'attr':{"class":"inline"} } ) }}
                {{ form_errors(form) }}
                <button class="btn btn-success"><i class="cap-hand-like-1"></i> {{ 'idea.show.vote'|trans({}, 'CapcoAppBundle') }}</button>
                <span class="nb-bordered">{{ idea.voteCount }}</span>
            {{ form_end(form) }}
        {% else %}
            <button class="btn btn-disabled"><i class="cap-hand-like-1"></i> {{ 'idea.show.votes'|trans({}, 'CapcoAppBundle') }}</button>
            <span class="nb-bordered">{{ idea.voteCount }}</span>
        {% endif %}

        <div class="dropdown dropdown--social">
            <button class="btn  btn-default" type="button" data-toggle="dropdown"><i class="cap-network-1"></i> {{ 'idea.show.share'|trans({}, 'CapcoAppBundle') }} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="cap-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="cap-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="cap-gplus"></i> Google+</a></li>
                <li><a href="#"><i class="cap-mail-1"></i> Mail</a></li>
            </ul>
        </div>

        <div class="pull-right no-float-mobile">
            <a href="#" class="btn  btn-dark-gray  btn--outline"><i class="cap-gun"></i> {{ 'idea.show.report'|trans({}, 'CapcoAppBundle') }}</a>
            {% if app.user.id is defined and app.user.id == idea.Author.id %}
                <a href="{{ path('app_idea_update', {'slug': idea.slug}) }}" class="btn  btn-dark-gray  btn--outline"><i class="cap-gun"></i> {{ 'idea.show.edit'|trans({}, 'CapcoAppBundle') }}</a>
            {% endif %}
        </div>
    </div>

    {{ render_esi(controller('CapcoAppBundle:Homepage:lastIdeas', {'max': 4, 'offset': 0})) }}

{% endblock %}
