{% extends "CapcoAppBundle::base.html.twig" %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': 'Developper',
        'url':   url('app_developer')
    } only %}
{% endblock %}

{% block title %}
    Cap Collectif Developers
{% endblock %}

{% block body %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
{% endblock %}

<div class="container developers__container">

{% include 'CapcoAppBundle:Developer:header.html.twig' with {'active': 'reference'} only %}

<div class="row mt-40">

    <div class="col-md-3">
    <div class="list-group">
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#overview">
            <i class="cap cap-arrow-66"></i>Overview
        </a>

        <div class="list-group_collapse collapse" id="overview">
            <a href="/developer/previews" class="list-group-item">Schema Previews</a>
            <a href="/developer/breaking_changes" class="list-group-item">Breaking Changes</a>
        </div>

        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#query">
            <i class="cap cap-arrow-66"></i>Query
        </a>
        <div class="list-group_collapse collapse" id="query">
            <a href="/developer/query#connections" class="list-group-item">Connections</a>
            <a href="/developer/query#fields" class="list-group-item">Fields</a>
        </div>

        {% if mutation %}
            <a href="#mutations" class="list-group-item" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>Mutations
            </a>
            <div class="list-group_collapse collapse" id="mutations">
                {% for field in mutation.fields|usort %}
                    <a href="/developer/mutation/{{field.name}}" class="list-group-item">{{ field.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if objects is not empty %}
            <a href="#objects" class="list-group-item" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>Objects
            </a>
            <div class="list-group_collapse collapse" id="objects">
                {% for type in objects|usort %}
                    <a href="/developer/object/{{type.name}}" class="list-group-item">{{ type.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if interfaces is not empty %}
            <a href="#interfaces" class="list-group-item" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>Interfaces
            </a>
            <div class="list-group_collapse collapse" id="interfaces">
                {% for type in interfaces|usort %}
                    <a href="/developer/interface/{{type.name}}" class="list-group-item">{{ type.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if enums is not empty %}
            <a href="#enums" class="list-group-item" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>Enums
            </a>
            <div class="list-group_collapse collapse" id="enums">
                {% for type in enums|usort %}
                    <a href="/developer/enum/{{type.name}}" class="list-group-item">{{ type.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if unions is not empty %}
            <a href="#unions" class="list-group-item" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>Unions
            </a>
            <div class="list-group_collapse collapse" id="unions">
                {% for type in unions|usort %}
                    <a href="/developer/union/{{type.name}}" class="list-group-item">{{ type.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if input_objects is not empty %}
            <a href="#input_objects" class="list-group-item" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>Input Objects
            </a>
            <div class="list-group_collapse collapse" id="input_objects">
                {% for type in input_objects|usort %}
                    <a href="/developer/input_object/{{type.name}}" class="list-group-item">{{ type.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <a href="#scalars" class="list-group-item" data-toggle="collapse">
            <i class="cap cap-arrow-66"></i>Scalars
        </a>
        <div class="list-group_collapse collapse" id="scalars">
            {% for type in scalars|usort %}
                <a href="/developer/scalar/{{type.name}}" class="list-group-item">{{ type.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

    <div class="col-md-9">

    {% if category is null %}
    <h2>Overview</h2>

    Cap Collectif provides an API to read and write data.

    <h3>Endpoint</h3>
    
    <p>
        This is an HTTPS-only and POST-only API. All API requests are made to <strong>{{ url('graphql_endpoint') }}</strong>.
    </p>

    <h3>Authentication</h3>

    <p>Authentication is based on API Keys. Each API Key is associated with a user. Results returned from various responses are based upon the role of the user to which the API key is tied.</p>

    <ul>
    <li>
        <span class="label label-info">ROLE_USER</span> indicates that this field can only be access if authenticated.
    </li>
    <li>
        <span class="label label-info">ROLE_ADMIN</span> indicates that this field can only be access if authenticated as an administrator.
    </li>
    </ul>

    <h4>Your API Keys</h4>
        
    {% if app.user and publicApiKeyRepo.findPublicApiTokensByUser(app.user) is not empty %}
    <p>These tokens are like passwords; guard them carefully.</p>
    <p>Right now, you can't revoke an API Key. Contact <a href="mailto:coucou@cap-collectif.com">coucou@cap-collectif.com</a> if needed.</p>
    <ul>
        {% for token in publicApiKeyRepo.findPublicApiTokensByUser(app.user) %}
        <li>
            API Key created at {{ token.createdAt|date }} : <strong>{{ token.value }}</strong>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Right now, you can't generate an API Key. Contact <a href="mailto:coucou@cap-collectif.com">coucou@cap-collectif.com</a> if needed.</p>

    <h4>How to use an API Key</h4>

    <p>
        To make an authenticated query, add an <code>Authorization</code> header with content <code>"Bearer token"</code>.
        Example using <strong>cURL</strong> :
    </p>
    
    <div>
    <code>
    curl -H "Content-Type: application/json" -H "Authorization: Bearer <strong>token</strong>" -X POST -d '{"query":"query viewer {\n  viewer {\n    id\n    username\n  }\n}"}' {{ url('graphql_endpoint') }}
    </code>
    </div>

    <h3>Rate limits</h3>
    We currently have no rate limits, but this might be coming soon.

    <h3>About the GraphQL schema reference</h3>
    The docs in the sidebar are generated from our GraphQL schema. All calls are validated and executed against the schema. Use these docs to find out what data you can call:

    <ul>
        <li>Allowed operations: queries and mutations.</li>
        <li>Schema-defined types: scalars, objects, enums, interfaces, unions, and input objects.</li>
    </ul>

    {% endif %}

    {% if category == "previews" %}
    <h2>Schema Previews</h2>

<p>Schema previews let you try out new features and changes to our GraphQL schema before they become part of the official Cap-Collectif API.</p>

<p>During the preview period, we may change some features <strong>without advance notice</strong>.</p>
<p>
    To access a schema preview, you'll need to provide a custom <code>Accept</code> header for your requests.
    <pre><code>application/vnd.cap-collectif.preview+json</code></pre>
</p>
    {% endif %}

    {% if category == "breaking_changes" %}
    <h2>Breaking changes</h2>
    <p>Coming soon…</p>
    {% endif %}

    {% if category == "query" %}
    <h2>{{query.name}}</h2>
    <p>The <a href="https://facebook.github.io/graphql/#sec-Type-System">query type</a> defines GraphQL operations that retrieve data from the server.</p>
    {% for field in query.fields|usort if 'Connection' in field.type.toString %}
        {% if loop.first %}
        <h3>
            Connections
        </h3>
        {% endif %}
        {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': field} %}
    {% endfor %}
    {% for field in query.fields|usort if 'Connection' not in field.type.toString %}
        {% if loop.first %}
        <h3>
            Fields
        </h3>
        {% endif %}
        {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': field} %}
    {% endfor %}
    {% endif %}
    
    {% if mutation and category == "mutation" and selection is not null %}
    {% for field in mutation.fields|usort if field.name == selection %}
        <h2>{{field.name}}
        {% if field.config.access|default(false) %}
            {# We need a way to get info about the required access #}
        <span class="label label-info">ROLE_ADMIN</span>
        {% endif %}
        </h2>
        {% if field.type.getNullableType(field.type).preview is defined and field.type.getNullableType(field.type).preview %}
            {% include 'CapcoAppBundle:Developer:preview.html.twig' %}
        {% endif %}        
        <p>{{field.description}}</p>
        <h3>
           Input fields
        </h3>
        {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': field.args[0]} %}
        <h3>
            Payload fields
        </h3>
        {% for payloadField in field.type.fields|usort %}
         {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': payloadField} %}
        {% endfor %}

    {% endfor %}
    {% endif %}

    {% if category == "object" %}
      {% for type in objects|usort if type.name == selection %}
        <h2>{{type.name}}</h2>
        {% if type.preview is defined and type.preview %}
            {% include 'CapcoAppBundle:Developer:preview.html.twig' %}
        {% endif %}
        <p>{{type.description}}</p>

        {% for interface in type.interfaces|usort %}
            {% if loop.first %}
                <h3>Implements</h3>
                <ul>
            {% endif %}
            <li>
                <a href="/developer/interface/{{interface.name}}">
                    {{ interface.name }}
                </a>
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}

        {% for field in type.fields|usort %}
            {% if loop.first %}
                <h3>Fields</h3>
            {% endif %}
            {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': field} %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if category == "interface" %}
      {% for type in interfaces|usort if type.name == selection %}
        <h2>{{type.name}}</h2>
        {% if type.preview is defined and type.preview %}
            {% include 'CapcoAppBundle:Developer:preview.html.twig' %}
        {% endif %}
        <p>{{type.description}}</p>
        <h3>Implemented by</h3>
        <ul>
        {% for object in objects if object.implementsInterface(type) %}
            <li>
            <a href="/developer/object/{{object.name}}">
             {{ object.name }}
            </a>
            </li>
        {% endfor %}
        </ul>
        {% for field in type.fields|usort %}
            {% if loop.first %}
                <h3>Fields</h3>
            {% endif %}
            {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': field} %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if category == "enum" %}
      {% for enum in enums|usort if enum.name == selection %}
        <h2>{{enum.name}}</h2>
        <p>{{enum.description}}</p>
        <h3>Values</h3>
        {% for value in enum.values %}
            <div>
             <h3>{{ value.name }}</h3>
             <p>{{ value.description }}</p>
            </div>
        {% endfor %}
        {% endfor %}
    {% endif %}

    {% if category == "union" %}
      {% for union in unions|usort if union.name == selection %}
        <h2>{{union.name}}</h2>
        <p>{{union.description}}</p>
        <h3>Possible Types</h3>
        {% for type in union.getTypes() %}
             <h3>{{ type.name }}</h3>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if category == "input_object" %}
      {% for input_object in input_objects|usort if input_object.name == selection %}
        <h2>{{input_object.name}}</h2>
        {% if input_object.getNullableType(input_object).preview is defined and input_object.getNullableType(input_object).preview %}
            {% include 'CapcoAppBundle:Developer:preview.html.twig' %}
        {% endif %}        
        <p>{{input_object.description}}</p>
        <h3>Input Fields</h3>
        {% for field in input_object.fields|usort %}
            {% include 'CapcoAppBundle:Developer:show_field.html.twig' with {'field': field} %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if category == "scalar" %}
      {% for scalar in scalars|usort if scalar.name == selection %}
        <h2>{{scalar.name}}</h2>
        <p>{{scalar.description}}</p>
      {% endfor %}
    {% endif %}

</div>

</div>

</div>
{% endblock %}
