<div style="margin-bottom: 32px">
    <strong>{{ field.name }} (<code><a href="{{ field.type|capco_developer_type_url}}">{{field.type}}</a></code>)</strong>
    {% if field.config.access|default(false) %}
        {# We need a way to get info about the required access #}
        <span class="label label-info">ROLE_USER</span>
    {% endif %}
    {% if parent is defined and parent and parent.previewHasAPublicType is defined %}
        {% if parent.publicSelection is defined and parent.publicSelection is not null and field.name not in parent.publicSelection.fields|keys %}
          {% include 'CapcoAppBundle:Developer:preview.html.twig' %}
        {% endif %}
    {% endif %}
    <p>{{ field.description|default('')|graphql_description|raw }}</p>

    {% if field.deprecated|default(false) %}
      <div class="alert alert-danger">
        <strong>Deprecation notice</strong>
        <p>
          {{ field.deprecationReason|graphql_description|raw }}
        </p>
      </div>
    {% endif %}

    {% if field.args is defined and field.args is not empty %}
    <table class="table table-bordered">
       <thead>
  <tr>
    <th>Argument</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    {% for argument in field.args|sort %}
 <tr>
  <td><code class="anchored">{{argument.name}}</code></td>
  <td>
    <code><a href="{{ argument.type|capco_developer_type_url }}">{{argument.type}}</a></code>
  </td>
  <td>
    <p>
        {{argument.description|graphql_description|raw}}

        {% if argument.defaultValueExists %}
            <br />
            <br />
            The default value is <code class="anchored">{{argument.defaultValue|json_encode(constant('JSON_PRETTY_PRINT'))}}</code>.
        {% endif %}
    </p>
   </td>
  </tr>
  {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div>
