<div class="list-group">
        <div class="list-group-item">
            <a href="#enums" data-toggle="collapse" data-target="#overview">
                <i class="cap cap-arrow-66"></i>
            </a>
            <a href="{{ path('app_developer')}}">Overview</a>
        </div>

        <div class="list-group_collapse collapse {% if category == "previews" or category == "breaking_changes" or category is null %}in{% endif %}" id="overview">
            <a href="{{ path('app_developer_category', { 'category': 'previews' })}}" class="list-group-item">Schema Previews</a>
            <a href="{{ path('app_developer_category', { 'category': 'breaking_changes' })}}" class="list-group-item">Breaking Changes</a>
        </div>

        <div class="list-group-item">
            <a href="#query" data-toggle="collapse" data-target="#query">
                <i class="cap cap-arrow-66"></i>
            </a>
            <a href="{{ path('app_developer_category', { 'category': 'query' })}}">Query</a>
        </div>

        <div class="list-group_collapse collapse {% if category == "query" %}in{% endif %}" id="query">
            <a href="{{ path('app_developer_category', { 'category': 'query' })}}#connections" class="list-group-item">Connections</a>
            <a href="{{ path('app_developer_category', { 'category': 'query' })}}#fields" class="list-group-item">Fields</a>
        </div>

        <div class="list-group-item">
            <a href="#mutations" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>
            </a>
            <a href="{{ path('app_developer_category', { 'category': 'mutation' })}}">Mutations</a>
        </div>

            <div class="list-group_collapse collapse {% if category == "mutation" %}in{% endif %}" id="mutations">
                {% for field in mutation.fields|usort %}
                    <a href="{{ path('app_developer_category_type', { 'category': 'mutation', 'type': field.name })}}" class="list-group-item {% if selection and selection.name == field.name %}active{% endif %}">
                        {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': mutation} %}
                        {{ field.name }}
                    </a>
                {% endfor %}
            </div>

        {% if objects is not empty %}
        <div class="list-group-item">
            <a href="#objects" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>
            </a>
            <a href="{{ path('app_developer_category', { 'category': 'object' })}}">Objects</a>
        </div>
            <div class="list-group_collapse collapse {% if category == "object" %}in{% endif %}" id="objects">
                {% for type in objects|usort %}
                    <a href="{{ path('app_developer_category_type', { 'category': 'object', 'type': type.name })}}" class="list-group-item {% if selection and selection.name == type.name %}active{% endif %}">
                        {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': type} %}
                        {{ type.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if interfaces is not empty %}
            <div class="list-group-item">
                <a href="#interfaces" data-toggle="collapse">
                    <i class="cap cap-arrow-66"></i>
                </a>
                <a href="{{ path('app_developer_category', { 'category': 'interface' })}}">Interfaces</a>
            </div>
            <div class="list-group_collapse collapse {% if category == "interface" %}in{% endif %}" id="interfaces">
                {% for type in interfaces|usort %}
                    <a href="{{ path('app_developer_category_type', { 'category': 'interface', 'type': type.name })}}" class="list-group-item {% if selection and selection.name == type.name %}active{% endif %}">
                        {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': type} %}
                        {{ type.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if enums is not empty %}
            <div class="list-group-item">
                <a href="#enums" data-toggle="collapse">
                    <i class="cap cap-arrow-66"></i>
                </a>
                <a href="{{ path('app_developer_category', { 'category': 'enum' })}}">
                    Enums
                </a>
            </div>
            <div class="list-group_collapse collapse {% if category == "enum" %}in{% endif %}" id="enums">
                {% for type in enums|usort %}
                    <a href="{{ path('app_developer_category_type', { 'category': 'enum', 'type': type.name })}}" class="list-group-item {% if selection and selection.name == type.name %}active{% endif %}">
                        {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': type} %}
                        {{ type.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if unions is not empty %}
            <div class="list-group-item">
                <a href="#unions" data-toggle="collapse">
                    <i class="cap cap-arrow-66"></i>
                </a>
                <a href="{{ path('app_developer_category', { 'category': 'union' })}}">Unions</a>
            </div>
            <div class="list-group_collapse collapse {% if category == "union" %}in{% endif %}" id="unions">
                {% for type in unions|usort %}
                    <a href="{{ path('app_developer_category_type', { 'category': 'union', 'type': type.name })}}" class="list-group-item {% if selection and selection.name == type.name %}active{% endif %}">
                        {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': type} %}
                        {{ type.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if input_objects is not empty %}
            <div class="list-group-item">
                <a href="#input_objects" data-toggle="collapse">
                    <i class="cap cap-arrow-66"></i>
                </a>
                <a href="{{ path('app_developer_category', { 'category': 'input_object' })}}">
                Input Objects
                </a>
            </div>
            <div class="list-group_collapse collapse {% if category == "input_object" %}in{% endif %}" id="input_objects">
                {% for type in input_objects|usort %}
                    <a href="{{ path('app_developer_category_type', { 'category': 'input_object', 'type': type.name })}}" class="list-group-item">
                        {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': type} %}
                        {{ type.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <div class="list-group-item">
            <a href="#scalars" data-toggle="collapse">
                <i class="cap cap-arrow-66"></i>
            </a>
            <a href="{{ path('app_developer_category', { 'category': 'scalar' })}}">Scalars</a>
        </div>

        <div class="list-group_collapse collapse {% if category == "scalar" %}in{% endif %}" id="scalars">
            {% for type in scalars|usort %}
                <a href="{{ path('app_developer_category_type', { 'category': 'scalar', 'type': type.name })}}" class="list-group-item {% if selection and selection.name == type.name %}active{% endif %}">
                    {% include 'CapcoAppBundle:Developer:badge.html.twig' with {'type': type} %}
                    {{ type.name }}
                </a>
            {% endfor %}
        </div>
</div>
