{% set tokenSource = csrf_token('source_vote') %}
<li class="opinion opinion--source media box {% if source.author.isVip %}bg-vip{% endif %}" id="source{{ source.id }}">
    {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': source.Author, 'link_classes': 'pull-left media-middle', format: 'avatar_source'} only %}
    <div class="media-body">
        <h4 class="media-heading h4" id="source{{ source.id }}"><span class="label label-info">{{ source.Category.title }}</span>
            {% if source.Media %}
                <a href="{{ path('sonata_media_download', {'id': source.Media|sonata_urlsafeid }) }}">{{ source.title }}</a>
            {% endif %}
            {% if source.link %}
                <a rel="nofollow" href="{{ source.link }}" class="external-link">{{ source.title }}</a>
            {% endif %}
        </h4>
        {% if profile is defined or trashed is defined %}
            <p>{{ 'source.linked_proposition' | trans({}, 'CapcoAppBundle') }} <a href="{{ path('app_project_show_opinion', {'projectSlug': project.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}">{{ opinion.title }}</a></p>
        {% endif %}
        <p class="excerpt">
            {% if trashed is not defined and source.isTrashed %}<span class="label label-default" style="position: static">{{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}</span> {% endif %}
            {{ source.body }}
        </p>

        {% if trashed is not defined %}
            <button disabled="disabled" class="btn  btn-dark-gray  btn-xs"><i class="cap cap-hand-like-2"></i> {{ 'source.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
            <span class="nb-votes">{{ source.votesCount }}</span>

            {% if is_feature_enabled('reporting') %}
                {% if source.reports | length > 0 %}
                    <button disabled="disabled" class="btn btn-xs btn-dark-gray"><i class="cap cap-flag-1"></i> {{ 'source.report.reported'|trans({}, 'CapcoAppBundle') }}</button>
                {% else %}
                    <a href="{{ path('app_report_source' ,{'projectSlug': project.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug } ) }}" class="btn btn-xs btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'source.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                {% endif %}
            {% endif %}

            {% if source.canContribute and app.user is not null and app.user == source.Author %}
                <a href="{{ path('app_edit_source' ,{'projectSlug': project.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug} ) }}" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap cap-pencil-1"></i> {{ 'source.update.button'|trans({}, 'CapcoAppBundle') }}</a>
            {% endif %}

        {% else %}
            <button disabled="disabled" class="btn  btn-default btn-xs"><i class="cap cap-hand-like-2"></i> {{ 'source.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
            <span class="nb-votes">{{ source.votesCount }}</span>
        {% endif %}
    </div>
</li>
