<li class="opinion opinion--source media box {% if source.author.isVip %}bg-vip{% endif %}" id="source{{ source.id }}">
    {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': source.Author, 'link_classes': 'pull-left media-middle', format: 'avatar_source'} only %}
    <div class="media-body">
        <h4 class="media-heading h4" id="source{{ source.id }}"><span class="label label-info">{{ source.Category.title }}</span>
            {% if source.media %}
                <a href="{{ path('sonata_media_download', {'id': source.media|sonata_urlsafeid }) }}">{{ source.title }}</a>
            {% endif %}
            {% if source.link %}
                <a rel="nofollow" href="{{ source.link }}" class="external-link">{{ source.title }}</a>
            {% endif %}
        </h4>
        {% if profile is defined %}
            <p>{{ 'source.linked_proposition' | trans({}, 'CapcoAppBundle') }} <a href="{{ path('app_project_show_opinion', {'projectSlug': project.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}">{{ opinion.title }}</a></p>
        {% endif %}
        <p>
            {% if source.isTrashed() %}
                <span class="label label-default" style="position: static; margin-right: 5px;">
                    {{ 'global.is_trashed'|trans({}, 'CapcoAppBundle') }}
                </span>
                {% if source.getTrashedStatus() == 'visible' %}
                    {{ source.body|raw }}
                {% endif %}
            {% else %}
                {{ source.body|raw }}
            {% endif %}
        </p>
        {% if not source.isTrashed() %}
            <button disabled="disabled" class="btn  btn-dark-gray  btn-xs"><i class="cap cap-hand-like-2"></i> {{ 'source.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
            <span class="nb-votes">{{ source.votesCount }}</span>
        {% else %}
            <button disabled="disabled" class="btn  btn-default btn-xs"><i class="cap cap-hand-like-2"></i> {{ 'source.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
            <span class="nb-votes">{{ source.votesCount }}</span>
        {% endif %}
    </div>
</li>
