{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_edit_source', {'consultationSlug': opinion.step.consultation.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinion.opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ opinion.title }} - {{ 'source.update.page_title'|trans({'%title%': source.title}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="dialog  dialog--light-gray  block--bordered">
                    <div class="dialog__header  box">
                        <h1 class="h4  dialog__title">{{ 'source.update.title'|trans({}, 'CapcoAppBundle') }}</h1>
                    </div>
                    <form method="post" {{ form_enctype(form) }}>
                        <div class="dialog__body  box">
                            <div class="media">
                                {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': app.user, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
                                <div class="media-body">
                                    {% if form.confirm %}
                                        {{ form_errors(form.confirm) }}
                                        <div class="alert alert-warning  edit-confirm-alert">
                                            <div class="checkbox form-group">
                                                {{ form_widget(form.confirm) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ form_errors(form.type) }}
                                    {{ form_widget(form.type, {'buttonActive': buttonActive}) }}
                                    <div class="box">
                                        {{ form_row(form.type) }}
                                    </div>
                                    <div class="block_link" {% if buttonActive != 0 %} style="display: none"{% endif %}>
                                        {{ form_row(form.link) }}
                                    </div>
                                    <div class="block_media" {% if buttonActive != 1  %} style="display: none"{% endif %}>
                                        {{ form_row(form.media) }}
                                    </div>
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>
                        <div class="dialog__footer  box">
                            <a href="{{ path('app_delete_source', {'consultationSlug': opinion.step.consultation.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinion.opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug}) }}" class="btn btn-danger">{{ 'source.update.delete'|trans({}, 'CapcoAppBundle') }}</a>
                            <div class="pull-right">
                                <a href="{{ path('app_consultation_show_opinion', {'consultationSlug': opinion.step.consultation.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinion.opinionType.slug, 'opinionSlug': opinion.slug}) }}" class="btn  btn-default">{{ 'source.update.cancel'|trans({}, 'CapcoAppBundle') }}</a>
                                <button type="submit" class="btn  btn-primary">{{ 'source.update.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.checkButton('.typeBtn');
        });
    </script>
{% endblock %}
