{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            {{ 'edit-the' | trans({}, 'CapcoAppBundle') }}
            {% if admin.subject.type == 'QUESTIONNAIRE' %}
                {{ 'global.questionnaire' | trans({}, 'CapcoAppBundle') | lower }}
            {% else %}
                {{ 'voting' | trans({}, 'CapcoAppBundle') | lower }}
            {% endif %}
            {{ admin.subject.title }}
        </a>
    </div>
{% endblock %}

{% block form %}
    {% include '@CapcoApp/redux_store.html.twig' %}
    {{ react_render_component('QuestionnaireAdminPageApp', {
        'props': {
            'questionnaireId': admin.subject.id | toGlobalId('Questionnaire'),
        },
        'rendering': 'client_side'
    }) }}
{% endblock %}
