{% set page_class = "home-page" %}
{% extends "@CapcoApp/base.html.twig" %}
{% set jumbotron_title = capco_site_parameter_value('homepage.jumbotron.title') %}
{% set jumbotron_body = capco_site_parameter_value('homepage.jumbotron.body') %}
{% set meta_description = capco_site_parameter_value('homepage.metadescription') %}

{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}

{% block metaTags %}
    {% set picto = capco_site_image_media('homepage.picto') %}
    {% set image %}{% if picto %}{{ media_public_url(picto, 'default_blockHeader') }}{% endif %}{% endset %}
    {% include '@CapcoApp/Default/meta.html.twig' with {
        'title':       jumbotron_title ?: siteName,
        'description': meta_description,
        'url':         url('app_homepage'),
        'image':       image,
        'noindex': true
    } only %}
{% endblock %}

{% block title %}
        {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <section>
        {{ react_render_component('AccessDeniedAuthApp') }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% set customCode = capco_site_parameter_value('homepage.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
