{% extends '@CapcoApp/Project/layout_with_widget.html.twig' %}

{% set currentStepSlug = currentStep.slug is defined ? currentStep.slug : currentStep %}
{% set showTrash = is_feature_enabled('project_trash') and app.request.get('_route') != "app_project_show_trashed" %}

{% block canonical_link %}{% endblock %}

{% block metaTags %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            {% include '@CapcoApp/Project/show_title.html.twig' %}
        </div>
    </section>

    {% if project.steps | length > 1 %}
        <section>
            {{ react_render_component('ProjectStepTabsApp', {
                'props': {
                    'projectId': project.id|toGlobalId('Project')
                },
            })}}
        </section>
    {% endif %}

    {% block navigation %}{% endblock %}

    <section class="section--alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" id="details">

                    {% block details %}{% endblock %}

                </div>
            </div>
        </div>
    </section>

    {% if showTrash %}
        <section class="hidden-print">
            {{ react_render_component('ProjectTrashButtonApp', {
                'props': {
                    'link': path('app_project_show_trashed', {'projectSlug': project.slug })
                },
            })}}
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/modal.js') }}"></script>
{% endblock %}
