{% extends '@CapcoApp/Project/layout_with_widget.html.twig' %}

{% set currentStepSlug = currentStep.slug is defined ? currentStep.slug : currentStep %}

{% block canonical_link %}{% endblock %}

{% block metaTags %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{#{% block reduxStore %}#}
    {#{% include '@CapcoApp/redux_store.html.twig' with {'project': project} %}#}
{#{% endblock %}#}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}
    {% set nb = 1 %}
    {% set now = date("now") %}

    <div class="container container--custom">
        {% include '@CapcoApp/Project/show_title.html.twig' %}
    </div>

    <section>
        <div class="block">
            {{ render(controller('CapcoAppBundle:Site/Project:stepTabs', {'projectSlug': project.slug, 'currentStepSlug': currentStepSlug })) }}
            {#{{ react_render_component('ProjectStepTabsApp', {
                'props': {
                    'projectSteps': projectSteps
                },
            })}}#}
        </div>
    </section>

    <div class="container container--custom" style="padding-top: 0">

        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3  block--mobile">
                {{ render(controller('CapcoAppBundle:Site/Project:showMeta', {'projectSlug': project.slug, 'currentStepSlug': currentStepSlug })) }}
            </div>

            <div class="col-xs-12  col-sm-8  col-md-9" id="details">

                {% block details %}{% endblock %}

            </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('.more').readmore({
            collapsedHeight: 88,
            moreLink: '<a class="text-center" href="#">{{ 'project.show.meta.read_more'|trans({}, 'CapcoAppBundle') }}</a>',
            lessLink: '<a class="text-center" href="#">{{ 'project.show.meta.read_less'|trans({}, 'CapcoAppBundle') }}</a>'
        });

//        const stepTabsBar = document.getElementById('step-tabs-list');
//        const navWidth = stepTabsBar.offsetWidth;
//        const totalTabs = stepTabsBar.getElementsByTagName('li');
//
//        for (let i = 0; i < totalTabs.length; i++) {
//            let tabsWidth = totalTabs[i].offsetWidth;
//            console.warn(tabsWidth)
//        }
//
//        console.log(totalTabsWidth);
    </script>
{% endblock %}
