{% extends '@CapcoApp/Project/layout_with_widget.html.twig' %}

{#
   We only want to display the project header when we are in in a step that is either not a consultation, or if it is
   the case, we only want to display the header when we are consulting the list of consultations (if it has many)
   or if the step has just one consultation
#}

{% set isConsultationType = currentStep is defined and currentStep.type  is defined  and currentStep.type  != 'consultation' %}
{% set isConsultationRoute= app.request.get('_route') == 'app_project_show_consultations' %}
{% set getConsultations = currentStep is defined and currentStep.type is defined and currentStep.type  == 'consultation' and currentStep.consultations.count <= 1 %}
{% set isConsultation = isConsultationType or isConsultationRoute or getConsultations %}
{% set shouldDisplayProjectHeader = currentStep is defined and currentStep.slug is defined and isConsultation %}

{% set stepsParticipation = ["app_project_show_consultation", "app_project_show_collect", "app_project_show_selection", "app_project_show_debate"] %}
{% set showTrash = is_feature_enabled('project_trash') and app.request.get('_route') in stepsParticipation %}

{% block canonical_link %}{% endblock %}

{% block metaTags %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}{% endblock %}
{% block body %}
    {% if shouldDisplayProjectHeader %}
        <section>
            <div class="container" style='padding: 0;'>
                {% include '@CapcoApp/Project/show_title.html.twig' %}
            </div>
        </section>
    {% endif %}


    {% block stepNavigation %}{% endblock %}

    <section class="section--alt" >
        <div class="container" style='padding-top: 48px' >
            <div class="row">
                <div class="col-xs-12" id="details">
                    
                    {% if is_feature_enabled('calendar') and currentStep is defined and currentStep.type is defined and currentStep.haveAtLeastOneEvent() %}
                        {{ react_render_component('StepEventsApp', { 'props': {'showAllUrl': path('app_project_show_events', {'projectSlug': project.slug}), 'stepId': currentStep|toStepGlobalId()} }) }}
                    {% endif %}

                    {% block details %}{% endblock %}

                </div>
            </div>
        </div>
    </section>

    {% if showTrash %}
        <section class="hidden-print">
            {{ react_render_component('ProjectTrashButtonApp', {
                'props': {
                    'link': path('app_project_show_trashed', {'projectSlug': project.slug })
                },
            }) }}
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/modal.js') }}"></script>
{% endblock %}
