<div class="col-xs-12  col-sm-6  col-md-4  col-lg-3">
    <div class="thumbnail  thumbnail--custom  block  block--bordered">
        {% set link = ( project | capco_first_step_link ) | default('') %}
        {%  if project.Cover %}
            <a href="{{ link }}" alt="{{ project.title }}" {% if project.video %}class="play"{% endif %}>
                {% thumbnail project.Cover, 'project' with {'title': project.Cover.name, 'alt': project.Cover.name, 'class': 'img-responsive'} %}
            </a>
        {% else %}
            <a href="{{ link }}" alt="{{ project.title }}" class="bg__wrapper{% if project.video %} play{% endif %}">
                <div class="bg--default bg--project">
                    {% if project.video is null %}
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px" height="110px" viewBox="-162.5 -162.5 226.5 226.5" enable-background="new -162.5 -162.5 226.5 226.5" xml:space="preserve" style="margin: 0 auto; display: block;">
                            <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-27.254-143.396h-91.487c-20.386,0-36.596,16.21-36.596,36.595v32.934c0,20.386,16.525,32.934,36.907,32.934h14.323v40.252l36.436-40.252h40.417c20.382,0,40.251-16.21,40.251-36.595v-29.275C13.001-127.187-6.865-143.396-27.254-143.396z"/>
                            <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-52.87-4.331c0,12.74,9.215,21.952,21.959,21.952h21.952L20.32,46.896V17.621h13.662c12.814,0,23.17-10.445,23.066-23.256l-0.137-16.84c0-12.736-9.208-22.111-21.952-22.111"/>
                        </svg>
                    {% endif %}
                </div>
            </a>
        {%  endif %}

        <div class="box">
            <div class="figcaption">
                {% if is_feature_enabled('themes') %}
                    {% if project.themes | length > 0 %}
                        <span class="excerpt">
                            {% for theme in project.themes %}
                                {% if (theme.canDisplay) %}
                                    <a class="excerpt" href="{{ path('app_theme_show', {'slug': theme.slug}) }}">
                                        {{ theme.title }}
                                    </a>
                                    {% if loop.last == false %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        </span>
                    {% endif %}
                {% endif %}
                <h2 class="h4"><a href="{{ link }}">{{ project.title }}</a></h2>
            </div>
            {% set currentStep = project.currentStep %}
            {% if currentStep %}
            <div class="thumbnail__status">
                <p>
                    {{ currentStep.title }} :
                    {% if currentStep.isOpen %}
                        <span class="label label-success">{{ 'step.status.open'|trans({}, 'CapcoAppBundle') }}</span>
                    {% endif %}
                    {% if currentStep.isClosed %}
                        <span class="label label-danger">{{ 'step.status.closed'|trans({}, 'CapcoAppBundle') }}</span>
                    {% endif %}
                    {% if currentStep.isFuture %}
                        <span class="label label-info">{{ 'step.status.future'|trans({}, 'CapcoAppBundle') }}</span>
                    {% endif %}
                </p>
                {% if currentStep.isOpen %}
                    {% set remainingDays = currentStep.remainingTime.days %}
                    <p class="excerpt"><i class="cap cap-calendar-1"></i>
                        {% transchoice remainingDays with {'%count%': remainingDays} from 'CapcoAppBundle' %}
                            project.show.remaining_days
                        {% endtranschoice %}
                    </p>
                {% endif %}
            </div>
            {% endif %}

            {% set contributorsCount = project.participantsCount %}
            {% set contributionsCount = project.contributionsCount %}
            {% set votesCount = project.votesCount %}
            {% if contributionsCount > 0 or contributorsCount > 0 or votesCount > 0 %}
                <div class="thumbnail__numbers">
                    {% if contributorsCount > 0 %}
                        <div class="thumbnail__number-block">
                            <p  class="thumbnail__number">{{ contributorsCount }}</p>
                            <p class="thumbnail__number__label  excerpt  small">
                                {% transchoice contributorsCount with {'%count%': contributorsCount} from 'CapcoAppBundle' %}
                                    project.show.contributors_nb
                                {% endtranschoice %}
                            </p>
                        </div>
                    {% endif %}
                    {% if contributionsCount > 0 %}
                        <div class="thumbnail__number-block">
                            <p  class="thumbnail__number">{{ contributionsCount }}</p>
                            <p class="thumbnail__number__label  excerpt  small">
                                {% transchoice contributionsCount with {'%count%': contributionsCount} from 'CapcoAppBundle' %}
                                    project.show.contributions_no_nb
                                {% endtranschoice %}
                            </p>
                        </div>
                    {% endif %}
                    {% if votesCount > 0 %}
                        <div class="thumbnail__number-block">
                            <p  class="thumbnail__number">{{ votesCount }}</p>
                            <p class="thumbnail__number__label  excerpt  small">
                                {% transchoice votesCount with {'%count%': votesCount} from 'CapcoAppBundle' %}
                                    project.show.votes_no_nb
                                {% endtranschoice %}
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
