{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_project') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('projects.jumbotron.title') %}
{% set meta_description = capco_site_parameter_value('projects.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('projects.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('projects.content.body') %}
{% set picto = capco_site_image_media('projects.picto') %}

{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (jumbotron_title ?: 'global.title'|trans({}, 'CapcoAppBundle')),
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'image':       image,
        'url':         url('app_project')
    } only %}
{% endblock %}

{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'global.participative.project'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'global.participative.project'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block reduxStore %}
    {% include '@CapcoApp/redux_store.html.twig' with {'projectReducerData' : params} %}
{% endblock %}

{% block body %}
    <section class="section--custom" {% if content_body is null %}style="display: none;"{% endif %}>
        <div class="container" {% if content_body is null %}style="display: none;"{% endif %}>
            {% if null != content_body %}
                {{ content_body|raw }}
            {% endif %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container">
            {{ react_render_component('ProjectListPageApp', {'props': {'limit': limit }}) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% set customCode = capco_site_parameter_value('projects.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
