{% macro contributions_popover(project) %}
    {% apply spaceless %}
        {% set totalProposalsCount = projectProposalsResolver.resolveSync(project).totalCount %}
        {% if is_feature_enabled('to_performance_test_counters') and app.request.query.get('performance_test') %}
            {% set counters = projectContributionResolver.getTotalContributionsCountsByTypes(project.id, ['opinion', 'opinionVersion', 'source', 'reply', 'argument']) %}
            {% set opinions = counters['opinion'] + totalProposalsCount %}
            {% set versions = counters['opinionVersion'] %}
            {% set arguments = counters['argument'] %}
            {% set sources = counters['source'] %}
            {% set replies = counters['reply'] %}
        {% else %}
            {% set opinions = project.totalOpinionsCount + totalProposalsCount %}
            {% set versions = project.totalVersionsCount %}
            {% set arguments = project.totalArgumentsCount %}
            {% set sources = project.totalSourcesCount %}
            {% set replies = project.totalRepliesCount %}
        {% endif %}
        {% if opinions > 0 %}
            {% set projectType = project.projectType is defined and project.projectType is not null
                ? project.projectType.title
                : null
            %}
            {{ 'proposal-count' | trans({'count': opinions}, 'CapcoAppBundle') }}
            <br/>
        {% endif %}

        {% if versions > 0 %}
            {{ 'amendment-count' | trans({'count': versions}, 'CapcoAppBundle') }}
            </br>
        {% endif %}
        {% if arguments > 0 %}
            {{ 'argument-count' | trans({'count': arguments}, 'CapcoAppBundle') }}
            </br>
        {% endif %}
        {% if sources > 0 %}
            {{ 'source-count' | trans({'count': sources}, 'CapcoAppBundle') }}
        {% endif %}
        {% if replies > 0 %}
            {{ 'answer-count' | trans({'count': replies}, 'CapcoAppBundle') }}
        {% endif %}
    {% endapply %}
{% endmacro %}

{% import _self as render %}

<div class="row">
    <div class="col-xs-12 col-sm-5 hidden-print">
        <div class="video">
            {% include '@CapcoApp/video.html.twig' with {'video': project.video, 'project': project } %}
        </div>
    </div>


    <div class="col-xs-12 col-sm-7">
        <h1 class="project__header__title  h1">{{ project.title }}</h1>
        {% if project.firstAuthor is not null %}
            <div class="project__header__media" style="align-items: center">
                <div>
                    {{ react_render_component('ProjectHeaderAuthorsApp', {
                        'props': {
                            'projectId': project.id|toGlobalId('Project')
                        },
                    })}}
                </div>
                {% if is_feature_enabled('themes') and project.themes | length > 0 %}
                    {% spaceless %}
                    <div>
                        <i class="cap-folder-2 mr-10"></i>
                        {% for theme in project.themes %}
                        <a class="main td-n" href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}">{{ theme.translate.title }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    {% endspaceless %}
                {% endif %} 
                <div>
                    {% if project.projectDistrictPositioners | length > 0 %}
                        {{ react_render_component('ProjectHeaderDistrictsApp', {
                            'props': {
                                'projectId': project.id|toGlobalId('Project'),
                            }
                        })}}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if project.visibility == 3 %}
            <div class="mt-5">
                {{ react_render_component('ProjectRestrictedAccessApp', {
                    'props': {
                        'projectId': project.id|toGlobalId('Project'),
                    },
                })
            }}
            <div>
        {% endif %}

        {% set votesCount = projectVotesResolver.countProjectVotes(project) %}
        {% set contributionsCount = projectContributionResolver.__invoke(project).totalCount %}
        {% set contributorsConnection = projectContributorsResolver.__invoke(project) %}
        {% set contributorsCount = contributorsConnection.totalCount + contributorsConnection.anonymousCount %}
        {% set tradKeyContributionsCount =  'project.preview.counters.contributions' %}
        {% if currentStep.proposalForm is defined and currentStep.proposalForm.objectType == 'establishment' %}
            {% set tradKeyContributionsCount = 'proposal.establishment.count' %}
        {% endif %}

        {% if project.hasParticipativeStep %}
            <ul class="nav nav-pills counters-nav counters-nav--project hidden-print">
                {% if project.isContributionsCounterDisplayable %}
                    <li id="contributions-counter-pill" data-toggle="tooltip" data-placement="top" data-html="true" data-title="{{ render.contributions_popover(project) }}">
                        <i class="cap cap-file-edit-1"></i>
                        <span class="value">{{ contributionsCount }}</span>
                        <span class="excerpt category">
                            {{ tradKeyContributionsCount| trans({'num': contributionsCount}, 'CapcoAppBundle') }}
                        </span>
                    </li>
                {% endif %}
                {% if votesCount > 0 and project.isVotesCounterDisplayable %}
                    <li id="votes-counter-pill">
                        <i class="cap cap-hand-like-2-1"></i>
                        <span class="value">{{ votesCount }}</span>
                        <span class="excerpt category">
                            {{project_type_meta_label(currentStep, 'votes_count', votesCount)}}
                        </span>
                    </li>
                {% endif %}
                {% if project.isParticipantsCounterDisplayable %}
                    <li id="contributors-counter-pill">
                        {# Restore link when fixed {{ path('app_project_show_contributors', {'projectSlug': project.slug}) }} #}
                        <i class="cap cap-contacts-1"></i>
                        <span class="value">{{ contributorsCount }}</span>
                        <span class="excerpt category">
                            {{ 'project.preview.counters.contributors' | trans({'num': contributorsCount}, 'CapcoAppBundle') }}
                        </span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}


        <div class="share-button-wrapper hidden-print">

            {{ react_render_component('ShareButtonDropdownApp', {
                'props': {
                    'url': project | capco_first_step_link(true),
                    'title': project.title,
                    'id': 'project-' ~ project.slug,
                }
            })
            }}

        </div>
    </div>
</div>
