{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_events', {'projectSlug': project.slug}) }}{% endblock %}

{% block metaTags %}
    {% set projectCover %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':  project.title~' - '~('project.show.events.title'|trans({}, 'CapcoAppBundle')),
        'url':    url('app_project_show_events', {'projectSlug': project.slug}),
        'type':   'project',
        'image':  projectCover,
        'author': is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.Author.slug}) : null
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'project.show.events.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block details %}
    <div class="block">
        <h2 class="h2">{{ 'project.show.events.title' | trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ nbEvents }}</span></h2>
        {% for year, months in years %}
            {% for month, events in months %}
                {% set date = (year ~ '-' ~ month ~ '-01') %}
                <h3>{{ date | localizeddate('none', 'none', app.request.locale, null, "MMMM Y") | capitalize }}</h3>
                <div class="row">
                    {% for event in events %}
                        {% include '@CapcoApp/Event/blockEvent.html.twig' with {'event': event, 'col_classes': 'col-md-6  col-sm-12'} only %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.event-js');
        });
        $(window).on('resize', function() {
            App.resized('.event-js');
        });
    </script>
{% endblock %}
