{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_contributors', {'projectSlug': project.slug}) }}{% endblock %}

{% block metaTags %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% set title = ('project.show.contributors.title' | trans({}, 'CapcoAppBundle')) ~ ' ' ~ 'of.project' | trans({}, 'CapcoAppBundle') ~ ' ' ~ project.title %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       title,
        'type':        'project',
        'image':       image,
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.firstAuthor.slug}) : null,
        'description': project.metaDescription|striptags ?: '',
        'url':         url('app_project_show_contributors', {'projectSlug': project.slug}),
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'project.show.contributors.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block details %}
    {% set contributorsConnection = projectContributorsResolver.__invoke(project) %}
    {% set contributorsCount = contributorsConnection.totalCount + contributorsConnection.anonymousCount %}
    <div class="block">
        <h2 class="h2">{{ 'project.show.contributors.title' | trans({}, 'CapcoAppBundle') }}
            <span class="small excerpt">
                {{ contributorsCount }}
                {% set anonymousCount = contributorsConnection.anonymousCount %}
                {% if anonymousCount > 0 %}
                    {% transchoice anonymousCount with {'%count%': contributorsConnection.anonymousCount} from 'CapcoAppBundle' %}
                        project.show.contributors.anonymous
                    {% endtranschoice %}
                {% endif %}
            </span>
            {% if is_feature_enabled('share_buttons') %}
                <a class="btn btn-primary pull-right" href="mailto:?body={{ project | capco_first_step_link(true) |escape('url') }}" title="{{ 'share_button.share_on.email' | trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-user-add-2"></i>
                    {{ 'project.share_button' | trans({}, 'CapcoAppBundle') }}
                </a>
            {% endif %}
        </h2>
        <div class="row">
            {% set offset = pagination*page - pagination %}
            {% set limit = contributors|length <= pagination*page ? contributors|length : pagination %}
            {% for contributor in contributors|slice(offset, limit) %}
                {% include 'CapcoAppBundle:Default:user_thumbnail.html.twig' with {
                    'user': contributor.user,
                    'contributions': contributor.contributions,
                    'votes': contributor.votes,
                    'col': 4,
                    'showVotes': showVotes
                } only %}
            {% endfor %}
        </div>
    </div>

    {% set route, params = 'app_project_show_contributors', {'projectSlug': project.slug} %}
    {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}

{% endblock %}
