{% extends '@CapcoApp/Project/project_base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_user_votes', {'projectSlug': project.slug}, true) }}{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}

    <div id="render-proposals-user-votes-page"
         data-themes='{{ themes|escape }}'
         data-districts='{{ districts|escape }}'
         data-votable-steps='{{ votableSteps|escape }}'
         data-project-id='{{ project.id|escape }}'
    ></div>

{% endblock %}
