{{ react_render_component('ProjectStepTabsApp', { 'props': props }) }}

{#{{ dump(projectSteps) }}#}

{#<div class="step-tabs">#}
    {#<div class="step-tabs__bar container">#}
        {#<div class="step-tabs__tab-prev">#}
            {#<span>#}
                {#<i class="cap-arrow-65"></i>#}
            {#</span>#}
        {#</div>#}
        {#<div class="step-tabs__tab-next">#}
            {#<span>#}
                {#<i class="cap-arrow-66"></i>#}
            {#</span>#}
        {#</div>#}
        {#<ul class="nav step-tabs__list">#}
            {#{% set nb = 1 %}#}
            {#{% set now = date("now") %}#}
            {#{% for step in projectSteps %}#}
                {#<li {% if currentStep == step.slug %} class="active" {% endif %}>#}
                    {#<a href="{{ step | capco_step_link }}" class="d-flex">#}
                        {#<div class="navbar__step-nb"><span>{{ nb }}</span></div>#}
                        {#<div class="navbar__step">#}
                            {#<span class="navbar__step-title">{{ step.title}}</span>#}
                            {#<p class="excerpt">#}
                                {#{{ ('step.status.' ~ step | capco_step_status) | trans({}, 'CapcoAppBundle') }}#}
                            {#</p>#}
                        {#</div>#}
                    {#</a>#}
                    {#<svg height="80" width="21" xmlns="http://www.w3.org/2000/svg">#}
                        {#<defs>#}
                            {#<filter id="f1" x="0" y="0" width="200%" height="200%">#}
                                {#<feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />#}
                                {#<feColorMatrix result = "matrixOut" in = "offOut" type = "matrix" values = "0.60 0 0 0 0 0 0.60 0 0 0 0 0 0.60 0 0 0 0 0 1 0 "/>#}
                                {#<feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="1" />#}
                                {#<feBlend in="SourceGraphic" in2="blurOut" mode="normal" />#}
                            {#</filter>#}
                        {#</defs>#}
                        {#<polygon points="0,0, 0,80,20 40" filter="url(#f1)" />#}
                    {#</svg>#}
                {#</li>#}
                {#{% set nb = (nb + 1) %}#}
            {#{% endfor %}#}
        {#</ul>#}
    {#</div>#}
{#</div>#}
