{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_posts', {'projectSlug': project.slug}) }}{% endblock %}

{% block metaTags %}
    {% set projectCover %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':  project.title~' - '~('menu.news' | trans({}, 'CapcoAppBundle')),
        'url':    url('app_project_show_posts', {'projectSlug': project.slug}),
        'type':   'project',
        'image':  projectCover,
        'author': is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.firstAuthor.slug}) : null
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'menu.news' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block details %}
    <div class="block">
        <h2 class="h2">{{ 'menu.news' | trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ posts | length }}</span></h2>
        <ul class="media-list">
            {% for post in posts %}
                {% include '@CapcoApp/Blog/blockPost.html.twig' with {'post': post} only %}
            {% endfor %}
        </ul>
    </div>

    {% set route, params = 'app_project_show_posts', {'projectSlug': project.slug} %}
    {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}
{% endblock %}
