{% macro contributions_popover(project) %}{% spaceless %}
    {% set totalProposalsCount = projectProposalsResolver.resolveSync(project).totalCount %}
    {% set opinions = project.totalOpinionsCount + totalProposalsCount %}
    {% if opinions > 0 %}
        {% set opinionLabel = project.opinionTerm == 0 ? 'project.show.meta.opinionsCount' : 'project.show.meta.articlesCount' %}
        {{ opinionLabel | transchoice(opinions, {}, 'CapcoAppBundle') }}
        </br>
    {% endif %}
    {% set versions = project.totalVersionsCount %}
    {% if versions > 0 %}
        {% transchoice versions with {'%count%': versions} from 'CapcoAppBundle'  %}
            project.show.meta.versionsCount
        {% endtranschoice %}
        </br>
    {% endif %}
    {% set arguments = project.totalArgumentsCount %}
    {% if arguments > 0 %}
        {% transchoice arguments with {'%count%': arguments} from 'CapcoAppBundle'  %}
            project.show.meta.argumentsCount
        {% endtranschoice %}
        </br>
    {% endif %}
    {% set sources = project.totalSourcesCount %}
    {% if sources > 0 %}
        {% transchoice sources with {'%count%': sources} from 'CapcoAppBundle'  %}
            project.show.meta.sourcesCount
        {% endtranschoice %}
    {% endif %}
    {% set replies = project.totalRepliesCount %}
    {% if replies > 0 %}
        {% transchoice replies with {'%count%': replies} from 'CapcoAppBundle'  %}
        project.show.meta.repliesCount
        {% endtranschoice %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% import _self as render %}

<div class="row">
    <div class="col-xs-12 col-sm-5 hidden-print">
        {% if project.video is not null %}
            <a href="{{ project.video }}" class="play fancybox" data-type="iframe">
        {% endif %}
        {% if project.Cover %}
            {% thumbnail project.Cover, 'blockHeader' with {'title': project.title, 'alt': '', 'class': 'img-responsive'} %}
        {% else %}
            <div class="bg__wrapper">
                <div class="bg--default bg--project">
                    {% if project.video is null %}
                        <svg version="1.1" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px" height="110px" viewBox="-162.5 -162.5 226.5 226.5" enable-background="new -162.5 -162.5 226.5 226.5" xml:space="preserve" style="margin: 0 auto; display: block;">
                            <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-27.254-143.396h-91.487c-20.386,0-36.596,16.21-36.596,36.595v32.934c0,20.386,16.525,32.934,36.907,32.934h14.323v40.252l36.436-40.252h40.417c20.382,0,40.251-16.21,40.251-36.595v-29.275C13.001-127.187-6.865-143.396-27.254-143.396z"/>
                            <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-52.87-4.331c0,12.74,9.215,21.952,21.959,21.952h21.952L20.32,46.896V17.621h13.662c12.814,0,23.17-10.445,23.066-23.256l-0.137-16.84c0-12.736-9.208-22.111-21.952-22.111"/>
                        </svg>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if project.video is not null %}
            </a>
        {% endif %}
    </div>


    <div class="col-xs-12 col-sm-7">
        <h1 class="project__header__title  h1">{{ project.title }}</h1>
        {% if project.authors[0].user is not null %}
            <div class="media d-flex project__header__media" style="align-items: center">
                <div>
                    <span class="media--aligned">
                        {{ react_render_component('ProjectHeaderAuthorsApp', {
                            'props': {
                                'projectId': project.id|toGlobalId('Project')
                            },
                        })}}
                        {% spaceless %}
                        {% if is_feature_enabled('themes') and project.themes | length > 0 %}
                            {{ 'project.show.in_theme' | trans({}, 'CapcoAppBundle') }}
                            {% for theme in project.themes %}
                                <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{ theme.title }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% endif %} 
                        {% if project.districts | length > 0 %}
                            <span>· </span>  
                            {{ react_render_component('ProjectHeaderDistrictsApp', {
                                'props': {
                                    'projectId': project.id|toGlobalId('Project'),
                                }
                            })}}
                        {% endif %}
                        {% endspaceless %}
                    </span>
                </div>
            </div>
        {% endif %}
        {% if project.visibility == 3 %}
            {{ react_render_component('ProjectRestrictedAccessApp', {
                'props': {
                    'projectId': project.id|toGlobalId('Project'),
                },
            })
            }}
        {% endif %}

        {% set votesCount = projectVotesResolver.countProjectVotes(project) %}
        {% set contributionsCount = projectContributionResolver.__invoke(project) %}
        {% set contributorsConnection = projectContributorsResolver.__invoke(project) %}
        {% set contributorsCount = contributorsConnection.totalCount + contributorsConnection.anonymousCount %}

        {% if project.hasParticipativeStep %}
            <ul class="nav nav-pills counters-nav counters-nav--project hidden-print">
                {% if project.isContributionsCounterDisplayable %}
                    <li id="contributions-counter-pill" data-toggle="tooltip" data-placement="top" data-html="true" data-title="{{ render.contributions_popover(project) }}">
                        <i class="cap cap-file-edit-1"></i>
                        <span class="value">{{ contributionsCount }}</span>
                        <span class="excerpt category">
                        {% transchoice contributionsCount with {'%count%': contributionsCount} from 'CapcoAppBundle' %}
                            project.show.meta.total_count
                        {% endtranschoice %}
                        </span>
                    </li>
                {% endif %}
                {% if votesCount > 0 and project.isVotesCounterDisplayable %}
                    <li id="votes-counter-pill">
                        <i class="cap cap-hand-like-2-1"></i>
                        <span class="value">{{ votesCount }}</span>
                        <span class="excerpt category">
                        {% transchoice votesCount from 'CapcoAppBundle' %}
                            project.show.meta.votes_count
                            {% endtranschoice %}
                    </span>
                    </li>
                {% endif %}
                {% if project.isParticipantsCounterDisplayable %}
                    <li id="contributors-counter-pill">
                        {# Restore link when fixed {{ path('app_project_show_contributors', {'projectSlug': project.slug}) }} #}
                        <i class="cap cap-contacts-1"></i>
                        <span class="value">{{ contributorsCount }}</span>
                        <span class="excerpt category">
                        {% transchoice contributorsCount with {'%count%': contributorsCount} from 'CapcoAppBundle' %}
                            project.show.meta.contributors_count
                        {% endtranschoice %}
                        </span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}


        <div class="share-button-wrapper hidden-print">

            {{ react_render_component('ShareButtonDropdownApp', {
                'props': {
                    'url': project | capco_first_step_link(true),
                    'title': project.title,
                    'id': 'project-' ~ project.slug,
                }
            })
            }}

            {% if project.exportable and is_granted('ROLE_ADMIN') %}
                {% include 'CapcoAppBundle:Project:download_button.html.twig' with {'project': project} only %}
            {% endif %}
        </div>
    </div>
</div>
