<div class="col-xs-12  col-sm-4  col-md-3">
    <div class="block--bordered">
        <div class="media  box">
            {% if app.user.Media %}
                <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': app.user.slug}) }}">
                    {% thumbnail app.user.Media, 'avatar' with {'title': app.user.username, 'alt': app.user.username, 'class': 'media-object img-circle'} %}
                </a>
            {% endif %}
            <div class="media-body">
                <p class="media--aligned">{{ app.user.username }}</p>
            </div>
        </div>
        <ul class="settings__nav  nav nav-pills nav-stacked">
            <li role="presentation" class="{% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}active{% endif %} ">
                <a href="{{ path('fos_user_profile_edit') }}">{{ 'user.profile.edit.account' | trans({}, 'CapcoAppBundle') }}</a>
            </li>
            <li role="presentation" class="{% if app.request.attributes.get('_route') == 'fos_user_change_password' %}active{% endif %} "><a href="{{ path('fos_user_change_password') }}">{{ 'user.profile.edit.password' | trans({}, 'CapcoAppBundle') }}</a></li>
        </ul>
    </div>
</div>
