<li class="opinion  opinion--reply {% if classes is defined %}{{ classes }}{% endif %}" id="reply-{{ reply.id }}">
    <div class="opinion__body">
        {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': reply.author, 'link_classes': 'pull-left'} only %}
        <div class="opinion__data">
            <p class="opinion__user h5">
                {% if is_feature_enabled('profiles') %}
                    <a href="{{ path('capco_user_profile_show_all', {'slug': reply.author.slug}) }}">{{ reply.author.username }}</a>
                {% else %}
                    {{ reply.author.username }}
                {% endif %}
                {{ 'reply.has_replied' | trans({}, 'CapcoAppBundle') }}
                {% if reply.questionnaire.step %}
                    <a href="{{ path('app_project_show_questionnaire', {
                        'projectSlug': reply.questionnaire.step.project.slug,
                        'stepSlug': reply.questionnaire.step.slug
                    }) }}">
                        {{ reply.questionnaire.title }}
                    </a>
                {% else %}
                    <span>{{ reply.questionnaire.title }}</span>
                {% endif %}
            </p>
            <p class="excerpt  opinion__date">{{ reply.createdAt | localizeddate('long', 'short', app.request.locale) }}</p>
        </div>
    </div>
</li>
