<li class="opinion  opinion--vote {% if classes is defined %}{{ classes }}{% endif %}" id="vote-{{ vote.id }}">
    <div class="opinion__body">
        {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': vote.user, 'link_classes': 'pull-left'} only %}
        <div class="opinion__data">
            <p>
                {% if is_feature_enabled('profiles') %}
                    <a href="{{ path('capco_user_profile_show_all', {'slug': vote.user.slug}) }}">{{ vote.user.username }}</a>
                {% else %}
                    {{ vote.user.username }}
                {% endif %}

                {% if (vote.value is defined and vote.value == 1) or vote.comment is defined %}
                    {{ 'votes.is' | trans({}, 'CapcoAppBundle') }}
                    <span class="label label-success">{{ 'global.ok' | trans({}, 'CapcoAppBundle') }}</span>
                {% elseif vote.value is defined and vote.value == -1 %}
                    {{ 'votes.isNot' | trans({}, 'CapcoAppBundle') }}
                    <span class="label label-danger">{{ 'votes.value.disagree' | trans({}, 'CapcoAppBundle') }}</span>
                {% elseif vote.value is defined and vote.value == 0 %}
                    {{ 'votes.is' | trans({}, 'CapcoAppBundle') }}
                    <span class="label label-warning">{{ 'votes.value.mitigated' | trans({}, 'CapcoAppBundle') }}</span>
                {% else %}
                    {{ 'votes.has' | trans({}, 'CapcoAppBundle') }}
                    <span class="label label-success">{{ 'votes.value.voteFor' | trans({}, 'CapcoAppBundle') }}</span>
                {% endif %}

                {% if vote.comment is defined %}
                    {{ 'votes.type.commentary' | trans({}, 'CapcoAppBundle') }}
                {% elseif vote.value is defined %}
                    {{ 'votes.type.proposition' | trans({}, 'CapcoAppBundle') }}
                {% else %}
                    {{ 'votes.type.propositionVote' | trans({}, 'CapcoAppBundle') }}
                {% endif %}
                {% set voteDate = vote.updatedAt is defined and vote.updatedAt is not null ? vote.updatedAt : vote.createdAt %}
                <span class="excerpt  opinion__date">
                  {{ voteDate | localizeddate('long', 'short', app.request.locale) }}
                </span>
            </p>
            <p>
                <a href="{{ capco_vote_object_url(vote) }}">{{ capco_vote_object(vote) }}</a>
            </p>
        </div>
    </div>
</li>
