{% extends "CapcoUserBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - {{ "user.profile.notifications.title" | trans({}, 'CapcoAppBundle') }} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ "user.profile.edit.jumbotron" | trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        <div class="row">
            {% include '@CapcoUser/Profile/action.html.twig' %}
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>{{ "user.profile.notifications.title" | trans({}, 'CapcoAppBundle') }}</span>
                    </div>
                    <div class="panel-body">
                        {{ react_render_component() }}
                    </div>
                    <div class="panel-footer">

                        <button id="edit-account-profile-button" type="button"
                                class="col-sm-offset-4 btn btn-primary" disabled="">
                            <span>{{ "user.profile.notifications.submit" | trans({}, 'CapcoAppBundle') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
