{% set page_class = "profile-page" %}
{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('capco_user_profile_show_all', {'slug': user.slug}) }}{% endblock %}

{% block metaTags %}
    {# OpenGraph doesn't support svg as image so no default avatar :'( #}
    {% set userMedia %}{% if user.media %}{% path user.media, 'avatar' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       'user.profile.show.title'|trans({'%name%': user.username }, 'CapcoAppBundle'),
        'description':  user.biography,
        'url':          url('capco_user_profile_show_all', {'slug': user.slug}),
        'type':         'profile',
        'image':        userMedia,
        'noindex':      user.profilePageIndexed
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'user.profile.show.title'|trans({'%name%': user.username }, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block fos_user_content %}

    {% include '@CapcoUser/Profile/showProfile.html.twig' %}

    {% set projectsCount = userProjectsResolver.__invoke(user).totalCount %}
    {% if projectsCount > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.projects' | trans({}, 'CapcoAppBundle') }}</h2>
                <div class="row">
                    {% include '@CapcoUser/Profile/projects.html.twig' %}
                </div>
            </div>
        </section>
    {% endif %}

    {% set opinionsCount = userOpinionsResolver.getCountPublicPublished(user, true, app.user) %}
    {% if opinionsCount > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.opinions' | trans({}, 'CapcoAppBundle') }}</h2>
                {% include '@CapcoUser/Profile/opinions.html.twig' %}
            </div>
        </section>
    {% endif %}

    {% if versions|length > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.opinions_versions' | trans({}, 'CapcoAppBundle') }}</h2>
                {% include '@CapcoUser/Profile/opinionVersions.html.twig' %}
            </div>
        </section>
    {% endif %}

    {% if arguments|length > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.arguments' | trans({}, 'CapcoAppBundle') }}</h2>
                {{ react_render_component('ArgumentListApp', { 'props': { 'userId': user.id|toGlobalId('User'), 'isAuthenticated': is_granted('ROLE_USER') } }) }}
            </div>
        </section>
    {% endif %}

    {% if sources|length > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.sources' | trans({}, 'CapcoAppBundle') }}</h2>
                {% include '@CapcoUser/Profile/sources.html.twig' %}
            </div>
        </section>
    {% endif %}

    {% if proposalsCount > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.proposals' | trans({}, 'CapcoAppBundle') }}</h2>
                {{ react_render_component('UserProposalsApp', { 'props': { 'authorId': user.id|toGlobalId('User'), 'isAuthenticated': is_granted('ROLE_USER') } }) }}
            </div>
        </section>
    {% endif %}

    {% if (is_feature_enabled('calendar') or is_feature_enabled('blog')) and comments|length > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.comments' | trans({}, 'CapcoAppBundle') }}</h2>
                {% include '@CapcoUser/Profile/comments.html.twig' %}
            </div>
        </section>
    {% endif %}

    {% set repliesCount = userRepliesResolver.__invoke(app.user, user).totalCount %}
    {% if repliesCount > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.replies' | trans({}, 'CapcoAppBundle') }}</h2>
                {% include '@CapcoUser/Profile/replies.html.twig' %}
            </div>
        </section>
    {% endif %}

    {% if votes|length > 0 %}
        <section class="section--custom">
            <div class="container">
                <h2>{{ 'user.profile.show.votes' | trans({}, 'CapcoAppBundle') }}</h2>
                {{ react_render_component('VoteListApp', { 'props': { 'userId': user.id|toGlobalId('User'), 'isAuthenticated': is_granted('ROLE_USER') } }) }}
            </div>
        </section>
    {% endif %}

{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.pieChart();

        $(window).on('load', function () {
            App.equalheight('.media--macro');
        });

        $(window).on('resize', function () {
            App.resized('.media--macro');
        });

    </script>
{% endblock %}
