<section class="profile section--custom">
    <div class="container">
        <div class="row">
            <div class="profile__picture  box  col-xs-12 col-md-3 col-sm-4">
                {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': user, 'format': 'profile'} only %}
            </div>
            <div class="box  col-xs-12  col-sm-8 col-md-9">
                <h1 class="profile__name">{{ user.userName }}
                    {% if app.user == user %}
                        <a href="{{ path('capco_profile_edit') }}" class="btn btn-primary pull-right">{{ 'user.edition'| trans({}, 'CapcoAppBundle') }}</a>
                    {% endif %}
                </h1>
                <p>{{ user.biography }}</p>
                <ul class="excerpt  profile__infos">
                    <li><i class="cap cap-calendar-1"></i> {{ 'user.profile.show.since' | trans({}, 'CapcoAppBundle')}} {{ user.createdAt|localizeddate('short', 'none', app.request.locale)}}</li>
                    {% if user.website %}
                        <li><i class="cap cap-link-1"></i> <a class="external-link" href="{{ user.website }}">{{ user.website }}</a></li>
                    {% endif %}
                    {% if is_feature_enabled('user_type') and user.userType %}
                        <li><i class="cap cap-connection-2-1"></i> {{ user.userType }}</li>
                    {% endif %}
                    {% if user.city %}
                    	<li><i class="cap cap-marker-1"></i> {{ user.city }}</li>
                    {% endif %}
                    {% if user.getFacebookUrl %}
                        <li><i class="cap cap-facebook"></i> <a class="external-link" href="{{ user.getFacebookUrl }}">{{ 'user.profile.show.facebook' | trans({}, 'CapcoAppBundle')}}</a></li>
                    {% endif %}
                    {% if user.getTwitterUrl %}
                        <li><i class="cap cap-twitter"></i> <a class="external-link" href="{{ user.getTwitterUrl }}">{{ 'user.profile.show.twitter' | trans({}, 'CapcoAppBundle')}}</a></li>
                    {% endif %}
                    {% if user.getLinkedInUrl %}
                        <li><i class="cap cap-gplus"></i> <a class="external-link" href="{{ user.getLinkedInUrl }}">{{ 'user.profile.show.linkedin' | trans({}, 'CapcoAppBundle')}}</a></li>
                    {% endif %}
                </ul>
                {{
                    react_render_component('ShareButtonDropdownApp', {
                        'props': {
                            'url': url('capco_user_profile_show_all', {'slug': user.slug}),
                            'title': user.userName,
                            'id': 'user-' ~ user.userName,
                        }
                    })
                }}
            </div>
        </div>
    </div>

    <div class="profile__values">
        <div class="container">
            <ul class="nav  nav-pills">
                {% if user.getContributionsCount() > 0 %}
                <li class="profile__value {% if (app.request.attributes.get('_route') in ['capco_user_profile_show_all', 'capco_user_profile_show']) %}active{% endif %} ">
                    <a href="{{ path('capco_user_profile_show_all', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.all'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.getContributionsCount() }}</p>
                    </a>
                </li>
                {% endif %}

                {% if eventsCount is defined and eventsCount > 0 %}
                    <li class="profile__value {% if (app.request.attributes.get('_route') == 'capco_user_profile_show_events') %}active{% endif %} ">
                        <a href="{{ path('capco_user_profile_show_events', {'slug': user.slug}) }}">
                            <h2 class="h5 excerpt  profile__value__label">{{ 'admin.fields.section.eventsMetrics'|trans({}, 'CapcoAppBundle') }}</h2>
                            <p class="profile__value__number">{{ eventsCount }}</p>
                        </a>
                    </li>
                {% endif %}                

                {#dont use user.projectsCount because it's included private projects and we want to display public projects only#}
                {% if projectsCount > 0 %}
                <li class="profile__value {% if (app.request.attributes.get('_route') == 'capco_user_profile_show_projects') %}active{% endif %} ">
                    <a href="{{ path('capco_user_profile_show_projects', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.projects'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ projectsCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if user.opinionsCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_opinions' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_opinions', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.opinions'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.opinionsCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if user.opinionVersionsCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_opinions_versions' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_opinions_versions', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">
                            {{ 'user.profile.show.opinions_versions'|trans({}, 'CapcoAppBundle') }}
                        </h2>
                        <p class="profile__value__number">
                            {{ user.opinionVersionsCount }}
                        </p>
                    </a>
                </li>
                {% endif %}
                {% if user.argumentsCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_arguments' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_arguments', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.arguments'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.argumentsCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if user.sourcesCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_sources' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_sources', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.sources'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.sourcesCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if user.proposalsCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_proposals' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_proposals', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.proposals'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.proposalsCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if (is_feature_enabled('calendar') or is_feature_enabled('blog')) and user.commentsCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_comments' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_comments', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.comments'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.commentsCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if user.repliesCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_replies' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_replies', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.replies'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.repliesCount }}</p>
                    </a>
                </li>
                {% endif %}
                {% if user.votesCount > 0 %}
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_votes' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_votes', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.votes'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.votesCount }}</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</section>
