<div class="profile  block">
    <div class="container">
        <div class="row">
            {% if (user.Media) %}
            <div class="profile__picture  box  col-xs-12  col-sm-3">
            	{% thumbnail user.Media, 'profile' with {'title': user.username, 'alt': user.username, 'class': 'img-circle'} %}
            </div>
            {% endif %}
            <div class="box  col-xs-12  {% if (user.Media) %} col-sm-9 {% else %} col-sm-12 {% endif %}">
                <h3 class="h3  profile__name">{{ user.userName }}
                    {% if (app.user == user) %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary pull-right">Edition</a>
                    {% endif %}
                </h3>
                <p>{{ user.biography }}</p>
                <ul class="excerpt  profile__infos">
                	{% if user.city %}
                    	<li><i class="cap cap-marker-1"></i> {{ user.city }}</li>
                    {% endif %}
                    <li><i class="cap cap-calendar-1"></i> {{ 'user.profile.show.since' | trans({}, 'CapcoAppBundle')}} {{ user.createdAt|localizeddate('short', 'none', app.request.locale)}}</li>
                    {% if user.website %}
                    <li><i class="cap cap-link-2"></i> <a href="#">{{ user.website }}</a></li>
                	{% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% set totalCount = countOpinions + countArguments + countIdeas + countSources %}

    <div class="profile__values">
        <div class="container">
            <ul class="nav  nav-pills">
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_all' %}active{% endif %} ">
                    <a href="{{ path('capco_user_profile_show_all', {'username': user.username}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.propositions.all'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ totalCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_opinions' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_opinions', {'username': user.username}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.propositions.contributions.title'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countOpinions }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_arguments' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_arguments', {'username': user.username}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.propositions.arguments.title'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countArguments }}</p>
                    </a>
                </li>

                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_ideas' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_ideas', {'username': user.username}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.propositions.ideas.title'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countIdeas }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_sources' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_sources', {'username': user.username}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.propositions.sources.title'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countSources }}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
