<div class="profile  block">
    <div class="container">
        <div class="row">
            <div class="profile__picture  box  col-xs-12  col-sm-3">
                {% set avatar = user.Media|capco_default_avatar %}
                {% if avatar != null %}
            	    {% thumbnail avatar, 'profile' with {'title': user.username, 'alt': user.username, 'class': 'img-circle'} %}
                {% else %}
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><circle fill="{{ capco_site_color_value('color.section.bg')  }}" cx="100" cy="100" r="97.617"/><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
                {% endif %}
            </div>
            <div class="box  col-xs-12  col-sm-9">
                <h3 class="h3  profile__name">{{ user.userName }}
                    {% if (app.user == user) %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary pull-right">Edition</a>
                    {% endif %}
                </h3>
                <p>{{ user.biography }}</p>
                <ul class="excerpt  profile__infos">
                    <li><i class="cap cap-calendar-1"></i> {{ 'user.profile.show.since' | trans({}, 'CapcoAppBundle')}} {{ user.createdAt|localizeddate('short', 'none', app.request.locale)}}</li>
                    {% if user.website %}
                        <li><i class="cap cap-link-2"></i> <a href="{{ user.website }}">{{ user.website }}</a></li>
                    {% endif %}
                    {% if user.dateOfBirth %}
                        <li><i class="cap cap-calendar-1"></i> {{ user.dateOfBirth|localizeddate('medium', 'none', app.request.locale) }}</li>
                    {% endif %}
                    {% if user.city %}
                    	<li><i class="cap cap-marker-1"></i> {{ user.city }}</li>
                    {% endif %}
                    {% if user.facebookName %}
                        <li><i class="cap cap-facebook"></i> <a href="{{ user.facebookName }}">{{ user.facebookName }}</a></li>
                    {% endif %}
                    {% if user.twitterName %}
                        <li><i class="cap cap-twitter"></i> <a href="{{ user.twitterName }}">{{ user.twitterName }}</a></li>
                    {% endif %}
                    {% if user.gplusName %}
                        <li><i class="cap cap-gplus"></i> <a href="{{ user.gplusName }}">{{ user.gplusName }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% set totalCount = countOpinions + countArguments + countIdeas + countSources %}

    <div class="profile__values">
        <div class="container">
            <ul class="nav  nav-pills">
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_all' %}active{% endif %} ">
                    <a href="{{ path('capco_user_profile_show_all', {'slug': user.slug}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.all'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ totalCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_opinions' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_opinions', {'slug': user.slug}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.opinions'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countOpinions }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_arguments' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_arguments', {'slug': user.slug}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.arguments'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countArguments }}</p>
                    </a>
                </li>

                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_ideas' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_ideas', {'slug': user.slug}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.ideas'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countIdeas }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_sources' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_sources', {'slug': user.slug}) }}">
                        <h5 class="excerpt  profile__value__label">{{ 'user.profile.show.sources'|trans({}, 'CapcoAppBundle') }}</h5>
                        <p class="profile__value__number">{{ countSources }}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
