{% set page_class = "profile-page" %}
{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('capco_user_profile_show_all', {'slug': user.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'user.profile.show.title'|trans({'%name%': user.username }, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block fos_user_content %}

    {% include '@CapcoUser/Profile/showProfile.html.twig' %}

    <div class="container  container--custom">
        <h2>{{ 'user.profile.show.opinions' | trans({}, 'CapcoAppBundle') }}</h2>
        {% include '@CapcoUser/Profile/opinions.html.twig' %}
    </div>
    <div class="container  container--custom">
        <h2>{{ 'user.profile.show.arguments' | trans({}, 'CapcoAppBundle') }}</h2>
        {% include '@CapcoUser/Profile/arguments.html.twig' %}
    </div>
    <div class="container  container--custom">
        <h2>{{ 'user.profile.show.sources' | trans({}, 'CapcoAppBundle') }}</h2>
        {% include '@CapcoUser/Profile/sources.html.twig' %}
    </div>
    <div class="container  container--custom">
        <h2>{{ 'user.profile.show.ideas' | trans({}, 'CapcoAppBundle') }}</h2>
        {% include '@CapcoUser/Profile/ideas.html.twig' %}
    </div>
    <div class="container  container--custom">
        <h2>{{ 'user.profile.show.comments' | trans({}, 'CapcoAppBundle') }}</h2>
        {% include '@CapcoUser/Profile/comments.html.twig' %}
    </div>
    <div class="container  container--custom">
        <h2>{{ 'user.profile.show.votes' | trans({}, 'CapcoAppBundle') }}</h2>
        {% include '@CapcoUser/Profile/votes.html.twig' %}
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.module.pieChart();
        $(window).on('load', function() {
            App.module.equalheight('.media--macro');window.onresize = App.module.resized('.media--macro');
        });
    </script>
{% endblock %}
