<div class="profile">
    <div class="container  container--custom">
        <div class="row">
            <div class="profile__picture  box  col-xs-12  col-sm-3">
                {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': user, 'format': 'profile'} only %}
            </div>
            <div class="box  col-xs-12  col-sm-9">
                <h1 class="profile__name">{{ user.userName }}
                    {% if app.user == user %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary pull-right">{{ 'user.edition'| trans({}, 'CapcoAppBundle') }}</a>
                    {% endif %}
                </h1>
                <p>{{ user.biography }}</p>
                <ul class="excerpt  profile__infos">
                    <li><i class="cap cap-calendar-1"></i> {{ 'user.profile.show.since' | trans({}, 'CapcoAppBundle')}} {{ user.createdAt|localizeddate('short', 'none', app.request.locale)}}</li>
                    {% if user.website %}
                        <li><i class="cap cap-link-1"></i> <a href="{{ user.website }}">{{ user.website }}</a></li>
                    {% endif %}
                    {% if is_feature_enabled('user_type') and user.userType %}
                        <li><i class="cap cap-connection-2-1"></i> {{ user.userType }}</li>
                    {% endif %}
                    {% if user.city %}
                    	<li><i class="cap cap-marker-1"></i> {{ user.city }}</li>
                    {% endif %}
                    {% if user.facebookName %}
                        <li><i class="cap cap-facebook"></i> <a href="{{ user.facebookName }}">{{ user.facebookName }}</a></li>
                    {% endif %}
                    {% if user.twitterName %}
                        <li><i class="cap cap-twitter"></i> <a href="{{ user.twitterName }}">{{ user.twitterName }}</a></li>
                    {% endif %}
                    {% if user.gplusName %}
                        <li><i class="cap cap-gplus"></i> <a href="{{ user.gplusName }}">{{ user.gplusName }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% set totalCount = user.opinionsCount + user.argumentsCount + user.ideasCount + user.sourcesCount + user.commentsCount + user.votesCount %}

    <div class="profile__values">
        <div class="container">
            <ul class="nav  nav-pills">
                <li class="profile__value {% if (app.request.attributes.get('_route') in ['capco_user_profile_show_all', 'capco_user_profile_show']) %}active{% endif %} ">
                    <a href="{{ path('capco_user_profile_show_all', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.all'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ totalCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_opinions' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_opinions', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.opinions'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.opinionsCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_arguments' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_arguments', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.arguments'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.argumentsCount }}</p>
                    </a>
                </li>

                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_ideas' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_ideas', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.ideas'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.ideasCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_sources' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_sources', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.sources'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.sourcesCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_comments' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_comments', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.comments'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.commentsCount }}</p>
                    </a>
                </li>
                <li class="profile__value {% if app.request.attributes.get('_route') == 'capco_user_profile_show_votes' %}active{% endif %}">
                    <a href="{{ path('capco_user_profile_show_votes', {'slug': user.slug}) }}">
                        <h2 class="h5 excerpt  profile__value__label">{{ 'user.profile.show.votes'|trans({}, 'CapcoAppBundle') }}</h2>
                        <p class="profile__value__number">{{ user.votesCount }}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
