{% set page_class = "profile-page" %}
{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('capco_user_profile_show_votes', {'slug': user.slug}) }}{% endblock %}

{% block metaTags %}
    {# OpenGraph doesn't support svg as image so no default avatar :'( #}
    {% set userMedia %}{% if user.media %}{% path user.media, 'avatar' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       'user.profile.show.title'|trans({'%name%': user.username }, 'CapcoAppBundle')~' - '~'user.profile.show.propositions.votes.all'|trans({}, 'CapcoAppBundle'),
        'description': user.biography,
        'url':         url('capco_user_profile_show_votes', {'slug': user.slug}),
        'type':        'profile',
        'image':       userMedia
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'user.profile.show.title'|trans({'%name%': user.username }, 'CapcoAppBundle') }} - {{ 'user.profile.show.propositions.votes.all'|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block fos_user_content %}
    {% include '@CapcoUser/Profile/showProfile.html.twig' %}
    <section class="section--custom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12" id="details">
                    {{ react_render_component('VoteListApp', { 'props': { 'userId': user.id|toGlobalId('User'), 'isAuthenticated': is_granted('ROLE_USER') } }) }}
                </div>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}
