{% if sources|length > 0 %}
    {% for source in sources %}
        <div class="media block  block--bordered  box" id="source{{ source.id }}">
            {% set avatar = source.Author.Media|capco_default_avatar %}
            {% if avatar != null %}
                <a class="pull-left media-middle" href="{{ path('capco_user_profile_show_all', {'slug': source.Author.slug}) }}">
                    {% thumbnail avatar, 'avatar_source' with {'title': source.Author.username, 'alt': source.Author.username, 'class': 'img-circle  pull-left'} %}
                </a>
            {% else %}
                <a class="pull-left " href="{{ path('capco_user_profile_show_all', {'slug': source.Author.slug}) }}">
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><circle fill="{{ capco_site_color_value('color.section.bg')  }}" cx="100" cy="100" r="97.617"/><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
                </a>
            {% endif %}
            <div class="media-body">
                <h4 class="media-heading h4" id="source{{ source.id }}"><span class="label label-info">{{ source.Category.title }}</span>
                    {% if source.Media %}
                        <a href="{{ path('sonata_media_download', {'id': source.Media|sonata_urlsafeid }) }}">{{ source.title }}</a>
                    {% endif %}
                    {% if source.link %}
                        <a href="{{ source.link }}" target="_blank">{{ source.title }}</a>
                    {% endif %}
                </h4>
                <p class="excerpt">
                    <strong>{{ 'argument.trashed.linked_proposition' | trans({}, 'CapcoAppBundle') }} </strong><a href="{{ path('app_consultation_show_opinion', {'consultationSlug': source.Opinion.consultation.slug, 'opinionTypeSlug': source.Opinion.OpinionType.slug, 'opinionSlug': source.Opinion.slug}) }}">{{ source.Opinion.title }}</a><br/>
                    {% if source.isTrashed %}<span class="label label-default" style="position: static">{{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}</span> {% endif %} {{ source.body }}
                </p>
                <button disabled="disabled" class="btn  btn-default btn-xs"><i class="cap cap-hand-like-2"></i>Pertinent</button>
                <span class="nb-votes">{{ source.voteCountSource }}</span>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="consultation__empty-block  text-center">
        <p class="icon  cap-bubble-attention-6"></p>
        <p>{{ 'source.none'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
