<div class="block  block--bordered  profile__contribution">
	<div class="profile__contribution__header">
	    <p class="profile__contribution__title">
	    	<a href="{{ path('capco_user_profile_show_all', {'slug': user.slug}) }}">
	    		{{ user.username }}
	    	</a>
	    	{{ 'user.profile.show.propositions.votes.agree'|trans({'%startlabel%': '<span class="label label-success">', '%endlabel%': '</span>'}, 'CapcoAppBundle') | raw }}
	    	{{ 'user.profile.show.propositions.votes.on.idea'|trans({'%startlink%': '<a href="">', '%endlink%': '</a>'}, 'CapcoAppBundle') | raw }}.</p>
	    <p class="excerpt  h5  profile__contribution__date" style="margin-bottom: 0">{{ vote.createdAt|localizeddate('medium', 'none', app.request.locale) }}</p>
	</div>
</div>
