{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ '' }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ proposalTitle }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}

    <div id="render-proposal-page"
         data-proposal='{{ proposal|escape }}'
         data-form='{{ form|escape }}'
         data-themes='{{ themes|escape }}'
         data-districts='{{ districts|escape }}'
         data-votes='{{ votes|escape }}'
         data-votable-step='{{ votableStep|escape }}'
         data-user-has-vote='{{ userHasVote }}'
         data-credits-left='{{ remainingCredits|escape }}'
    ></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            App.makeSidebar({ // TODO -> go React
                sidebar: '#sidebar',
                container: '#sidebar-container',
                hideable: '.sidebar-hideable',
                toggle: '.sidebar-toggle',
                overlay: '#sidebar-overlay'
            });
            App.hideableMessageAndCheckbox({
                message: '.message-hideable-js',
                checkbox: '.checkbox-hideable-js',
            });
    </script>
{% endblock %}
