{% extends 'SonataAdminBundle:CRUD:delete.html.twig' %}

{% block content %}
    <div class="sonata-ba-delete">

        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">{{ 'title_delete'|trans({}, 'CapcoAppBundle') }}</h3>
            </div>
            <div class="box-body">
                {{ 'user.delete.confirmation'|trans({'%object%': admin.toString(object)}, 'CapcoAppBundle')|raw }}

                {% if object.opinions|length  > 0 or
                      object.sources|length   > 0 or object.comments|length > 0 or
                      object.arguments|length > 0 or object.votes|length > 0
                %}
                    <p>{{ 'user.delete.warning_message'|trans({}, 'CapcoAppBundle')|raw }}</p>
                {% endif %}

                {% if object.opinions|length > 0 %}
                    <h4>
                        {% transchoice object.opinions|length with {'%count%': object.opinions|length} from 'CapcoAppBundle' %}
                            user.delete.opinions
                        {% endtranschoice %}
                    </h4>
                    <ul>
                        {% for opinion in object.opinions %}
                            <li><a href="{{ path('admin_capco_app_opinion_edit', {id: opinion.id}) }}">{{ opinion.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if object.sources|length > 0 %}
                    <h4>
                        {% transchoice object.sources|length with {'%count%': object.sources|length} from 'CapcoAppBundle' %}
                            user.delete.sources
                        {% endtranschoice %}
                    </h4>
                    <ul>
                        {% for source in object.sources %}
                            <li><a href="{{ path('admin_capco_app_source_edit', {id: source.id}) }}">{{ source.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if object.comments|length > 0 %}
                    <h4>
                        {% transchoice object.comments|length with {'%count%': object.comments|length} from 'CapcoAppBundle' %}
                            user.delete.comments
                        {% endtranschoice %}
                    </h4>
                    {% for key, comment in object.comments %}
                        <a href="{{ path('admin_capco_app_comment_edit', {id: comment.id}) }}">#{{ key + 1 }}</a>
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}

                {% if object.arguments|length > 0 %}
                    <h4>
                        {% transchoice object.arguments|length with {'%count%': object.arguments|length} from 'CapcoAppBundle' %}
                            user.delete.arguments
                        {% endtranschoice %}
                    </h4>
                    {% for key, argument in object.arguments %}
                        <a href="{{ path('admin_capco_app_argument_edit', {id: argument.id}) }}">#{{ key + 1 }}</a>
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}

                {% if object.votes|length > 0 %}
                    <h4>
                        {% transchoice object.votes|length with {'%count%': object.votes|length} from 'CapcoAppBundle' %}
                            user.delete.votes
                        {% endtranschoice %}
                    </h4>
                {% endif %}

            </div>
            <div class="box-footer clearfix">
                <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">

                    <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'btn_delete'|trans({}, 'CapcoAppBundle') }}</button>
                    {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                        {{ 'delete_or'|trans({}, 'CapcoAppBundle') }}

                        <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'link_action_edit'|trans({}, 'CapcoAppBundle') }}</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
