{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}


{% block list_filters %}{% endblock %}
{% block list_filters_actions %}{% endblock %}
{% block tab_menu %}{% endblock %}
{% block actions %}{% endblock %}

{% set label = 'admin.label.pages.contact' %}

{% block title %}
    - {{ label|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            {%- set breadcrumb = breadcrumbs_builder.breadcrumbs(admin, action) -%}
            {% if breadcrumb|length > 0 %}
                {%- set dashboard = breadcrumb[0] -%}
                {%- set translation_domain = dashboard.extra('translation_domain', 'messages') -%}
                <li>
                    <a href="{{ dashboard.uri }}">
                        {{ dashboard.label|trans(dashboard.extra('translation_params', {}), translation_domain) }}
                    </a>
                </li>
            {% endif %}

            <li class="active"><span>{{ label|trans({}, 'CapcoAppBundle') }}</span></li>
        </ol>
    </div>
{% endblock %}

{% block form %}
    <div style="position: fixed; width: 60%; left: 30%; z-index: 1030; margin-top:10px;">
        {{ react_render_component('AlertBoxApp') }}
    </div>
    {% include '@CapcoApp/redux_store.html.twig' %}
    {{
    react_render_component('ContactAdminPageApp', {
        'rendering': 'client_side'
    })
    }}
{% endblock %}

{% block list_table %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
