{% extends 'CapcoAdminBundle::standard_layout.html.twig' %}

{% block content %}
    {% set label = 'admin.label.' ~ category %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h2>{{ label | trans({}, 'CapcoAppBundle') }}</h2>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped sonata-ba-list">
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.settings.header.name'|trans({}, 'CapcoAppBundle') }}
                            </th>
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.settings.header.enabled'|trans({}, 'CapcoAppBundle') }}
                            </th>
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.settings.header.value'|trans({}, 'CapcoAppBundle') }}
                            </th>
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.settings.header.action'|trans({}, 'CapcoAppBundle') }}
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for toggle, value in toggles %}
                        {% set key = 'capco.module.' ~ toggle %}
                        <tr>
                            <td>{{ key|trans({}, 'CapcoAppBundle') }}</td>
                            <td>
                                {% if value %}
                                    <span class="label label-success">{%- trans from 'CapcoAppBundle' %}label_type_yes{% endtrans -%}</span>
                                {% else %}
                                    <span class="label label-danger">{%- trans from 'CapcoAppBundle' %}label_type_no{% endtrans -%}</span>
                                {% endif %}
                            </td>
                            <td>N/A</td>
                            <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                                <div class="btn-group">
                                    {% if value %}
                                        <a href="{{ path('capco_admin_feature_switch', { toggle: toggle }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'disable'|trans({}, 'CapcoAppBundle') }}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            {{ 'action_disable'|trans({}, 'CapcoAppBundle') }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('capco_admin_feature_switch', { toggle: toggle }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'enable'|trans({}, 'CapcoAppBundle') }}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            {{ 'action_enable'|trans({}, 'CapcoAppBundle') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                        {% for parameter in parameters %}
                            <tr>
                                <td>{{ parameter.keyname | trans({}, 'CapcoAppBundle') }}</td>
                                <td>
                                    {% if parameter.isEnabled %}
                                        <span class="label label-success">{%- trans from 'CapcoAppBundle' %}label_type_yes{% endtrans -%}</span>
                                    {% else %}
                                        <span class="label label-danger">{%- trans from 'CapcoAppBundle' %}label_type_no{% endtrans -%}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if parameter.type == 8 %}
                                        {{ parameter.value == '0' ? 'global.disabled'|trans({}, 'CapcoAppBundle') : 'global.enabled'|trans({}, 'CapcoAppBundle') }}
                                    {% else %}
                                        {{ parameter.value  }}
                                    {% endif %}
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                                    <div class="btn-group">
                                        <a href="{{ path('admin_capco_app_siteparameter_edit', {'id': parameter.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'CapcoAppBundle') }}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            {{ 'action_edit'|trans({}, 'CapcoAppBundle') }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for color in colors %}
                            <tr>
                                <td>{{ color.keyname | trans({}, 'CapcoAppBundle') }}</td>
                                <td>
                                    {% if color.isEnabled %}
                                        <span class="label label-success">{%- trans from 'CapcoAppBundle' %}label_type_yes{% endtrans -%}</span>
                                    {% else %}
                                        <span class="label label-danger">{%- trans from 'CapcoAppBundle' %}label_type_no{% endtrans -%}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if color.value is not null %}
                                        <div style="text-align: center; background-color: {{ color.value }}; padding: 5px 0" >
                                            <strong>{{ color.value }}</strong>
                                        </div>
                                    {% else %}
                                        {{ 'admin.settings.color.undefined' | trans({}, 'CapcoAppBundle') }}
                                    {% endif %}
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                                    <div class="btn-group">
                                        <a href="{{ path('admin_capco_app_sitecolor_edit', {'id': color.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'CapcoAppBundle') }}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            {{ 'action_edit'|trans({}, 'CapcoAppBundle') }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for image in images %}
                            <tr>
                                <td>{{ image.keyname | trans({}, 'CapcoAppBundle') }}</td>
                                <td>
                                    {% if image.isEnabled %}
                                        <span class="label label-success">{%- trans from 'CapcoAppBundle' %}label_type_yes{% endtrans -%}</span>
                                    {% else %}
                                        <span class="label label-danger">{%- trans from 'CapcoAppBundle' %}label_type_no{% endtrans -%}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        {% if image is not null and image.media is not null %}
                                            {% thumbnail image.media, 'logo' with {'title': image.media.name, 'alt': image.media.name} %}
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                                    <div class="btn-group">
                                        <a href="{{ path('admin_capco_app_siteimage_edit', {'id': image.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'CapcoAppBundle') }}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            {{ 'action_edit'|trans({}, 'CapcoAppBundle') }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
