{% extends 'CapcoAdminBundle::standard_layout.html.twig' %}

{% set label = 'admin.label.pages.registration' %}

{% block title %}
    - {{ label|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            {%- set breadcrumb = breadcrumbs_builder.breadcrumbs(admin, action) -%}
            {% if breadcrumb|length > 0 %}
                {%- set dashboard = breadcrumb[0] -%}
                {%- set translation_domain = dashboard.extra('translation_domain', 'messages') -%}
                <li>
                    <a href="{{ dashboard.uri }}">
                        {{ dashboard.label|trans(dashboard.extra('translation_params', {}), translation_domain) }}
                    </a>
                </li>
            {% endif %}

            <li class="active"><span>{{ label|trans({}, 'CapcoAppBundle') }}</span></li>
        </ol>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
setTimeout(function() {
  jQuery("input[type='checkbox']").iCheck('destroy');
}, 200)
</script>
{% endblock %}

{% block form %}
    {% include '@CapcoApp/redux_store.html.twig' %}
    <div class="box-header">
        <h3 class="box-title">
            <span>{{ 'global.registration' | trans({}, 'CapcoAppBundle') }}</span>
        </h3>
    </div>
            {{
              react_render_component(
                'RegistrationAdminApp',
                {
                  'props': {},
                  'rendering': 'client_side'
                }
              )
            }}
{% endblock %}
