<div class="col-lg-3  col-md-4  col-sm-6  col-xs-12">
    <div class="theme  block  block--bordered">

        {%  if theme.media %}
            <a href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}" alt="{{ theme.translate.title }}">
                {% thumbnail theme.media, 'theme' with {'title': theme.media.name, 'alt': theme.media.name, 'class': 'img-responsive'} %}
            </a>
        {% else %}
            <a class="bg__wrapper" href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}" alt="{{ theme.translate.title }}">
                <div class="bg--default bg--theme">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px" height="110px" viewBox="0 0 512 512" enable-background="new -162.5 -162.5 226.5 226.5" xml:space="preserve" style="margin: 0 auto; display: block;"><g>
                        <polygon fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linejoin="round" stroke-miterlimit="10" points="510,322.58 322.58,510 2,185.931 2,2 185.931,2 	"/>
                        <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linejoin="round" stroke-miterlimit="10" d="M156.61,112.433 c0,24.393-19.785,44.178-44.178,44.178c-24.386,0-44.17-19.785-44.17-44.178c0-24.403,19.784-44.17,44.17-44.17 C136.826,68.263,156.61,88.029,156.61,112.433z"/>
                    </g></svg>
                </div>
            </a>
        {%  endif %}

        <div class="box">
            <h2 class="theme__title  h3"><a href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}">{{ theme.translate.title }}</a></h2>
            {% set nbProjects = theme.countEnabledProjects() %}
            {% set nbPosts = theme.countEnabledPosts() %}
            {% set nbEvents = theme.countEnabledEvents() %}
            <div class="excerpt theme__counters">
                <ul class="theme__counters__list">
                {% if nbProjects > 0 %}
                    <li class="theme__counters__list--counter">
                        {% transchoice nbProjects with {'%count%': nbProjects} from 'CapcoAppBundle' %}
                            theme.index.projects
                        {% endtranschoice %}
                    </li>
                {% endif %}
                {% if nbPosts > 0 %}
                    <li class="theme__counters__list--counter">
                        {% transchoice nbPosts with {'%count%': nbPosts} from 'CapcoAppBundle' %}
                            theme.index.posts
                        {% endtranschoice %}
                    </li>
                {% endif %}
                {% if nbEvents > 0 %}
                    <li class="theme__counters__list--counter">
                        {% transchoice nbEvents with {'%count%': nbEvents} from 'CapcoAppBundle' %}
                            theme.index.events
                        {% endtranschoice %}
                    </li>
                {% endif %}
                </ul>
            </div>
            {% if theme.status is not null %}
                <p>
                    {% if theme.isOpened %}
                        <span class="label label-success">{{ 'theme.show.status.opened'|trans({}, 'CapcoAppBundle') }}</span>
                    {% elseif theme.isClosed %}
                        <span class="label label-danger">{{ 'theme.show.status.closed'|trans({}, 'CapcoAppBundle') }}</span>
                    {% elseif theme.isFuture %}
                        <span class="label label-info">{{ 'theme.show.status.future'|trans({}, 'CapcoAppBundle') }}</span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
