{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_theme') }}{% endblock %}

{% set title = capco_site_parameter_value('proposal_form.title') %}
{% set meta_description = capco_site_parameter_value('themes.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('themes.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('themes.content.body') %}
{% set picto = capco_site_image_media('themes.picto') %}


{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (title ?: 'global.title'|trans({}, 'CapcoAppBundle')),
        'image':       image,
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'url':         url('app_theme')
        } only %}
{% endblock %}

{% block title %}
    {% if null != title %}
        {{ parent() }} - {{ title }}
    {% else %}
        {{ parent() }} - {{ 'theme.index.titles'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != title %}
                <h1>{{ title }}</h1>
            {% else %}
                <h1>{{ 'theme.index.titles'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}

    <section class="section--custom{% if content_body is null %} hidden{% endif %}">
        <div class="container">
            {% if null != content_body %}
                {{ content_body|raw }}
            {% endif %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container">
            <div class="filter  block">
                <div class="row">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div role="form" class="col-xs-12  col-sm-3  col-md-3  col-lg-3">
                            {{ form_label(form.term, null, {'label_attr':{"class":"control-label sr-only"} }) }}
                            <div class="input-group  filter__search">
                                {{ form_errors(form.term) }}
                                {{ form_widget(form.term, {'attr':{"class":"form-control", "placeholder": 'global.menu.search'|trans({}, 'CapcoAppBundle') } }) }}
                                <span class="input-group-btn">
                                    <button type="submit" class="btn  btn-default"><i class="cap cap-magnifier"></i><span class="sr-only">{{ 'global.menu.search'|trans({}, 'CapcoAppBundle') }}</span></button>
                                </span>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>

            {% if themes|length > 0 %}
                <div class="row">
                    {% for theme in themes %}
                        {% include '@CapcoApp/Theme/blockTheme.html.twig' with {'theme': theme} only %}
                    {% endfor %}
                </div>
            {% else %}
                <p>{{ 'theme.index.none'|trans({}, 'CapcoAppBundle') }}</p>
            {% endif %}

            {% if form.vars.data.term is not null %}
                {% set route, params = 'app_theme_search', {'term': form.vars.data.term } %}
            {% else %}
                {% set route, params = 'app_theme', {} %}
            {% endif %}
            {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.theme');
        });

        $(window).on('resize', function() {
            App.resized('.theme');
        });
    </script>
    {% set customCode = capco_site_parameter_value('themes.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
