{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            <h1>{{ capco_site_parameter_value('themes.jumbotron.title')}}</h1>
            {% set jumbotron_body = capco_site_parameter_value('themes.jumbotron.body') %}
            {% if null != jumbotron_body %}
                <p>{{ jumbotron_body }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">

        {% set content_body = capco_site_parameter_value('themes.content.body') %}
        {% if null != content_body %}
            <p class="block">{{ content_body }}</p>
        {% endif %}

        <div class="filter  block">
            <div class="row">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div role="form" class="col-xs-12  col-sm-3  col-md-3  col-lg-3">
                        {{ form_label(form.term, null, {'label_attr':{"class":"control-label sr-only"} }) }}
                        <div class="input-group  filter__search">
                            {{ form_errors(form.term) }}
                            {{ form_widget(form.term, {'attr':{"class":"form-control", "placeholder": 'theme.index.search'|trans({}, 'CapcoAppBundle') } }) }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn  btn-default"><i class="cap cap-magnifier"></i></button>
                            </span>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>

        {% if themes|length > 0 %}
            <div class="row">
                {% for theme in themes %}
                    {% include '@CapcoApp/Theme/blockTheme.html.twig' %}
                {% endfor %}
            </div>
        {% else %}
            <p>{{ 'theme.index.none'|trans({}, 'CapcoAppBundle') }}</p>
        {% endif %}

        {% if nbPage > 1 %}
            <div class="pagination--custom  text-center">
                <ul class="pagination">
                    {% for p in range(1, nbPage) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            {% if form.vars.data.term is not null %}
                                <a href="{{ path('app_theme_search', {'page': p, 'term': form.vars.data.term }) }}">{{ p }}</a>
                            {% else %}
                                <a href="{{ path('app_theme', {'page': p}) }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>

{% endblock %}
