{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
	<div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
	    <div class="container">
	        <h1 class="h2  h--no-border">{{ theme.title }}</h1>
            <p>{{ theme.teaser }}</p>
	    </div>
	</div>
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h2">{{ 'theme.show.body_title'|trans({}, 'CapcoAppBundle') }}
            <span class="h5  excerpt  pull-right">{{ 'theme.show.status.title'|trans({}, 'CapcoAppBundle') }}
                {% if theme.status == statuses.opened %}
                    <span class="label label-success">{{ 'theme.show.status.opened'|trans({}, 'CapcoAppBundle') }}</span>
                {% elseif theme.status == statuses.closed %}
                    <span class="label label-danger">{{ 'theme.show.status.closed'|trans({}, 'CapcoAppBundle') }}</span>
                {% elseif theme.status == statuses.future %}
                    <span class="label label-info">{{ 'theme.show.status.future'|trans({}, 'CapcoAppBundle') }}</span>
                {% endif %}
            </span>
        </h2>
        <p>{{ theme.body }}</p>
    </div>

    {% if theme.Consultations|length > 0 %}
        {{ render_esi(controller('CapcoAppBundle:Theme:lastConsultations', {'theme': theme})) }}
    {% endif %}
    {% if theme.Ideas|length > 0 %}
        {{ render_esi(controller('CapcoAppBundle:Theme:lastIdeas', {'theme': theme})) }}
    {% endif %}

{% endblock %}
