{% extends '@CapcoApp/Theme/index.html.twig' %}

{% block canonical_link %}{{ url('app_theme_show', {'slug': theme.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ theme.title }}
{% endblock %}

{% block jumbotron %}
	<div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
	    <div class="container">
	        <h1 class="h2  h--no-border">{{ theme.title }}</h1>
            <p>{{ theme.teaser }}</p>
	    </div>
	</div>
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {% if theme.Media %}
            {% thumbnail theme.Media, 'idea' with {'class': 'block  img-responsive'} %}
        {% endif %}
        {% if theme.body %}
            <h2 class="h2">{{ 'theme.show.body_title'|trans({}, 'CapcoAppBundle') }}
            </h2>
            {{ theme.body|raw }}
        {% endif %}
        {% if theme.status != null %}
            <p class="theme__status">{{ 'theme.show.status.title'|trans({}, 'CapcoAppBundle') }}
                {% if theme.isOpened %}
                    <span class="label label-success">{{ 'theme.show.status.opened'|trans({}, 'CapcoAppBundle') }}</span>
                {% elseif theme.isClosed %}
                    <span class="label label-danger">{{ 'theme.show.status.closed'|trans({}, 'CapcoAppBundle') }}</span>
                {% elseif theme.isFuture %}
                    <span class="label label-info">{{ 'theme.show.status.future'|trans({}, 'CapcoAppBundle') }}</span>
                {% endif %}
            </p>
        {% endif %}
    </div>


    <div class="container  container--custom">
        <h2 class="h2">{{ 'theme.show.consultations.title'|trans({}, 'CapcoAppBundle') }}</h2>
        {% include 'CapcoAppBundle:Theme:lastConsultations.html.twig' with {'consultations': theme.Consultations} %}
    </div>

    <div class="container  container--custom">
        <h2 class="h2">{{ 'theme.show.ideas.title'|trans({}, 'CapcoAppBundle') }} <a class="pull-right  btn  btn-primary" href="{{ path('app_idea_create') }}">{{ 'idea.create.button'|trans({}, 'CapcoAppBundle') }}</a></h2>
        {%  include 'CapcoAppBundle:Theme:lastIdeas.html.twig' with {'ideas': theme.Ideas} %}
    </div>

    {%  include 'CapcoAppBundle:Theme:appendices.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.theme');window.onresize = App.module.resized('.theme');
            App.module.equalheight('.thumbnail--custom');window.onresize = App.module.resized('.thumbnail--custom');
            App.module.equalheight('.media--macro');window.onresize = App.module.resized('.media--macro');
        });
    </script>
{% endblock %}
