{% extends '@CapcoApp/Theme/index.html.twig' %}

{% block canonical_link %}{{ url('app_theme_show', {'slug': theme.translate.slug}) }}{% endblock %}

{% block metaTags %}
    {% set themeMedia %}{% if theme.media %}{% path theme.media, 'idea' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       theme.title,
        'description': theme.translate.metaDescription|striptags ?: theme.translate.body|striptags|truncate(250, true),
        'url':         url('app_theme_show', {'slug': theme.translate.slug}),
        'type':        'article',
        'image':       themeMedia
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ theme.translate.title }}
{% endblock %}

{% block jumbotron %}
	<div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
	    <div class="container">
	        <h1 class="h2  h--no-border">{{ theme.translate.title }}</h1>
            {% if theme.translate.teaser is not null %}
                <p>{{ theme.translate.teaser }}</p>
            {% endif %}
	    </div>
	</div>
{% endblock %}

{% block body %}
    <section class="section--custom">
        <div class="container">
            {% if theme.translate.body %}
                {{ theme.translate.body|raw }}
            {% endif %}
            {% if theme.status != null %}
                <p class="theme__status">{{ 'theme.show.status.title'|trans({}, 'CapcoAppBundle') }}
                    {% if theme.isOpened %}
                        <span class="label label-success">{{ 'theme.show.status.opened'|trans({}, 'CapcoAppBundle') }}</span>
                    {% elseif theme.isClosed %}
                        <span class="label label-danger">{{ 'theme.show.status.closed'|trans({}, 'CapcoAppBundle') }}</span>
                    {% elseif theme.isFuture %}
                        <span class="label label-info">{{ 'theme.show.status.future'|trans({}, 'CapcoAppBundle') }}</span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </section>


    <section class="section--custom">
        <div class="container">
            <h2 class="h2">{{ 'theme.show.projects.title'|trans({}, 'CapcoAppBundle') }}</h2>
            {% set projectsCount = theme.projects | length %}
            {% if projectsCount > 0 %}
                {{ react_render_component('ProjectsListApp', {'props': {'limit': max, 'themeId': themeId} }) }}
                {% if projectsCount > max %}
                    <a href="{{ path('app_project', {'theme': theme.slug, 'sort': 'date'}) }}" class="btn  btn-primary  btn--outline">{{ 'project.see_all'|trans({}, 'CapcoAppBundle') }}</a>
                {% endif %}
            {% else %}
                <p>{{ 'project.none'|trans({}, 'CapcoAppBundle') }}</p>
            {% endif %}
        </div>
    </section>

    {% include 'CapcoAppBundle:Theme:appendices.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if theme.customCode is defined and theme.customCode != '' %}{{ theme.customCode | raw }}{% endif %}
{% endblock %}
