{% if highlighteds | length > 0 %}
    <div class="container container--custom">
        <h2 class="h2">{{ section.title }}</h2>
        <div class="row">
            <div class="col-md-8">
                <div id="carousel-highlighted" class="carousel vertical slide" data-ride="carousel" data-interval="false">
                  <div class="carousel-inner" role="listbox">
                    {% for highlighted in highlighteds %}
                        {% set url = path('app_' ~ highlighted.type ~ '_show', {'slug': highlighted.content.slug}) %}
                        <a href="{{ url }}" class="h3 item {% if loop.first %}active{% endif %}" >
                            {% if highlighted.media is not null %}
                                {% thumbnail highlighted.media, 'slider' with {'class': 'img-responsive'} %}
                            {% else %}
                                <span class="bg__wrapper">
                                    <div class="bg--default bg--consultation"></div>
                                </span>
                            {% endif %}
                            {{ highlighted.content.title }}
                        </a>
                    {% endfor %}
                 </div>
            </div>
        </div>
        <div class="col-md-4">
                {% if highlighteds | length > 1 %}
                    <nav class="carousel-sidebar hidden-print hidden-xs hidden-sm">
                        <ul class="nav carousel-sidenav">
                            {% for key, highlighted in highlighteds %}
                                <li data-target="#carousel-highlighted" data-slide-to="{{ key }}" class="{% if loop.first %}active{% endif %}">
                                    <a href="#">{{ highlighted.content.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
