{% set page_class = "home-page" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('homepage.jumbotron.title') %}
{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="header-img">
            <div class="container">
                {% if app.user is not null and app.user.email == 'admin@cap-collectif.com' %}
                    <h1>100% GLUTEN</h1>
                {% elseif null != jumbotron_title %}
                    <h1>{{ jumbotron_title }}</h1>
                {% endif %}
                {% set jumbotron_body = capco_site_parameter_value('homepage.jumbotron.body') %}
                {% if app.user is not null and app.user.email == 'admin@cap-collectif.com' %}
                    <p>Respectez votre corps, donnez-lui des protéines de blé !</p>
                {% elseif null != jumbotron_body %}
                    {{ jumbotron_body|raw }}
                {% endif %}
                {% set jumbotron_button = capco_site_parameter_value('homepage.jumbotron.button') %}
                {% set jumbotron_button_link = capco_site_parameter_value('homepage.jumbotron.button_link') %}
                {% if null != jumbotron_button and null != jumbotron_button_link %}
                    <p><a href="{{ jumbotron_button_link }}" class="btn  btn--outline btn-custom-1  btn-lg" role="button">{{ jumbotron_button }}</a></p>
                {% endif %}
                {% set picto = capco_site_image_media('image.picto') %}
                {% if (picto != null) %}
                    <p>{% thumbnail picto, 'header_picto' with {'title': picto.name, 'alt': picto.name} %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    {% for section in sections %}

        {% set alt = false %}
        {% if loop.index is odd %}
            {% set alt = true %}
        {% endif %}

        {% if section.type == 'introduction' %}
            {% include '@CapcoApp/Homepage/intro.html.twig' with {'section': section} %}
        {% elseif section.type == 'videos' %}
            {{ render(controller('CapcoAppBundle:Homepage:lastVideos', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'consultations' %}
            {{ render(controller('CapcoAppBundle:Homepage:lastConsultations', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'themes' %}
            {{ render(controller('CapcoAppBundle:Homepage:lastThemes', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'ideas' %}
            {{ render(controller('CapcoAppBundle:Homepage:lastIdeas', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'news' %}
            {{ render(controller('CapcoAppBundle:Homepage:lastPosts', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'events' %}
            {{ render(controller('CapcoAppBundle:Homepage:lastEvents', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'newsletter' %}
            {% include '@CapcoApp/Homepage/newsletter.html.twig' with {'section': section} %}
        {% elseif section.type == 'social-networks' %}
            {{ render(controller('CapcoAppBundle:Homepage:socialNetworks', {'section': section})) }}
        {% elseif section.type == 'custom' %}
            {% include '@CapcoApp/Homepage/custom_section.html.twig' with {'section': section} %}
        {% elseif section.type == 'figures' %}
        {% endif %}

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.theme');window.onresize = App.module.resized('.theme');
            App.module.equalheight('.thumbnail--custom');window.onresize = App.module.resized('.thumbnail--custom');
            App.module.equalheight('.media--macro');window.onresize = App.module.resized('.media--macro');
            App.module.equalheight('.media--news');window.onresize = App.module.resized('.media--news');
            App.module.equalheight('.event-js');window.onresize = App.module.resized('.event-js');
            App.module.equalheight('.video');window.onresize = App.module.resized('.video');
            App.module.video('.fancybox');
        });
    </script>
{% endblock %}
