{% set page_class = "home-page" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('homepage.jumbotron.title') %}
{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="header-img">
            <div class="container">
                {% if null != jumbotron_title %}
                    <h1>{{ jumbotron_title }}</h1>
                {% endif %}
                {% set jumbotron_body = capco_site_parameter_value('homepage.jumbotron.body') %}
                {% if null != jumbotron_body %}
                    {{ jumbotron_body|raw }}
                {% endif %}
                {% set jumbotron_button = capco_site_parameter_value('homepage.jumbotron.button') %}
                {% set jumbotron_button_link = capco_site_parameter_value('homepage.jumbotron.button_link') %}
                {% if null != jumbotron_button and null != jumbotron_button_link %}
                    <p><a href="{{ jumbotron_button_link }}" class="btn  btn--outline btn-custom-1  btn-lg" role="button">{{ jumbotron_button }}</a></p>
                {% endif %}
                {% set picto = capco_site_image_media('image.picto') %}
                {% if (picto != null) %}
                    <p>{% thumbnail picto, 'header_picto' with {'title': picto.name, 'alt': picto.name} %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% set jumbotron2_title = capco_site_parameter_value('homepage.jumbotron2.title') %}
    {% set jumbotron2_body = capco_site_parameter_value('homepage.jumbotron2.body') %}
    {% if null != jumbotron2_title or null != jumbotron2_body or (videos|length > 0) %}
        <div class="jumbotron  jumbotron--custom  jumbotron--bg-2  jumbotron--small">
            <div class="container">
                {% if null != jumbotron2_title %}
                    <h2>{{ jumbotron2_title }}</h2>
                {% endif %}
                {% if null != jumbotron2_body %}
                    <div {% if videos|length > 0 %}class="block"{% endif %}>
                        {{ jumbotron2_body|raw }}
                    </div>
                {% endif %}
                {% include '@CapcoApp/Homepage/videos.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}

    {% if is_feature_enabled('themes') %}
        {{ render(controller('CapcoAppBundle:Homepage:lastThemes', {'max': 4, 'offset': 0})) }}
    {% endif %}
    {{ render(controller('CapcoAppBundle:Homepage:lastConsultations', {'max': 4, 'offset': 0})) }}
    {% if is_feature_enabled('ideas') %}
        {{ render(controller('CapcoAppBundle:Homepage:lastIdeas', {'max': 4, 'offset': 0})) }}
    {% endif %}
    {% if is_feature_enabled('blog') %}
        {{ render(controller('CapcoAppBundle:Homepage:lastPosts', {'max': 3, 'offset': 0})) }}
    {% endif %}
    {% if is_feature_enabled('calendar') %}
        {{ render(controller('CapcoAppBundle:Event:lastEvents', {'max': 4, 'offset': 0})) }}
    {% endif %}

    <div class="container">
        <div class="row">
            {% if is_feature_enabled('newsletter') %}
                <div class="col-xs-12  col-sm-6">
                    {% include '@CapcoApp/Homepage/newsletter.html.twig' %}
                </div>
            {% endif %}
            <div class="col-xs-12  {% if is_feature_enabled('newsletter') %}col-sm-6{% endif %}">
                {{ render(controller('CapcoAppBundle:Homepage:socialNetworks', {})) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.theme');window.onresize = App.module.resized('.theme');
            App.module.equalheight('.thumbnail--custom');window.onresize = App.module.resized('.thumbnail--custom');
            App.module.equalheight('.media--macro');window.onresize = App.module.resized('.media--macro');
            App.module.equalheight('.event-js');window.onresize = App.module.resized('.event-js');
            App.module.equalheight('.video');window.onresize = App.module.resized('.video');
            App.module.video('.fancybox');
        });
    </script>
{% endblock %}
