{% set page_class = "home-page" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="header-img">
            <div class="container">
                {% set jumbotron_title = capco_site_parameter_value('homepage.jumbotron.title') %}
                {% if null != jumbotron_title %}
                    <h1>{{ jumbotron_title }}</h1>
                {% endif %}
                {% set jumbotron_body = capco_site_parameter_value('homepage.jumbotron.body') %}
                {% if null != jumbotron_body %}
                    {{ jumbotron_body|raw }}
                {% endif %}
                {% set jumbotron_button = capco_site_parameter_value('homepage.jumbotron.button') %}
                {% set jumbotron_button_link = capco_site_parameter_value('homepage.jumbotron.button_link') %}
                {% if null != jumbotron_button and null != jumbotron_button_link %}
                    <p><a href="{{ jumbotron_button_link }}" class="btn  btn--outline btn-custom-1  btn-lg" role="button">{{ jumbotron_button }}</a></p>
                {% endif %}
                {% set picto = capco_site_image_media('image.picto') %}
                {% if (picto != null) %}
                    <p>{% thumbnail picto, 'header_picto' with {'title': picto.name, 'alt': picto.name} %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% set jumbotron2_title = capco_site_parameter_value('homepage.jumbotron2.title') %}
    {% set jumbotron2_body = capco_site_parameter_value('homepage.jumbotron2.body') %}
    {% if null != jumbotron2_title or null != jumbotron2_body %}
        <div class="jumbotron  jumbotron--custom  jumbotron--bg-2  jumbotron--small">
            <div class="container">
                {% if null != jumbotron2_title %}
                    <h2>{{ jumbotron2_title }}</h2>
                {% endif %}
                {% if null != jumbotron2_body %}
                    {{ jumbotron2_body|raw }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container  block">
        <h2 class="h2">{{ 'homepage.themes.last'|trans({}, 'CapcoAppBundle') }}</h2>
        {{ render(controller('CapcoAppBundle:Homepage:lastThemes', {'max': 4, 'offset': 0})) }}
    </div>
    <div class="container  block">
        <h2 class="h2">{{ 'homepage.consultations.last'|trans({}, 'CapcoAppBundle') }}</h2>
        {{ render(controller('CapcoAppBundle:Consultation:lastOpenConsultations', {'max': 4, 'offset': 0})) }}
    </div>
    <div class="container  block">
        <h2 class="h2">{{ 'homepage.ideas.last'|trans({}, 'CapcoAppBundle') }}</h2>
        {{ render(controller('CapcoAppBundle:Homepage:lastIdeas', {'max': 4, 'offset': 0})) }}
    </div>
    <div class="container  block">
        <h2 class="h2">{{ 'homepage.posts.last'|trans({}, 'CapcoAppBundle') }}</h2>
        {{ render(controller('CapcoAppBundle:Homepage:lastPosts', {'max': 3, 'offset': 0})) }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-6">
                {% include '@CapcoApp/Homepage/newsletter.html.twig' %}
            </div>
            <div class="col-xs-12  col-sm-6">
                {{ render(controller('CapcoAppBundle:Homepage:socialNetworks', {})) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.theme');window.onresize = App.module.rezised('.theme');
            App.module.equalheight('.thumbnail--custom');window.onresize = App.module.rezised('.thumbnail--custom');
            App.module.equalheight('.media--macro');window.onresize = App.module.rezised('.media--macro');
        });
    </script>
{% endblock %}
