{% set page_class = "home-page" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% set jumbotron_title = capco_site_parameter_value('homepage.jumbotron.title') %}
{% set jumbotron_body = capco_site_parameter_value('homepage.jumbotron.body') %}
{% set meta_description = capco_site_parameter_value('homepage.metadescription') %}

{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}

{% block metaTags %}
    {% set picto = capco_site_image_media('homepage.picto') %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       jumbotron_title ?: siteName,
        'description': meta_description,
        'url':         url('app_homepage'),
        'image':       image
    } only %}
{% endblock %}

{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center home-page-jumbotron">
        <div class="header-img">
            <div class="container">
                {% if null != jumbotron_title %}
                    <h1>{{ jumbotron_title }}</h1>
                {% endif %}
                {% if null != jumbotron_body %}
                    {{ jumbotron_body|raw }}
                {% endif %}
                {% set jumbotron_button = capco_site_parameter_value('homepage.jumbotron.button') %}
                {% set jumbotron_button_link = capco_site_parameter_value('homepage.jumbotron.button_link') %}
                {% if null != jumbotron_button and null != jumbotron_button_link %}
                    <p><a href="{{ jumbotron_button_link }}" class="btn  btn--outline btn-custom-1  btn-lg" role="button">{{ jumbotron_button }}</a></p>
                {% endif %}
                {% if capco_site_parameter_value('homepage.jumbotron.share_button') == "1" %}
                {{
                    react_render_component('ShareButtonDropdownApp', {
                        'props': {
                            'url': url('app_homepage')
                        }
                    })
                }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    {% for section in sections %}

        {% set alt = false %}
        {% if loop.index is odd %}
            {% set alt = true %}
        {% endif %}

        {% if section.type == 'highlight' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:highlightedContent', {'section': section})) }}
        {% elseif section.type == 'introduction' %}
            {% include '@CapcoApp/Homepage/intro.html.twig' with {'section': section} only %}
        {% elseif section.type == 'videos' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:lastVideos', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'projects' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:lastProjects', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'themes' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:lastThemes', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'news' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:lastPosts', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'events' %}
            {% include 'CapcoAppBundle:Homepage:lastEvents.html.twig' with {'section': section} %}
        {% elseif section.type == 'newsletter' %}
            {% include '@CapcoApp/Homepage/newsletter.html.twig' with {'section': section, 'form': form} only %}
        {% elseif section.type == 'social-networks' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:socialNetworks', {'section': section})) }}
        {% elseif section.type == 'custom' %}
            {% include '@CapcoApp/Homepage/custom_section.html.twig' with {'section': section} only %}
        {% elseif section.type == 'proposals' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:lastProposals', {'max': section.nbObjects, 'offset': 0, 'section': section})) }}
        {% elseif section.type == 'metrics' %}
            {{ render(controller('CapcoAppBundle:Site/Homepage:metricsSection', {'section': section})) }}
        {% endif %}

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/carousel.js') }}"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.theme');
            App.equalheight('.media--macro');
            App.equalheight('.media--news');
            App.equalheight('.event-js');
            App.equalheight('.video');
            App.video('.fancybox');
            App.carousel();
        });

        $(window).on('resize', function() {
            App.resized('.theme');
            App.resized('.media--macro');
            App.resized('.media--news');
            App.resized('.event-js');
            App.resized('.video');
        });
    </script>
    {% set customCode = capco_site_parameter_value('homepage.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
