<div class="container">
    <h2>{% trans %}Ideas{% endtrans %}</h2>
    <div class="row">
        {% for idea in ideas %}
            <div class="col-xs-12  col-sm-6  col-md-4  col-lg-3">
                <div class="media  media--macro  block  block--shadowed">
                    <a class="pull-left" href="profile.php">
                        <img class="media-object  img-circle" src="http://rdjpg.com/45/45" alt="{{ idea.firstname }} {{ idea.lastname }}">
                    </a>
                    <div class="media-body">
                        <p class="media-heading h5  media--macro__user"><a href="profile.php">{{ idea.firstname }} {{ idea.lastname }}</a></p>
                        <span class="excerpt h5">{{ idea.createdAt }}</span>
                    </div>
                    <div class="media__content">
                        <h4 class="h4"><a href="idea.php">{{ idea.title }}</a></h4>
                        <span class="excerpt  h5">
                            {% set voteCount = idea.voteCount %}
                            {% transchoice voteCount %}
                                {0} no vote|{1} 1 vote|]1,Inf] %voteCount% votes
                            {% endtranschoice %}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="" class="btn  btn-primary  btn--outline">{% trans %}See all ideas{% endtrans %}</a>
</div>
