{% if count > 0 %}
    <section id="projects" class="section--custom">
        <div class="container">
            {% if null != section.title %}
                <h2 class="h2">{{ section.title }}</h2>
            {% endif %}
            {% if null != section.teaser %}
                <p class="block">{{ section.teaser }}</p>
            {% endif %}
            {% if null != section.body %}
                <p>{{ section.body | raw }}</p>
            {% endif %}

            <div class="row">
                {{ react_render_component('ProjectsListApp', { 'props': {'limit': max} }) }}
            </div>

            {% if count > max %}
                <a href="{{ path('app_project') }}" class="btn  btn-primary  btn--outline">{{ 'project.see_all'|trans({}, 'CapcoAppBundle') }}</a>
            {% endif %}
        </div>
    </section>
{% endif %}
