{% if events|length > 0 %}
    <section id="events" class="section--custom">
        <div class="container">
            {% if null != section.title %}
                <h2 class="h2">{{ section.title }}</h2>
            {% else %}
                <h2 class="h2">{{ 'homepage.section.events' | trans({}, 'CapcoAppBundle') }}</h2>
            {% endif %}
            {% if null != section.teaser %}
                <p class="block">{{ section.teaser }}</p>
            {% endif %}
            {% if null != section.body %}
                <p>{{ section.body | raw }}</p>
            {% endif %}
            {{ react_render_component('HomePageEventsApp', { 'props': {'limit': 3} }) }}
            <a href="{{ path('app_event') }}" class="btn  btn-primary  btn--outline">{{ 'event.see_all'|trans({}, 'CapcoAppBundle') }}</a>
        </div>
    </section>
{% endif %}
