{% if count > 0 %}
    {% set locale = app.request.locale %}
    <section id="projects" class="section--custom">
        <div class="container">
            {% if null != section.title %}
                <h2 class="h2">{{ section.title }}</h2>
            {% endif %}
            {% if null != section.teaser %}
                <p class="block">{{ section.teaser }}</p>
            {% endif %}
            {% if null != section.body %}
                <p>{{ section.body | raw }}</p>
            {% endif %}

            <div class="row">
                {{ react_render_component('CustomProjectsListApp', { 'props': { 'projectsCount': projectsCount } }) }}
            </div>

            <div style={{is_feature_enabled('unstable__new_project_card') ? 'text-align:center;width:100%;' : ''}}>
                <a href="{{ path('app_project', {'_locale': locale}) }}" class="btn btn-primary btn--outline
                    see-more-projects-button">{{ 'project.see_all'|trans({}, 'CapcoAppBundle') }}</a>
            </div>
        </div>
    </section>
{% endif %}
