<section id="newsletter" class="section--custom">
    <div class="container text-center">
        {% if null != section.title %}
            <h2 class="h2">{{ section.title }}</h2>
        {% else %}
            <h2 class="h2">{{ 'capco.module.newsletter' | trans({}, 'CapcoAppBundle') }}</h2>
        {% endif %}
        {% if null != section.teaser %}
            <p class="block">{{ section.teaser }}</p>
        {% endif %}
        {% if null != section.body %}
            <p>{{ section.body | raw }}</p>
        {% endif %}
        {{ form_start(form, {'attr': { 'class': 'form-inline pb-10' }}) }}
           {{ form_errors(form) }}
           {{ form_label(form.email, null, {'label_attr':{"class":"sr-only"} }) }}
           {{ form_errors(form.email) }}
           {{ form_widget(form.email, {'attr':{'style': 'width: 250px;', "placeholder": 'homepage.newsletter.enter_email'|trans({}, 'CapcoAppBundle')} }) }}
           <button type="submit" class="btn btn-primary block--first-mobile">{{ 'global.register'|trans({}, 'CapcoAppBundle') }}</button>
        {{ form_end(form) }}
        {% if null != capco_site_parameter_value('global.site.organization_name') or '' != capco_site_parameter_value('global.site.organization_name') %}
        <p class="excerpt">
            <i>{{ 'information-for-the-newsletter-registration-form'|trans({'%organisationName%': capco_site_parameter_value('global.site.organization_name') }, 'CapcoAppBundle')|raw }}</i>
        </p>
        {% endif %}
    </div>
</section>
