{% extends "@CapcoMail/standardLayoutNew.html.twig" %}

{% set logo = app_logo_url() %}

{% set btnBg = capco_site_color_value('color.btn.bg') %}
{% if null == btnBg %}{% set btnBg = '#1ABC9C' %}{% endif %}
{% set btnText = capco_site_color_value('color.btn.text') %}
{% if null == btnText %}{% set btnText = '#FFF' %}{% endif %}
{% set linkText = capco_site_color_value('color.link.default') %}
{% if null == linkText %}{% set linkText = '#16a085' %}{% endif %}
{% block style_mail %}
    {{ parent() }}
    {{ include("@CapcoMail/Event/event.css") }}
{% endblock %}
{% block core_mail %}
    <div>
        {% if logo is not null %}
            <img style="margin-bottom: 20px;" src="{{ logo }}" alt="logo {{ siteName }}"/>
        {% else %}
            <img style="margin-bottom: 20px;" src="{{ baseUrl ~ asset('apple-icon-76x76.png') }}" alt=""/>
        {% endif %}

        <h1 style="font-size: 24px; font-weight: 600; margin: 0 0 25px 0;text-align: left">
            {{ 'edit-event-request'|trans({}, 'CapcoAppBundle', user_locale) }}
        </h1>
        <div>
            <p style="line-height: 24px;text-align: left;color: #545E68;font-size: 14px;">
                {{ 'mail-greeting-username'|trans({'username': username }, 'CapcoAppBundle', user_locale) | raw }}<br/>
                {{ 'event-edit-request-core'|trans({'{eventTitle}': eventTitle}, 'CapcoAppBundle', user_locale) | raw }}
            </p>
            <div class="email__show_event" style="height: 48px;background-color: #D92B6F; border-radius: 4px;font-size: 14px; color: #fff;display: flex;">
                <a href="{{ eventUrl }}" target="_blank" rel="noopener" style="color: {{btnText}};text-align: center;margin: auto;">
                    {{ 'consult-event'|trans({}, 'CapcoAppBundle', user_locale) | raw }}
                </a>
            </div>
            <div class="email__show_url"style="margin-top: 8px;">
                <a href="{{ eventUrl }}">{{ eventURLExcerpt }} </a>
            </div>
        </div>
    </div>
{% endblock %}

    {% block footer_mail %}
        <div style="margin: 0; text-align: left">
            <p style="margin: 0; text-align: center">{{ 'email-rgpd-data-protect'|trans({}, 'CapcoAppBundle', user_locale) | raw }}</p>

            <p style="text-align: center;">
                {{ 'email.propulsed.by'|trans({}, 'CapcoAppBundle', user_locale) | raw }}
                <img src="{{ baseUrl ~ asset("capco-logo-mail.png") }}" alt="logo cap collectif"
                     style="width: 15px;height: 15px;margin: 0 2px 0 4px;"/>
                Cap Collectif
            </p>
        </div>
    {% endblock %}

