{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block sonata_page_content_header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {{ 'admin.fields.recent_contributions.number' | transchoice(contributions | length, {'%count%': contributions | length}, 'CapcoAppBundle') }}
                </a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block actions %}{% endblock %}

{% block tab_menu %}{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">

        <div class="box box-primary" >
            <div class="box-body table-responsive no-padding">

                {% if contributions|length > 0 %}
                    <table class="table table-bordered table-striped sonata-ba-list">
                        {% block table_header %}
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                {% spaceless %}
                                    <th class="sonata-ba-list-field-header-text">
                                        {{ 'global.title' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-text">
                                        {{ 'global.type' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-text">
                                        {{ 'global.author' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-text">
                                        {{ 'global.project' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-boolean">
                                        {{ 'global.published' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-boolean">
                                        {{ 'project.trash' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-text">
                                        {{ 'global.creation' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-text">
                                        {{ 'global.maj' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <th class="sonata-ba-list-field-header-actions">
                                        {{ 'admin.fields.project.proposals_table.actions' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                {% endspaceless %}
                            </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                                {% for contribution in contributions %}
                                    <tr>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                            <a href="{{ path('capco_admin_contributions_show', {'type': contribution.type, 'id': contribution.id}) }}" title="{{ contribution['title'] }}">
                                                {{ contribution['title'] }}
                                            </a>
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                            {{ contribution['type'] | capitalize }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                            {{ contribution['author'] }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                            {% if contribution['global.project'] is defined %}
                                                {{ contribution['global.project'] }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-boolean">
                                            {% if contribution['published'] %}
                                                <span class="label label-success">{{ 'label_type_yes' | trans({}, 'CapcoAppBundle') }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ 'label_type_no' | trans({}, 'CapcoAppBundle') }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-boolean">
                                            {% if contribution['trashed'] %}
                                                <span class="label label-success">{{ 'label_type_yes' | trans({}, 'CapcoAppBundle') }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ 'label_type_no' | trans({}, 'CapcoAppBundle') }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                            {{ contribution['createdAt'] | format_date }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                            {{ contribution['updatedAt'] | format_date }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                                            <a href="{{ path('capco_admin_contributions_show', {'type': contribution.type, 'id': contribution.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'link_action_show' | trans({}, 'CapcoAppBundle') }}">
                                                <i class="glyphicon glyphicon-zoom-in"></i>
                                                {{ 'link_action_show' | trans({}, 'CapcoAppBundle') }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                        {% endblock %}
                    </table>
                {% else %}
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ 'no_result'|trans({}, 'CapcoAppBundle') }}</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                        <span class="progress-description">
                        </span>
                        </div><!-- /.info-box-content -->
                    </div>
                {% endif %}
            </div>
            {% block list_footer %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block list_filters_actions %}{% endblock %}
{% block list_filters %}{% endblock %}
