{% extends base_template %}

{% block show %}
    <div class="sonata-ba-view row">

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        {{ 'global.contribution' | trans({}, 'CapcoAppBundle') }}
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>
                                    {{ 'global.title' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-text">
                                    {{ contribution['title'] }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'global.author' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-text">
                                    {{ contribution['author'] }}
                                </td>
                            </tr>
                            {% if contribution['global.project'] is defined %}
                                <tr>
                                    <th>
                                        {{ 'global.project' | trans({}, 'CapcoAppBundle') }}
                                    </th>
                                    <td class="sonata-ba-show-field sonata-ba-show-field-text">
                                        {{ contribution['global.project'] }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>
                                    {{ 'global.type' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ contribution['type'] | capitalize }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'global.published' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-boolean">
                                    {% if contribution['published'] %}
                                        <span class="label label-success">{{ 'label_type_yes' | trans({}, 'CapcoAppBundle') }}</span>
                                    {% else %}
                                        <span class="label label-danger">{{ 'label_type_no' | trans({}, 'CapcoAppBundle') }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'project.trash' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-boolean">
                                    {% if contribution['trashed'] %}
                                        <span class="label label-success">{{ 'label_type_yes' | trans({}, 'CapcoAppBundle') }}</span>
                                    {% else %}
                                        <span class="label label-danger">{{ 'label_type_no' | trans({}, 'CapcoAppBundle') }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'global.creation' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-text">
                                    {{ contribution['createdAt'] | format_date }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'global.maj' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-text">
                                    {{ contribution['updatedAt'] | format_date }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ 'global.contenu' | trans({}, 'CapcoAppBundle') }}
                                </th>
                                <td class="sonata-ba-show-field sonata-ba-show-field-text">
                                    {{ contribution['body'] | raw }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="well well-small form-actions">
                <a class="btn btn-success" href="{{ path('capco_admin_contributions_validate', {'type': contribution.type, 'id': contribution.id}) }}">
                    <i class="fa fa-check"></i> {{ 'admin.action.recent_contributions.validate.button' | trans({}, 'CapcoAppBundle') }}
                </a>
                {{ 'global.or'|trans({}, 'CapcoAppBundle') }}
                <a class="btn btn-danger" href="{{ path('capco_admin_contributions_trash', {'type': contribution.type, 'id': contribution.id}) }}">
                    <i class="fa fa-trash"></i> {{ 'project.trash' | trans({}, 'CapcoAppBundle') }}
                </a>
                <a class="btn btn-danger" href="{{ path('capco_admin_contributions_unpublish', {'type': contribution.type, 'id': contribution.id}) }}">
                    <i class="fa fa-ban"></i> {{ 'admin.action.recent_contributions.unpublish.button' | trans({}, 'CapcoAppBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
