{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {%  if value | length > 0 %}
    <ul style="list-style-type: none; padding-left: 0">
        {% for comment in value %}
            <li>
                {{ comment.body | truncate(140, true, '...') }}
                <div style="margin-top: 5px; margin-bottom: 15px;">
                    <a class="btn btn-sm btn-default view_link" href="{{ path('admin_capco_app_comment_edit', {'id': comment.id}) }}">
                        <i class="fa fa-search-plus"></i>
                        {{ 'link_action_show' | trans({}, 'CapcoAppBundle') }}
                    </a>
                    <a class="btn btn-sm btn-default edit_link" href="{{ path('admin_capco_app_comment_edit', {'id': comment.id}) }}">
                        <i class="fa fa-pencil"></i>
                        {{ 'action_edit' | trans({}, 'CapcoAppBundle') }}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {%  endif %}
{% endblock %}
