{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
        {% if value %}
            {% set trans_state = ('admin.fields.proposal.state.choices.'~value)|trans({}, 'SonataAdminBundle') %}
            {% if value == constant('Capco\\AppBundle\\Entity\\Proposal::STATE_DELETED') %}
                <span class="label label-danger">{{ trans_state }}</span>
            {% elseif value == constant('Capco\\AppBundle\\Entity\\Proposal::STATE_DISABlED') %}
                <span class="label label-default">{{ trans_state }}</span>
            {% elseif value == constant('Capco\\AppBundle\\Entity\\Proposal::STATE_DRAFT') %}
                <span class="label label-info">{{ trans_state }}</span>
            {% elseif value == constant('Capco\\AppBundle\\Entity\\Proposal::STATE_ENABLED') %}
                <span class="label label-success">{{ trans_state }}</span>
            {% elseif value == constant('Capco\\AppBundle\\Entity\\Proposal::STATE_TRASHED') %}
                <span class="label label-danger">{{ trans_state }}</span>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}
