{% block body_text %}
    {% autoescape false %}
    <p>
        {{ 'email.alert_expire_user.hello'|trans({'%username%' : user.username}, 'CapcoAppBundle') }}
    </p>
    <p>
        {{ 'email.alert_expire_user.info'|trans({'%sitename%' : sitename}, 'CapcoAppBundle') }}
    </p>
    <p>
        {{ 'email.alert_expire_user.click'|trans({}, 'CapcoAppBundle') }}
    </p>
    <p>
        {{ 'email.alert_expire_user.confirm'|trans({'%url%': url}, 'CapcoAppBundle') }}
    </p>
    <p>
        {{ 'email.alert_expire_user.question'|trans({'%email%': email}, 'CapcoAppBundle') }}
    </p>
    <p>
        {{ 'email.alert_expire_user.done'|trans({}, 'CapcoAppBundle') }}
    </p>
    <p>
        {{ 'email.alert_expire_user.footer'|trans({'%sitename%': sitename}, 'CapcoAppBundle') }}
    </p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
