{% block body_text %}
    {% autoescape false %}
        <p>
            {{ 'email.expire_user.hello'|trans({
                '%username%' : user.username
            }, 'CapcoAppBundle') }}
        </p>
        <p>
            {{ 'email.expire_user.info_with_contrib'|trans({}, 'CapcoAppBundle') }}
        </p>
        <p>
            {{ 'email.expire_user.reactivate'|trans({}, 'CapcoAppBundle') }}
        </p>
        <p>
          {{ 'email.expire_user.confirm'|trans({'%url%': url}, 'CapcoAppBundle') }}
        </p>
        <p>
            {{ 'email.expire_user.after_with_contrib'|trans({}, 'CapcoAppBundle') }}
        </p>
        <p>
            {{ 'email.expire_user.question'|trans({'%email%': email }, 'CapcoAppBundle') }}
        </p>
        <p>
            {{ 'email.expire_user.done'|trans({}, 'CapcoAppBundle') }}
        </p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
