{% if private is not defined %}
    {% set private = false %}
{% endif %}
{%  set avatar = (user is not null and not private) ? user.media|capco_default_avatar : null %}
{% set format = (format is defined) ? format : 'avatar' %}
{% if format == 'avatar' %}
    {% set width = '45' %}
{% elseif format == 'avatar_source' %}
    {% set width = '32' %}
{% elseif format == 'profile' %}
    {% set width = '200' %}
{% endif %}
{% set classes = (classes is defined) ? ' ' ~ classes : '' %}

{% if user is not null and not private and is_feature_enabled('profiles') %}
    <a {% if link_classes is defined %}class="{{ link_classes }}"{% endif %} href="{{ path('capco_user_profile_show_all', {'slug': user.slug}) }}" title="{{ 'user.index.profile_link'|trans({'%username%': user.username}, 'CapcoAppBundle') }}">
        <span style="display: none" class="mr-10">{{ user.username }}</span>
{% else %}
    <span {% if link_classes is defined %}class="{{ link_classes }}"{% endif %}>
{% endif %}
    {% if avatar != null %}
        {% thumbnail avatar, format with {'title': user.username, 'alt': user.username, 'class': 'img-circle mr-10' ~ classes, 'style': 'width:'~ width ~ 'px; height:' ~ width ~ 'px;object-fit:cover;'} %}
    {% else %}
        <span class="visible-print-block avatar mr-10"><i class="cap-user-2-1"></i></span>
        <svg class="svg-content mr-10 img-circle avatar{{ classes }}" role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="{{ width }}px" height="{{ width }}px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
     {% endif %}
{% if user is not null and not private and is_feature_enabled('profiles') %}
    </a>
{% else %}
    </span>
{% endif %}
