{% set nbArguments = argumentsType|length %}
<div class="block--shadowed  opinion__arguments--{{ typeArgt }}">
    <div class="opinion__arguments__header  row">
        <h4 class="col-xs-6  h4  opinion__header__title">{% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}consultation.arguments{% endtranschoice %} {% if typeArgt == "yes" %} pour {% else %} contre {% endif %} </h4>
        <div class="col-xs-6">
            <select class="form-control">
                <option>Les plus utiles</option>
                <option>Les plus récents</option>
            </select>
        </div>
    </div>
    <ul class="media-list  opinion__list">
        {% for argument in argumentsType %}
                <li class="opinion  opinion--argument" id="arg-{{ argument.id }}">
                    <div class="opinion__body  box">
                        {% if argument.Author.Media %}
                            <a class="pull-left" href="#">
                                {% thumbnail argument.Author.Media, 'avatar' with {'title': argument.Author.fullname, 'alt': argument.Author.fullname, 'class': 'img-circle  pull-left'} %}
                            </a>
                        {% endif %}
                        <div class="opinion__data">
                            <p class="h5  opinion__user"><a href="#">{{ argument.Author.getFullname }}</a></p>
                            <p class="excerpt  opinion__date"><a class="excerpt" href="#">{{ argument.createdAt | localizeddate('long', 'none', app.request.locale) }}</a></p>
                        </div>
                        <p class="opinion__text">
                            {{ argument.body }}
                        </p>
                        <button class="btn  btn-success  btn--outline  btn-xs"><i class="cap-hand-like-1"></i> D'accord</button>
                        <span class="opinion__votes-nb">{{ argument.VoteCount }}</span>
                        <a href="#" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap-gun"></i> Signaler</a>
                        <a href="#" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap-gun"></i> Modifier</a>
                    </div>
                </li>
        {% endfor %}
    </ul>
</div>