<div class="col-xs-12  col-sm-6  col-md-4  col-lg-3">
    <div class="thumbnail  thumbnail--custom  block  block--bordered">

        {%  if consultation.Cover %}
            <a href="{{ path('app_consultation_show', {'slug': consultation.slug}) }}" {% if consultation.video %}class="play"{% endif %}>
                {% thumbnail consultation.Cover, 'consultation' with {'title': consultation.Cover.name, 'alt': consultation.Cover.name, 'class': 'img-responsive'} %}
            </a>
        {% else %}
            <a href="{{ path('app_consultation_show', {'slug': consultation.slug}) }}" {% if consultation.video %}class="play"{% endif %}>
                <div class="bg--default bg--consultation"></div>
            </a>
        {%  endif %}

        <div class="box">
            <div class="figcaption">
                {% if consultation.Themes | length > 0 %}
                    <span class="excerpt  h5">
                        {% for theme in consultation.Themes %}
                            {% if (theme.canDisplay) %}
                                <a class="excerpt" href="{{ path('app_theme_show', {'slug': theme.slug}) }}">
                                    {{ theme.title }}
                                </a>
                                {% if loop.last == false %}, {% endif %}
                        {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
                <h4 class="h4"><a href="{{ path('app_consultation_show', {'slug': consultation.slug}) }}" title="">{{ consultation.title }}</a></h4>
            </div>
            <div class="thumbnail__status">
                <p>
                    {% if consultation.openingStatus == statuses.opened %}
                        <span class="label label-success">{{ 'consultation.show.status.opened'|trans({}, 'CapcoAppBundle') }}</span>
                    {% elseif consultation.openingStatus == statuses.ended %}
                        <span class="label label-danger">{{ 'consultation.show.status.ended'|trans({}, 'CapcoAppBundle') }}</span>
                    {% elseif consultation.openingStatus == statuses.future %}
                        <span class="label label-info">{{ 'consultation.show.status.future'|trans({}, 'CapcoAppBundle') }}</span>
                    {% endif %}
                </p>
                {% set remainingDays = consultation.remainingDays %}
                {% if remainingDays > 0 %}
                    <p class="excerpt  h5"><i class="cap cap-calendar-1"></i>
                        {% transchoice remainingDays with {'%count%': remainingDays} from 'CapcoAppBundle' %}
                            consultation.show.remaining_days
                        {% endtranschoice %}
                    </p>
                {% endif %}
            </div>

            {% set contributionsCount = consultation.totalContributionsCount %}
            <div class="thumbnail__numbers">
                <div class="thumbnail__number-block">
                    <p  class="thumbnail__number">{{ contributionsCount }}</p>
                    <h5 class="thumbnail__number__label  excerpt h5">
                        {% transchoice contributionsCount with {'%count%': contributionsCount} from 'CapcoAppBundle' %}
                            consultation.show.contributions_no_nb
                        {% endtranschoice %}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>