<div class="col-xs-12  col-sm-6  col-md-4  col-lg-3">
    <div class="thumbnail  thumbnail--custom  block  block--shadowed">
        {% if consultation.Media %}
            <a href="#">
                {% thumbnail consultation.Media, 'consultation' with {'title': consultation.Media.name, 'alt': consultation.Media.name, 'class': 'img-responsive'} %}
            </a>
        {% endif %}
        <div class="box">
            <div class="figcaption">
                <span class="excerpt  h5">
                    {#{{ consultation.themeNames | join(', ') }}#}
                    {% for theme in consultation.Themes %}
                        <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{theme}}</a> {% if loop.last == false %} , {% endif %}
                    {% endfor %}
                </span>
                <h4 class="h4"><a href="" title="">{{ consultation.title }}</a></h4>
            </div>
            <div class="thumbnail__status">
                <p>
                    {% if consultation.openingStatus == statuses.opened %}
                        <span class="label label-success">{% trans %}Consultation opened{% endtrans %}</span>
                    {% elseif consultation.openingStatus == statuses.ended %}
                        <span class="label label-danger">{% trans %}Consultation ended{% endtrans %}</span>
                    {% elseif consultation.openingStatus == statuses.future %}
                        <span class="label label-info">{% trans %}Not opened for the moment{% endtrans %}</span>
                    {% endif %}
                </p>
                {% set remainingDays = consultation.remainingDays %}
                {% if remainingDays > 0 %}
                    <p class="excerpt  h5"><i class="cap cap-gun"></i>
                        {% transchoice remainingDays %}
                            {0} no consultation|{1} last day|]1,Inf] %remainingDays% remaining days
                        {% endtranschoice %}
                    </p>
                {% endif %}
            </div>

            {% set participantCount = consultation.participantCount %}
            {% set contributionCount = consultation.contributionCount %}
            {% if participantCount + contributionCount > 0 %}
                <div class="thumbnail__numbers">
                    {% if participantCount > 0 %}
                        <div class="thumbnail__number-block">
                            <p  class="thumbnail__number">{{ participantCount }}</p>
                            <h5 class="thumbnail__number__label  excerpt h5">
                                {% transchoice participantCount %}
                                    [0,1]participant|]1,Inf] participants
                                {% endtranschoice %}
                            </h5>
                        </div>
                    {% endif %}
                    {% if contributionCount > 0 %}
                        <div class="thumbnail__number-block">
                            <p  class="thumbnail__number">{{ contributionCount }}</p>
                            <h5 class="thumbnail__number__label  excerpt h5">
                                {% transchoice contributionCount %}
                                    [0,1]contribution|]1,Inf] contributions
                                {% endtranschoice %}
                            </h5>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
