{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="consultation__title  block  block--shadowed">
            {% if consultation.Media %}
                {% thumbnail consultation.Media, 'blockHeader' with {'title': consultation.Media.name, 'alt': consultation.Media.name, 'class': 'img-responsive'} %}
            {% endif %}
            <div class="consultation__title__body">
                <div class="pull-left">
                    <h3 class="consultation__title__title  h3">{{ consultation.title }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3">
                <div class="thumbnail--custom  thumbnail--sidebar  block--shadowed">
                    {#<a href="#" class="play" data-length="3:50">#}
                    {#<img class="img-responsive  center-block" src="http://lorempixel.com/400/300/technics" alt="image de la consultation">#}
                    {#</a>#}
                    <div class="box">
                        <h4 class="h4">Introduction</h4>
                        <p>{{ consultation.body | striptags | truncate(200, true, '.') }}</p>
                        <a href="#" class="collapse  in  sidebar__description" data-toggle="collapse">Lire la suite</a>
                        <h4 class="h4">Étapes</h4>
                        <div class="navbar--sub">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#">
                                        <div class="navbar__step-nb">1</div>
                                        <div class="navbar__step">
                                            <h3 class="navbar__step-title">Consultation  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                                            <p class="excerpt h5">Du 30 septembre 2014 au 22 novembre 2014</p>
                                            <p class="label label-success">En cours</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="navbar__step-nb">2</div>
                                        <div class="navbar__step">
                                            <h3 class="navbar__step-title">Synthèse  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                                            <p class="excerpt h5">Le 2 juillet 2014</p>
                                            <p class="label label-default">À venir</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="navbar__step-nb">3</div>
                                        <div class="navbar__step">
                                            <h3 class="navbar__step-title">Décisions  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                                            <p class="excerpt h5">Le 2 août 2014</p>
                                            <p class="label label-default">À venir</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="h4">Informations</h4>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-5  control-label  excerpt">Thème</label>
                                <p class="col-lg-7  form-control-static">
                                    {% for theme in consultation.Themes %}
                                        <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{theme}}</a> {% if loop.last == false %} , {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5  control-label  excerpt">Publication</label>
                                <p class="col-lg-7  form-control-static">{{ consultation.openedAt | localizeddate('long', 'none') }}</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5  control-label  excerpt">Contributions</label>
                                <p class="col-lg-7  form-control-static">
                                    {{ consultation.contributionCount }} votes<br/>
                                    37 propositions<br/>
                                    {{ consultation.argumentCount }} arguments
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% set nbVotes = (opinion.getVotesAll) %}
            {% set nbArguments = (opinion.arguments|length) %}
            <div class="col-xs-12  col-sm-8  col-md-9" id="details">
                <div class="block  block--shadowed  opinion__details">
                    <div class="opinion  opinion--{{ app.request.attributes.get('opiniontype').color }}  opinion--current">
                        <div class="opinion__header  opinion__header--centered">
                            <a class="neutral-hover  pull-left  h4" href="{{ path('app_consultation_show_opinions', {'consultation_slug': consultation.slug, 'opinion_type_slug': app.request.attributes.get('opinion_type_slug')}) }}"><i class="cap-arrow-61"></i><span class="hidden-xs  hidden-sm"> Retour</span></a>
                            <p class="h4  opinion__header__title">{{ app.request.attributes.get('opiniontype').slug|capitalize }} </p>
                        </div>
                        <div class="opinion__body  box">
                            {% if opinion.Author.Media %}
                                <a class="pull-left" href="#">
                                    {% thumbnail opinion.Author.Media, 'avatar' with {'title': opinion.Author.fullname, 'alt': opinion.Author.fullname, 'class': 'img-circle  pull-left'} %}
                                </a>
                            {% endif %}
                            <div class="opinion__data">
                                <p class="opinion__user  h5"><a href="#">{{ opinion.Author.getFullname }}</a> <span class="pull-right  excerpt">{{ opinion.createdAt | localizeddate('medium', 'none', app.request.locale) }}</span></p>
                                <p class="opinion__title">{{ opinion.title }}</p>
                                <p class="opinion__votes  excerpt h5">
                                    {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                                    consultation.show.votes
                                    {% endtranschoice %}
                                    •
                                    {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                                    consultation.show.arguments
                                    {% endtranschoice %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="opinion__description">
                        <div id="pie" class="opinion__chart  center-block"></div>
                        {{ opinion.body|raw }}
                        <h5 class="h5">2 pièces jointes</h5>
                        <div class="nav  nav-tabs  opinion__attachments">
                            <a class="opinion__attachment" href="#">
                                <span class="cap-clip-2"></span> Fichier 1
                                <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                            </a>
                            <a class="opinion__attachment" href="#">
                                <span class="cap-clip-2"></span> Fichier 2
                                <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-7 pull-left">
                                <button class="btn  btn-success  btn--outline"><i class="cap cap-hand-like-2"></i> D'accord</button>
                                <span class="nb-bordered  opinion__votes-nb" data-value="{{ opinion.voteCountOk }}">{{ opinion.voteCountOk }}</span>
                                <button type="button" class="btn  btn-warning  btn--outline"><i class="icon-rotate cap cap-hand-like-2"></i> Mitigé</button>
                                <span class="nb-bordered  opinion__votes-nb" data-value="{{ opinion.voteCountMitige }}">{{ opinion.voteCountMitige }}</span>
                                <button type="button" class="btn  btn-danger  btn--outline"><i class="cap cap-hand-unlike-2"></i> Pas d'accord</button>
                                <span class="nb-bordered  opinion__votes-nb" data-value="{{ opinion.voteCountNok }}">{{ opinion.voteCountNok }}</span>
                                <ul class="sr-only" data-pie-id="pie" data-options='{"animation_speed": 100}'>
                                    <li data-value="{{ opinion.voteCountOk }}"></li>
                                    <li data-value="{{ opinion.voteCountMitige }}"></li>
                                    <li data-value="{{ opinion.voteCountNok }}"></li>
                                </ul>
                            </div>

                            <div class="col-xs-12 col-lg-4 pull-right  opinion__action-buttons">
                                <a href="#" class="btn  btn-dark-gray  btn--outline"><i class="cap-gun"></i> Signaler</a>
                                {% if app.user is not null and app.user == opinion.Author %}
                                    <a href="{{ path('app_consultation_edit_opinion' ,{'consultation_slug': consultation.slug, 'opinion_type_slug': app.request.attributes.get('opiniontype').slug, 'opinion_slug': opinion.slug } ) }}" class="btn  btn-dark-gray  btn--outline"><i class="cap-gun"></i> Modifier</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="nav  nav-tabs  opinion__resources">
                        <a class="opinion__resource  opinion__resource--solution" href="sources.php">
                            3 solutions liées
                            <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                        </a>
                        <span class="hidden-xs  opinion__resources__separator  excerpt">|</span>
                        <a class="opinion__resource  opinion__resource--source" href="sources.php">
                            2 sources
                            <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null %}
                        <div class="opinion  opinion--add-argument  block  block--shadowed">
                            <div class="opinion__body  box">
                                {% if app.user.Media %}
                                    <a class="pull-left" href="#">
                                        {% thumbnail app.user.Media, 'avatar' with {'title': app.user.fullname, 'alt': app.user.fullname, 'class': 'media-object img-circle'} %}
                                    </a>
                                {% endif %}
                                <div class="opinion__data">
                                    <form role="form">
                                        <div class="form-group">
                                            <label class="sr-only" for="argyes-input">Ajouter un argument pour</label>
                                            <textarea class="form-control" data-toggle="collapse" href=".argyes-btns" id="argyes-input" rows="1" placeholder="Ajouter un argument pour"></textarea>
                                            <div class="collapse  argyes-btns">
                                                <button type="button" class="btn  btn-success">Publier</button>
                                                <button type="button" class=" btn  btn-default" data-toggle="collapse" href=".argyes-btns">Annuler</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Consultation:getArgumentsByType', {'opinion': opinion, 'type': 1})) }}
                    </div>
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null %}
                        <div class="opinion  opinion--add-argument  block  block--shadowed  block--first-tablet">
                            <div class="opinion__body  box">
                                {% if app.user.Media %}
                                    <a class="pull-left" href="#">
                                        {% thumbnail app.user.Media, 'avatar' with {'title': app.user.fullname, 'alt': app.user.fullname, 'class': 'media-object img-circle'} %}
                                    </a>
                                {% endif %}
                                <div class="opinion__data">
                                    <form role="form">
                                        <div class="form-group">
                                            <label class="sr-only" for="argno-input">Ajouter un argument contre</label>
                                            <textarea class="form-control" data-toggle="collapse" href=".argno-btns" id="argno-input" rows="1" placeholder="Ajouter un argument contre"></textarea>
                                            <div class="collapse  argno-btns">
                                                <button type="button" class="btn  btn-success">Publier</button>
                                                <button type="button" class=" btn  btn-default" data-toggle="collapse" href=".argno-btns">Annuler</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Consultation:getArgumentsByType', {'opinion': opinion, 'type': 0})) }}
                    </div>
                </div>
            </div> <!-- col-xs-12  col-sm-4  col-md-3 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Snap.svg/dist/snap.svg-min.js') }}"></script>
    <script src="{{ asset('js/pizza/dist/js/pizza.js') }}"></script>
    <script type="text/javascript">
        Pizza.init();
    </script>
{% endblock %}
