{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_opinions', {'projectSlug': project.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}) }}{% endblock %}

{% block metaTags %}
    {% set projectCover %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       project.title~' - '~opinionType.title,
        'description': currentStep.body|striptags|truncate(250, true),
        'url':         url('app_project_show_opinions', {'projectSlug': project.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}),
        'type':        'project',
        'image':       projectCover,
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.firstAuthor.slug}) : null
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }} - {{ opinionType.title }}
{% endblock %}

{% block content %}

    <p id="back-button">
        <a href="{{ path('app_project_show_consultation', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})  }}" class="btn btn-default">
            <i class="cap cap-arrow-1-1"></i> {{ 'project.show.global.title' | trans({}, 'CapcoAppBundle') }}
        </a>
    </p>

    {{ react_render_component('SectionPageApp', { 'props': { 'sectionId': opinionType.id } }) }}

{% endblock %}
