{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show_opinions', {'projectSlug': project.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}) }}{% endblock %}

{% block metaTags %}
    {% set projectCover %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       project.title~' - '~opinionType.title,
        'description': currentStep.body|striptags|truncate(250, true),
        'url':         url('app_consultation_show_opinions', {'projectSlug': project.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}),
        'type':        'project',
        'image':       projectCover,
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.Author.slug}) : null
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }} - {{ opinionType.title }}
{% endblock %}

{% block content %}

    <p id="back-button">
        <a href="{{ path('app_project_show_consultation', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})  }}" class="btn btn-default">
            <i class="cap cap-arrow-1-1"></i> {{ 'project.show.global.title' | trans({}, 'CapcoAppBundle') }}
        </a>
    </p>

    <p id="opinion-type--{{ opinionType.slug }}" class="anchor-offset text-center opinion-type__title level--0">
        {{ opinionType.title }}<br>
        <span class="small excerpt">{{ opinionType.subtitle }}</span>
    </p>

    <div id="opinions--{{ opinionType.slug }}" class="anchor-offset  block  block--bordered">
        {% include 'CapcoAppBundle:Project:list_header.html.twig' with {
            'project': project,
            'currentStep': currentStep,
            'opinionType': opinionType,
            'opinions': opinions,
            'opinions_count': opinions | length,
            'opinionTerm': project.opinionTerm,
            'opinionSortOrders': opinionSortOrders,
            'opinionsSort': opinionsSort,
        } only %}

        {% if opinions|length > 0 %}
        <ul class="media-list  opinion__list">
            {% for opinion in opinions %}
                {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': opinion, 'opinionType': opinionType, 'opinionTerm': project.opinionTerm} only %}
            {% endfor %}
            </ul>
        {% else %}
            <div class="project__empty-block  text-center">
                <p class="icon  cap-bubble-attention-6"></p>
                <p>{{ 'opinion.show.none'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}
    </div>

    {% set params = {'projectSlug': project.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug } %}

    {% if currentRoute == 'app_consultation_show_opinions_sorted' %}
        {% set params = params | merge({'opinionsSort': opinionsSort }) %}
    {% endif %}

    {% if opinionsSort == 'random' and opinions|length > 10  %}
        {% include 'CapcoAppBundle:Block:loadMoreRandomButton.html.twig' with {'route': currentRoute, 'params': params} only %}
    {% else %}
        {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': currentRoute, 'params': params} only  %}
    {% endif %}
{% endblock %}
