{% extends '@CapcoApp/Consultation/show.html.twig' %}
{% set currentStep = 'contributors_step' %}

{% block canonical_link %}{{ url('app_consultation_show_contributors', {'consultationSlug': consultation.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'consultation.show.contributors.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3">
                {{ render(controller('CapcoAppBundle:Consultation:showMeta', {'consultationSlug': consultation.slug, 'currentStepSlug': 'contributors_step'})) }}
            </div>

            <div class="col-xs-12  col-sm-8  col-md-9" id="details">
                <div class="block  box">
                    <h2 class="h2">{{ 'consultation.show.contributors.title' | trans({}, 'CapcoAppBundle') }}
                        <span class="small excerpt">{{ contributors | length }}</span>
                        <a class="btn btn-primary pull-right" href="mailto:?body={{ consultation | capco_first_step_link(true) |escape('url') }}" title="{{ 'share_button.share_on.email' | trans({}, 'CapcoAppBundle') }}">
                            <i class="cap cap-user-add-2"></i>
                            {{ 'consultation.share_button' | trans({}, 'CapcoAppBundle') }}
                        </a>
                    </h2>
                    <div class="row">
                        {% set offset = pagination*page - pagination %}
                        {% set limit = contributors|length <= pagination*page ? contributors|length : pagination*page %}

                        {% for contributor in contributors|slice(offset, limit) %}
                            {% include 'CapcoAppBundle:Default:user_thumbnail.html.twig' with {'user': contributor.user, 'contributions': contributor.total, 'col': 4} only %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% set route, params = 'app_consultation_show_contributors', {'consultationSlug': consultation.slug} %}

        {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}

    </div>

{% endblock %}
