<div class="block">
    <h2 class="h5 excerpt">{{ 'consultation.show.meta.step.title'|trans({}, 'CapcoAppBundle') | upper }}</h2>
    <div class="navbar--sub">
        <ul class="nav">
            {% set nb = 1 %}
            {% set now = date("now") %}
            {% for step in consultation.steps %}
                <li {% if (currentStep == 'consultation_step' and step.isConsultationStep) or currentStep == step.slug %} class="active" {% endif %}>
                    <a href="{{ step | capco_step_link }}">
                        <div class="navbar__step-nb">{{ nb }}</div>
                        <div class="navbar__step">
                            <h3 class="navbar__step-title">{{ step.title}}  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                            <p class="excerpt h5">
                                {%  set startDay = step.startAt | localizeddate('full', 'none', app.request.locale) %}
                                {% set startTime = step.startAt | localizeddate('none', 'short', app.request.locale) %}
                                {% if step.endAt is not null %}
                                    {% set endTime = step.endAt | localizeddate('none', 'short', app.request.locale) %}
                                    {% set endDay = step.endAt | localizeddate('full', 'none', app.request.locale) %}
                                {% endif %}
                                {% if step.endAt is null %}
                                    {{ 'consultation.show.meta.step.on_full_day'|trans({'%date%': startDay, '%time%': startTime}, 'CapcoAppBundle') }}
                                {% elseif step.lastOneDay %}
                                    {{ 'consultation.show.meta.step.on_part_day' | trans({'%date%': startDay, '%start_time%': startTime, '%end_time%': endTime}, 'CapcoAppBundle') }}
                                {% else %}
                                    {{ 'consultation.show.meta.step.between_dates'|trans({'%start%': startDay, '%end%': endDay}, 'CapcoAppBundle') }}
                                {% endif %}
                            </p>
                            <p class="label label-default">
                                {{ stepStatus[step.openingStatus] | trans({}, 'CapcoAppBundle') }}
                            </p>
                        </div>
                    </a>
                </li>
                {% set nb = (nb + 1) %}
            {% endfor %}
        </ul>
    </div>
</div>


{% if consultation.posts | length > 0 or consultation.events | length > 0 %}
    <div>
        <h2 class="h5 excerpt">{{ 'consultation.show.meta.info.title'|trans({}, 'CapcoAppBundle') | upper }}</h2>
        <div class="navbar--sub">
            <ul class="nav">
                {% if is_feature_enabled('blog') and consultation.posts | length > 0 %}
                    <li {% if currentStep == 'posts_step' %} class="active" {% endif %}>
                        <a href="{{ path('app_consultation_show_posts', {'consultationSlug': consultation.slug}) }}">
                            <p class="navbar__step-title">{{ 'consultation.show.meta.info.posts'|trans({}, 'CapcoAppBundle') }}  <i class="pull-right  excerpt  cap-arrow-66"></i></p>
                        </a>
                    </li>
                {% endif %}
                {% if is_feature_enabled('calendar') and consultation.events | length > 0 %}
                    <li {% if currentStep == 'events_step' %} class="active" {% endif %}>
                        <a href="{{ path('app_consultation_show_events', {'consultationSlug': consultation.slug}) }}">
                            <p class="navbar__step-title">{{ 'consultation.show.meta.info.events'|trans({}, 'CapcoAppBundle') }}  <i class="pull-right  excerpt  cap-arrow-66"></i></p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
