{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}) }}{% endblock %}

{% block metaTags %}
    <meta property="og:title" content="{{ consultation.title }} - {{ opinionType.title }}" />
    <meta property="og:url" content="{{ url('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}) }}" />
    {% if currentStep is defined and currentStep.body %}
        <meta property="og:description" content="{{ currentStep.body }}" />
    {% endif %}
    <meta property="og:type" content="opinions" />
    {% if consultation.Cover %}
        <meta property="og:image" content="{% path consultation.Cover, 'blockHeader' %}" />
    {% endif %}
    <meta property="article:author" content="{{ url('capco_user_profile_show_all', {'slug': consultation.Author.slug}) }}" />
    <meta property="article:publisher" content="{{ url('capco_user_profile_show_all', {'slug': consultation.Author.slug}) }}" />
{% endblock %}

{% block content %}

    <p id="back-button">
        <a href={{ path('app_consultation_show', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug})  }} class="btn btn-default">
            <i class="cap cap-arrow-1-1"></i> {{ 'consultation.show.global.title' | trans({}, 'CapcoAppBundle') }}
        </a>
    </p>

    <p id="opinion-type--{{ opinionType.slug }}" class="anchor-offset text-center opinion-type__title level--0">
        {{ opinionType.title }}<br>
        <span class="small excerpt">{{ opinionType.subtitle }}</span>
    </p>

    <div id="opinions--{{ opinionType.slug }}" class="anchor-offset  block  block--bordered">
        {% include 'CapcoAppBundle:Consultation:list_header.html.twig' with {
            'consultation': consultation,
            'currentStep': currentStep,
            'opinionType': opinionType,
            'opinions': opinions,
            'opinions_count': opinions | length,
            'sortOpinionsForm': sortOpinionsForm,
        } only %}

        {% if(opinions|length > 0) %}
        <ul class="media-list  opinion__list">
            {% for opinion in opinions %}
                {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': opinion, 'opinionType': opinionType} only %}
            {% endfor %}
            </ul>
        {% else %}
            <div class="consultation__empty-block  text-center">
                <p class="icon  cap-bubble-attention-6"></p>
                <p>{{ 'opinion.show.none'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}
    </div>

    {% if sortOpinionsForm.vars.data.opinionsSort is not null %}
        {% set route, params = 'app_consultation_show_opinions_sorted', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug, 'opinionsSort': sortOpinionsForm.vars.data.opinionsSort } %}
    {% else %}
        {% set route, params = 'app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug} %}
    {% endif %}

    {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}
{% endblock %}
