{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ consultation.title }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}

    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">

        {% if currentStep.isClosed %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'consultation.show.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
        {% endif %}

        {% if currentStep.isFuture %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'consultation.show.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.future.text'|trans({'%date%': '<strong>' ~ consultation.getOpenedAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3  block--mobile">
                {{ render(controller('CapcoAppBundle:Site/Consultation:showMeta', {'consultationSlug': consultation.slug, 'currentStepSlug': currentStep.slug})) }}
            </div>
            {% set opinionTypeCurrent = app.request.attributes.get('opinionTypeSlug') %}
            <div class="col-xs-12  col-sm-8  col-md-9" id="details">
                {% include '@CapcoApp/Consultation/show_nav.html.twig' with {'opinionTypeCurrent': opinionTypeCurrent, 'consultation': consultation} %}
                {% block opinions_list %}
                    {% if currentStep.body is not null %}
                        <div class="block  block--bordered">
                            <div class="opinion  opinion--current  opinion--default">
                                <div class="opinion__header  opinion__header--mobile-centered">
                                    <h2 class="pull-left  h4  opinion__header__title"> {{ 'consultation.show.meta.intro.title' | trans({}, 'CapcoAppBundle') }}</h2>
                                </div>
                                <div class="box">
                                    <p class="more">{{ currentStep.body|striptags }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {{ render(controller('CapcoAppBundle:Site/Consultation:showOpinions', {'consultation': consultation.id, 'currentStep': currentStep})) }}
                {% endblock %}
            </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.module.pieChart();
        App.module.customModal('.modal--custom');
        $('.more').readmore({
            collapsedHeight: 91,
            moreLink: '<a href="#">{{ 'consultation.show.meta.read_more'|trans({}, 'CapcoAppBundle') }}</a>', //BazingaJsTranslationBundle
            lessLink: '<a href="#">{{ 'consultation.show.meta.read_less'|trans({}, 'CapcoAppBundle') }}</a>'
        });
        {% if consultation.video %}
            App.module.video('.fancybox');
        {% endif %}
    </script>
{% endblock %}
