{% if (blocks|length > 0) %}
    {% for block in blocks %}
    <div class="block  block--bordered">
        <div class="opinion  opinion--{{ block.color }}  opinion--default">
            <div class="opinion__header  opinion__header--mobile-centered">

                <h2 class="pull-left  h4  opinion__header__title"> {{ block.title }} <span class="badge">{{ block.total_opinions_count }}</span></h2>
                {% if block.isEnabled == true and consultation.canContribute %}
                    <div class="pull-right  opinion__header__filter">
                        <a href="{{ path('app_consultation_new_opinion' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': block.slug} ) }}" class="btn  btn-default">
                            <i class="cap cap-add-1"></i>
                            {{ 'opinion.create.button'|trans({}, 'CapcoAppBundle') }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if block.total_opinions_count > 0 %}
            <ul class="media-list  opinion__list">
                {% for opinion in block.opinions %}
                    {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': opinion, 'opinionType': block} only %}
                {% endfor %}
            </ul>
            {% if block.total_opinions_count > 5  %}
                <div class="opinion  opinion__footer  box">
                    <a href="{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug ,'opinionTypeSlug': block.slug}) }}" class="text-center" style="display: block">
                        {{ 'opinion.show.all'|trans({}, 'CapcoAppBundle') }} {{ block.title|lower }}
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="opinion-type__empty-block  text-center">
                <p class="icon  cap-bubble-attention-6"></p>
                <p>{{ 'opinion.show.none'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    <div class="consultation__empty-block  text-center">
        <p class="icon  cap-bubble-attention-6"></p>
        <p>{{ 'opinion.show.no_opinion_types'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
