{% extends '@CapcoApp/Consultation/show.html.twig' %}
{% set currentStep = 'events_step' %}

{% block canonical_link %}{{ url('app_consultation_show_events', {'consultationSlug': consultation.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'consultation.show.events.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3">
                {{ render(controller('CapcoAppBundle:Site/Consultation:showMeta', {'consultationSlug': consultation.slug, 'currentStepSlug': 'events_step'})) }}
            </div>

            <div class="col-xs-12  col-sm-8  col-md-9" id="details">
                <div class="block  box">
                    <h2 class="h2">{{ 'consultation.show.events.title' | trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ nbEvents }}</span></h2>
                    {% for year, months in years %}
                        {% for month, events in months %}
                            {% set date = (year ~ '-' ~ month ~ '-01') %}
                            <h3>{{ date | localizeddate('none', 'none', app.request.locale, null, "MMMM Y") | capitalize }}</h3>
                            <div class="row">
                                {% for event in events %}
                                    {% include '@CapcoApp/Event/blockEvent.html.twig' with {'event': event, 'col_classes': 'col-md-6  col-sm-12'} only %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
        </div> <!-- .row -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.event-js');window.onresize = App.module.resized('.event-js');
        });
    </script>
{% endblock %}
