<div class="block  block--bordered">
    <div class="consultation__nav">
        <ul class="nav  nav-pills">
            <li class="{% if opinionTypeCurrent is null %}active{% endif %} consultation__nav--primary"><a href="{{ path('app_consultation_show', {'slug': consultation.slug}) }}">{{ 'consultation.show.global.title'|trans({}, 'CapcoAppBundle') }}</a></li>
            {% for opinionType in consultation.allowedTypes %}
                <li class="{% if opinionType.slug == opinionTypeCurrent %}active{% endif %} consultation__nav--{{ opinionType.color }}"><a href="{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug ,'opinionTypeSlug': opinionType.slug}) }}">{{ opinionType.shortName }}</a></li>
            {% endfor %}
            <li class="{% if opinionTypeCurrent == 'trashed' %}active{% endif %} consultation__nav--gray"><a href="{{ path('app_consultation_show_trashed', {'consultationSlug': consultation.slug}) }}">{{ 'consultation.show.trashed.short_name'|trans({}, 'CapcoAppBundle') }}</a></li>
        </ul>
    </div>
</div>
