{% extends '@CapcoApp/Consultation/show.html.twig' %}
{% set currentStep = 'posts_step' %}

{% block canonical_link %}{{ url('app_consultation_show_posts', {'consultationSlug': consultation.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'consultation.show.posts.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3">
                {{ render(controller('CapcoAppBundle:Site/Consultation:showMeta', {'consultationSlug': consultation.slug, 'currentStepSlug': 'posts_step'})) }}
            </div>

            <div class="col-xs-12  col-sm-8  col-md-9" id="details">
                <div class="block  box">
                    <h2 class="h2">{{ 'consultation.show.posts.title' | trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ posts | length }}</span></h2>
                    <ul class="media-list">
                        {% for post in posts %}
                            {% include '@CapcoApp/Blog/blockPost.html.twig' with {'post': post} only %}
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
        </div> <!-- .row -->


        {% set route, params = 'app_consultation_show_posts', {'consultationSlug': consultation.slug} %}
        {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}

    </div>

{% endblock %}
