<div class="thumbnail--custom  thumbnail--sidebar  block--shadowed">
    {#<a href="#" class="play" data-length="3:50">#}
        {#<img class="img-responsive  center-block" src="http://lorempixel.com/400/300/technics" alt="image de la consultation">#}
    {#</a>#}
    <div class="box">
        <h4 class="h4">Introduction</h4>
        <p class="more">{{ consultation.body | striptags }}</p>
        <h4 class="h4">Étapes</h4>
        <div class="navbar--sub">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <div class="navbar__step-nb">1</div>
                        <div class="navbar__step">
                            <h3 class="navbar__step-title">Consultation  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                            <p class="excerpt h5">Du 30 septembre 2014 au 22 novembre 2014</p>
                            <p class="label label-success">En cours</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="navbar__step-nb">2</div>
                        <div class="navbar__step">
                            <h3 class="navbar__step-title">Synthèse  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                            <p class="excerpt h5">Le 2 juillet 2014</p>
                            <p class="label label-default">À venir</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="navbar__step-nb">3</div>
                        <div class="navbar__step">
                            <h3 class="navbar__step-title">Décisions  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                            <p class="excerpt h5">Le 2 août 2014</p>
                            <p class="label label-default">À venir</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <h4 class="h4">Informations</h4>
        <p class="excerpt">Thème(s)</p>
        <p>
            {% for theme in consultation.Themes %}
                <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{theme}}</a> {% if loop.last == false %} , {% endif %}
            {% endfor %}
        </p>
        <p class="excerpt">Publication</p>
        <p>{{ consultation.openedAt | localizeddate('long', 'none') }}</p>
        <p class="excerpt">Contributions</p>
        <p>
            {{ consultation.contributionCount }} votes<br/>
            37 propositions<br/>
            {{ consultation.argumentCount }} arguments
        </p>
    </div>
</div>
