<div class="thumbnail--custom  thumbnail--sidebar  block--shadowed">
    {#<a href="#" class="play" data-length="3:50">#}
        {#<img class="img-responsive  center-block" src="http://lorempixel.com/400/300/technics" alt="image de la consultation">#}
    {#</a>#}
    <div class="box">
        <h4 class="h4">Introduction</h4>
        <p class="more">{{ consultation.body | striptags }}</p>
        {%  if currentStep is not defined %}
            {% set currentStep = null %}
        {% endif %}
        {{ render(controller('CapcoAppBundle:Step:showAllInNav', {'consultation': consultation, 'currentStep': currentStep})) }}

        <h4 class="h4">Informations</h4>
        <p class="excerpt">Thème(s)</p>
        <p>
            {% for theme in consultation.Themes %}
                <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{theme}}</a> {% if loop.last == false %} , {% endif %}
            {% endfor %}
        </p>
        <p class="excerpt">Publication</p>
        <p>{{ consultation.openedAt | localizeddate('long', 'none') }}</p>
        <p class="excerpt">Contributions</p>
        <p>
            {{ consultation.opinionCount + consultation.trashedOpinionCount }} propositions<br/>
            {{ consultation.argumentCount + consultation.trashedArgumentCount }} arguments
        </p>
    </div>
</div>
