{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    <meta property="og:title" content="{{ consultation.title }}" />
    <meta property="og:url" content="{{ url('app_consultation_show', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug}) }}" />
    {% if currentStep is defined and currentStep.body %}
        <meta property="og:description" content="{{ currentStep.body }}" />
    {% endif %}
    <meta property="og:type" content="consultation" />
    {% if consultation.Cover %}
        <meta property="og:image" content="{% path consultation.Cover, 'blockHeader' %}" />
    {% endif %}
    <meta property="article:author" content="{{ url('capco_user_profile_show_all', {'slug': consultation.Author.slug}) }}" />
    <meta property="article:publisher" content="{{ url('capco_user_profile_show_all', {'slug': consultation.Author.slug}) }}" />
{% endblock %}

{% block title %}
    {{ parent() }} - {{ consultation.title }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}

    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">

        {% if currentStep.isClosed %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'consultation.show.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
        {% endif %}

        {% if currentStep.isFuture %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'consultation.show.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.future.text'|trans({'%date%': '<strong>' ~ currentStep.startAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3  block--mobile">
                {{ render(controller('CapcoAppBundle:Site/Consultation:showMeta', {'consultationSlug': consultation.slug, 'currentStepSlug': currentStep.slug})) }}
            </div>

            <div class="col-xs-12  col-sm-8  col-md-9" id="details">
                {% block content %}
                    {% if currentStep.body is not null %}
                        <p class="text-center opinion-type__title level--0">
                            {{ 'consultation.show.meta.intro.title' | trans({}, 'CapcoAppBundle') }}
                        </p>
                        <div class="block  block--bordered">
                            <div class="opinion  opinion--current  opinion--default">
                                <div class="box">
                                    <div class="more">{{ currentStep.body | raw }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {{ render(controller('CapcoAppBundle:Site/Consultation:showOpinions', {'consultation': consultation.id, 'currentStep': currentStep})) }}
                {% endblock %}
            </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.pieChart();
        App.customModal('.modal--custom');
        $('.more').readmore({
            collapsedHeight: 88,
            moreLink: '<a class="text-center" href="#">{{ 'consultation.show.meta.read_more'|trans({}, 'CapcoAppBundle') }}</a>',
            lessLink: '<a class="text-center" href="#">{{ 'consultation.show.meta.read_less'|trans({}, 'CapcoAppBundle') }}</a>'
        });
        {% if consultation.video %}
            App.video('.fancybox');
        {% endif %}
    </script>
{% endblock %}
