{% import _self as tree %}
{% macro display_child(collection, depth, currentStep, consultation) %}
    {% for block in collection %}

        <p id="opinion-type--{{ block.slug }}" class="anchor-offset text-center opinion-type__title level--{{ depth }}">
            {{ block.title }}<br>
            <span class="small excerpt">{{ block.subtitle }}</span>
        </p>

        {% if block.total_opinions_count > 0 or (block.isEnabled == true and currentStep.canContribute) %}

            <div id="opinions--{{ block.slug }}" class="anchor-offset block  block--bordered">
                {% include 'CapcoAppBundle:Consultation:list_header.html.twig' with {
                    'consultation': consultation,
                    'currentStep': currentStep,
                    'opinionType': block,
                    'opinions': block.opinions,
                    'opinions_count': block.total_opinions_count,
                    'sortOpinionsForm': block.sortForm,
                } only %}

                {% if block.total_opinions_count > 0 %}
                    <ul class="media-list  opinion__list">
                        {% for opinion in block.opinions %}
                            {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': opinion, 'opinionType': block} only %}
                        {% endfor %}
                    </ul>
                    {% if block.total_opinions_count > 5  %}
                        <div class="opinion  opinion__footer  box">
                            <a href="{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug,'opinionTypeSlug': block.slug}) }}" class="text-center" style="display: block">
                                {{ 'opinion.show.all'|trans({}, 'CapcoAppBundle') }}
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        {% endif %}

        {% if block.children|length %}
            {{ _self.display_child(block.children, depth + 1, currentStep, consultation) }}
        {% endif %}

    {% endfor %}
{% endmacro %}

{% if blocks|length > 0 %}
    {{ tree.display_child(blocks, 0, currentStep, consultation) }}
{% else %}
    <div class="consultation__empty-block  text-center">
        <p class="icon  cap-bubble-attention-6"></p>
        <p>{{ 'opinion.show.no_opinion_types'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
