{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug}) }}{% endblock %}

{% block opinions_list %}
    <div class="block  block--bordered">
        <div class="opinion  opinion--{{ opinionType.color }} opinion--default">
            <div class="opinion__header  opinion__header--mobile-centered">
                <h2 class="h4  opinion__header__title  pull-left">{{ opinionType.title }} <span class="badge">{{ opinions|length }}</span></h2>
                <div class="pull-right  opinion__header__filter">
                    {{ form_start(sortOpinionsForm) }}
                    {{ form_label(sortOpinionsForm.opinionsSort, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                    {{ form_widget(sortOpinionsForm.opinionsSort, {'attr':{"class":"form-control"} }) }}
                    {{ form_end(sortOpinionsForm) }}
                    {% if opinionType.isEnabled == true and consultation.canContribute %}
                        <a href="{{ path('app_consultation_new_opinion' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug } ) }}" class="btn  btn-default">
                            <i class="cap cap-add-1"></i>
                            <span class="hidden-xs">{{ 'opinion.create.button'|trans({}, 'CapcoAppBundle') }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% if(opinions|length > 0) %}
        <ul class="media-list  opinion__list">
            {% for opinion in opinions %}
                {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': opinion, 'opinionType': opinionType} only %}
            {% endfor %}
            </ul>
        {% else %}
            <div class="consultation__empty-block  text-center">
                <p class="icon  cap-bubble-attention-6"></p>
                <p>{{ 'opinion.show.none'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}
    </div>

    {% if nbPage > 1 %}
        <div class="pagination--custom  text-center">
            <ul class="pagination">
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
