<div class="thumbnail--custom  thumbnail--sidebar  block--bordered">

    {% if consultation.video and consultation.Image %}
        <a href="{{ consultation.video }}" class="play  fancybox" data-type="iframe">
            {% thumbnail consultation.Image, 'img_video' with {'title': consultation.Image.name, 'alt': consultation.Image.name, 'class': 'img-responsive  center-block'} %}
        </a>
    {% elseif consultation.video and consultation.Image is null %}
        <a href="{{ consultation.video }}" class="play  fancybox" data-type="iframe">
            <div class="bg--default  bg--consultation"></div>
        </a>
    {% elseif consultation.video is null and consultation.Image %}
        {% thumbnail consultation.Image, 'img_video' with {'title': consultation.Image.name, 'alt': consultation.Image.name, 'class': 'img-responsive  center-block'} %}
    {% endif %}

    <div class="box">
        {% if null != consultation.body %}
            <h2 class="h4">{{ 'consultation.show.meta.intro.title'|trans({}, 'CapcoAppBundle') }}</h2>
            <div class="more"  style="max-height: 115px; overflow: hidden; width: 100%">{{ consultation.body | raw }}</div>
        {% endif %}
        {%  if currentStep is not defined %}
            {% set currentStep = null %}
        {% endif %}
        {{ render(controller('CapcoAppBundle:Step:showAllInNav', {'consultation': consultation, 'currentStep': currentStep})) }}

        <h2 class="h4">{{ 'consultation.show.meta.info.title'|trans({}, 'CapcoAppBundle') }}</h2>
        {% if is_feature_enabled('themes') %}
            {% if consultation.Themes | length > 0 %}
            <p class="excerpt">{{ 'consultation.show.meta.info.themes'|trans({}, 'CapcoAppBundle') }}</p>
            <p>
                {% for theme in consultation.Themes %}
                    {% if theme.canDisplay %}
                        <a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{theme}}</a> {% if loop.last == false %} , {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
            {% endif %}
        {% endif %}
        <p class="excerpt">{{ 'consultation.show.meta.info.opening'|trans({}, 'CapcoAppBundle') }}</p>
        <p>{{ consultation.openedAt | localizeddate('long', 'none') }}</p>
        <p class="excerpt">{{ 'consultation.show.meta.info.contributions'|trans({}, 'CapcoAppBundle') }}</p>
        <p>
            {% set opinionCount = (consultation.opinionCount + consultation.trashedOpinionCount) %}
            {% set argumentCount = (consultation.argumentCount + consultation.trashedArgumentCount) %}
            {% transchoice opinionCount with {'%count%': opinionCount} from 'CapcoAppBundle' %}
            consultation.show.opinions
            {% endtranschoice %}
            <br/>
            {% transchoice argumentCount with {'%count%': argumentCount} from 'CapcoAppBundle' %}
            consultation.show.arguments
            {% endtranschoice %}
        </p>
    </div>
</div>
