<div class="excerpt h5">
    <div class="media  media--news__meta">
        <div class="media-body">
            <p class="media--aligned media--news--aligned excerpt">
                {% if authors|length > 0 %}
                    {% for author in authors %}
                        {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': author, 'classes': 'media-object media--news__author'} only %}
                        {% if is_feature_enabled('profiles') %}
                            <a href="{{ path('capco_user_profile_show_all', { slug: author.slug })}}">
                                {{ author.username }}</a>{% else %}<span>{{ author.username }}</span>{% endif %}{% if loop.revindex0 == '1' %}{{ 'blog.and' | trans({}, 'CapcoAppBundle') }}{% elseif loop.revindex0 >= '2' %}, {% endif %}{% endfor %},

                {% endif %}
                {% if is_feature_enabled('themes') and themes | length > 0 %}
                    {{ 'blog.show.in_theme'|trans({}, 'CapcoAppBundle') }}
                    {% for theme in themes %}
                        {% if theme.canDisplay %}
                            <a href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}">{{ theme.translate.title }}</a>{% if loop.revindex0 == '1' %} {{ 'blog.and' | trans({}, 'CapcoAppBundle') }}{% elseif loop.revindex0 >= '2' %}, {% endif %}{% endif %}{% endfor %},
                {% endif %}
                {{ 'blog.on_date'|trans({'%date%': (post.publishedAt | localizeddate('long', 'none')) }, 'CapcoAppBundle') }}
                {% if capco_comment_can_show(post) %}
                    | {% transchoice post.commentsCount with {'%count%': post.commentsCount} from 'CapcoAppBundle' %}
                    blog.show.comments
                    {% endtranschoice %}
                {% endif %}
            </p>
        </div>
    </div>
</div>
