<div class="excerpt h5">
    <div class="media  media--news__meta">
        <div class="media-legacy">
            <p class="media--aligned media--news--aligned excerpt">
                {% if authors|length > 0 %}
                    {% for author in authors %}
                        {% include '@CapcoUser/Avatar/avatar.html.twig' with { 'user': author.author, 'classes': 'media-object media--news__author'} only %}
                        {% set profile_url = 'capco_user_profile_show_all' %}
                        {% if author.author is instanceof('Capco\\AppBundle\\Entity\\Organization\\Organization') %}
                            {% set profile_url = 'capco_organization_profile_show_all' %}
                        {% endif %}

                        {% if is_feature_enabled('profiles') %}
                            <a href="{{ path(profile_url, { slug: author.author.slug })}}">
                                {{ author.author.username }}</a>{% else %}<span>{{ author.author.username }}</span>{% endif %}{% if loop.revindex0 == '1' %}{{ 'blog.and' | trans({}, 'CapcoAppBundle') }}{% elseif loop.revindex0 >= '2' %}, {% endif %}{% endfor %},

                {% endif %}
                {% if is_feature_enabled('themes') and themes | length > 0 %}
                    {{ 'global.in'|trans({}, 'CapcoAppBundle') }}
                    {% for theme in themes %}
                        {% if theme.canDisplay %}
                            <a href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}">{{ theme.translate.title }}</a>{% if loop.revindex0 == '1' %} {{ 'blog.and' | trans({}, 'CapcoAppBundle') }}{% elseif loop.revindex0 >= '2' %}, {% endif %}{% endif %}{% endfor %},
                {% endif %}
                {{ 'event.header.date'|trans({'date': (post.publishedAt | localizeddate('long', 'none')) }, 'CapcoAppBundle') }}
                {% if capco_comment_can_show(post) %}
                    {{ 'comments-count' | trans({'count': post.commentsCount}, 'CapcoAppBundle') }}
                {% endif %}
            </p>
        </div>
    </div>
</div>
