<div class="block excerpt h5">
    <div class="media  media--news__meta">
        <div class="media-body">
            <p class="media--aligned  excerpt">
                {% for author in authors %}
                    {%  set avatar = author.Media|capco_default_avatar %}
                    {% if avatar != null %}
                        <a href="{{ path('capco_user_profile_show_all', {'slug': author.slug}) }}">
                            {% thumbnail avatar, 'avatar' with {'title': author.username, 'alt': author.username, 'class': 'media-object img-circle'} %}
                        </a>
                    {% endif %}
                    <a href="{{ path('capco_user_profile_show_all', { slug: author.slug })}}">
                        {{ author.username }}
                    </a>
                    {% if loop.revindex0 == '1' %}{{ 'blog.and' | trans({}, 'CapcoAppBundle') }}{% elseif loop.revindex0 == '2' %}, {% endif %}
                {% endfor %}
                , {{ 'blog.on_date'|trans({'%date%': (post.publishedAt | localizeddate('long', 'none')) }, 'CapcoAppBundle') }}
            </p>
        </div>
    </div>
</div>
