<li class="media  media--news  block  block--bordered  box">
    {%  if post.media  %}
        <a href="{{ path('app_blog_show', {'slug': post.slug}) }}" class="pull-left">
            {% thumbnail post.media, 'post' with {'title': post.media.name, 'alt': post.media.name, 'class': 'media-object'} %}
        </a>
    {% else %}
        <a href="{{ path('app_blog_show', {'slug': post.slug}) }}" class="pull-left">
            <div class="bg--post  media-object">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px" height="110px" viewBox="-146.5 -110.5 335.5 301.5" enable-background="new -146.5 -110.5 335.5 301.5" xml:space="preserve" style="margin: 0 auto; display: block;">
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="-51.639" y1="-51.638" x2="51.913" y2="-51.638"/>
                    <rect x="-51.639" y="-27.741" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="55.757" height="63.724"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="28.02" y1="-11.809" x2="51.913" y2="-11.809"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.052" y1="4.119" x2="51.913" y2="4.119"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.052" y1="20.052" x2="51.913" y2="20.052"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.052" y1="35.982" x2="51.913" y2="35.982"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="-51.639" y1="51.913" x2="51.913" y2="51.913"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="-51.639" y1="67.846" x2="51.913" y2="67.846"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="-51.639" y1="83.777" x2="51.913" y2="83.777"/>
                    <line fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="-51.639" y1="99.709" x2="51.913" y2="99.709"/>
                    <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M115.637,147.5H-51.639c-19.914,0-31.861-11.946-31.861-31.863V-83.5H83.777v199.137C83.777,133.232,98.041,147.5,115.637,147.5c17.592,0,31.863-14.268,31.863-31.863V-51.638h-39.827"/>
                    <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M107.673-35.707h15.937v151.343c0,4.403-3.576,7.973-7.973,7.973s-7.964-3.569-7.964-7.973V-67.568H83.777"/>
                </svg>
            </div>
        </a>
    {%  endif %}
    <div class="media-body">
        <h2 class="media-title" style="font-size: 24px"><a href="{{ path('app_blog_show', {'slug': post.slug}) }}">{{ post.title | jolitypo() }}</a></h2>
        <p class="excerpt  media--news__meta">
            {% for theme in post.themes %}
                <a href="{{ path('app_theme_show', {'slug': theme.translate.slug}) }}"><span class="label label-default">{{ theme.translate.title }}</span></a>
            {% endfor %}
            {{ 'global.on_date'|trans({'%date%': (post.publishedAt | localizeddate('long', 'none'))}, 'CapcoAppBundle') | capitalize }}
            {% if post.Authors|length > 0 %}
                {{ 'global.written_by' | trans({}, 'CapcoAppBundle') }}
                {% for author in post.Authors %}
                    {% if is_feature_enabled('profiles') %}
                        <a href="{{ path('capco_user_profile_show_all', { slug: author.slug })}}">
                            {{ author.username }}
                        </a>
                    {% else %}
                        <span>{{ author.username }}</span>
                    {% endif %}
                    {% if loop.revindex0 == '1' %}
                        {{ 'blog.and' | trans({}, 'CapcoAppBundle') }}
                    {% elseif loop.revindex0 >= '2' %}, {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        {% if post.abstract %}
            <p class="media--news__text">{{ post.abstract | jolitypo() }}</p>
        {% endif %}
    </div>
</li>
