{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_blog') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('blog.jumbotron.title') %}
{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'blog.page_title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'blog.page_title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% set jumbotron_body = capco_site_parameter_value('blog.jumbotron.body') %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="filter  block">
            <div class="row">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="col-xs-12  col-sm-3  col-md-3  col-lg-4  filter__down">
                    {{ form_label(form.theme, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                    {{ form_errors(form.theme) }}
                    {{ form_widget(form.theme, {'attr':{"class":"form-control"} }) }}
                </div>
                <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3 filter__down">
                    {{ form_label(form.consultation, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                    {{ form_errors(form.consultation) }}
                    {{ form_widget(form.consultation, {'attr':{"class":"form-control"} }) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {% if posts|length > 0 %}
            <ul class="media-list">
                {% for post in posts %}
                    {% include '@CapcoApp/Blog/blockPost.html.twig' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'blog.no_post' | trans({}, 'CapcoAppBundle') | jolitypo() }}</p>
        {% endif %}

        {% if nbPage > 1 %}
            <div class="pagination--custom  text-center">
                <ul class="pagination">
                    {% if form.vars.data.theme is not null %}
                        {% set theme = form.vars.data.theme.slug %}
                    {% else %}
                        {% set theme = 'all' %}
                    {% endif %}
                    {% if form.vars.data.consultation is not null %}
                        {% set consultation = form.vars.data.consultation.slug %}
                    {% else %}
                        {% set consultation = 'all' %}
                    {% endif %}
                    {% for p in range(1, nbPage) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            {% if form.vars.data.theme is not null or form.vars.data.consultation is not null %}
                                {% if form.vars.data.consultation is not null %}
                                    <a href="{{ path('app_blog_search_consultation', {'page': p, 'theme': theme, 'consultation': consultation }) }}">{{ p }}</a>
                                {% else %}
                                    <a href="{{ path('app_blog_search_theme', {'page': p, 'theme': theme }) }}">{{ p }}</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_blog', {'page': p}) }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>

{% endblock %}

