{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_blog') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('blog.jumbotron.title') %}
{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'blog.page_title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'blog.page_title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% set jumbotron_body = capco_site_parameter_value('blog.jumbotron.body') %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        {% if posts|length > 0 %}
            <ul class="media-list">
                {% for post in posts %}
                    {% include '@CapcoApp/Blog/blockPost.html.twig' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'blog.no_post' | trans({}, 'CapcoAppBundle') | jolitypo() }}</p>
        {% endif %}
    </div>

    {% if nbPage > 1 %}
        <div class="pagination--custom  text-center block">
            <ul class="pagination">
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('app_blog', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}

