{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_blog') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('proposal_form.title') %}
{% set meta_description = capco_site_parameter_value('blog.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('blog.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('blog.content.body') %}
{% set picto = capco_site_image_media('blog.picto') %}

{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (jumbotron_title ?: 'menu.news'|trans({}, 'CapcoAppBundle')),
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'image':       image,
        'url':         url('app_blog')
    } only %}
{% endblock %}

{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'menu.news'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'menu.news'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}

    <section class="section--custom" {% if content_body is null %}style="display: none;"{% endif %}>
        <div class="container" {% if content_body is null %}style="display: none;"{% endif %}>
            {% if null != content_body %}
                {{ content_body|raw }}
            {% endif %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container">

            <div class="filter  block">
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% if is_feature_enabled('themes') %}
                        <div class="col-xs-12  col-sm-3  col-md-3  col-lg-4  filter__down">
                            {{ form_label(form.theme, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                            {{ form_errors(form.theme) }}
                            {{ form_widget(form.theme, {'attr':{"class":"form-control"} }) }}
                        </div>
                    {% endif %}
                    <div class="col-xs-12  col-sm-3  col-md-3  col-lg-3 filter__down">
                        {{ form_label(form.project, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                        {{ form_errors(form.project) }}
                        {{ form_widget(form.project, {'attr':{"class":"form-control"} }) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

            {% if posts|length > 0 %}
                <ul class="media-list">
                    {% for post in posts %}
                        {% include '@CapcoApp/Blog/blockPost.html.twig' with {'post': post} only %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ 'blog.no_post' | trans({}, 'CapcoAppBundle') | jolitypo() }}</p>
            {% endif %}

            {% set theme = (form.vars.data.theme is not null ? form.vars.data.theme.slug : 'all') %}
            {% set project = (form.vars.data.project is not null ? form.vars.data.project.slug : 'all') %}

            {% if theme != 'all' or project != 'all' %}
                {% if project != 'all' %}
                    {% set route, params = 'app_blog_search_project', {'theme': theme, 'project': project } %}
                {% else %}
                    {% set route, params = 'app_blog_search_theme', {'theme': theme } %}
                {% endif %}
            {% else %}
                {% set route, params = 'app_blog', {} %}
            {% endif %}

            {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}

        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% set customCode = capco_site_parameter_value('blog.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
