{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            <h1>{{ capco_site_parameter_value('blog.jumbotron.title')}}</h1>
            {% set jumbotron_body = capco_site_parameter_value('blog.jumbotron.body') %}
            {% if null != jumbotron_body %}
                <p>{{ jumbotron_body }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        {% if posts|length > 0 %}
            <ul class="media-list">
                {% for post in posts %}
                    <li class="media  media--news  block  block--shadowed">
                        <!-- .pull-left has to be applied to a and not to media-object -->
                        {%  if post.Media %}
                            <a href="{{ url('app_blog_show', {'slug': post.slug}) }}" class="pull-left">
                                {% thumbnail post.Media, 'post' with {'title': post.Media.name, 'alt': post.Media.name, 'class': 'media-object'} %}
                            </a>
                        {%  endif %}
                        <div class="media-body box">
                            <h3 class="media-title"><a href="{{ url('app_blog_show', {'slug': post.slug}) }}">{{ post.title | jolitypo() }}</a></h3>
                            <div class="media excerpt  h5  media--news__meta">
                                {% for author in post.Authors %}
                                    <div class="media-body">
                                        <p class="media--aligned  excerpt">{{ 'blog.written_by' | trans({}, 'CapcoAppBundle') }} <a href="{{ path('capco_user_profile_show_all', { username: author.username })}}">{{ author.username }}</a>, le {{ post.publishedAt | localizeddate('long', 'none') }} </p>
                                    </div>
                                    {% if loop.revindex0 == '1' %}
                                        {{ 'blog.and' | trans({}, 'CapcoAppBundle') }}
                                    {% elseif loop.revindex0 == '2' %}
                                        {{- ', ' }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if post.abstract %}
                                <p class="media--news__text">{{ post.abstract | jolitypo() }}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'blog.no_post' | trans({}, 'CapcoAppBundle') | jolitypo() }}</p>
        {% endif %}
    </div>
{% endblock %}

