{% extends '@CapcoApp/Blog/index.html.twig' %}

{% block canonical_link %}{{ url('app_blog_show', {'slug': post.translate.slug}) }}{% endblock %}

{% block metaTags %}
    {% set postMedia %}{{ media_public_url(post.media, 'default_blockHeader') }}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       post.title,
        'description': post.metadescription|striptags ?: post.abstract|striptags ?: post.body|striptags|truncate(250, true),
        'url':         url('app_blog_show', {'slug': post.translate.slug}),
        'type':        'article',
        'image':       postMedia
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ post.title }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}
    <section class="section--custom">
        <div class="container container--thinner">
            <h1>{{ post.title | jolitypo() }}</h1>
            {% include 'CapcoAppBundle:Blog:_authors.html.twig' with {'authors': post.authors, 'themes': post.themes, 'publishedAt': post.publishedAt} %}
            {% if viewerDidAuthor %}
                <div class="edit-proposal-news">
                    {{ react_render_component('ProposalNewsHeaderButtonsApp', {
                        'props': {
                            'postId': post.id|toGlobalId('Post'),
                        }
                    })}}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container container--thinner">

            {%  if post.media %}
                <img
                    title={{ post.media.name }}
                    alt={{ post.media.name }}
                    class="img-responsive block"
                    src={{ media_public_url(post.media, 'default_blockHeader') }}
                />
            {%  endif %}

            <div class="block ql-editor wysiwyg-render" style="font-size: 16px">
                {{ post.body|raw | jolitypo() }}
            </div>

            {% if post.projects | length > 0 %}
                <div class="block blog_link-project">
                    <p>
                        {{ 'blog.show.projects.title' | trans({'count': post.projects | length}, 'CapcoAppBundle') }}
                    </p>
                    <ul>
                        {% for project in post.projects %}
                            <li><a href="{{ project | capco_first_step_link }}">{{ project.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {{ react_render_component('ShareButtonDropdownApp', {
                    'props': {
                        'url': url('app_blog_show', {'slug': post.translate.slug}),
                        'title': post.title,
                        'id': 'post-' ~ post.slug,
                        'useDS': true
                    }
                })
            }}

        </div>
    </section>

    {% if capco_comment_can_add(post) or (capco_comment_can_show(post) and post.commentsCount > 0) %}
        <section class="section--custom">
            <div class="container container--thinner">
                {% if capco_comment_can_show(post) %}
                    {{ react_render_component('CommentSectionApp', {'props': { 'commentableId': post.id|toGlobalId('Post') }}) }}
                {% endif %}
            </div>
        </section>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if post.customCode is defined and post.customCode != '' %}{{ post.customCode | raw }}{% endif %}
{% endblock %}
