{% extends '@CapcoApp/Blog/index.html.twig' %}

{% block canonical_link %}{{ url('app_blog_show', {'slug': post.slug}) }}{% endblock %}

{% block metaTags %}
    {% set postMedia %}{% path post.media, 'blockHeader' %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       post.title,
        'description': post.metadescription|striptags ?: post.abstract|striptags ?: post.body|striptags|truncate(250, true),
        'url':         url('app_blog_show', {'slug': post.slug}),
        'type':        'article',
        'image':       postMedia
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ post.title }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block body %}
    <section class="section--custom">
        <div class="container container--thinner">
            <h1>{{ post.title | jolitypo() }}</h1>
            {% include 'CapcoAppBundle:Blog:_authors.html.twig' with {'authors': post.Authors, 'themes': post.themes, 'publishedAt': post.publishedAt} %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container container--thinner">

            {%  if post.media %}
                {% thumbnail post.media, 'blockHeader' with {'title': post.media.name, 'alt': post.media.name, 'class': 'img-responsive block'} %}
            {%  endif %}

            <div class="block">
                {{ post.body|raw | jolitypo() }}
            </div>

            {% if post.projects | length > 0 %}
                <div class="block blog_link-project">
                    <p>
                        {% transchoice post.projects | length from 'CapcoAppBundle' %}
                            blog.show.projects.title
                        {% endtranschoice %}
                    </p>
                    <ul>
                        {% for project in post.projects %}
                            <li><a href="{{ project | capco_first_step_link }}">{{ project.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {{ react_render_component('ShareButtonDropdownApp', {
                    'props': {
                        'url': url('app_blog_show', {'slug': post.slug}),
                        'title': post.title,
                        'id': 'post-' ~ post.slug,
                    }
                })
            }}

        </div>
    </section>

    {% if capco_comment_can_add(post) or (capco_comment_can_show(post) and post.commentsCount > 0) %}
        <section class="section--custom">
            <div class="container container--thinner">
                {% if capco_comment_can_show(post) %}
                    {{ react_render_component('CommentSectionApp', {'props': { 'commentableId': post.id|toGlobalId('Post') }}) }}
                {% endif %}
            </div>
        </section>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if post.customCode is defined and post.customCode != '' %}{{ post.customCode | raw }}{% endif %}
{% endblock %}
