{% set page_class = "home-page" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% set jumbotron_title = capco_site_parameter_value('homepage.jumbotron.title') %}
{% set jumbotron_body = capco_site_parameter_value('homepage.jumbotron.body') %}
{% set meta_description = capco_site_parameter_value('homepage.metadescription') %}

{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}

{% block metaTags %}
    {% set picto = capco_site_image_media('homepage.picto') %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       jumbotron_title ?: siteName,
        'description': meta_description,
        'url':         url('app_homepage'),
        'image':       image
    } only %}
{% endblock %}

{% block title %}
    {% if null != title %}
        {{ parent() }} - {{ title|trans({},'CapcoAppBundle') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron--custom jumbotron--bg-1  text-center">
        <div class="header-img">
            <div class="container">
                {% if null != title %}
                    <h1>{{ title|trans({},'CapcoAppBundle') }}</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container--custom">
        <div class="container text-center error-page">
            <i class="cap cap-lock-2"></i>
            <p class="clearfix mt-5 error-page__name">{{ '403-error'|trans({}, 'CapcoAppBundle') }}</p>
            <p class="clearfix mt-5 error-page__definition">{{ 'restricted-access'|trans({}, 'CapcoAppBundle') }}</p>
            <p class="clearfix mt-5 error-page__help">{{ 'if-you-have-access'|trans({}, 'CapcoAppBundle') }}</p>
            <a class="clearfix error-page__home" href="{{ path('app_homepage') }}">{{ 'error.to_homepage'|trans({}, 'CapcoAppBundle') }}</a>
            <a class="clearfix error-page__report" href="{{ path('app_contact') }}">{{ 'error.report'|trans({}, 'CapcoAppBundle') }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% set customCode = capco_site_parameter_value('homepage.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
