{% extends "CapcoAppBundle::base.html.twig" %}

{% block mainContent %}
<div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
    <div class="container">
        <h1>La poste 2020 Conquérir l'avenir</h1>
    </div>
</div>
	<div class="container text-center">
		<p><strong>{{ 'error.actions'|trans({}, 'CapcoAppBundle') }}</strong></p>
		<p>
			<a href="{{ path('app_homepage') }}">{{ 'error.to_homepage'|trans({}, 'CapcoAppBundle') }}</a><br/>
			<a href="{{ menu_url('contact') }}">{{ 'error.report'|trans({}, 'CapcoAppBundle') }}</a>
		</p>
	</div>
{% endblock %}
