{% set page_class = "confidentialite" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block canonical_link %}{{ url('app_confidentialite') }}{% endblock %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': ('confidentialite.title'|trans({}, 'CapcoAppBundle')),
        'url':   url('app_confidentialite')
    } only %}
{% endblock %}

{% block title %}
        {{ parent() }} - {{ 'cookies' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'cookies' | trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<section class="section--custom">
    <div class="container" style="max-width: 660px">
        {{ 'confidentialite.content' | trans({}, 'CapcoAppBundle')|raw }}
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-8 col-md-12">
                {{ react_render_component('CookieApp') }}
            </div>
        </div> <!-- row -->
    </div>
</section>
{% endblock %}
