{% set page_class = "contact" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block canonical_link %}{{ url('app_contact') }}{% endblock %}

{% set teaser = capco_site_parameter_value('contact.jumbotron.body') %}
{% set body = capco_site_parameter_value('contact.content.body') %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       'contact.title'|trans({}, 'CapcoAppBundle'),
        'description': (teaser|striptags ?: body|striptags|truncate(250, true)),
        'url':         url('app_contact')
    } only %}
{% endblock %}

{% block title %}
        {{ parent() }} - {{ 'contact.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'contact.title' | trans({}, 'CapcoAppBundle') }}</h1>
            {%  if teaser != null %}
                {{ teaser|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {%  if body != null %}
            {{ body|raw }}
        {% endif %}
        {% set address = capco_site_parameter_value('contact.content.address') %}
        {% set tel = capco_site_parameter_value('contact.content.phone_number') %}
        {%  if address != null or tel != null %}
            <address>
                {% if address != null %}
                    <strong>{{ 'contact.address' | trans({}, 'CapcoAppBundle') }}</strong><br/>
                    {{ address|raw }}<br/>
                {% endif %}
                {% if tel != null %}
                    <strong>{{ 'contact.tel' | trans({}, 'CapcoAppBundle') }}</strong><br/>
                    {{ tel|raw }}
                {% endif %}
            </address>
        {% endif %}
    </div>

    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <form method="post" novalidate="novalidate">
                    {{ form_errors(form) }}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'contact.submit'|trans({}, 'CapcoAppBundle') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
