{% set page_class = "contact" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>Contact</h1>
            <p>{{ capco_site_parameter_value('contact.jumbotron.body')}}</p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <p>{{ capco_site_parameter_value('contact.content.body')}}</p>
        <address>
            <strong>Adresse</strong><br/>
            {{ capco_site_parameter_value('contact.content.address')}}<br/>
            <br/><strong>Teléphone</strong><br/>
            {{ capco_site_parameter_value('contact.content.phone_number')}}
        </address>

        <hr/>

        <h4 class="h4">Formulaire de contact</h4>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <form method="post">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'contact.button'|trans({}, 'CapcoAppBundle') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
