{% set page_class = "contact" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block canonical_link %}{{ url('app_contact') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('contact.jumbotron.title') %}
{% set meta_description = capco_site_parameter_value('contact.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('contact.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('contact.content.body') %}
{% set picto = capco_site_image_media('contact.picto') %}

{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (jumbotron_title ?: 'contact.title'|trans({}, 'CapcoAppBundle')),
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'image':       image,
        'url':         url('app_contact')
    } only %}
{% endblock %}

{% block title %}
        {{ parent() }} - {{ 'contact.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'contact.title' | trans({}, 'CapcoAppBundle') }}</h1>
            {%  if jumbotron_body is defined %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="section--custom">
        <div class="container">
            {%  if content_body is defined %}
                {{ content_body|raw }}
            {% endif %}
            {% set address = capco_site_parameter_value('contact.content.address') %}
            {% set tel = capco_site_parameter_value('contact.content.phone_number') %}
            {%  if address != null or tel != null %}
                <address>
                    {% if address != null %}
                        <strong>{{ 'contact.address' | trans({}, 'CapcoAppBundle') }}</strong><br/>
                        {{ address|raw }}<br/>
                    {% endif %}
                    {% if tel != null %}
                        <strong>{{ 'contact.tel' | trans({}, 'CapcoAppBundle') }}</strong><br/>
                        {{ tel|raw }}
                    {% endif %}
                </address>
            {% endif %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <form method="post" novalidate="novalidate" class="pb-20">
                        {{ form_errors(form) }}
                        {{ form_rest(form) }}
                        <button type="submit" class="btn btn-primary">{{ 'contact.submit'|trans({}, 'CapcoAppBundle') }}</button>
                    </form>
                    {% if null != capco_site_parameter_value('global.site.organization_name') or '' != capco_site_parameter_value('global.site.organization_name') %}
                        <p class="excerpt">
                            {{ 'information-for-the-contact-form'|trans({'%organisationName%': capco_site_parameter_value('global.site.organization_name') }, 'CapcoAppBundle')|raw }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% set customCode = capco_site_parameter_value('contact.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
