{% set page_class = "cookies" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block canonical_link %}{{ url('app_cookies') }}{% endblock %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': ('cookies'|trans({}, 'CapcoAppBundle')),
        'url':   url('app_cookies')
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'cookies' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'cookies' | trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    {% if analytic_js is not empty and ads_js is empty %}
        {% set bannerTrad =  'text-audience-cookie'|trans({}, 'CapcoAppBundle') %}
    {% elseif ads_js  is not empty and analytic_js is empty %}
        {% set bannerTrad =  'text-cookie-communication'|trans({}, 'CapcoAppBundle') %}
    {% elseif ads_js is not empty and analytic_js is not empty %}
        {% set bannerTrad =  'texte-cookie-audience-communication'|trans({}, 'CapcoAppBundle') %}
    {% endif %}

    <section class="section--custom">
        <div class="container" style="max-width: 660px">
            {{ 'texte-cookies-page-1' | trans({}, 'CapcoAppBundle')|raw }}
            {{ cookiesList|raw }}
            <p>
                {{ react_render_component('CookieApp', {
                    'props': {
                        'bannerTrad': bannerTrad,
                        'isLink': true,
                        'cookieTrad': 'set-up-cookies',
                    }
                }) }}
            </p>
            {{ 'texte-cookies-page-2' | trans({}, 'CapcoAppBundle')|raw }}
        </div>
    </section>
{% endblock %}
