<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12">
                {% set footer_title = capco_site_parameter_value('footer.text.title') %}
                {% if null != footer_title %}
                    <h4 class="h4">{{ footer_title }}</h4>
                {% endif %}
                {% set footer_body = capco_site_parameter_value('footer.text.body') %}
                {% if null != footer_body %}
                    <p>{{ footer_body }}</p>
                {% endif %}
            </div>

            <div class="col-xs-12  col-sm-12  col-md-10  col-md-offset-1  col-lg-8  col-lg-offset-2">
                <ul class="social-network">
                    {% for socialNetwork in socialNetworks %}
                        <li><a href="{{ socialNetwork.link }}" target="_blank"><span class="icon cap-{{ socialNetwork.style }}"></span><span class="hidden-xs"> {{ socialNetwork.title }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__links">
        <div class="container">
            <ul>
                {% for footerLink in footerLinks %}
                    <li> <a href="{{ footerLink.link }}">{{ footerLink.title }}</a>{% if not loop.last %} |{% endif %}</li>
                {% endfor %}
            </ul>
            <div class="capco-powered">
                <img src="/img/capcollectif.png"/> <span>{{ 'global.capco_powered' | trans({'%startlink%': '<a href="http://www.cap-collectif.com">', '%endlink%': '</a>' }, 'CapcoAppBundle') | raw}}</span>
            </div>
        </div>
    </div>
</footer>
