{% macro nav_item(pathInfo, link, text) %}
    <li{% if pathInfo == link or pathInfo starts with '/' ~ link %} class="active"{% endif %}><a href="{{ menu_url(link) }}">{{ text }}</a></li>
{% endmacro %}
{% from _self import nav_item %}

{# Navbar content  #}
<div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav" id="navbar-content">
        {% for headerLink in headerLinks %}
            {% if headerLink.hasEnabledFeature %}
                {% if headerLink.children|length > 0 %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button">{{ headerLink.title}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for child in headerLink.children %}
                                {% if child.hasEnabledFeature %}
                                    {{ nav_item(pathInfo, child.link, child.title) }}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    {{ nav_item(pathInfo, headerLink.link, headerLink.title) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    {{ react_intl_component('NavbarRight', { 'props': props }) }}
</div>
