{% set page_class = "search" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block canonical_link %}{{ url('app_search') }}{% endblock %}

{% block title %}
        {{ parent() }} - {{ 'search.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'search.title' | trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        <form method="post">
            {{ form_errors(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">{{ 'search.form.submit'|trans({}, 'CapcoAppBundle') }}</button>
        </form>
    </div>

    <div class="container  container--custom">

        <h2 class="h2">
            {% transchoice results | length with { '%count%': results | length} from 'CapcoAppBundle' %}
                search.results.title
            {% endtranschoice %}
        </h2>

        <ul>
            {% for result in results %}
                {% set title_label = 'search.results.type.' ~ result.result.hit['_type'] %}
                {% if result.result.hit['_type'] == 'user' %}
                    {% set title = result.result.hit['highlight']['username'] is defined ? result.result.hit['highlight']['username'][0] : result.transformed.username %}
                {% else %}
                    {% set title = result.result.hit['highlight']['title'] is defined ? result.result.hit['highlight']['title'][0] : ( result.transformed.title is defined ? result.transformed.title : null) %}
                {% endif %}
                <li>
                    <h4 class="h4">{{ title_label | trans({}, 'CapcoAppBundle') }}{{ title | raw }}</h4>
                    {% for key, highlights in result.result.hit['highlight'] if key != 'title' and key != 'username' %}
                        <p class="excerpt small">
                            {% for excerpt in highlights %}
                                {{ excerpt | raw }}...
                            {% endfor %}
                        </p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
