{% extends "CapcoAppBundle::base.html.twig" %}

{% block mainContent %}
    {% set footerLinks = getFooterLinks() %}
    {% set footerLegals = getLegalsPages() %}
    {# Footer #}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    {% set bannerTrad = '' %}
    {% if analytic_js is not empty and ads_js is empty %}
        {% set bannerTrad =  'text-audience-cookie'|trans({}, 'CapcoAppBundle') %}
    {% elseif ads_js  is not empty and analytic_js is empty %}
        {% set bannerTrad =  'text-cookie-communication'|trans({}, 'CapcoAppBundle') %}
    {% elseif ads_js is not empty and analytic_js is not empty %}
        {% set bannerTrad =  'texte-cookie-audience-communication'|trans({}, 'CapcoAppBundle') %}
    {% endif %}
    {% if bannerTrad is defined and bannerTrad is not empty %}
        {{ react_render_component('CookieManagerApp', {
            'props': {
                'bannerTrad': bannerTrad,
                'isLink': false,
            }
        }) }}
    {% endif %}
    <style>body {
            background-color: #F6F6F6
        }</style>
    <div style="position: fixed; width: 60%; left: 20%; z-index: 1030;">
        {{ react_render_component('AlertBoxApp') }}
    </div>
    <div id="shield-mode" class="container" style="margin-top: 50px">
        <div class="text-center" style="margin-bottom: 10px">
            <img src="{{ media_public_url(capco_site_image_media('image.shield'), 'default_shield') }}"/>
            <div style="margin-top: 30px"></div>
            {{ capco_site_parameter_value('shield.introduction')|raw }}
            <div style="margin-top: 30px"></div>
        </div>
        <div class="row">
            {{ react_render_component('ShieldApp', {'rendering': 'client_side' , 'props' : {'chartBody': capco_site_parameter_value('charter.body') }}) }}
        </div>
        <div class="container" id="link_shield">
            <ul class="list-inline text-center">
                {% if true == footerLegals['cookies'] %}
                    <li class="list-style-none">
                        {{ react_render_component('CookieApp', {
                            'props': {
                                'withListSeparator':  false,
                                'platformLink': app.request.schemeAndHttpHost
                            }
                        }) }}
                    </li>
                {% endif %}
                {% if true == footerLegals['privacy'] %}
                    <span class="list-separator">•</span>
                    <li class="list-style-none">
                        <a href="{{ path('app_privacy') }}">
                            {{ 'privacy-policy'|trans({}, 'CapcoAppBundle') }}
                        </a>
                    </li>
                {% endif %}
                {% if bannerTrad is defined and bannerTrad is not empty %}
                    <span class="list-separator">•</span>
                    <li class="list-style-none">
                        {{ react_render_component('CookieManagerApp', {
                            'props': {
                                'bannerTrad':  bannerTrad,
                                'isLink':  true,
                                'withListSeparator':  false,
                            }
                        }) }}
                    </li>
                {% endif %}
            </ul>
            <div class="capco-powered">
                <p>
                    {{ 'email.propulsed.by.capco' | trans({}, 'CapcoAppBundle') | raw }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
