{% if private is not defined %}
    {% set private = false %}
{% endif %}
{% if user is not null %}
    {% set username = user.username %}
{% elseif username is defined %}
    {% set username = username %}
{% endif %}
{% if private %}
    {% set username = 'global.anonymous' | trans({}, 'CapcoAppBundle') %}
{% endif %}
<div class=" {{ 'col-xs-12  col-sm-6  col-md-' ~ col ~ ' col-lg-' ~ col }} ">
    <div class="media  media--macro media--user-thumbnail  box  block  block--bordered">

        {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': user, 'private': private, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}

        <div class="media-body">
            <p class="{% if user is not null and not private %}media-heading{% else %}media--aligned{% endif %} media--macro__user">
                {% if user is not null and not private %}
                    {% if is_feature_enabled('profiles') %}
                        <a href="{{ path('capco_user_profile_show_all', {'slug': user.slug}) }}">{{ username }}</a>
                    {% else %}
                        {{ username }}
                    {% endif %}
                {% else %}
                    {{ username }}
                {% endif %}
            </p>
            <span class="excerpt">
                {% if user is not null and not private %}
                    {% if contributions is not defined %}
                        {% set contributions = userContributionsCountResolver.__invoke(user, app.user) | default(0) %}
                    {% endif %}
                    {% if votes is not defined %}
                        {% set votes = userVotesResolver.__invoke(app.user, user).totalCount | default(0) %}
                    {% endif %}
                    {% transchoice contributions with {'%count%': contributions} from 'CapcoAppBundle' %}
                        event_registration.listing.contribution
                    {% endtranschoice %}
                    {% if showVotes is not defined or showVotes %}
                       •
                      {% transchoice votes with {'%count%': votes} from 'CapcoAppBundle' %}
                          event_registration.listing.votes
                      {% endtranschoice %}
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>
</div>
