{% extends '@CapcoApp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block mainContent %}
    <style>
        body { padding-top: 0; background-color: transparent }
    </style>

    <section style="background: {{ '#' ~ widgetBackground }}; padding: 30px" id="debate-step-page-app-widget">
        {{ react_render_component('DebateStepPageApp',
            { 'props':
                {
                    stepId: step.id|toGlobalId('DebateStep'),
                    title: step.title,
                    fromWidget: true,
                    authEnabled: widgetAuthEnabled,
                    widgetLocation: widgetLocation
                }
            })
        }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.locale = "{{ intl_locale() }}";
        window.timeZone = "{{ intl_timeZone() }}";
        window.recaptchaOptions = {lang: "{{ intl_locale() }}"};
        {% if is_feature_enabled('report_browers_errors_to_sentry') %}
            window.sentryDsn = "{{ sentryDsn }}";
        {% endif %}
    </script>
{% endblock %}

