{% extends '@CapcoApp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block mainContent %}
    <style>
        body { padding-top: 0; background-color: transparent }
    </style>

    <section style="background: {{ '#' ~ widgetBackground }}; padding: 30px" id="debate-step-page-app-widget">
        {{ react_render_component('DebateStepPageApp',
            { 'props':
                {
                    stepId: step.id|toGlobalId('DebateStep'),
                    title: step.title,
                    debateType: step.debateType,
                    fromWidget: true,
                    widgetLocation: widgetLocation
                }
            })
        }}
         {{ react_render_component('ChartModalApp')
        }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      {% include '@CapcoApp/window.js.twig' %}
    </script>
{% endblock %}

