{% set siteName = capco_site_parameter_value('global.site.fullname') %}
{% set nowDate =  "now"|localizeddate('long', 'none', 'fr_FR')  %}
{% set nowHour =  "now"|date('H') ~ 'h' ~ "now"|date('i')  %}
{% if endAt is not null %}
    {% set endDate =  endAt|localizeddate('long', 'none', 'fr_FR')  %}
{% endif %}

{% block body_text %}
    {% autoescape false %}
    <style type="text/css">
        .align-center {
            text-align: center;
            width: 100%;
        }

        .bold-text {
            font-weight: bold;
        }

        .btn {
            border: 1px solid #8a8a8a;
            padding: 5px;
            border-radius: 4px;
            text-decoration: none;
            color: black;
            background-color: #f6f6f6;
        }

        .btn:hover {
            border: 1px solid black;
            background-color: #dedede;
        }
    </style>
    
    <div class="align-center">
        <p>
            {{ siteName }}
        </p>
    
        <p class="bold-text">
            {{ 'acknowledgement-of-receipt'|trans({}, 'CapcoAppBundle') }}
        </p>
    
        <p>
            {{ nowDate }}
        </p>
    </div>
 
    <p class="bold-text">
        {{ 'hello-username'|trans({
            '%username%' : reply.author.username
        }, 'CapcoAppBundle') }}
    </p>

    {% if not isUpdated %}
        <p>
            {{ 'thank-you-for-participating-in-the-project'|trans({
                '%projectTitle%': project.title,
                '%projectLink%': stepUrl
            }, 'CapcoAppBundle') }}
        </p>
    {% endif %}
 
    {% if isUpdated %}
        <p>
            {{ 'you-have-changed-your-answer-to-the-question'|trans({
                '%answerChangeDate%': nowDate,
                '%answerChangeTime%': nowHour,
                '%surveyTitle%': project.title
            }, 'CapcoAppBundle') }}
        </p>
    {% else %}
        <p>
            {{ 'your-answer-to-the-survey-have-been-registered-on-date-at-time'|trans({
                '%questionnaireDate%': nowDate,
                '%questionnaireTime%': nowHour,
                '%surveyName%': project.title
            }, 'CapcoAppBundle') }}
        </p>
    {% endif %}

    {% if endAt is not null %}
        <p>
            {{ 'you-can-modify-or-delete-your-answer-until-date-until-date'|trans({
                '%questionnaireEndDate%': endDate
            }, 'CapcoAppBundle') }}
        </p>
    {% endif %}

    <p>
        <a href="{{ stepUrl }}" class="btn">{{ 'access-my-answer'|trans({}, 'CapcoAppBundle') }}</a>
    </p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
