{% extends "@CapcoMail/standardLayoutNew.html.twig" %}

{% set logo = app_logo_url() %}

{% set btnBg = capco_site_color_value('color.btn.bg') %}
{% if null == btnBg %}{% set btnBg = '#1ABC9C' %}{% endif %}
{% set btnText = capco_site_color_value('color.btn.text') %}
{% if null == btnText %}{% set btnText = '#FFF' %}{% endif %}
{% set linkText = capco_site_color_value('color.link.default') %}
{% if null == linkText %}{% set linkText = '#16a085' %}{% endif %}

{% set proposalDate =  sendAt|localizeddate('long', 'none', user_locale, timezone)  %}
{% set proposalHour =  sendAt|date('H', timezone) ~ 'h' ~ sendAt|date('i', timezone) %}

{% block core_mail %}
    <div>
        {% if logo is not null %}
            <img style="margin-bottom: 20px;" src="{{ logo }}" alt="logo {{ organizationName }}" />
        {% else %}
            <img style="margin-bottom: 20px;" src="{{ baseUrl ~ asset('apple-icon-76x76.png') }}" alt="" />
        {% endif %}

        <div style="text-align: left;">
            <p style="margin: 0; color: #85919D; font-weight: 700; font-size: 11px; line-height: 16px; text-transform: uppercase;">{{ proposalDate }}</p>
            <p style="margin: 0; color: #272B30; font-weight: 600; font-size: 24px; line-height: 32px;">{{ 'acknowledgement-of-receipt'|trans({}, 'CapcoAppBundle', user_locale) }}</p>
        </div>

        <div style="margin: 20px 0; color: #545E68; text-align: left;">
            <span>{{ 'hello-username'|trans({'{username}': username}, 'CapcoAppBundle', user_locale)|raw }} 👋,</span>
            <p style="margin: 0; line-height: 24px;">
                {{ 'thank-you-for-participating-in-the-project'|trans({'{projectLink}': projectLink},'CapcoAppBundle', user_locale)|raw }}
                <span style="font-weight: 600; color: #272B30">"{{ projectTitle }}"</span>
            </p>

            {% if typeOfMail == 'create' %}
                <p style="margin: 0; line-height: 24px;">
                    {{ 'your-proposal-has-been-registered'|trans({'{proposalTitle}': proposalName,'{proposalLink}': proposalLink, '{linkColor}': linkText},'CapcoAppBundle', user_locale)|raw }}
                    <span>{{ 'on-date-at-time'|trans({'{date}':proposalDate, '{heure}': proposalHour},'CapcoAppBundle', user_locale)|raw }}.</span>
                </p>

                {% if not proposalPublished and confirmationUrl is not null %}
                    <div style="margin-top: 20px;">
                        {{ 'unpublished-contribution-help-text'|trans({}, 'CapcoAppBundle', user_locale)|raw }}
                        <p>
                            <a href="" style="display: inline-block;color:{{ btnText }};padding:18px 24px;border-radius:4px;background-color: {{ btnBg }};font-weight: 600;">
                                {{ 'user.register.confirmation_message.validate'|trans({}, 'CapcoAppBundle', user_locale) }}
                            </a>
                        </p>
                    </div>
                {% endif %}
            {% else %}
                {{ 'you-have-modified-your-proposal'|trans({
                    '{linkColor}': linkText,
                    '{proposalTitle}': proposalName,
                    '{proposalLink}': proposalLink,
                    '{proposalChangeDate}': proposalDate,
                    '{proposalChangeTime}' : proposalHour
                },'CapcoAppBundle', user_locale)|raw }}
            {% endif %}

        </div>

        <div style="color: #545E68; text-align: left;">
            {% if isTimeless %}
                {{ 'you-can-still-edit-or-delete-your-proposal'|trans({}, 'CapcoAppBundle', user_locale)|raw }}
            {% else %}
                <p style="margin: 0; line-height: 24px;">{{ 'you-can-modify-or-delete-your-proposal'|trans({'{modifier}':proposalLink, '{supprimer}': proposalLink},'CapcoAppBundle', user_locale) }}</p>
            {% endif %}
            <p style="margin: 0; line-height: 24px;">{{ 'published-contribution-email'|trans({}, 'CapcoAppBundle', user_locale)|raw }}</p>
        </div>

    </div>
{% endblock %}

{% block footer_mail %}
    <div>
        <p style="margin: 0; text-align: left">{{ 'email.notification.footer.mail-send-by'|trans({'{siteName}': siteName,'{siteUrl}': siteUrl,}, 'CapcoAppBundle', user_locale) | raw }}</p>

        <p style="text-align: left;">
            {{ 'email.propulsed.by'|trans({}, 'CapcoAppBundle', user_locale) | raw }}
            <img src="{{ baseUrl ~ asset("capco-logo-mail.png")}}" alt="logo cap collectif" style="width: 15px;height: 15px;margin: 0 2px 0 4px;"  />
            Cap Collectif
        </p>
    </div>
{% endblock %}
