{% extends "@CapcoMail/standardLayout.html.twig" %}

{% set proposalDate =  sendAt|localizeddate('long', 'none', 'fr_FR', timezone)  %}
{% set proposalHour =  sendAt|date('H', timezone) ~ 'h' ~ sendAt|date('i', timezone) %}
{% set siteName = capco_site_parameter_value('global.site.fullname') %}

{% block header_mail %}
    <tr>
        <td class="resp-full-td" valign="top" style="margin:0 20px; text-align:center;">
            <a class="resp-punchline" href="#" style="color:#337ab7; outline:none; text-decoration:none; font-size:12px; font-family:'Open Sans', helvetica, arial, sans-serif;">
                {{ siteName }}
            </a>
            <h1 class="resp-punchline" style="color:#000000; outline:none; font-size:14px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif; font-weight:500;">
                {{ 'acknowledgment-of-receipt'|trans({},'CapcoAppBundle') }}
            </h1>
            <span class="resp-punchline" style="color:#999999; outline:none; font-size:12px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif;">
                {{ proposalDate }}
            </span>
        </td>
    </tr>
{% endblock %}

{% block core_mail %}
    <b>{{ 'hello-username'|trans({'{username}': username}, 'CapcoAppBundle')|raw }}</b>
    {{ 'thank-you-for-participating-in-the-project'|trans({'{projectTitle}': projectTitle, '{projectLink}': projectLink},'CapcoAppBundle')|raw }}
    {{ 'your-proposal-has-been-registered-an-published'|trans({'{proposalName}': proposalName,'{proposalLink}': proposalLink},'CapcoAppBundle')|raw }}
    {{ 'on-date-at-time'|trans({'{date}':proposalDate, '{heure}': proposalHour},'CapcoAppBundle')|raw }}.
    <br><br>
    {{ 'you-can-modify-or-delete-your-proposal'|trans({'{modifier}':proposalLink, '{supprimer}': proposalLink},'CapcoAppBundle') }}
    {{ ' ' ~ 'until-date'|trans({'{date}':endAt|localizeddate('long', 'none', 'fr_FR', timezone)},'CapcoAppBundle') }}.
{% endblock %}

{% block footer_mail %}
    <span style="font-size:10px; font-family:'Open Sans', helvetica, arial, sans-serif; color:#999999">
        {{ 'notification.email.external_footer'|trans({'{to}': to, '{sitename}': siteName, '{business}': business, '{siteUrl}': homepageUrl, '{businessUrl}': businessUrl}, 'CapcoAppBundle') | raw }}
    </span>
{% endblock %}
