{% extends "@CapcoMail/standardLayout.html.twig" %}

{% set proposalDate =  sendAt|localizeddate('long', 'none', user_locale, timezone)  %}

{% set proposalHour =  sendAt|date('H', timezone) ~ 'h' ~ sendAt|date('i', timezone) %}

{% set siteName = capco_site_parameter_value('global.site.fullname') %}

{% block html_title %}
    {{ 'acknowledgement-of-receipt'|trans({}, 'CapcoAppBundle', user_locale) }}
{% endblock %}

{% block header_mail %}
    <tr>
        <td class="resp-full-td" valign="top" style="margin:0 20px; texlign:center;">
            <div style="text-align: center;">
                <a class="resp-punchline" href="#" style="color:#337ab7; ot-autline:none; text-decoration:none; font-size:20px; font-family:'Open Sans', helvetica, arial, sans-serif; text-align:center;">
                    {{ siteName|raw }}
                </a>
                <h1 class="resp-punchline" style="color:#000000; outline:none; font-size:22px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif; font-weight:500; text-align:center;">
                    {{ 'acknowledgement-of-receipt'|trans({}, 'CapcoAppBundle', user_locale) }}
                </h1>
                <span class="resp-punchline" style="color:#999999; outline:none; font-size:20px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif; text-align:center;">
                    {{ proposalDate }}
                </span>
            </div>
        </td>
    </tr>
{% endblock %}

{% block core_mail %}
    <span style="color:#000;font-weight: bold">{{ 'hello-username'|trans({'{username}': username}, 'CapcoAppBundle', user_locale)|raw }}</span>
    <p style="color:#000;">{{ 'thank-you-for-participating-in-the-project'|trans({'{projectTitle}': projectTitle, '{projectLink}': projectLink},'CapcoAppBundle', user_locale)|raw }}</p>
    <span style="color:#000;">
        {% if typeOfMail == 'create' %}
            {{ 'your-proposal-has-been-registered'|trans({'{proposalTitle}': proposalName,'{proposalLink}': proposalLink},'CapcoAppBundle', user_locale)|raw }}
            {{ 'on-date-at-time'|trans({'{date}':proposalDate, '{heure}': proposalHour},'CapcoAppBundle', user_locale)|raw }}.

            {% if not proposalPublished and confirmationUrl is not null %} 
                {{ 'unpublished-contribution-help-text'|trans({}, 'CapcoAppBundle', user_locale)|raw }}
                <p>
                    <a href="{{ confirmationUrl }}"><strong>{{ 'user.register.confirmation_message.validate'|trans({}, 'CapcoAppBundle', user_locale) }}</strong></a>
                </p>
            {% endif %} 
        {% else %}
            {{ 'you-have-modified-your-proposal'|trans({
                '{proposalTitle}': proposalName,
                '{proposalLink}': proposalLink,
                '{proposalChangeDate}': proposalDate,
                '{proposalChangeTime}' : proposalHour
            },'CapcoAppBundle', user_locale)|raw }}
        {% endif %}
    </span>

    <p style="color:#000;">
        {% if isTimeless %}
            {{ 'you-can-still-edit-or-delete-your-proposal'|trans({}, 'CapcoAppBundle', user_locale)|raw }}
        {% else %}
            {{ 'you-can-modify-or-delete-your-proposal'|trans({'{modifier}':proposalLink, '{supprimer}': proposalLink},'CapcoAppBundle', user_locale) }}
            {{ ' ' ~ 'until-date'|trans({'{date}':endAt|localizeddate('long', 'none', user_locale, timezone)},'CapcoAppBundle', user_locale) }}.
        {% endif %}
    </p>
        <p style="color:#000; margin-bottom: 8px;">
            <i>
                {{ 'published-contribution-email'|trans({}, 'CapcoAppBundle', user_locale)|raw }}
            </i>
        </p>
{% endblock %}

{% block footer_mail %}
    <span style="font-size:13px; font-family:'Open Sans', helvetica, arial, sans-serif; color:#999999">
        {{ 'notification.email.external_footer'|trans(
            {'{to}': to, '{sitename}': siteName, '{business}': business, '{siteUrl}': homepageUrl, '{businessUrl}': businessUrl},
            'CapcoAppBundle',
            user_locale
        ) | raw }}
    </span>
{% endblock %}
