{% extends "@CapcoMail/standardLayout.html.twig" %}

{% set timezone = archive.requestedAt.timezone %}
{% set archiveDate =  archive.requestedAt|localizeddate('long', 'none', 'fr_FR', timezone)  %}

{% block html_title %}
    {{ 'email-name-download-copy'|trans({},'CapcoAppBundle') }}
{% endblock %}

{% block header_mail %}
    <tr>
        <td class="resp-full-td" valign="top" style="margin:0 20px; texlign:center;">
            <div style="text-align: center;">
                <a class="resp-punchline" href="{{ siteUrl }}" style="color:#337ab7; ot-autline:none; text-decoration:none; font-size:20px; font-family:'Open Sans', helvetica, arial, sans-serif; text-align:center;">
                    {{ sitename }}
                </a>
                <h1 class="resp-punchline" style="color:#000000; outline:none; font-size:22px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif; font-weight:500; text-align:center;">
                    {{ 'your-archive'|trans({},'CapcoAppBundle') }}
                </h1>
                <span class="resp-punchline" style="color:#999999; outline:none; font-size:20px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif; text-align:center;">
                    {{ archiveDate }}
                </span>
            </div>
        </td>
    </tr>
{% endblock %}

{% block core_mail %}
    <span style="color:#000;font-weight: bold">{{ 'hello-username'|trans({'{username}': archive.user.username}, 'CapcoAppBundle')|raw }}</span>
    <p style="color:#000;">{{ 'data-archive-ready'|trans({},'CapcoAppBundle')|raw }}</p>
    <a href="{{ downloadUrl ~ '#personal-data'  }}" style="color: #FFF; background-color: #0069d9; border: 1px solid #0062cc; text-decoration: none; text-align: center; border-radius: 4px; padding: 6px 12px; line-height: 24px;" role="button">
        {{ 'download-my-copy'|trans({}, 'CapcoAppBundle') }}
    </a>
    <p style="color:#000;">{{ 'email-footer-message-requested-archive'|trans({},'CapcoAppBundle')|raw }}</p>
{% endblock %}

{% block footer_mail %}
    <span style="font-size:13px; font-family:'Open Sans', helvetica, arial, sans-serif; color:#999999">
        {{ 'notification.email.external_footer'|trans({'{to}': to, '{sitename}': sitename, '{business}': business, '{siteUrl}': siteUrl, '{businessUrl}': businessUrl}, 'CapcoAppBundle') | raw }}
    </span>
{% endblock %}
