{% extends "@CapcoMail/standardLayoutNew.html.twig" %}

{% set baseUrl = url('app_homepage') %}

{% block core_mail %}
    <div class="ql-editor">
        {{ content|raw }}
    </div>
{% endblock %}

{% block footer_mail %}
    <div>
        <p style="margin: 0 0 18px 0;">{{ 'email.notification.footer.subscribe.to'|trans({'{siteName}': siteName,'{siteUrl}': url('app_homepage'),}, 'CapcoAppBundle', user_locale) | raw }}</p>

        <p style="text-align: center;">
            {{ 'email.propulsed.by.capco'|trans({
                '{logoUrl}': url('app_homepage') ~ asset('capco-logo-mail.png'),
            }, 'CapcoAppBundle', user_locale) | raw }}
        </p>
    </div>
{% endblock %}

{% block style_mail %}
    {{ parent() }}
    {{ include("@CapcoMail/wysiwyg.css") }}
{% endblock %}
