{% extends "@CapcoMail/standardLayout.html.twig" %}

{% block html_title %}
    {{ 'acknowledgement-of-receipt'|trans({},'CapcoAppBundle') }}
{% endblock %}

{% set logo = app_logo_url() %}
{% set timezone = date.timezone %}
{% set dateLocalized =  date|localizeddate('long', 'none', 'fr_FR', timezone)  %}

{% block core_mail %}
    <div style="height: 35px; margin-bottom: 10px;">
        {% if logo is not null %}
            <img style="float: left;" src="{{ logo }}" />
        {% else %}
            <img style="width: 30px; height: 30px; float: left;" src="{{ baseUrl ~ asset('apple-icon-76x76.png') }}" />
        {% endif %}
        <h2 style="color: #666; float: left; margin: 12px 8px;">
            {{ siteName|raw }}
        </h2>
    </div>
    <tr>
        <td class="resp-full-td" valign="top" style="margin:0 20px;background-color: #FFFFFF;border-radius: 7px; padding: 20px; border: 1px solid #ccc; border-top-left-radius: 0px; border-top-right-radius: 0px;">
            <div>
                <div class="resp-punchline" style="color:#666; text-decoration:none; font-size:20px; font-family:helvetica, arial, sans-serif; text-align:left;">
                    <p>
                        {{ 'email.notification.email.change'|trans({
                            '{date}': dateLocalized,
                            '{time}': time,
                        }, 'CapcoAppBundle') | raw }}
                    </p>
                    <p style="font-size: 16px">
                        {{ 'email.notification.password.change.contact'|trans({}, 'CapcoAppBundle') | raw }}
                    </p>
                </div>
            </div>
        </td>
    </tr>
{% endblock %}

{% block footer_mail %}
    <p style="font-size:13px; font-family:helvetica, arial, sans-serif; color:#999999; margin-top: 10px;">
        {{ 'email.notification.footer.mail-send-by'|trans({
            '{siteName}': siteName,
            '{siteUrl}': baseUrl,
        }, 'CapcoAppBundle') | raw }}
        <br><br>
        {{ 'footer-promotion'|trans({}, 'CapcoAppBundle') | raw }}
        <br><br>
        {{ 'email.propulsed.by.capco'|trans({
            '{logoUrl}': baseUrl ~ asset('capco-logo-mail.png'),
        }, 'CapcoAppBundle') | raw }}
    </p>

{% endblock %}
