{% extends "@CapcoMail/standardLayout.html.twig" %}

{% set siteName = capco_site_parameter_value('global.site.fullname') %}

{% block html_title %}
{% endblock %}

{% block header_mail %}
    <tr>
        <td class="resp-full-td" valign="top" style="texlign:center;">
            <div style="text-align: center;">
                <a class="resp-punchline" href="#" style="color:#337ab7; ot-autline:none; text-decoration:none; font-size:20px; font-family:'Open Sans', helvetica, arial, sans-serif; text-align:center;">
                    {{ siteName|raw }}
                </a>
                <h1 class="resp-punchline" style="color:#000000; outline:none; font-size:22px; text-decoration:none; font-family:'Open Sans', helvetica, arial, sans-serif; font-weight:500; text-align:center;">
                    {{ title|raw }}
                </h1>
            </div>
        </td>
    </tr>
{% endblock %}

{% block core_mail %}
    <tr>
        <td class="resp-full-td" valign="top" style="texlign:center;">
            <p style="color:#000;">
                <b>{{ 'global.name'|trans({},'CapcoAppBundle')|raw }}</b>: {{ name }}<br>
                <b>{{ 'global.email'|trans({},'CapcoAppBundle')|raw }}</b>: {{ email }}<br>
                <b>{{ 'object'|trans({},'CapcoAppBundle')|raw }}</b>: {{ object }}<br>
                <b>{{ 'contact.form.message'|trans({},'CapcoAppBundle')|raw }}</b>: <div style="padding: 10px; border: 1px solid #acacac;background-color: #fafafa; border-radius: 5px;">{{ message }}</div>
            </p>
        </td>

    </tr>
{% endblock %}



{% block footer_mail %}
    <span style="font-size:13px; font-family:'Open Sans', helvetica, arial, sans-serif; color:#999999;">
        <hr>
        {{ 'user.register.confirmation_message.footer2'|trans({'{siteLink}': siteUrl, '{sitename}': sitename}, 'CapcoAppBundle') | raw }}
    </span>
{% endblock %}
