<td class="resp-full-td" valign="top"
    style="border-radius: 4px; background-color: #FFFFFF; padding: 20px; border: 1px solid #e3e3e3; display: flex;">
    <img src="{{ baseUrl ~ asset('calendar-3.png') }}"
         style="position: relative;    top: 2px;    right: 2px; height: 26px; width: auto;"
         class="event"/>
    <div style="margin-left: 10px">
        <p style="margin: 0; font-weight: bold; text-transform: uppercase; font-family: OpenSans-Bold;">{{ 'event.last.title'|trans({}, 'CapcoAppBundle') }}</p>
        <span style="font-family: OpenSans-Regular;">{{ eventTitle }}</span>
    </div>
    {% if eventStatus is defined %}
        <span
            style="font-size: 14px; background-color: {{color}}; font-family: OpenSans-Semibold; font-weight: 600; border-radius: 13px; color: #fff; padding: 5px 10px 3px 3px; max-height: 18px; display: flex">
            {% if eventStatus == constant('Capco\\AppBundle\\DBAL\\Enum\\EventReviewStatusType::REFUSED') %}
                <img src="{{ baseUrl ~ asset('svg/view-off.svg') }}" />
            {% endif %}
            {{ eventStatus|trans({}, 'CapcoAppBundle') | raw }}
        </span>
    {% endif %}
</td>
