<td class="resp-full-td" valign="top"
    style="border-radius:4px;background-color:#ffffff;padding:20px;border:1px solid #e3e3e3;display:flex;justify-content: space-between;flex-wrap: wrap;">
    <div style="display: flex; flex:auto;">
        <div style="display: flex">
            <img src="{{ baseUrl ~ asset('calendar-3.png') }}"
                 style="position: relative;    top: 2px;    right: 2px; height: 26px; width: auto;"
                 class="event"/>
            <div style="margin-left: 10px">
                <p style="margin: 0; font-weight: bold; text-transform: uppercase; font-family: OpenSans-Bold;">{{ 'global.events'|trans({}, 'CapcoAppBundle', user_locale) }}</p>
                <span style="font-family: OpenSans-Regular;">{{ eventTitle|raw }}</span>
            </div>
        </div>
    </div>
    {% if eventStatus is defined %}
        <div
            style="font-size:11px;background-color:{{ color }}; font-family:OpenSans-Semibold;font-weight:600;border-radius:20px;color:#fff;padding:4px 7px 5px 6px;max-height:18px;display:flex;margin-left: auto;">
            {% if eventStatus == constant('Capco\\AppBundle\\DBAL\\Enum\\EventReviewStatusType::REFUSED') %}
                <img src="{{ baseUrl ~ asset('svg/view-off.svg') }}"/>
            {% endif %}
            <span>
                {{ eventStatus|trans({}, 'CapcoAppBundle', user_locale) | raw }}
            </span>
        </div>
    {% endif %}
</td>

