{% block body_text %}
    {% set username = is_feature_enabled('profiles') ? ('<strong><a href="' ~ url('capco_user_profile_show_all', {'slug': user.slug}) ~'">' ~ user.username ~ '</a></strong>') : ('<strong>' ~ user.username ~ '</strong>') %}
    {% autoescape false %}
        <p>
            {{ 'reporting.notification.body'|trans({'%username%' : username}, 'CapcoAppBundle') | raw }}
        </p>
        <p>{{ 'reporting.notification.type_title'|trans({}, 'CapcoAppBundle') | raw }}</p>
        <p>{{ type }}</p>
        <p>{{ 'reporting.notification.message_title'|trans({}, 'CapcoAppBundle') | raw }}</p>
        <p>{{ message }}</p>
        <p>{{ 'reporting.notification.contribution_title'|trans({}, 'CapcoAppBundle') | raw }}</p>
        {% if contribution.title is defined %}
            <p>{{ contribution.title }}</p>
        {% endif %}
        <p>{{ contribution.body }}</p>
        <p>{{ 'reporting.notification.contribution'|trans({}, 'CapcoAppBundle') | raw }}</p>
        <ul>
            <li>
                <a href="{{ siteUrl }}">{{ 'reporting.notification.contribution_on_site'|trans({}, 'CapcoAppBundle') }}</a>
            </li>
            <li>
                <a href="{{ adminUrl }}">{{ 'reporting.notification.contribution_in_bo'|trans({}, 'CapcoAppBundle') }}</a>
            </li>
        </ul>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
