{% block body_text %}
    {% autoescape false %}
        {% set siteName = capco_site_parameter_value('global.site.fullname') %}
        <h2>      {{ siteName }}    </h2>
        <h1>      {{ 'summary-of-activities'|trans({},'CapcoAppBundle') }}    </h1>
        {% for currentProjectId, project in userProjectsActivities %}
            <h2>{{ project.projectType }}</h2>

            {% for proposal in project.proposals %}
                <h3>{{ proposal.title }}</h3>
                <ul>
                    {% if proposal.isUpdated %}
                        <li>Proposition mise à jour</li>
                    {% endif %}
                    {% if proposal.isDeleted %}
                        <li>Proposition supprimée</li>
                    {% endif %}
                    {% if proposal.comments > 0 %}
                        <li>{{ proposal.comments }} nouveaux commentaires</li>
                    {% endif %}
                    {% if proposal.votes > 0 %}
                        <li>{{ proposal.votes }} nouveaux votes</li>
                    {% endif %}
                    {% if proposal.lastStep %}
                        <li>Est passé à l'étape {{proposal.lastStep.titleStep }} avec le status {{ proposal.lastStep.sName}}</li>
                    {% endif %}
                </ul>
                <a href="{{ proposal.link }}">Afficher</a>
            {% endfor %}
        {% endfor %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
F
