{% extends "CapcoUserBundle::layout.html.twig" %}
{% block title %} {{ 'user.register.title'|trans({}, 'CapcoAppBundle') }} {{ parent() }} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'registration.check_email.title'|trans({}, 'SonataUserBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <p class="text-blue">{{ 'registration.check_email.body'|trans({'%email%': user.email}, 'SonataUserBundle') }}</p>
        <h2 class="h2">{{ 'registration.check_email.content.title'|trans({}, 'SonataUserBundle') }}</h2>
        <p>{{ 'registration.check_email.content.body'|trans({}, 'SonataUserBundle') }}</p>
    </div>

{% endblock fos_user_content %}
