{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
    <p>{{ 'user.register.confirmation_message.hello'|trans({'%username%': user.username}, 'CapcoAppBundle') }}</p>
    <p>{{ 'user.register.confirmation_message.thanks'|trans({'%sitename%': capco_site_parameter_value('global.site.fullname'), '%email%': user.email}, 'CapcoAppBundle') }}</p>
    <p>{{ 'user.register.confirmation_message.validate'|trans({'%url%': confirmationUrl}, 'CapcoAppBundle') }}</p>
    <p>{{ 'user.register.confirmation_message.bye'|trans({}, 'CapcoAppBundle') }}</p>
{% endblock %}

{% block body_html %}
{% endblock %}
