{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%sitename%': capco_site_parameter_value('global.site.fullname')}, 'CapcoAppBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
{% set sitename = capco_site_parameter_value('global.site.fullname') ? capco_site_parameter_value('global.site.fullname') : url('app_homepage') %}
{% set profile = url('capco_user_profile_show') %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ sitename }}</title>
</head>
<body>
    <table>
        <tr>
            <td style="font-family: sans-serif; font-size: 16px;">
                <p>{{ 'user.register.confirmation_message.hello'|trans({'%username%': user.username}, 'CapcoAppBundle') }}</p></br>
                <p>{{ 'user.register.confirmation_message.thanks'|trans({'%sitename%': '<a href="' ~ url('app_homepage') ~ '">' ~ sitename ~ '</a>'}, 'CapcoAppBundle') }}</p><br/>
                <p>{{ 'user.register.confirmation_message.please'|trans({}, 'CapcoAppBundle') }}</p>
                <p style="margin-bottom: 45px">
                    <a
                        href="{{ confirmationUrl }}"
                        style="color: #FFF; background-color: #0069d9; border: 1px solid #0062cc; text-decoration: none; text-align: center; border-radius: 4px; padding: 6px 12px; line-height: 24px;"
                        role="button"
                    >
                        {{ 'user.register.confirmation_message.validate'|trans({}, 'CapcoAppBundle') }}
                    </a>
                </p>
                <p>{{ 'user.register.confirmation_message.data'|trans({'%profile%': profile, '%sitename%': sitename}, 'CapcoAppBundle') }}</p><br/>
                <p>{{ 'global.participation'|trans({}, 'CapcoAppBundle') }}</p><br/>
                <hr />
                <p style="color: #707070; line-height: 21px">{{ 'user.register.confirmation_message.footer1'|trans({'%sitename%': '<a href="' ~ url('app_homepage') ~ '" style="color: #707070;">' ~ sitename ~ '</a>'}, 'CapcoAppBundle') }}<br/>
                {{ 'user.register.confirmation_message.footer2'|trans({'%sitename%': '<a href="' ~ url('app_homepage') ~ '" style="color: #707070;">' ~ sitename ~ '</a>'}, 'CapcoAppBundle') }}</p>
            </td>
        </tr>
    </table>
</body>
</html>
{% endblock %}
