{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%sitename%': capco_site_parameter_value('global.site.fullname')}, 'CapcoAppBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
{% set sitename = capco_site_parameter_value('global.site.fullname') %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ sitename }}</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <p>{{ 'user.register.confirmation_message.hello'|trans({'%username%': user.username}, 'CapcoAppBundle') }}</p>
                <p>{{ 'user.register.confirmation_message.thanks'|trans({'%sitename%': sitename}, 'CapcoAppBundle') }}</p>
								<p>{{ 'user.register.confirmation_message.please'|trans({}, 'CapcoAppBundle') }}</p>
								<p><a href="{{ confirmationUrl }}"><strong>{{ 'user.register.confirmation_message.validate'|trans({}, 'CapcoAppBundle') }}</strong></a></p>
                <p>{{ 'user.register.confirmation_message.participate'|trans({}, 'CapcoAppBundle') }}</p>
                <p>{{ 'user.register.confirmation_message.question'|trans({'%email%': capco_site_parameter_value('admin.mail.contact') | default('support@cap-collectif.com')}, 'CapcoAppBundle') }}</p>
                <p>{{ 'user.register.confirmation_message.bye'|trans({}, 'CapcoAppBundle') }}</p>
                <hr />
                <p>{{ 'user.register.confirmation_message.footer1'|trans({'%sitename%': sitename}, 'CapcoAppBundle') }}</p>
                <p>{{ 'user.register.confirmation_message.footer2'|trans({'%sitename%': '<a href="' ~ url('app_homepage') ~ '">' ~ sitename ~ '</a>'}, 'CapcoAppBundle') }}</p>
            </td>
        </tr>
    </table>
</body>
</html>
{% endblock %}
