{% form_theme form 'CapcoUserBundle:Form:capco_register.html.twig' %}
<div class="container  container--custom">

    {% set textTop = capco_site_parameter_value('signin.text.top') %}
    {% if textTop %}
        <div class="alert  alert-info  block  text-center">
            {{ textTop|raw }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-4  col-lg-offset-4  col-md-6  col-md-offset-3  col-sm-8  col-sm-offset-2  col-xs-12">
            <div class="block  block--bordered  box">

                {% if has_feature_enabled(['login_facebook', 'login_gplus', 'login_twitter']) %}
                    {% if is_feature_enabled('login_facebook') %}
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" title="Sign in with Facebook" class="btn  login__social-btn  login__social-btn--facebook">{{ 'user.register.social.facebook'|trans({}, 'CapcoAppBundle') }}</a>
                    {% endif %}
                    {% if is_feature_enabled('login_gplus') %}
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" title="Sign in with Google" class="btn  login__social-btn  login__social-btn--googleplus">{{ 'user.register.social.gplus'|trans({}, 'CapcoAppBundle') }}</a>
                    {% endif %}
                    {% if is_feature_enabled('login_twitter') %}
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" title="Sign in with Twitter" class="btn  login__social-btn  login__social-btn--twitter">{{ 'user.register.social.twitter'|trans({}, 'CapcoAppBundle') }}</a>
                    {% endif %}
                    <p class="p--lined"><span>{{ 'user.register.or'|trans({}, 'CapcoAppBundle') }}</span></p>
                {% endif %}

                {% block capco_user_registration %}
                    <form role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
                        <div class="form-group">
                            <label for="username" class="control-label  h5">{{ 'user.register.username.username'|trans({}, 'CapcoAppBundle') }}</label>
                            {{ form_widget(form.username) }}
                            <p class="excerpt  h5">{{ 'user.register.username.is_public'|trans({}, 'CapcoAppBundle') }}</p>
                        </div>
                        {{ form_errors(form.username) }}

                        <div class="form-group">
                            <label for="email" class="control-label  h5">{{ 'user.register.email'|trans({}, 'CapcoAppBundle') }}</label>
                            {{ form_widget(form.email) }}
                        </div>
                        {{ form_errors(form.email) }}

                        <div class="form-group">
                            <label for="password" class="control-label  h5">
                                {{ 'security.login.password'|trans({}, 'SonataUserBundle') }}
                            </label>
                            {{ form_widget(form.plainPassword.first) }}
                        </div>
                        {{ form_errors(form.plainPassword.first) }}

                        <div class="form-group">
                            <label for="password-confirm" class="control-label  h5">
                                {{ 'form.password_confirmation'|trans({}, 'SonataUserBundle') }}
                            </label>
                            {{ form_widget(form.plainPassword.second) }}
                        </div>
                        {{ form_errors(form.plainPassword.second) }}

                        {% if form.isTermsAccepted is defined %}
                            {{ form_widget(form.isTermsAccepted) }}
                            {{ form_errors(form.isTermsAccepted) }}
                        {% endif %}

                        {{ form_rest(form) }}
                        <button type="submit" class="btn  btn-success  btn-block  login__submit">{{ 'user.register.submit' | trans({}, 'CapcoAppBundle') }}</button>

                    </form>
                {% endblock %}
                <hr>
                <a href="{{ path('fos_user_security_login') }}" class="btn  btn-light-gray  btn-block">{{ 'user.login.submit' | trans({}, 'CapcoAppBundle') }}</a>

            </div>
        </div>
    </div>

    {% set textBottom = capco_site_parameter_value('signin.text.bottom') %}
    {% if textBottom %}
        <div class="text-center  login__p">
            {{ textBottom|raw }}
        </div>
    {% endif %}
</div>
