{% extends "@CapcoMail/standardLayout.html.twig" %}

{% block html_title %}
    {{ 'notification.proposal.analysis.title'|trans({'analystName': analyst.username, 'proposalName': proposal.title}, 'CapcoAppBundle', user_locale) }}
{% endblock %}

{% set logoUrl = app_logo_url() %}

{% block header_mail %}
    <img style="margin-bottom: 20px;" src="{{ logoUrl }}" alt="logo {{ siteName }}" />
    <h1>
        {{ siteName }} : {{ projectName }}
    </h1>
{% endblock %}


{% block core_mail %}
    <div class="resp-punchline"
         style="padding: 20px 27px 20px 27px;text-decoration:none; text-align:left;color: rgb(51, 51, 51);font-size: 18px;font-family: 'OpenSans-SemiBold',helvetica,arial,sans-serif;font-weight: 600; background-color:#EEE">
        <table width="100%" class="resp-full-table" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    {{ 'notification.proposal.analysis.body'
                        |trans({
                            'analystUrl': analystUrl,
                            'analystName': analyst.username,
                            'proposalUrl': proposalUrl,
                            'proposalName': proposal.title,
                            'date': publicationDate|date("d/m/Y"),
                            'time': publicationDate|date("H:i")
                        }, 'CapcoAppBundle', user_locale)
                        |raw
                    }}
                </td>
            </tr>
            <tr>
                <td style="padding-top: 30px;">
                    <a style="background-color: #3b88fd; border-radius: 5px;color: #fff;padding: 5px 9px;font-size: 14px;"
                       href="{{ proposalUrl }}">
                        {{ 'global.consult' |trans({}, 'CapcoAppBundle', user_locale) }}
                    </a>
                </td>
                </tr>
        </table>
    </div>
{% endblock %}


{% block footer_mail %}
    {% include '@CapcoMail/footerLayout.html.twig' %}
{% endblock %}
