<table class="table">
    {% if admin.collectStep is defined and admin.collectStep is not null %}
        {% set proposals = admin.collectStep.proposalForm.proposals %}
        <th>{{ 'global.title'|trans({}, 'CapcoAppBundle') }}</th>
        <th>{{ 'global.author'|trans({}, 'CapcoAppBundle') }}</th>
        <th>{{ 'global.published'|trans({}, 'CapcoAppBundle') }}</th>
        <th>{{ 'global.is_trashed'|trans({}, 'CapcoAppBundle') }}</th>
        <th>{{ 'admin.fields.proposal.updated_at'|trans({}, 'CapcoAppBundle') }}</th>
        <th>{{ 'admin.fields.project.proposals_table.actions'|trans({}, 'CapcoAppBundle') }}</th>

        {% for proposal in proposals %}
            <tr class="sonata-ba-view-container">
                <td><a href="/admin/capco/app/proposal/{{ proposal.id }}/show">{{ proposal }}</a></td>
                <td><a href="/admin/capco/user/user/{{ proposal.author.id }}/show">{{ proposal.author }}</a></td>
                <td>
                    <label class="label label{% if proposal.isPublished() %}-success{% else %}-danger{% endif %}">
                        {% if proposal.isPublished() %}
                            {{ 'admin.fields.project.proposals_table.yes'|trans({}, 'CapcoAppBundle') }}
                        {% else %}
                            {{ 'admin.fields.project.proposals_table.no'|trans({}, 'CapcoAppBundle') }}
                        {% endif %}
                    </label>
                </td>
                <td>
                    <label class="label label{% if proposal.isTrashed() %}-success{% else %}-danger{% endif %}">
                        {% if proposal.isTrashed() %}
                            {{ 'admin.fields.project.proposals_table.yes'|trans({}, 'CapcoAppBundle') }}
                        {% else %}
                            {{ 'admin.fields.project.proposals_table.no'|trans({}, 'CapcoAppBundle') }}
                        {% endif %}
                    </label>
                </td>
                <td>
                    {{ proposal.updatedAt|date('d M Y H:m:i') }}
                </td>
                <td class="sonata-ba-list-field sonata-ba-list-field-actions col-md-4" objectid="{{ proposal.id }}">
                    <div class="btn-group">
                        <a href="/admin/capco/app/proposal/{{ proposal.id }}/show" class="btn btn-sm btn-default view_link" title="{{ 'link_action_show'|trans({}, 'CapcoAppBundle') }}">
                            <i class="glyphicon glyphicon-zoom-in"></i> {{ 'link_action_show'|trans({}, 'CapcoAppBundle') }}
                        </a>
                        <a href="/admin/capco/app/proposal/{{ proposal.id }}/edit" class="btn btn-sm btn-default edit_link" title="{{ 'link_action_edit'|trans({}, 'CapcoAppBundle') }}">
                            <i class="glyphicon glyphicon-edit"></i> {{ 'link_action_edit'|trans({}, 'CapcoAppBundle') }}
                        </a>
                    </div>

                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
