{% extends "@CapcoMail/standardLayoutNew.html.twig" %}

{% set logo = app_logo_url() %}

{% set btnBg = capco_site_color_value('color.btn.bg') %}
{% if null == btnBg %}{% set btnBg = '#1ABC9C' %}{% endif %}
{% set btnText = capco_site_color_value('color.btn.text') %}
{% if null == btnText %}{% set btnText = '#FFF' %}{% endif %}
{% set linkText = capco_site_color_value('color.link.default') %}
{% if null == linkText %}{% set linkText = '#16a085' %}{% endif %}

{% block core_mail %}
    <div>
        {% if logo is not null %}
            <img src="{{ logo }}" alt="logo {{ organizationName }}" />
        {% else %}
            <img src="{{ baseUrl ~ asset('apple-icon-76x76.png') }}" alt="" />
        {% endif %}

        <div style="margin-top: 24px; color: #545E68; text-align: left;">
            <p style="margin: 0; line-height: 16px; color: #919191; font-weight: 700; text-transform: uppercase; font-size: 11px; ">
                {{ 'export.option.analysis-form'|trans({},'CapcoAppBundle', user_locale)|raw }}
            </p>

            <p style="margin: 0 0 24px 0; line-height: 32px; font-size: 24px; color: #2B2B2B; font-weight: 600">
                {{ 'user-left-a-comment'|trans({'{username}': username},'CapcoAppBundle', user_locale)|raw }}
            </p>

            <p style="margin: 0 0 24px 0; line-height: 19px; color: #5E5E5E; font-size: 14px;">
                "{{ body }}"
            </p>

            <p style="margin-bottom: 24px">
                <a href="{{ proposalUrl }}"
                   style="display: inline-block; color:{{ btnText }}; padding:12px 32px; border-radius:4px; background-color: {{ btnBg }}; font-weight: 600; font-size: 14px; line-height: 24px; text-decoration: none">
                    {{ 'see-the-comment'|trans({}, 'CapcoAppBundle', user_locale) | raw }}
                </a>
            </p>

        </div>
    </div>
{% endblock %}

{% block footer_mail %}
    <div>
        <p style="margin: 0; text-align: left">{{ 'create-custom-domail-email-footer'|trans({'{siteName}': siteName}, 'CapcoAppBundle', user_locale) | raw }}</p>

        <p style="text-align: left;">
            {{ 'email.propulsed.by'|trans({}, 'CapcoAppBundle', user_locale) | raw }}
            <img src="{{ baseUrl ~ asset("capco-logo-mail.png")}}" alt="logo cap collectif" style="width: 15px;height: 15px;margin: 0 2px 0 4px;"  />
            {{ siteName }}
        </p>
    </div>
{% endblock %}
