<script>
    var $buoop = {
        required: {
            e: -4,
            f: 50,
            o: -6,
            o_a: -6,
            s: -3,
            c: 53,
        },
        reminder: 0,
        text: "<b>{{ 'your-browser-is-outdated'|trans }}</b><p>{{ 'update-browser-for-good-browsing'|trans }}</p><span class='buorg-buttons'><a id='buorgul' href='http://outdatedbrowser.com/{{ intl_locale()|slice(0, 2) }}' target='_blank'>{{ 'update-browser'|trans }}</a><a id='buorgig'>{{ 'browser-update-ignore'|trans }}</a></span>",
        api: 2018.10
    };

    function $buo_f() {
        var e = document.createElement("script");
        e.src = "https://browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {
        document.addEventListener("DOMContentLoaded", $buo_f, false)
    } catch (e) {
        window.attachEvent("onload", $buo_f)
    }
</script>
