{% extends "@CapcoApp/base.html.twig" %}

{% set link = capco_site_color_value('color.link.default') %}
{% set linkHover = capco_site_color_value('color.link.hover') %}

{% block canonical_link %}{{ url('app_page_show', {'slug': pageTranslation.slug}) }}{% endblock %}

{% block metaTags %}
    {% set picto = capco_site_image_media('homepage.picto') %}
    {% set image %}{% if page.cover %}{{ media_public_url(page.cover, 'default_blockHeader') }}{% endif %}{% endset %}
    {% include '@CapcoApp/Default/meta.html.twig' with {
        'title':       pageTranslation.title,
        'image':       image,
        'type':        'article',
        'description': page.metaDescription|striptags ?: pageTranslation.body|striptags|truncate(250, true),
        'url':         url('app_page_show', {'slug': pageTranslation.slug})
    } only %}
{% endblock %}


{% block title %}
    {{ parent() }} - {{ pageTranslation.title }}
{% endblock %}

{% block jumbotron %}
    <div id="jumbotron-title" class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ pageTranslation.title }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <style>
        .old-editor a,
        .old-editor .btn.btn-link {
            color: {{ link | raw }};
        }
        .old-editor a:hover,
        .old-editor .btn.btn-link:hover {
            color: {{ linkHover | raw }};
        }
    </style> 
    <div class="container  container--thinner old-editor">
        {{ pageTranslation.body|raw }}
    </div>
{% endblock %}
{% block javascripts %}
<script>
    const onElementAvailable = (selector, callback) => {
        const observer = new MutationObserver(() => {
        if (document.querySelector(selector)) {
            observer.disconnect()
            callback()
        }
    })
    observer.observe(document.body, { childList: true, subtree: true })
    }
    const event = new MessageEvent("set-breadcrumb", {
        bubbles: true,
        data: [
            { title: "{{ 'navbar.homepage' | trans({}, 'CapcoAppBundle') }}", href: "/" },
            { title: "{{ pageTranslation.title }}", href: "" },
        ],
    });
    onElementAvailable('#main_navbar', () => {
        document.dispatchEvent(event)
    });
</script>
    {{ parent() }}
    {% if page.customCode is defined and page.customCode != '' %}{{ page.customCode | raw }}{% endif %}
{% endblock %}
