{% set nbVotes = opinion.getVoteCountAll %}
{% set nbArguments = opinion.argumentsCount %}
{% set nbSources = opinion.sourcesCount %}
<li class="opinion  has-chart" data-ok="{{ opinion.voteCountOk }}" data-nok="{{ opinion.voteCountNok }}" data-mitige="{{ opinion.voteCountMitige }}" data-opinion-id="{{ opinion.id }}">
    <div class="row">
        <div class="col-xs-12  col-sm-8  col-md-9  col-lg-10">
            {% include 'CapcoAppBundle:Opinion:opinion_body.html.twig' %}
        </div>
        <div class="hidden-xs col-sm-4  col-md-3  col-lg-2">
            <div id="piechart-{{ opinion.id }}" style="width: 145px; height: 95px;"></div>
        </div>
    </div>
</li>
