{% set isVersion = isVersion is not defined ? false : isVersion %}
{% set nbVotes = opinion.getVotesCountAll %}
{% set nbArguments = opinion.arguments | length %}
{% set nbSources = opinion.sources | length %}
{% set nbVersions = isVersion ? null : opinionVersionsResolver.__invoke(opinion).totalCount %}
{% set top = isVersion ? opinion.parent.project.versionsRankingThreshold : opinion.project.opinionsRankingThreshold %}
{% set showRanking = showRanking is defined ? showRanking : false %}
{% set bodyCols = showRanking ? 'col-xs-11  col-sm-7  col-md-8  col-lg-9' : 'col-xs-12  col-sm-8  col-md-9  col-lg-10' %}
<li class="opinion has-chart{% if opinion.author.isVip %} bg-vip{% endif %}" data-ok="{{ opinion.votesCountOk }}" data-nok="{{ opinion.votesCountNok }}" data-mitige="{{ opinion.votesCountMitige }}" data-pie-id="{{ opinion.id }}">
    <div class="row">
        {% if showRanking %}
            <div class="col-xs-1">
                <div class="ranking__nb">{{ opinion.ranking }}</div>
            </div>
        {% endif %}
        <div class="{{ bodyCols }}">
            {% include 'CapcoAppBundle:Opinion:opinion_body.html.twig' %}
        </div>
        <div class="hidden-xs col-sm-4  col-md-3  col-lg-2">
            <div id="piechart-{{ opinion.id }}" style="width: 145px; height: 95px;"></div>
        </div>
    </div>
</li>
