{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_new_opinion', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ consultation.title }} - {{ 'opinion.create.title'|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="dialog  dialog--{{ opinionType.color }}  block--bordered">
                    <div class="dialog__header  box">
                        <h1 class="h4  dialog__title">{{ 'opinion.create.title'|trans({}, 'CapcoAppBundle') }}</h1>
                    </div>
                    <div class="dialog__message  box">
                        <p>{{ 'opinion.create.text'|trans({}, 'CapcoAppBundle') }}</p>
                    </div>
                    <form method="post">
                        <div class="dialog__body  box">
                            <div class="media">
                                {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': app.user, 'classes': 'media-object', 'link_classes': 'pull-left'} only %}
                                <div class="media-body">
                                    {{ form_row(form.title) }}
                                    {{ form_row(form.body) }}
                                    {% for app in form.appendices.children %}
                                        {% set title = app.vars.value.appendixType %}
                                        {{ form_row(app, {'label': title, 'required': false}) }}
                                    {% endfor %}
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>
                        <div class="dialog__footer  box">
                            <div class="pull-right">
                                <a href="{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug}) }}" class="btn  btn-default">{{ 'opinion.create.cancel'|trans({}, 'CapcoAppBundle') }}</a>
                                <button type="submit" class="btn  btn-primary">{{ 'opinion.create.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
