{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="dialog  dialog--light-gray  block--bordered">
                    <div class="dialog__header  box">
                        <h4 class="h4  dialog__title">{{ 'opinion.delete.title'|trans({}, 'CapcoAppBundle') }}</h4>
                    </div>

                    <form method="post" {{ form_enctype(form) }}>
                        <div class="dialog__body  box">
                            <div class="media">
                                <div class="media-body">
                                    {{ form_rest(form) }}
                                    <h4>{{ 'opinion.delete.subtitle'|trans({}, 'CapcoAppBundle') }}</h4>
                                    <div>
                                        {{ 'opinion.delete.text'|trans({}, 'CapcoAppBundle') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dialog__footer  box">
                            <div class="pull-right">
                                <a href="{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug}) }}" class="btn  btn-default">{{ 'opinion.delete.cancel'|trans({}, 'CapcoAppBundle') }}</a>
                                <button type="submit" class="btn  btn-danger">{{ 'opinion.delete.submit'|trans({}, 'CapcoAppBundle') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
