{% set date = opinion.updatedAt | localizeddate('medium', 'none') %}
<div class="opinion__body  box">
    {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': opinion.Author, 'link_classes': 'pull-left'} only %}
    <div class="opinion__data">
        <p class="opinion__user excerpt small">
            {% if is_feature_enabled('profiles') %}
                <a href="{{ path('capco_user_profile_show_all', {'slug': opinion.Author.slug}) }}">{{ opinion.Author.username }}</a>
            {% else %}
                {{ opinion.Author.username }}
            {% endif %}
            • {{ opinion.publishedAt | localizeddate('medium', 'none', app.request.locale) }}
            {% if opinion.updatedAt is not null and opinion.publishedAt != opinion.updatedAt %}
                • {{ 'global.edited'|trans({}, 'CapcoAppBundle') }} {{ date }}
            {% endif %}

            {% if isVersion == false and opinion.pinned %}
                <span class="opinion__label opinion__label--blue" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ 'global.pinned.tooltip.opinion'|trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-pin-1"></i>
                    {{ 'global.pinned.label'|trans({}, 'CapcoAppBundle') }}
                </span>
            {% endif %}

            {% if top is not null and opinion.ranking is not null and opinion.ranking <= top %}
                {% set topLabel = isVersion ? 'opinion.show.ranking.versions'
                    : opinionTerm is defined and opinionTerm == 1
                        ? 'opinion.show.ranking.articles'
                        : 'opinion.show.ranking.opinions'
                %}
                <span class="opinion__label opinion__label--green">
                    <i class="cap cap-trophy"></i>
                    {{ topLabel |trans({'%max%': top}, 'CapcoAppBundle') }}
                </span>
            {% endif %}
        </p>
        <h3 class="opinion__title">
            {% if opinion.isTrashed() %}
                <span class="label label-default" style="position: static; margin-right: 5px">
                    {{ 'global.is_trashed'|trans({}, 'CapcoAppBundle') }}
                </span>
                {% if opinion.getTrashedStatus() == 'visible' %}
                {% if isVersion %}
                    <a href="{{ path('app_project_show_opinion_version', {'projectSlug': opinion.parent.step.project.slug, 'stepSlug': opinion.parent.step.slug, 'opinionTypeSlug': opinion.parent.opinionType.slug, 'opinionSlug': opinion.parent.slug, 'versionSlug': opinion.slug}) }}">
                        {{ opinion.title }}
                    </a>
                {% else %}
                    <a href="{{ path('app_project_show_opinion', {'projectSlug': opinion.step.project.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}">
                        {{ opinion.title }}
                    </a>
                {% endif %}
                {% endif %}
            {% else %}
                {% if isVersion %}
                    <a href="{{ path('app_project_show_opinion_version', {'projectSlug': opinion.parent.step.project.slug, 'stepSlug': opinion.parent.step.slug, 'opinionTypeSlug': opinion.parent.opinionType.slug, 'opinionSlug': opinion.parent.slug, 'versionSlug': opinion.slug}) }}">
                        {{ opinion.title }}
                    </a>
                {% else %}
                    <a href="{{ path('app_project_show_opinion', {'projectSlug': opinion.step.project.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}">
                        {{ opinion.title }}
                    </a>
                {% endif %}
            {% endif %}
        </h3>
        {% set opinionType = isVersion ? opinion.parent.opinionType : opinion.opinionType %}
        <p class="opinion__votes  excerpt  small">
            {% if opinionType.voteWidgetType != 0 %}
                <span>{% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                    project.show.votes
                {% endtranschoice %}</span>
            {% endif %}
            {% if isVersion == false and opinionType.versionable %}
                <span class="count__separator"> • </span>
                <span>{% transchoice nbVersions with {'%count%': nbVersions} from 'CapcoAppBundle' %}
                    project.show.versions
                    {% endtranschoice %}</span>
            {% endif %}
            {% if opinionType.commentSystem != 0 %}
                <span class="count__separator"> • </span>
                <span>{% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                    project.show.arguments
                {% endtranschoice %}</span>
            {% endif %}
            {% if opinionType.sourceable %}
                <span class="count__separator"> • </span>
                <span>{% transchoice nbSources with {'%count%': nbSources} from 'CapcoAppBundle' %}
                    project.show.sources
                {% endtranschoice %}</span>
            {% endif %}
        </p>
    </div>
</div>
