{% set consultation = opinion.step.consultation %}
<div class="opinion__body  box">
    {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': opinion.Author, 'link_classes': 'pull-left'} only %}
    <div class="opinion__data">
        <p class="opinion__user excerpt small">
            <a href="{{ path('capco_user_profile_show_all', {'slug': opinion.Author.slug}) }}">{{ opinion.Author.username }}</a>
            • {{ opinion.createdAt | localizeddate('medium', 'none', app.request.locale) }}
            {% if opinion.pinned %}
                <span class="label  label-info" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ 'opinion.show.pinned.tooltip'|trans({}, 'CapcoAppBundle') }}">
                    {{ 'opinion.show.pinned.label'|trans({}, 'CapcoAppBundle') }}
                </span>
            {% endif %}
        </p>
        <h3 class="opinion__title">
            {% if trashed is not defined and profile is not defined and opinion.isTrashed %}
                <span class="label label-default" style="position: static; margin-right: 5px">
                    {{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}
                </span>
            {% endif %}
            <a href="{{ path('app_consultation_show_opinion', {'consultationSlug': consultation.slug, 'stepSlug': opinion.step.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}">
                {{ opinion.title }}
            </a>
        </h3>
        <p class="opinion__votes  excerpt  small">
            {% if opinion.opinionType.voteWidgetType != 0 %}
                {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                    consultation.show.votes
                {% endtranschoice %}
            {% endif %}
            {% if opinion.opinionType.commentSystem != 0 %}
                <span class="count__separator"> • </span>
                {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                    consultation.show.arguments
                {% endtranschoice %}
            {% endif %}
            {% if opinion.opinionType.versionable %}
                <span class="count__separator"> • </span>
                {% transchoice nbVersions with {'%count%': nbVersions} from 'CapcoAppBundle' %}
                consultation.show.versions
                {% endtranschoice %}
            {% endif %}
            {% if opinion.opinionType.sourceable %}
                <span class="count__separator"> • </span>
                {% transchoice nbSources with {'%count%': nbSources} from 'CapcoAppBundle' %}
                    consultation.show.sources
                {% endtranschoice %}
            {% endif %}
        </p>
    </div>
</div>
