{% set consultation = opinion.consultation %}
<div class="opinion__body  box">
    {% include 'CapcoUserBundle:Avatar:avatar.html.twig' with { 'user': opinion.Author, 'link_classes': 'pull-left'} only %}
    <div class="opinion__data">
        <p class="opinion__user excerpt  h5"><a href="{{ path('capco_user_profile_show_all', {'slug': opinion.Author.slug}) }}">{{ opinion.Author.username }}</a> <span class="pull-right  excerpt">{{ opinion.createdAt | localizeddate('medium', 'none', app.request.locale) }}</span></p>
        <h3 class="opinion__title">
            {% if trashed is not defined and profile is not defined and opinion.isTrashed %}
                <span class="label label-default" style="position: static">
                    {{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}
                </span>
            {% endif %}
            <a href="{{ path('app_consultation_show_opinion', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}">
                {{ opinion.title }}
            </a>
        </h3>
        <p class="opinion__votes  excerpt h5">
            {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
            consultation.show.votes
            {% endtranschoice %}
            •
            {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
            consultation.show.arguments
            {% endtranschoice %}
            •
            {% transchoice nbSources with {'%count%': nbSources} from 'CapcoAppBundle' %}
            consultation.show.sources
            {% endtranschoice %}
        </p>
    </div>
</div>
