{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show_opinion', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ opinion.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">

        {% if currentStep.isClosed %}
            <div class="alert alert-info alert-dismissible  block" role="alert">
                <p><strong>{{ 'consultation.show.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}

        {% if currentStep.isFuture %}
            <div class="alert alert-info alert-dismissible  block" role="alert">
                <p><strong>{{ 'consultation.show.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.future.text'|trans({'%date%': '<strong>' ~ currentStep.startAt | localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3  block--mobile">
                {{ render(controller('CapcoAppBundle:Site/Consultation:showMeta', {'consultationSlug': consultation.slug, 'currentStepSlug': currentStep.slug})) }}
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12">

                <div id="render-opinion" data-opinion="{{ opinion.id }}"></div>

                {# We hide tabs if only one is available #}
                {% if opinion.canAddVersions or opinion.canAddSources or opinion.canAddComments %}
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        {% if opinion.canAddComments %}
                            <li role="presentation" class="active">
                                <a href="#arguments" aria-controls="arguments" role="tab" data-toggle="tab">
                                    {% if opinion.getCommentSystem == 1  %}
                                        {% transchoice (opinion.arguments|length) with {'%count%': (opinion.arguments|length)} from 'CapcoAppBundle' %}simple_argument.count{% endtranschoice %}
                                    {% else %}
                                        {% transchoice (opinion.arguments|length) with {'%count%': (opinion.arguments|length)} from 'CapcoAppBundle' %}argument.count{% endtranschoice %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                        {% if opinion.canAddVersions %}
                            <li role="presentation">
                                <a id="versionsTab" href="#versions" aria-controls="versions" role="tab" data-toggle="tab">
                                    {% transchoice (opinion.versions|length) with {'%count%': (opinion.versions|length)} from 'CapcoAppBundle' %}version.show.count{% endtranschoice %}
                                </a>
                            </li>
                        {% endif %}
                        {% if opinion.canAddSources %}
                            <li role="presentation">
                                <a id="sourcesTab" href="#sources" aria-controls="sources" role="tab" data-toggle="tab">
                                    {% transchoice (sources|length) with {'%count%': (sources|length)} from 'CapcoAppBundle' %}source.show.count{% endtranschoice %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="opinion-tabs tab-content">

                        <!-- Arguments -->
                        {% if opinion.canAddComments %}
                            <div role="tabpanel" class="tab-pane active" id="arguments">
                                {% if opinion.getCommentSystem == 1 %}
                                    {% if opinion.canContribute %}
                                        {% set argType = 2 %}
                                        {% set form = argumentFormYes %}
                                        {% include '@CapcoApp/Argument/create.html.twig' %}
                                    {% endif %}
                                    {{ render(controller('CapcoAppBundle:Site/Argument:showArguments', {
                                        'consultation': consultation, 'step': currentStep, 'opinionType': opinionType,
                                        'opinion': opinion, 'type': 2, 'form': sortArgumentsForm, 'argumentSort': argumentSort
                                        }))
                                    }}
                                {% else %}
                                    <div class="row">
                                        <div class="col-sm-12  col-md-6">
                                            {% if opinion.canContribute %}
                                                {% set argType = 1 %}
                                                {% set form = argumentFormYes %}
                                                {% include '@CapcoApp/Argument/create.html.twig' %}
                                            {% endif %}
                                            {{ render(controller('CapcoAppBundle:Site/Argument:showArguments', {
                                                'consultation': consultation, 'step': currentStep, 'opinionType': opinionType,
                                                'opinion': opinion, 'type': 1, 'form': sortArgumentsForm, 'argumentSort': argumentSort
                                                }))
                                            }}
                                        </div>
                                        <div class="col-sm-12  col-md-6">
                                            {% if opinion.canContribute %}
                                                {% set argType = 0 %}
                                                {% set form = argumentFormNo %}
                                                {% include '@CapcoApp/Argument/create.html.twig' %}
                                            {% endif %}
                                            {{ render(controller('CapcoAppBundle:Site/Argument:showArguments', {
                                                'consultation': consultation, 'opinionType': opinionType, 'opinion': opinion,
                                                'type': 0, 'form': sortArgumentsForm, 'argumentSort': argumentSort
                                                }))
                                            }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        <!-- Nouvelles versions -->
                        {% if opinion.canAddVersions %}
                            <div role="tabpanel" class="tab-pane" id="versions">
                                <div id="render-opinion-versions" data-opinion="{{ opinion.id }}" data-text="{{ opinion.body }}"></div>
                            </div>
                        {% endif %}

                        <!-- Sources -->
                        {% if opinion.canAddSources %}
                            <div role="tabpanel" class="tab-pane" id="sources">
                                <div id="render-opinion-sources" data-opinion="{{ opinion.id }}"></div>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}
            </div>

            </div> <!-- col-xs-12  col-sm-4  col-md-3 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% if null == app.user %}
            App.initPopovers('.connection-popover-js', {
                placement: "top",
                html: "true",
                trigger: "focus",
                title: "{{ 'user.login.popover.title'|trans({}, 'CapcoAppBundle') }}",
                content: "<p>{{ 'user.login.popover.body'|trans({}, 'CapcoAppBundle') }}</p>"
                {% if is_feature_enabled("registration") %} + "<p><a href='{{ path('fos_user_registration_register') }}' class='btn  btn-success  center-block'>{{ 'user.login.popover.signin'|trans({}, 'CapcoAppBundle') }}</a></p>" {% endif %}
                +"<p><a href='{{ path('fos_user_security_login') }}' class='btn  btn-default  center-block'>{{ 'user.login.popover.login'|trans({}, 'CapcoAppBundle') }}</a></p>"
            });
        {% endif %}
    </script>
{% endblock %}
