{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show_opinion', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ opinion.title }}
{% endblock %}

{% block content %}
    <div id="render-opinion" data-opinion="{{ opinion.id }}" data-reporting-enabled={{ is_feature_enabled('reporting') ? "true" : "false" }}></div>
{% endblock %}
