{% extends '@CapcoApp/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">

        {% include '@CapcoApp/Consultation/show_title.html.twig' %}

        {% if consultation.isClose %}
            <div class="alert alert-info alert-dismissible  block" role="alert">
                <p><strong>{{ 'consultation.show.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}

        {% if consultation.isFuture %}
            <div class="alert alert-info alert-dismissible  block" role="alert">
                <p><strong>{{ 'consultation.show.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'consultation.show.alert.future.text'|trans({'%date%': '<strong>' ~ consultation.getOpenedAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3  block--mobile">
                {% include '@CapcoApp/Consultation/show_meta.html.twig' %}
            </div>

            {% set nbVotes = (opinion.getVoteCountAll) %}
            {% set nbArguments = (opinion.argumentsCount) %}
            {% set nbSources = (opinion.sourcesCount) %}
            <div class="col-xs-12  col-sm-8  col-md-9 has-chart" id="details" data-ok="{{ opinion.voteCountOk }}" data-nok="{{ opinion.voteCountNok }}" data-mitige="{{ opinion.voteCountMitige }}" data-opinion-id="{{ opinion.id }}">
                <div class="block  block--bordered  opinion__details">
                    <div class="opinion  opinion--{{ opinion.opinionType.color }}  opinion--current">
                        <div class="opinion__header  opinion__header--centered">
                            <a class="neutral-hover  pull-left  h4" href="{% if opinion.isTrashed %}{{ path('app_consultation_show_trashed', {'consultationSlug': consultation.slug,}) }}{% else %}{{ path('app_consultation_show_opinions', {'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug}) }}{% endif %}"><i class="cap cap-arrow-1"></i><span class="hidden-xs  hidden-sm"> {{ 'opinion.show.back'|trans({}, 'CapcoAppBundle') }}</span></a>
                            <p class="h4  opinion__header__title">{{ opinion.opinionType.slug|capitalize }} </p>
                        </div>
                        <div class="opinion__body  box">
                            {%  set avatar = opinion.Author.Media|capco_default_avatar %}
                            {% if avatar != null %}
                                <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': opinion.Author.slug}) }}">
                                    {% thumbnail avatar, 'avatar' with {'title': opinion.Author.username, 'alt': opinion.Author.username, 'class': 'img-circle  pull-left'} %}
                                </a>
                            {% else %}
                                <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': opinion.Author.slug}) }}">
                                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><circle fill="{{ capco_site_color_value('color.section.bg')  }}" cx="100" cy="100" r="97.617"/><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
                                </a>
                            {% endif %}
                            <div class="opinion__data">
                                <p class="opinion__user  h5"><a href="{{ path('capco_user_profile_show_all', {'slug': opinion.Author.slug}) }}">{{ opinion.Author.username }}</a> <span class="pull-right  excerpt">{{ opinion.createdAt | localizeddate('medium', 'none', app.request.locale) }}</span></p>
                                <p class="opinion__title">{% if opinion.isTrashed %}<span class="label label-default" style="position: static">{{ 'opinion.show.trashed.label'|trans({}, 'CapcoAppBundle') }}</span> {% endif %}{{ opinion.title }}</p>
                                <p class="opinion__votes  excerpt h5">
                                    {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                                    consultation.show.votes
                                    {% endtranschoice %}
                                    •
                                    {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                                    consultation.show.arguments
                                    {% endtranschoice %}
                                    •
                                    {% transchoice nbSources with {'%count%': nbSources} from 'CapcoAppBundle' %}
                                    consultation.show.sources
                                    {% endtranschoice %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="opinion__description">
                        {% if(nbVotes > 0) %}
                        <div id="piechart-{{ opinion.id }}" class="opinion__chart  center-block"></div>
                        {% endif %}
                        {{ opinion.body|raw }}
                        <div class="opinion__buttons">
                            {% set opinionVoteCounts = { (opinionVoteTypes['ok']): opinion.voteCountOk, (opinionVoteTypes['nok']): opinion.voteCountNok, (opinionVoteTypes['mitige']): opinion.voteCountMitige } %}
                            {% set previousValue = null %}
                            {% if previousVote is not null %}
                                {% set previousValue = previousVote.value %}
                            {% endif %}
                            
                            {% if opinion.canContribute %}

                                {% form_theme opinionVoteForm 'CapcoAppBundle:Form:opinion_vote.html.twig' %}
                                {{ form_start(opinionVoteForm, {'attr': {'class': 'vote-form'}} ) }}
                                    {{ form_errors(opinionVoteForm) }}
                                    {{ form_widget(opinionVoteForm.value, {'previousType': previousValue, 'typeStyles': opinionVoteStyles, 'voteCounts': opinionVoteCounts}) }}
                                    {{ form_rest(opinionVoteForm) }}


                                {{ form_end(opinionVoteForm) }}

                                {% if (previousVote) %}
                                    <div class="opinion__vote-group">
                                        {% set tokenRemoveVote = csrf_token('remove_opinion_vote') %}
                                        <form method="POST" style="display: inline-block;" action="{{ path('app_consultation_cancel_vote' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'opinionVote': previousVote.id } ) }}">
                                            <button class="btn  btn-info"> {{ 'source.vote.delete'|trans({}, 'CapcoAppBundle') }}</button>
                                            <input type="hidden" name="_csrf_token" value="{{ tokenRemoveVote }}">
                                        </form>
                                    </div>
                                {% endif %}

                                <div class="pull-right  opinion__action-buttons">

                                    <div class="opinion__vote-group">
                                        {% if(userReportingOpinion == false) %}
                                        <a href="{{ path('app_report_opinion' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug } ) }}" class="btn  btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'opinion.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                                        {% else %}
                                        <button disabled="disabled" class="btn  btn-dark-gray"><i class="cap cap-flag-1"></i> {{ 'opinion.report.reported'|trans({}, 'CapcoAppBundle') }}</button>
                                        {% endif %}

                                        {% if app.user is not null and app.user == opinion.Author %}
                                        <a href="{{ path('app_consultation_edit_opinion' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinion.opinionType.slug, 'opinionSlug': opinion.slug } ) }}" class="btn  btn-dark-gray  btn--outline"><i class="cap cap-pencil-1"></i> {{ 'opinion.update.button'|trans({}, 'CapcoAppBundle') }}</a>
                                        {% endif %}
                                    </div>
                                </div>

                            {% endif %}
                        </div> <!-- .opinion__buttons -->
                        <div class="panel-group" id="accordion">
                            {% set tokenSource = csrf_token('source_vote') %}
                            <div class="panel panel-default">
                                <div class=" sources__panel  panel-heading" data-toggle="collapse" data-target="#collapseOne" style="cursor:pointer;">
                                    <h4 class="panel-title">
                                        {% transchoice (sources|length) with {'%count%': (sources|length)} from 'CapcoAppBundle' %}source.show.count{% endtranschoice %}
                                        {% if sources|length > 0 %} <i class="cap cap-arrow-67 pull-right"></i>{% endif %}
                                    </h4>
                                    {% if opinion.canContribute %}
                                        <p class="sources__btn"><a href="{{ path('app_new_source' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug} ) }}" class="btn-sm btn btn-default"><i class="cap cap-add-1"></i> {{ 'source.create.button'|trans({}, 'CapcoAppBundle') }}</a></p>
                                    {% endif %}
                                </div>
                                {% if sources|length > 0 %}
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        {% for source in sources %}
                                            <div class="media" id="source{{ source.id }}">
                                                {%  set avatar = source.Author.Media|capco_default_avatar %}
                                                {% if avatar != null %}
                                                    <a class="pull-left media-middle" href="{{ path('capco_user_profile_show_all', {'slug': source.Author.slug}) }}">
                                                        {% thumbnail avatar, 'avatar_source' with {'title': source.Author.username, 'alt': source.Author.username, 'class': 'img-circle  pull-left'} %}
                                                    </a>
                                                {% else %}
                                                    <a class="pull-left" href="{{ path('capco_user_profile_show_all', {'slug': source.Author.slug}) }}">
                                                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve"><circle fill="{{ capco_site_color_value('color.section.bg')  }}" cx="100" cy="100" r="97.617"/><g><path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" d="M100,160.011h68.011c0,0,0-12.163-5.916-23.993c-4.41-8.819-22.024-14.039-45.683-22.908V95.367c0,0,7.239-6.661,7.239-18.49c2.959,0,5.916-11.826,0-14.785c0-1.754,7.927-16.569,5.916-26.613c-2.957-14.786-44.353-14.786-47.309-2.955c-17.742,0-5.915,27.169-5.915,29.568c-5.913,2.959-2.957,14.785,0,14.785c0,11.829,7.238,17.473,7.238,17.473v18.759c-23.655,8.875-41.273,14.089-45.682,22.908c-5.911,11.83-5.911,23.993-5.911,23.993H100z"/></g></svg>
                                                    </a>
                                                {% endif %}
                                                <div class="media-body">
                                                    <h4 class="media-heading h4" id="source{{ source.id }}"><span class="label label-info">{{ source.Category.title }}</span>
                                                        {% if source.Media %}
                                                            <a href="{{ path('sonata_media_download', {'id': source.Media|sonata_urlsafeid }) }}">{{ source.title }}</a>
                                                        {% endif %}
                                                        {% if source.link %}
                                                            <a href="{{ source.link }}" target="_blank">{{ source.title }}</a>
                                                        {% endif %}
                                                    </h4>
                                                    <p class="excerpt">
                                                        {{ source.body }}
                                                    </p>
                                                    {% if false == opinion.canContribute %}
                                                        <button disabled="disabled" class="btn  btn-dark-gray  btn-xs"><i class="cap cap-hand-like-2"></i> {{ 'source.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                                                    {% else %}
                                                        <form method="POST" style="display: inline-block;" action="{{ path('app_consultation_vote_source' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug } ) }}">
                                                            {% if source.userHasVote(app.user) %}
                                                            <button class="btn  btn-danger  btn-xs"> {{ 'source.vote.delete'|trans({}, 'CapcoAppBundle') }}</button>
                                                            {% else %}
                                                            <button class="btn  btn-success  btn--outline  btn-xs"><i class="cap cap-hand-like-2"></i> {{ 'source.vote.submit'|trans({}, 'CapcoAppBundle') }}</button>
                                                            {% endif %}
                                                            <input type="hidden" name="_csrf_token" value="{{ tokenSource }}">
                                                        </form>
                                                    {% endif %}
                                                    <span class="nb-votes">{{ source.voteCountSource }}</span>

                                                    {% if opinion.canContribute %}
                                                        {% if(userReportingSource == false) %}
                                                            <a href="{{ path('app_report_source' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug } ) }}" class="btn btn-xs btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> {{ 'source.report.submit'|trans({}, 'CapcoAppBundle') }}</a>
                                                        {% else %}
                                                            <button disabled="disabled" class="btn btn-xs btn-dark-gray"><i class="cap cap-flag-1"></i> {{ 'source.report.reported'|trans({}, 'CapcoAppBundle') }}</button>
                                                        {% endif %}

                                                        {% if app.user is not null and app.user == source.Author %}
                                                            <a href="{{ path('app_edit_source' ,{'consultationSlug': consultation.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'sourceSlug': source.slug} ) }}" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap cap-pencil-1"></i> {{ 'source.update.button'|trans({}, 'CapcoAppBundle') }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div> <!-- .panel-group -->
                    </div> <!-- .opinion__description -->
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null and opinion.canContribute %}
                            {% set argType = 1 %}
                            {% set form = argumentFormYes %}
                            {% include '@CapcoApp/Argument/create.html.twig' %}
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Argument:showArguments', {'consultation': consultation, 'opinionType': opinionType, 'opinion': opinion, 'type': 1, 'form': sortArgumentsForm, 'argumentSort': argumentSort})) }}
                    </div>
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null  and opinion.canContribute %}
                            {% set argType = 0 %}
                            {% set form = argumentFormNo %}
                            {% include '@CapcoApp/Argument/create.html.twig' %}
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Argument:showArguments', {'consultation': consultation, 'opinionType': opinionType, 'opinion': opinion, 'type': 0, 'form': sortArgumentsForm, 'argumentSort': argumentSort})) }}
                    </div>
                </div>
            </div> <!-- col-xs-12  col-sm-4  col-md-3 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('js/readmore/readmore.min.js') }}"></script>
    {% if consultation.video %}
        <script src="{{ asset('js/fancybox/jquery.fancybox.pack.js') }}"></script>
    {% endif %}
    <script type="text/javascript">
        App.module.video('.fancybox');
        App.module.pieChart();
        $('.more').readmore({
            maxHeight: 90,
            moreLink: '<a href="#">{{ 'consultation.show.meta.intro.read_more'|trans({}, 'CapcoAppBundle') }}</a>', //BazingaJsTranslationBundle
            lessLink: '<a href="#">{{ 'consultation.show.meta.intro.read_less'|trans({}, 'CapcoAppBundle') }}</a>'
        });
    </script>
{% endblock %}
