{% extends '@CapcoApp/Opinion/show.html.twig' %}

{% block canonical_link %}
    {{ url('app_consultation_show_opinion_version', {'consultationSlug': consultation.slug, 'stepSlug': currentStep.slug, 'opinionTypeSlug': opinionType.slug, 'opinionSlug': opinion.slug, 'versionSlug': version.slug}) }}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ version.title }}
{% endblock %}

{% block content %}
   <div id="render-opinion-version" data-version="{{ version.id }}" data-opinion="{{ opinion.id }}" data-reporting-enabled={{ is_feature_enabled('reporting') ? "true" : "false" }}>
       <p class="text-center">{{ 'global.loading' | trans({}, 'CapcoAppBundle') }}</p>
   </div>
{% endblock %}
