{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">

        {% include '@CapcoApp/Consultation/show_title.html.twig' %}

        <div class="row">

            <div class="col-xs-12  col-sm-4  col-md-3">
                {% include '@CapcoApp/Consultation/show_meta.html.twig' %}
            </div>

            {% set nbVotes = (opinion.getVotesAll) %}
            {% set nbArguments = (opinion.arguments|length) %}
            <div class="col-xs-12  col-sm-8  col-md-9 has-chart" id="details" data-ok="{{ opinion.voteCountOk }}" data-nok="{{ opinion.voteCountNok }}" data-mitige="{{ opinion.voteCountMitige }}" data-opinion-id="{{ opinion.id }}">
                <div class="block  block--shadowed  opinion__details">
                    <div class="opinion  opinion--{{ app.request.attributes.get('opinionType').color }}  opinion--current">
                        <div class="opinion__header  opinion__header--centered">
                            <a class="neutral-hover  pull-left  h4" href="{{ path('app_consultation_show_opinions', {'consultation_slug': consultation.slug, 'opinion_type_slug': app.request.attributes.get('opinion_type_slug')}) }}"><i class="cap cap-arrow-1"></i><span class="hidden-xs  hidden-sm"> Retour</span></a>
                            <p class="h4  opinion__header__title">{{ app.request.attributes.get('opinionType').slug|capitalize }} </p>
                        </div>
                        <div class="opinion__body  box">
                            {% if opinion.Author.Media %}
                                <a class="pull-left" href="#">
                                    {% thumbnail opinion.Author.Media, 'avatar' with {'title': opinion.Author.fullname, 'alt': opinion.Author.fullname, 'class': 'img-circle  pull-left'} %}
                                </a>
                            {% endif %}
                            <div class="opinion__data">
                                <p class="opinion__user  h5"><a href="#">{{ opinion.Author.getFullname }}</a> <span class="pull-right  excerpt">{{ opinion.createdAt | localizeddate('medium', 'none', app.request.locale) }}</span></p>
                                <p class="opinion__title">{{ opinion.title }}</p>
                                <p class="opinion__votes  excerpt h5">
                                    {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                                    consultation.show.votes
                                    {% endtranschoice %}
                                    •
                                    {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                                    consultation.show.arguments
                                    {% endtranschoice %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="opinion__description">
                        {% if(nbVotes > 0) %}
                        <div id="piechart-{{ opinion.id }}" class="opinion__chart  center-block"></div>
                        {% endif %}
                        {{ opinion.body|raw }}
                        <div class="opinion__buttons">

                            {% set opinionVoteCounts = { (opinionVoteTypes['ok']): opinion.voteCountOk, (opinionVoteTypes['nok']): opinion.voteCountNOk, (opinionVoteTypes['mitige']): opinion.voteCountMitige } %}
                            {% set previousValue = null %}
                            {% if previousVote is not null %}
                                {% set previousValue = previousVote.value %}
                            {% endif %}
                            
                            {% form_theme opinionVoteForm 'CapcoAppBundle:Form:opinion_vote.html.twig' %}
                            {{ form_start(opinionVoteForm ) }}
                                {{ form_errors(opinionVoteForm) }}
                                {{ form_widget(opinionVoteForm.value, {'previousType': previousValue, 'typeStyles': opinionVoteStyles, 'voteCounts': opinionVoteCounts}) }}
                                {{ form_rest(opinionVoteForm) }}
                            {{ form_end(opinionVoteForm) }}

                            <div class="pull-right  opinion__action-buttons">
                                <a href="#" class="btn  btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> Signaler</a>
                                {% if app.user is not null and app.user == opinion.Author %}
                                    <a href="{{ path('app_consultation_edit_opinion' ,{'consultation_slug': consultation.slug, 'opinion_type_slug': app.request.attributes.get('opinionType').slug, 'opinion_slug': opinion.slug } ) }}" class="btn  btn-dark-gray  btn--outline"><i class="cap cap-pencil-1"></i> Modifier</a>
                                {% endif %}
                            </div>
                        </div> <!-- .opinion__buttons -->

                        <div class="panel-group" id="accordion">
                            {% set tokenSource = csrf_token('source_vote') %}
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne" style="cursor:pointer;">
                                    <h4 class="panel-title">{% transchoice sources|length with {'%count%': sources|length} from 'CapcoAppBundle' %}source.show.count{% endtranschoice %} <i class="cap cap-add-1 pull-right"></i></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p><a href="{{ path('app_new_source' ,{'opinion_slug': opinion.slug} ) }}" class="btn-sm btn btn-default">{{ 'source.show.add'|trans({}, 'CapcoAppBundle') }}</a></p>
                                        {% for source in sources %}
                                            <div class="media" id="source{{ source.id }}">
                                                {% if source.Author.Media %}
                                                    <a class="pull-left media-middle" href="#">
                                                        {% thumbnail source.Author.Media, 'avatar_source' with {'title': source.Author.fullname, 'alt': source.Author.fullname, 'class': 'img-circle  pull-left'} %}
                                                    </a>
                                                {% endif %}
                                                <div class="media-body">
                                                    <h4 class="media-heading h4" id="source{{ source.id }}"><span class="label label-info">{{ source.Category.title }}</span>
                                                        {% if source.Media %}
                                                            <a href="{{ path('sonata_media_download', {'id': source.Media|sonata_urlsafeid }) }}">{{ source.title }}</a>
                                                        {% endif %}
                                                        {% if source.link %}
                                                            <a href="{{ source.link }}" target="_blank">{{ source.title }}</a>
                                                        {% endif %}
                                                    </h4>
                                                    <p class="excerpt">
                                                        {{ source.body }}
                                                    </p>
                                                    <form method="POST" style="display: inline-block;" action="{{ path('app_consultation_vote_source' ,{'consultation_slug': consultation.slug, 'opinion_type_slug': opinionType.slug, 'opinion_slug': opinion.slug, 'source_id': source.id } ) }}">
                                                        {% if source.userHasVote(app.user) %}
                                                        <button class="btn  btn-danger  btn-xs">Annuler mon vote</button>
                                                        {% else %}
                                                        <button class="btn  btn-success  btn--outline  btn-xs"><i class="cap cap-hand-like-2"></i>Pertinent</button>
                                                        {% endif %}
                                                        <input type="hidden" name="_csrf_token" value="{{ tokenSource }}">
                                                    </form>
                                                    <span class="nb-votes">{{ source.voteCountSource }}</span>
                                                    <a href="#" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap cap-flag-1"></i> Signaler</a>
                                                    {% if app.user is not null and app.user == source.Author %}
                                                        <a href="{{ path('app_edit_source' ,{'opinion_slug': opinion.slug, 'source_slug': source.slug} ) }}" class="btn  btn-dark-gray  btn--outline  btn-xs"><i class="cap cap-pencil-1"></i> Modifier</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .panel-group -->

                    </div> <!-- .opinion__description -->

                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null %}
                            {% set argType = 1 %}
                            {% set form = argumentFormYes %}
                            {% include '@CapcoApp/Argument/create.html.twig' %}
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Argument:showArguments', {'consultation': consultation, 'opinionType': app.request.attributes.get('opinionType'), 'opinion': opinion, 'type': 1})) }}
                    </div>
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null %}
                            {% set argType = 0 %}
                            {% set form = argumentFormNo %}
                            {% include '@CapcoApp/Argument/create.html.twig' %}
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Argument:showArguments', {'consultation': consultation, 'opinionType': app.request.attributes.get('opinionType'), 'opinion': opinion, 'type': 0})) }}
                    </div>
                </div>
            </div> <!-- col-xs-12  col-sm-4  col-md-3 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('js/readmore/readmore.min.js') }}"></script>
    <script type="text/javascript">
        App.module.pieChart();
        $('.more').readmore({
            maxHeight: 90,
            moreLink: '<a href="#">Lire la suite</a>', //BazingaJsTranslationBundle
            lessLink: '<a href="#">Fermer</a>'
        });
    </script>
{% endblock %}
