{% extends '@CapcoApp/base.html.twig' %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container">

        {% include '@CapcoApp/Consultation/show_title.html.twig' %}

        <div class="row">

            <div class="col-xs-12  col-sm-4  col-md-3">
                {% include '@CapcoApp/Consultation/show_meta.html.twig' %}
            </div>

            {% set nbVotes = (opinion.getVotesAll) %}
            {% set nbArguments = (opinion.arguments|length) %}
            <div class="col-xs-12  col-sm-8  col-md-9 has-chart" id="details" data-ok="{{ opinion.voteCountOk }}" data-nok="{{ opinion.voteCountNok }}" data-mitige="{{ opinion.voteCountMitige }}" data-opinion-id="{{ opinion.id }}">
                <div class="block  block--shadowed  opinion__details">
                    <div class="opinion  opinion--{{ app.request.attributes.get('opinionType').color }}  opinion--current">
                        <div class="opinion__header  opinion__header--centered">
                            <a class="neutral-hover  pull-left  h4" href="{{ path('app_consultation_show_opinions', {'consultation_slug': consultation.slug, 'opinion_type_slug': app.request.attributes.get('opinion_type_slug')}) }}"><i class="cap cap-arrow-1"></i><span class="hidden-xs  hidden-sm"> Retour</span></a>
                            <p class="h4  opinion__header__title">{{ app.request.attributes.get('opinionType').slug|capitalize }} </p>
                        </div>
                        <div class="opinion__body  box">
                            {% if opinion.Author.Media %}
                                <a class="pull-left" href="#">
                                    {% thumbnail opinion.Author.Media, 'avatar' with {'title': opinion.Author.fullname, 'alt': opinion.Author.fullname, 'class': 'img-circle  pull-left'} %}
                                </a>
                            {% endif %}
                            <div class="opinion__data">
                                <p class="opinion__user  h5"><a href="#">{{ opinion.Author.getFullname }}</a> <span class="pull-right  excerpt">{{ opinion.createdAt | localizeddate('medium', 'none', app.request.locale) }}</span></p>
                                <p class="opinion__title">{{ opinion.title }}</p>
                                <p class="opinion__votes  excerpt h5">
                                    {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                                    consultation.show.votes
                                    {% endtranschoice %}
                                    •
                                    {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                                    consultation.show.arguments
                                    {% endtranschoice %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="opinion__description">
                        <div id="piechart-{{ opinion.id }}" class="opinion__chart  center-block"></div>
                        {{ opinion.body|raw }}
                        <h5 class="h5">2 pièces jointes</h5>
                        <div class="nav  nav-tabs  opinion__attachments">
                            <a class="opinion__attachment" href="#">
                                <span class="cap-clip-2"></span> Fichier 1
                                <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                            </a>
                            <a class="opinion__attachment" href="#">
                                <span class="cap-clip-2"></span> Fichier 2
                                <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                            </a>
                        </div>
                        <div class="opinion__buttons">

                            {% set opinionVoteCounts = { (opinionVoteTypes['ok']): opinion.voteCountOk, (opinionVoteTypes['nok']): opinion.voteCountNOk, (opinionVoteTypes['mitige']): opinion.voteCountMitige } %}
                            {% set previousValue = null %}
                            {% if previousVote is not null %}
                                {% set previousValue = previousVote.value %}
                            {% endif %}
                            
                            {% form_theme opinionVoteForm 'CapcoAppBundle:Form:opinion_vote.html.twig' %}
                            {{ form_start(opinionVoteForm ) }}
                                {{ form_errors(opinionVoteForm) }}
                                {{ form_widget(opinionVoteForm.value, {'previousType': previousValue, 'typeStyles': opinionVoteStyles, 'voteCounts': opinionVoteCounts}) }}
                                {{ form_rest(opinionVoteForm) }}
                            {{ form_end(opinionVoteForm) }}

                            <div class="pull-right  opinion__action-buttons">
                                <a href="#" class="btn  btn-dark-gray  btn--outline"><i class="cap cap-flag-1"></i> Signaler</a>
                                {% if app.user is not null and app.user == opinion.Author %}
                                    <a href="{{ path('app_consultation_edit_opinion' ,{'consultation_slug': consultation.slug, 'opinion_type_slug': app.request.attributes.get('opinionType').slug, 'opinion_slug': opinion.slug } ) }}" class="btn  btn-dark-gray  btn--outline"><i class="cap cap-pencil-1"></i> Modifier</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="nav  nav-tabs  opinion__resources">
                        <a class="opinion__resource  opinion__resource--solution" href="sources.php">
                            3 solutions liées
                            <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                        </a>
                        <span class="hidden-xs  opinion__resources__separator  excerpt">|</span>
                        <a class="opinion__resource  opinion__resource--source" href="sources.php">
                            2 sources
                            <span class="icon  visible-xs  pull-right  cap-arrow-66"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null %}
                            {% set argType = 1 %}
                            {% set form = argumentFormYes %}
                            {% include '@CapcoApp/Argument/create.html.twig' %}
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Argument:showArguments', {'consultation': consultation, 'opinionType': app.request.attributes.get('opinionType'), 'opinion': opinion, 'type': 1})) }}
                    </div>
                    <div class="col-sm-12  col-md-6">
                        {% if app.user is not null %}
                            {% set argType = 0 %}
                            {% set form = argumentFormNo %}
                            {% include '@CapcoApp/Argument/create.html.twig' %}
                        {% endif %}
                        {{ render(controller('CapcoAppBundle:Argument:showArguments', {'consultation': consultation, 'opinionType': app.request.attributes.get('opinionType'), 'opinion': opinion, 'type': 0})) }}
                    </div>
                </div>
            </div> <!-- col-xs-12  col-sm-4  col-md-3 -->
        </div> <!-- .row -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('js/readmore/readmore.min.js') }}"></script>
    <script type="text/javascript">
        App.module.pieChart();
        $('.more').readmore({
            maxHeight: 90,
            moreLink: '<a href="#">Lire la suite</a>', //BazingaJsTranslationBundle
            lessLink: '<a href="#">Fermer</a>'
        });
    </script>
{% endblock %}
