{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_collect', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% set title = currentStep.title ~ ' ' ~ 'of.project' | trans({}, 'CapcoAppBundle') ~ ' ' ~ project.title %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       title,
        'type':        'project',
        'image':       image,
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.Author.slug}) : null,
        'description': currentStep.metaDescription|striptags ?: currentStep.body|striptags|truncate(250, true),
        'url':         url('app_project_show_collect', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})
    } only %}
{% endblock %}

{% block reduxStore %}
  {% include '@CapcoApp/redux_store.html.twig' with {'project': project} %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block details %}
    {% if currentStep.isClosed %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.collect.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.collect.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
    {% endif %}

    {% if currentStep.isFuture %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.collect.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.collect.alert.future.text'|trans({'%date%': '<strong>' ~ currentStep.startAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
        </div>
    {% endif %}

    {% if currentStep.proposalForm is null %}
        <div>
            <p>
                {{ 'step.collect.no_form' | trans({}, 'CapcoAppBundle') }}
            </p>
        </div>
    {% else %}
        {{ react_render_component('ProposalStepPageApp', { 'props': props }) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/dropdown.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/modal.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&libraries=places"></script>
    {% if currentStep.customCode is defined and currentStep.customCode != '' %}{{ currentStep.customCode | raw }}{% endif %}
{% endblock %}
