{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_collect', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}
{% set showVotesWidget = app.user and ((currentStep is defined and currentStep.slug is defined and attribute(currentStep, 'isVotable') is defined and currentStep.isVotable() and (currentStep.isCollectStep() or currentStep.isSelectionStep())) or (proposal is defined and proposal|current_votable_step)) %}
{% block metaTags %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% set title = currentStep.title ~ ' ' ~ 'of.project' | trans({}, 'CapcoAppBundle') ~ ' ' ~ project.title %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       title,
        'type':        'project',
        'image':       image,
        'author':      is_feature_enabled('profiles') and project.firstAuthor is not null ? url('capco_user_profile_show_all', {'slug': project.firstAuthor.slug}) : null,
        'description': currentStep.metaDescription|striptags ?: currentStep.body|striptags|truncate(250, true),
        'url':         url('app_project_show_collect', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})
    } only %}
{% endblock %}

{% block reduxStore %}
  {% include '@CapcoApp/redux_store.html.twig' with {'project': project} %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block details %}
    {% if currentStep.proposalForm is null %}
        <div>
            <p>
                {{ 'step.collect.no_form' | trans({}, 'CapcoAppBundle') }}
            </p>
        </div>
    {% else %}
        {{ react_render_component('ProjectStepPageApp', { 'props': {
            'stepId': currentStep.id|toGlobalId('CollectStep'),
            'projectId': project.id|toGlobalId('Project'),
            'projectSlug': project.slug,
        } }) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'CapcoAdminBundle::googlemapsapi.html.twig' %}
{% endblock %}
