{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_collect', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    <meta property="og:title" content="{{ project.title }}" />
    <meta property="og:url" content="{{ url('app_project_show_collect', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" />
    {% if currentStep is defined and currentStep.body %}
        <meta property="og:description" content="{{ currentStep.body }}" />
    {% endif %}
    <meta property="og:type" content="project" />
    {% if project.Cover %}
        <meta property="og:image" content="{% path project.Cover, 'blockHeader' %}" />
    {% endif %}
    <meta property="article:author" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />
    <meta property="article:publisher" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />

{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}

<div class="container  container--custom">
    {% include '@CapcoApp/Project/show_title.html.twig' %}
</div>

<div class="container container--custom">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            {{ render(controller('CapcoAppBundle:Site/Project:showMeta', {'projectSlug': project.slug, 'currentStepSlug': currentStep.slug})) }}
        </div>

        <div class="col-xs-12  col-sm-8  col-md-9" id="details">
            <h2 class="h2">
                320 propositions
                <div
                    id="render-collect-step-proposal-create"
                    data-form='{{ form|escape }}'
                >
                </div>
            </h2>


            <div
                id="render-collect-step-page"
                data-form='{{ form|escape }}'
                data-themes='{{ themes|escape }}'
            >
            </div>

        </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
    </div> <!-- .row -->
</div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.pieChart();
        App.customModal('.modal--custom');
        $('.more').readmore({
            collapsedHeight: 88,
            moreLink: '<a class="text-center" href="#">{{ 'project.show.meta.read_more'|trans({}, 'CapcoAppBundle') }}</a>',
            lessLink: '<a class="text-center" href="#">{{ 'project.show.meta.read_less'|trans({}, 'CapcoAppBundle') }}</a>'
        });
        {% if project.video %}
        App.video('.fancybox');
        {% endif %}
    </script>


{% endblock %}
