{% extends '@CapcoApp/Project/layout_with_widget.html.twig' %}

{% set isConsultationType = currentStep is defined and currentStep.type  is defined  and currentStep.type  != 'consultation' %}
{% set isConsultationRoute= app.request.get('_route') == 'app_project_show_consultations' %}
{% set getConsultations = currentStep is defined and currentStep.type is defined and currentStep.type  == 'consultation' and currentStep.consultations.count <= 1 %}
{% set isConsultation = isConsultationType or isConsultationRoute or getConsultations %}
{% set shouldDisplayProjectHeader = currentStep is defined and currentStep.slug is defined and isConsultation %}
{% set showTrash = is_feature_enabled('project_trash') %}

{% block canonical_link %}{{ url('app_project_show_debate', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': currentStep.title ~ ' ' ~ project.title,
        'type': 'project',
        'description': currentStep.metaDescription ?: currentStep.title,
        'author': is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.firstAuthor.slug}) : null,
        'image': image,
        'url': url('app_project_show_debate', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ currentStep.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}{% endblock %}
{% block body %}
    {% if shouldDisplayProjectHeader %}
        <section>
            <div class="container" style='padding:0;'>
                {% include '@CapcoApp/Project/show_title.html.twig' %}
            </div>
        </section>
    {% endif %}


    {% block stepNavigation %}{% endblock %}
    <style>
        .main p { margin-bottom: unset; }
    </style>
    <section style="background: #f7f7f7; border-top: 1px solid #e5e5e5;">
    <div class="container">
    {{ react_render_component('DebateStepPageApp',
    { 'props':
        {
          stepId: currentStep.id|toGlobalId('DebateStep'),
          title: currentStep.title,
          debateType: currentStep.debateType,
          fromWidget: false,
        }
    })
    }}
    </div>
    </section>

    {% if showTrash %}
        <section class="hidden-print">
            {{ react_render_component('ProjectTrashButtonApp', {
                'props': {
                    'link': path('app_project_show_trashed', {'projectSlug': project.slug })
                },
            }) }}
        </section>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if currentStep.customCode is defined and currentStep.customCode != '' %}{{ currentStep.customCode | raw }}{% endif %}
{% endblock %}
