{% extends '@CapcoApp/Consultation/show.html.twig' %}

{% block canonical_link %}{{ url('app_consultation_show_presentation', {'consultation_slug': consultation.slug, 'step_slug': currentStep.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ currentStep.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}
    <div class="container  container--custom">
        {% include '@CapcoApp/Consultation/show_title.html.twig' %}
    </div>

    <div class="container  container--custom">
        <div class="row">
            <div class="col-xs-12  col-sm-4  col-md-3">
                {{ render(controller('CapcoAppBundle:Consultation:showMeta', {
                        'consultationSlug': consultation.slug,
                        'currentStepSlug': currentStep.slug,
                        'contributorsCount': contributors|length
                    }))
                }}
            </div>

            <div class="col-xs-12  col-sm-8  col-md-9" id="details">

                <h2 class="h2">{{ currentStep.title }}</h2>
                <div class="block  block--bordered  box">
                    {{ currentStep.body | raw }}

                    {% if consultation.canContribute %}
                        <p><a class="btn  btn-primary" href="{{ path('app_consultation_show', {'slug': consultation.slug}) }}">{{ 'step.presentation.participe' | trans({}, 'CapcoAppBundle') }}</a></p>
                    {% endif %}
                </div>

                {% if is_feature_enabled('blog') and posts | length > 0 %}
                    <div class="block">
                        <h2 class="h2">{{ 'step.presentation.posts.title'|trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ nbPosts }}</span></h2>
                        <ul class="media-list">
                            {% for post in posts %}
                                {% include '@CapcoApp/Blog/blockPost.html.twig' with {'post': post} only %}
                            {% endfor %}
                        </ul>
                        {% if nbPosts > 2 %}
                            <a href="{{ path('app_consultation_show_posts', {'consultationSlug': consultation.slug}) }}" class="btn  btn-primary  btn--outline">{{ 'step.presentation.posts.see_all'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if is_feature_enabled('calendar') and events | length > 0 %}
                    <div class="block">
                        <h2 class="h2">{{ 'step.presentation.events.title'|trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ nbEvents }}</span></h2>
                        <div class="row">
                            {% for event in events %}
                                {% include '@CapcoApp/Event/blockEvent.html.twig' with {'event': event, 'col_classes': 'col-md-6  col-sm-12'} only %}
                            {% endfor %}
                        </div>
                        {% if nbEvents > 2 %}
                            <a href="{{ path('app_consultation_show_events', {'consultationSlug': consultation.slug}) }}" class="btn  btn-primary  btn--outline">{{ 'step.presentation.events.see_all'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="block">
                    <h2 class="h2">Participants</h2>
                    <div class="row">
                        {% for contributor in contributors|slice(0,9) %}
                            {% include 'CapcoAppBundle:Default:user_thumbnail.html.twig' with {'user': contributor.user, 'col': 4} only %}
                        {% else %}
                            {% if consultation.isOpen %}
                                {{ 'consultation.contributors.no' | trans({}, 'CapcoAppBundle')}}
                            {% else %}
                                {{ 'consultation.contributors.participate' | trans({}, 'CapcoAppBundle')}}
                            {% endif %}
                        {% endfor %}
                        {% if contributors|length > 9 %}

                        {% endif %}
                    </div>
                </div>

            </div> <!-- col-xs-12  col-sm-8  col-md-9 -->
        </div> <!-- .row -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.module.equalheight('.event-js');window.onresize = App.module.resized('.event-js');
        });
    </script>
{% endblock %}
