{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_presentation', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% set title = currentStep.title ~ ' ' ~ 'of.project' | trans({}, 'CapcoAppBundle') ~ ' ' ~ project.title %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       title,
        'type':        'project',
        'description': currentStep.metaDescription ?: currentStep.body|striptags|truncate(250, true),
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.Author.slug}) : null,
        'image':       image,
        'url':         url('app_project_show_presentation', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ currentStep.title }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block details %}

    <h2 class="h2">{{ currentStep.title }}</h2>

    <div class="block">
        {{ currentStep.body | raw }}

        {% if project.ConsultationStepOpen and project.ConsultationStepOpen.canContribute %}
            <p><a class="btn  btn-primary" href="{{ path('app_project_show_consultation', {'projectSlug': project.slug, 'stepSlug': project.ConsultationStepOpen.slug}) }}">{{ 'step.presentation.participe' | trans({}, 'CapcoAppBundle') }}</a></p>
        {% endif %}
    </div>

    {% if is_feature_enabled('blog') and posts | length > 0 %}
        <div class="block">
            <h2 class="h2">{{ 'step.presentation.posts.title'|trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ nbPosts }}</span></h2>
            <ul class="media-list">
                {% for post in posts %}
                    {% include '@CapcoApp/Blog/blockPost.html.twig' with {'post': post} only %}
                {% endfor %}
            </ul>
            {% if nbPosts > 2 %}
                <a href="{{ path('app_project_show_posts', {'projectSlug': project.slug}) }}" class="btn  btn-primary  btn--outline" id="project-posts">{{ 'step.presentation.posts.see_all'|trans({}, 'CapcoAppBundle') }}</a>
            {% endif %}
        </div>
    {% endif %}

    {% if is_feature_enabled('calendar') and events | length > 0 %}
        <div class="block">
            <h2 class="h2">{{ 'step.presentation.events.title'|trans({}, 'CapcoAppBundle') }} <span class="small excerpt">{{ nbEvents }}</span></h2>
            <div class="row">
                {% for event in events %}
                    {% include '@CapcoApp/Event/blockEvent.html.twig' with {'event': event, 'col_classes': 'col-md-6  col-sm-12'} only %}
                {% endfor %}
            </div>
            {% if nbEvents > 2 %}
                <a href="{{ path('app_project_show_events', {'projectSlug': project.slug}) }}" class="btn  btn-primary  btn--outline" id="project-events">{{ 'step.presentation.events.see_all'|trans({}, 'CapcoAppBundle') }}</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="block">
        <h2 class="h2">{{ 'step.presentation.contributors.title'|trans({}, 'CapcoAppBundle') }}
            <span class="small excerpt">
                {{ project.participantsCount }}
                {% if anonymousCount > 0 %}
                    {% transchoice anonymousCount with {'%count%': anonymousCount} from 'CapcoAppBundle' %}
                    project.show.contributors.anonymous
                    {% endtranschoice %}
                {% endif %}
            </span>
            {% if is_feature_enabled('share_buttons') %}
                <a class="btn btn-primary pull-right" href="mailto:?body={{ project | capco_first_step_link(true) | escape('url') }}" title="{{ 'share_button.share_on.email' | trans({}, 'CapcoAppBundle') }}">
                    <i class="cap cap-user-add-2"></i>
                    {{ 'project.share_button' | trans({}, 'CapcoAppBundle') }}
                </a>
            {% endif %}
        </h2>

        {# {% if contributors | length > 0 %}
            <div class="row">
                {% for contributor in contributors|slice(0,9) %}
                    {% include 'CapcoAppBundle:Default:user_thumbnail.html.twig' with {'user': contributor.user, 'contributions': contributor.contributions, votes: contributor.votes, showVotes: showVotes, 'col': 4} only %}
                {% endfor %}
            </div>
        {% else %}
            <div>
                {% if (project.consultationStep is defined) and project.isOpen %}
                    {{ 'project.contributors.participate' | trans({
                        '%link%': '<a href="' ~ path('app_project_show_consultation', {'projectSlug': project.slug, 'stepSlug': project.ConsultationStepOpen.slug}) ~'"">' ,
                        '%endlink%': '</a>'
                    }, 'CapcoAppBundle') | raw }}
                {% else %}
                    {{ 'project.contributors.no' | trans({}, 'CapcoAppBundle')}}
                {% endif %}
            </div>
        {% endif %}
        
        {% if contributors|length > 9 %}
            <a href="{{ path('app_project_show_contributors', {'projectSlug': project.slug}) }}" class="btn  btn-primary  btn--outline">
                {{ 'step.presentation.contributors.see_all'|trans({}, 'CapcoAppBundle') }}
            </a>
        {% endif %} #}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/bootstrap/js/dropdown.js') }}"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.event-js');
        });

        $(window).on('resize', function() {
            App.resized('.event-js');
        });
    </script>
    {% if currentStep.customCode is defined and currentStep.customCode != '' %}{{ currentStep.customCode | raw }}{% endif %}
{% endblock %}
