{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_questionnaire', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    <meta property="og:title" content="{{ project.title }}" />
    <meta property="og:url" content="{{ url('app_project_show_questionnaire', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" />
    <meta property="og:type" content="project" />
    {% if project.Cover %}
        <meta property="og:image" content="{% path project.Cover, 'blockHeader' %}" />
    {% endif %}
    {% if is_feature_enabled('profiles') %}
        <meta property="article:author" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />
        <meta property="article:publisher" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />
    {% endif %}

{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block details %}

    {% if currentStep.isClosed %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.questionnaire.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.questionnaire.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
    {% endif %}

    {% if currentStep.isFuture %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.questionnaire.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.questionnaire.alert.future.text'|trans({'%date%': '<strong>' ~ currentStep.startAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
        </div>
    {% endif %}

    {% if currentStep.questionnaire is null %}
        <div>
            <p>
                {{ 'step.questionnaire.no_form' | trans({}, 'CapcoAppBundle') }}
            </p>
        </div>
    {% else %}
        {{ react_render_component('QuestionnaireStepPageApp', {'props': props}) }}
    {% endif %}

{% endblock %}
