{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_ranking', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% set title = currentStep.title ~ ' ' ~ 'of.project' | trans({}, 'CapcoAppBundle') ~ ' ' ~ project.title %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       title,
        'type':        'project',
        'description': currentStep.metaDescription ?: currentStep.body|striptags|truncate(250, true),
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.firstAuthor.slug}) : null,
        'image':       image,
        'url':         url('app_project_show_ranking', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ currentStep.title }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block details %}
    <h2 class="h2">{{ currentStep.title }}</h2>
    {% if currentStep.startAt %}
        <div class="mb-30 project__step-dates">
            <i class="cap cap-calendar-2-1"></i>
            {% include 'CapcoAppBundle:Default:print_date.html.twig' with {'object': currentStep} only %}
        </div>
    {% endif %}
    {% if currentStep.body %}
        <div class="block">
            {{ currentStep.body | raw }}
        </div>
    {% endif %}

    <div id="opinions--ranking" class="anchor-offset  block  block--bordered">

        {% set opinionsLabel = project.opinionTerm == 0 ? 'project.ranking.opinions' : 'project.ranking.articles' %}
        <div class="opinion opinion--default">
            <div class="opinion__header  opinion__header--mobile-centered">
                <div class="pull-left opinion__header__title">
                    {{ opinionsLabel | transchoice(opinions | length, {}, 'CapcoAppBundle')  }}
                </div>
            </div>
        </div>

        {% if (opinions|length > 0) %}
            <ul class="media-list  opinion__list">
                {% for opinion in opinions %}
                    {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': opinion, 'opinionType': opinion.opinionType, 'showRanking': true, 'opinionTerm': project.opinionTerm} %}
                {% endfor %}
            </ul>
            {% if opinions | length > nbOpinionsToDisplay  %}
                <div class="opinion  opinion__footer  box">
                    <a href="{{ path('app_project_show_opinions_ranking', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" class="text-center" style="display: block">
                        {{ 'global.see_all'|trans({}, 'CapcoAppBundle') }}
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="project__empty-block  text-center">
                <p class="icon  cap-bubble-attention-6"></p>
                <p>{{ 'opinion.show.none'|trans({}, 'CapcoAppBundle') }}</p>
            </div>
        {% endif %}
    </div>

    {% if (versions | length > 0) %}
        <div id="versions--ranking" class="anchor-offset  block  block--bordered">

            <div class="opinion opinion--default">
                <div class="opinion__header  opinion__header--mobile-centered">
                    <div class="pull-left opinion__header__title">
                        {{ 'project.ranking.versions' | transchoice(versions | length, {}, 'CapcoAppBundle')  }}
                    </div>
                </div>
            </div>

            <ul class="media-list  opinion__list">
                {% for version in versions %}
                    {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {'opinion': version, 'isVersion': true, 'showRanking': true} %}
                {% endfor %}
            </ul>
            {% if versions | length > nbVersionsToDisplay  %}
                <div class="opinion  opinion__footer  box">
                    <a href="{{ path('app_project_show_versions_ranking', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" class="text-center" style="display: block">
                        {{ 'global.see_all'|trans({}, 'CapcoAppBundle') }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if currentStep.customCode is defined and currentStep.customCode != '' %}{{ currentStep.customCode | raw }}{% endif %}
{% endblock %}
