{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_selection', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    <meta property="og:title" content="{{ project.title }}" />
    <meta property="og:url" content="{{ url('app_project_show_selection', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" />
    {% if currentStep is defined and currentStep.body %}
        <meta property="og:description" content="{{ currentStep.body }}" />
    {% endif %}
    <meta property="og:type" content="project" />
    {% if project.Cover %}
        <meta property="og:image" content="{% path project.Cover, 'blockHeader' %}" />
    {% endif %}
    <meta property="article:author" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />
    <meta property="article:publisher" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />

{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block body %}

<div class="container  container--custom">
    {% include '@CapcoApp/Project/show_title.html.twig' %}
</div>

<div class="container container--custom">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            {{ render(controller('CapcoAppBundle:Site/Project:showMeta', {'projectSlug': project.slug, 'currentStepSlug': currentStep.slug})) }}
        </div>

        <div class="col-xs-12  col-sm-8  col-md-9" id="details">
            {% if currentStep.body is not null %}
                <p class="text-center opinion-type__title level--0">
                    {{ 'project.show.meta.intro.title' | trans({}, 'CapcoAppBundle') }}
                </p>
                <div class="block  block--bordered">
                    <div class="opinion  opinion--current  opinion--default">
                        <div class="box">
                            <div class="more">{{ currentStep.body | raw }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div
                id="render-selection-step-page"
                data-count="{{ proposalsCount }}"
                data-step-id="{{ currentStep.id }}"
                data-votable="{{ currentStep.isVotable }}"
                data-themes='{{ themes|escape }}'
                data-statuses='{{ statuses|escape }}'
                data-districts='{{ districts|escape }}'
                data-types='{{ types|escape }}'
            >
            </div>
        </div>
    </div>
</div>

{% endblock %}
