{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_selection', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    <meta property="og:title" content="{{ project.title }}" />
    <meta property="og:url" content="{{ url('app_project_show_selection', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" />
    {% if currentStep is defined and currentStep.body %}
        <meta property="og:description" content="{{ currentStep.body }}" />
    {% endif %}
    <meta property="og:type" content="project" />
    {% if project.Cover %}
        <meta property="og:image" content="{% path project.Cover, 'blockHeader' %}" />
    {% endif %}
    {% if is_feature_enabled('profiles') %}
        <meta property="article:author" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />
        <meta property="article:publisher" content="{{ url('capco_user_profile_show_all', {'slug': project.Author.slug}) }}" />
    {% endif %}

{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block reduxStore %}
  {% set initialState = {
    'proposal': {
      'userVotesByStepId': project|proposal_votes_list(app.user),
      'creditsLeftByStepId': project|credits_list_list(app.user),
      'proposalsById': [],
      'proposalShowedId': [],
    }
  } %}
  {% include '@CapcoApp/redux_store.html.twig' with {'data' : initialState} %}
{% endblock %}

{% block details %}
    {% if currentStep.isClosed and currentStep.isVotable %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.selection.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.selection.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
    {% endif %}

    {% if currentStep.isFuture %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.selection.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.selection.alert.future.text'|trans({'%date%': '<strong>' ~ currentStep.startAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
        </div>
    {% endif %}

    {{ react_render_component('ProposalStepPageApp', {'props': props}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&libraries=places"></script>
{% endblock %}
