{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_selection', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% set title = currentStep.title ~ ' ' ~ 'of.project' | trans({}, 'CapcoAppBundle') ~ ' ' ~ project.title %}
    {% set image %}{% if project.Cover %}{% path project.Cover, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       title,
        'type':        'project',
        'image':       image,
        'author':      is_feature_enabled('profiles') ? url('capco_user_profile_show_all', {'slug': project.Author.slug}) : null,
        'description': currentStep.metaDescription ?: currentStep.body|striptags|truncate(250, true),
        'url':         url('app_project_show_selection', {'projectSlug': project.slug, 'stepSlug': currentStep.slug})
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ project.title }}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block details %}
    {% if currentStep.isClosed and currentStep.isVotable %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.selection.alert.ended.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.selection.alert.ended.text'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
    {% endif %}

    {% if currentStep.isFuture %}
        <div class="alert alert-info alert-dismissible  block" role="alert">
            <p><strong>{{ 'step.selection.alert.future.title'|trans({}, 'CapcoAppBundle') }}</strong> {{ 'step.selection.alert.future.text'|trans({'%date%': '<strong>' ~ currentStep.startAt| localizeddate('long', 'none', app.request.locale) ~ '</strong>'}, 'CapcoAppBundle') | raw }}</p>
        </div>
    {% endif %}

    {{ react_render_component('ProposalStepPageApp', { 'props': {  'stepId': currentStep.id|toGlobalId('SelectionStep'), count: capco_site_parameter_value('proposal.pagination') * 1 } }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&libraries=places"></script>
    {% if currentStep.customCode is defined and currentStep.customCode != '' %}{{ currentStep.customCode | raw }}{% endif %}
{% endblock %}
