{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_step', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       currentStep.title,
        'description': currentStep.body|striptags|truncate(250, true),
        'url':         url('app_project_show_step', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}),
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ currentStep.title }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block details %}
    <h2 class="h2">{{ currentStep.title }}</h2>
    <div class="block  block--bordered  box">
        {{ currentStep.body | raw }}
    </div>
{% endblock %}
