<h4 class="h4">{{ 'consultation.show.meta.step.title'|trans({}, 'CapcoAppBundle') }}</h4>
<div class="navbar--sub">
    <ul class="nav">
        {% set nb = 1 %}
        {% set now = date("now") %}
        {% if currentStep is not defined %}
            {%  set currentStep = null %}
        {%  endif %}
        {%  set isConsultationPage = false %}
        {% if currentStep == null or currentStep.isConsultationStep %}
            {%  set isConsultationPage = true %}
        {% endif %}
        {% for step in steps %}
            {% if step.isConsultationStep %}
                {%  set stepPath = path('app_consultation_show', {'slug': consultation.slug}) %}
            {% else %}
                {%  set stepPath = path('app_consultation_show_step', {'consultation_slug': consultation.slug, 'step_slug': step.slug}) %}
            {%  endif %}
            <li {% if (isConsultationPage and step.isConsultationStep) or (currentStep == step) %} class="active" {% endif %}>
                <a href="{{ stepPath }}">
                    <div class="navbar__step-nb">{{ nb }}</div>
                    <div class="navbar__step">
                        <h3 class="navbar__step-title">{{ step.title}}  <i class="pull-right  excerpt  cap-arrow-66"></i></h3>
                        <p class="excerpt h5">
                            {% if step.startAt == step.endAt %}
                                Le {{ step.startAt | localizeddate('full', 'none', app.request.locale) }}
                            {% else %}
                                Du {{ step.startAt | localizeddate('full', 'none', app.request.locale) }} au {{ step.endAt | localizeddate('full', 'none', app.request.locale) }}
                            {% endif %}
                        </p>
                        <p class="label label-default">
                            {% if now < step.startAt %}
                                {{ stepStatus['future'] | trans({}, 'CapcoAppBundle') }}
                            {% elseif now > step.endAt %}
                                {{ stepStatus['closed'] | trans({}, 'CapcoAppBundle') }}
                            {% else %}
                                {{ stepStatus['open'] | trans({}, 'CapcoAppBundle') }}
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
            {% set nb = (nb + 1) %}
        {% endfor %}
    </ul>
</div>
