{% extends '@CapcoApp/Project/base.html.twig' %}

{% block canonical_link %}{{ url('app_project_show_synthesis', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}{% endblock %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       currentStep.title,
        'description': currentStep.body|striptags|truncate(250, true),
        'url':         url('app_project_show_synthesis', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}),
    } only %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ currentStep.title }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block details %}
    <h2 class="h2">
        {{ currentStep.title }}
        {% if currentStep.synthesis.editable and is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary pull-right" href="{{ path('app_project_edit_synthesis', {'projectSlug': project.slug, 'stepSlug': currentStep.slug}) }}" title="{{ 'synthesis.edit.button' | trans({}, 'CapcoAppBundle') }}">
                <i class="cap cap-pencil-1"></i>
                {{ 'synthesis.edit.button' | trans({}, 'CapcoAppBundle') }}
            </a>
        {% endif %}
    </h2>

    {% if currentStep.body %}
        <div class="block  block--bordered  box">
            {{ currentStep.body | raw }}
        </div>
    {% endif %}

    {% if currentStep.synthesis != null and (currentStep.synthesis.enabled or ( app.user and app.user.vip))  %}
        {{ react_intl_component('SynthesisViewBoxApp', {
            'props': props,
            'rendering': 'client_side'
        }) }}
    {% endif %}
{% endblock %}
