{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block checkbox_row -%}
    <div class=""></div>
    {{ block('choice_row') }}
{%- endblock checkbox_row %}

{% block checkbox_label -%}
    {{ block('choice_label') }}
{%- endblock checkbox_label %}

{% block sonata_security_roles_widget %}
    {% spaceless %}
        <div class="editable">
            {{ block('choice_widget') }}
        </div>
        {% if read_only_choices|length > 0 %}
            <div class="readonly">
                <h4>{{ 'field.label_roles_readonly'|trans({}, "SonataUserBundle") }}</h4>
                <ul>
                    {% for choice in read_only_choices %}
                        <li>{{ choice }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock sonata_security_roles_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' list-unstyled'}) %}
        <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child, {'horizontal': false, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': false, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

 {% block checkbox_widget %}
     {% spaceless %}
         <div class="checkbox  login__checkbox">
             <label for="{{ id }}">
                 <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label|trans({}, 'SonataAdminBundle') }}
             </label>
         </div>
     {% endspaceless %}
 {% endblock %}

{% block sonata_admin_orm_one_to_many_widget %}
    {% include 'CapcoAdminBundle:CRUD:edit_orm_one_to_many.html.twig' %}
{% endblock %}
