{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% if type != 'file' %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}{% if value is iterable %}value="{{ value | json_encode() }}" {% else %}value="{{ value }}" {% endif %}{% endif %}/>
{% endblock form_widget_simple %}

{% block checkbox_row -%}
    <div class=""></div>
    {{ block('choice_row') }}
{%- endblock checkbox_row %}

{% block sonata_security_roles_widget %}
    {% spaceless %}
        <div class="editable">
            {{ block('choice_widget') }}
        </div>
        {% if read_only_choices|length > 0 %}
            <div class="readonly">
                <h4>{{ 'field.label_roles_readonly'|trans({}, "SonataUserBundle") }}</h4>
                <ul>
                    {% for choice in read_only_choices %}
                        <li>{{ choice }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock sonata_security_roles_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' list-unstyled'}) %}
        <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child, {'horizontal': false, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': false, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

 {% block checkbox_widget %}
     {% spaceless %}
         {% set attr = attr|merge({'class': attr.class|default('') ~ ' checkbox  login__checkbox'}) %}
         <div {{ block('widget_container_attributes') }}>
             <label for="{{ id }}">
                 <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label|trans({}, translation_domain | default('CapcoAppBundle')) }}
             </label>
         </div>
     {% endspaceless %}
 {% endblock %}

{% block sonata_type_model_list_widget %}
    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_actions_{{ id }}" class="field-actions">
            <span id="field_widget_{{ id }}" class="field-short-description">
                {% if sonata_admin.field_description.associationadmin.id(sonata_admin.value) %}
                    {% render url('sonata_admin_short_object_information', {
                    'code':     sonata_admin.field_description.associationadmin.code,
                    'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                    'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                    'linkParameters': sonata_admin.field_description.options.link_parameters
                    }) %}
                {% elseif sonata_admin.field_description.options.placeholder is defined and sonata_admin.field_description.options.placeholder %}
                    <span class="inner-field-short-description">
                        {{ sonata_admin.field_description.options.placeholder|trans({}, 'CapcoAppBundle') }}
                    </span>
                {% endif %}
            </span>

            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasroute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_list %}
                    <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('list') }}"
                        onclick="return start_field_dialog_form_list_{{ id }}(this);"
                        class="btn btn-info btn-sm sonata-ba-action"
                        title="{{ btn_list|trans({}, btn_catalogue) }}"
                            >
                        <i class="fa fa-list"></i>
                        {{ btn_list|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}

                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                    {% if sonata_admin.field_description.associationadmin.subclasses is empty %}
                        <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                            onclick="return start_field_dialog_form_add_{{ id }}(this);"
                            class="btn btn-success btn-sm sonata-ba-action"
                            title="{{ btn_add|trans({}, btn_catalogue) }}">
                                <i class="fa fa-plus-circle"></i>
                                {{ btn_add|trans({}, btn_catalogue) }}
                        </a>
                    {% else %}
                        <a class="btn btn-success btn-sm sonata-ba-action dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-plus"></i>
                            <i class="fa fa-plus-circle"></i>
                            {{ btn_add|trans({}, btn_catalogue) }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for subclass in sonata_admin.field_description.associationadmin.subclasses|keys %}
                                {% set link_options = {'subclass': subclass} | merge(sonata_admin.field_description.getOption('link_parameters', {})) %}
                                <li>
                                    <a  onclick="return start_field_dialog_form_add_{{ id }}(this);"
                                        accesskey=""
                                        title="{{ subclass|trans({}, sonata_admin.field_description.associationadmin.translationdomain) }}"
                                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', link_options) }}">
                                            {{ subclass|trans({}, sonata_admin.field_description.associationadmin.translationdomain) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </span>

            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasRoute('delete') and sonata_admin.field_description.associationadmin.isGranted('DELETE') and btn_delete %}
                    <a  href=""
                        onclick="return remove_selected_element_{{ id }}(this);"
                        class="btn btn-danger btn-sm sonata-ba-action"
                        title="{{ btn_delete|trans({}, btn_catalogue) }}">
                            <i class="fa fa-minus-circle"></i>
                            {{ btn_delete|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>
        </span>

        <span style="display: none" >
            {# Hidden text input cannot be required, because browser will throw error "An invalid form control with name='' is not focusable"  #}
            {{ form_widget(form, {'required':false}) }}
        </span>

        <div class="modal fade" id="field_dialog_{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
{% endblock %}

{% block sonata_admin_orm_one_to_many_widget %}
    {% include 'CapcoAdminBundle:CRUD:edit_orm_one_to_many.html.twig' %}
{% endblock %}
