{% block sonata_media_type_widget %}
    <div class="row">
        <div class="col-md-4">
            {% if value is not empty and value.providerReference %}
                <img
                    title={{ value.name }}
                    alt={{ value.name }}
                    class="img-responsive"
                    src={{ media_public_url(value, 'default_form') }}
                />
                {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                    <p><a href="{{ url('admin_capco_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a></p>
                {% else %}
                    <p><strong>{{ value.name }}</strong></p>
                {% endif %}
            {% else %}
                <img src="{{ asset('bundles/sonatamedia/grey.png') }}" alt="placeholder" style="width: 85px; height: 85px; display: block; margin-bottom: 5px;"/>
                <p><strong>{{ 'no_linked_media'|trans({}, 'CapcoAppBundle') }}</strong></p>
            {% endif %}
        </div>

        <div class="col-md-8">
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock sonata_media_type_widget %}
