{% set associationAdmin = sonata_admin.field_description.associationadmin %}
{% if form.children|length > 0 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            {% if sonata_admin.field_description.options.sortable is defined %}
                <th>{{ 'admin.action.global.move_action.label'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
            <th>
                {{ associationAdmin.label | trans({}, associationAdmin.translationDomain) }}
            </th>
            {% if associationAdmin.hasroute('delete') and associationAdmin.isGranted('DELETE') %}
                <th>
                    {{ 'admin.global.delete' | trans({}, 'SonataAdminBundle') }}
                </th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="sonata-ba-tbody">
        {% for nested_group_field_name, nested_group_field in form.children %}
            <tr>
                {% if sonata_admin.field_description.options.sortable is defined %}
                    <td class="sonata-ba-td-{{ id }}-move control-group">
                    </td>
                {% endif %}
                <td>
                    {% for field_name, nested_field in nested_group_field.children %}
                        <div class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %}"{% if (nested_field.vars['attr']['hidden'] is defined) and (nested_field.vars['attr']['hidden']) %} style="display:none;"{% endif %}>
                            {% if associationAdmin.formfielddescriptions[field_name] is defined and field_name != '_delete' %}
                                {{ form_row(nested_field) }}
                                {% set dummy = nested_group_field.setrendered %}
                            {% endif %}
                            {% if nested_field.vars.errors|length > 0 %}
                                <div class="help-inline sonata-ba-field-error-messages">
                                    {{ form_errors(nested_field) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                {% for field_name, nested_field in nested_group_field.children %}
                    {% if field_name == '_delete' %}
                        <td class="sonata-ba-td-{{ id }}-{{ field_name  }} control-group">
                            {{ form_widget(nested_field) }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}