<button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="cap cap-download-2"></i> {{ 'global.export' | trans({}, 'CapcoAppBundle') }}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
  <li><a href="{{ path('app_export_project_contributors', {'projectId': object.id }) }}">
    <strong>{{ 'global.project'|trans({}, 'CapcoAppBundle') }}</strong>
    - {{ 'event_registration.listing.title_all'|trans({}, 'CapcoAppBundle') }}
  </a></li>
  {% for pas in object.exportableSteps %}
  <li>
      <a href="{{ path('app_project_download', {'stepSlug': pas.step.slug, 'projectSlug': object.slug}) }}" >
          <strong>{{ 'admin.label.step'| trans({}, 'CapcoAppBundle') }}
          {{ pas.position }}
          {{ pas.step.title }}
          </strong>
          - {{ (pas.step.isQuestionnaireStep() ? 'list-of-answers' : 'list-of-contributions')| trans({}, 'CapcoAppBundle') }}
      </a>
  </li>
  <li>
      <a href="{{ path('app_export_step_contributors', {'stepId': pas.step.id}) }}" >
          <strong>{{ 'admin.label.step'| trans({}, 'CapcoAppBundle') }}
          {{ pas.position }}
          {{ pas.step.title }}
          </strong>
          - {{ 'event_registration.listing.title_all'|trans({}, 'CapcoAppBundle') }}
      </a>
  </li>
  {% endfor %}
</ul>
