{% set modalId = 'download-modal-' ~ object.id %}
<button onclick="$('#{{ modalId }}').modal('show'); return false;" class="btn btn-sm btn-default">
    <i class="glyphicon glyphicon-download-alt"></i>
    {{ 'admin.action.consultation.download.label'|trans({}, 'SonataAdminBundle') }}
</button>

<div id="{{ modalId }}" class="fade modal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="downloadModalLabel">{{ 'admin.action.consultation.download.modal.title' | trans({}, 'SonataAdminBundle') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'admin.action.consultation.download.modal.body' | trans({}, 'SonataAdminBundle') }}</p>
                <a class="btn  btn-default" href="{{ admin.generateObjectUrl('download', object, {'format': 'xls'}) }}">
                    {{ 'admin.action.consultation.download.modal.button' | trans({'%format%': 'XLS'}, 'SonataAdminBundle') }}
                </a>
                <a class="btn  btn-default" href="{{ admin.generateObjectUrl('download', object, {'format': 'xlsx'}) }}">
                    {{ 'admin.action.consultation.download.modal.button' | trans({'%format%': 'XLSX'}, 'SonataAdminBundle') }}
                </a>
                <a class="btn  btn-default" href="{{ admin.generateObjectUrl('download', object, {'format': 'csv'}) }}">
                    {{ 'admin.action.consultation.download.modal.button' | trans({'%format%': 'CSV'}, 'SonataAdminBundle') }}
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'admin.action.consultation.download.modal.cancel' | trans({}, 'SonataAdminBundle') }}
                </button>
            </div>
        </div>
    </div>
</div>