{% set steps = object.exportableSteps %}
{% if steps | length > 0 %}

    {% if steps | length == 1 %}
        <a href="{{ path('app_project_download', {'stepSlug': steps[0].step.slug, 'projectSlug': object.slug}) }}" class="btn btn-default btn-sm view_link" >
            <i class="cap cap-download-2"></i> {{ 'project.download.button' | trans({}, 'CapcoAppBundle') }}
        </a>
    {% else %}
        <div style="position:relative; float:left;">
            <a class="btn btn-sm btn-default view_link sonata-ba-action dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius:0;margin-left:-1px;">
                <i class="cap cap-download-2"></i> {{ 'project.download.button' | trans({}, 'CapcoAppBundle') }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" style="position: absolute; top: 100%;">
                {% for pas in steps %}
                    <li class="small">
                        <a href="{{ path('app_project_download', {'stepSlug': pas.step.slug, 'projectSlug': object.slug}) }}" >
                            {{ 'project.download.step' | trans({'%position%': pas.position, '%title%': pas.step.title}, 'CapcoAppBundle') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endif %}
