{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('fos_user_security_login') }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'user.login.title'|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h1>
        </div>
    </div>
{% endblock %}


{% block fos_user_content %}
    <div class="container">

        {% set textTop = capco_site_parameter_value('login.text.top') %}
        {% if textTop %}
            <div class="alert  alert-info  block  text-center">
                {{ textTop|raw }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-4  col-lg-offset-4  col-md-6  col-md-offset-3  col-sm-8  col-sm-offset-2  col-xs-12">

                {% if has_feature_enabled(['login_facebook', 'login_gplus']) %}
                    <div>
                        {% if is_feature_enabled('login_facebook') %}
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" title="Sign in with Facebook" class="btn  login__social-btn  login__social-btn--facebook">{{ 'user.login.social.facebook'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}
                        {% if is_feature_enabled('login_gplus') %}
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" title="Sign in with Google" class="btn  login__social-btn  login__social-btn--googleplus">{{ 'user.login.social.gplus'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}
                        {% if is_feature_enabled('login_twitter') %}
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" title="Sign in with Twitter" class="btn  login__social-btn  login__social-btn--twitter">{{ 'user.login.social.twitter'|trans({}, 'CapcoAppBundle') }}</a>
                        {% endif %}

                        {% if is_feature_enabled('login_nous_citoyens') %}
                            {{ render(controller('CapcoUserBundle:OauthConnect:nousCitoyens')) }}
                        {% endif %}
                    </div>

                    <p class="p--centered"><span>{{ 'user.register.or'|trans({}, 'CapcoAppBundle') }}</span></p>

                {% endif %}

                <div class="block  block--bordered  box">
                    {% block sonata_user_login_error %}
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.alert.close'|trans({}, 'CapcoAppBundle') }}</span></button>
                                <span>{{ error|trans({}, 'CapcoAppBundle') }}</span>
                            </div>
                        {% endif %}
                    {% endblock %}


                    {% block sonata_user_login_form %}
                        <form id="login-form" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                            <div class="form-group">
                                <label for="username" class="control-label  h5"  style="margin-top:0;">{{ 'user.login.email'|trans({}, 'CapcoAppBundle') }}</label>
                                <input type="email" class="form-control" id="username" name="_username" required="required" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label  h5" style="width:100%;">
                                    {{ 'security.login.password'|trans({}, 'SonataUserBundle') }}
                                    <span class="pull-right"><a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a></span>
                                </label>
                                <input type="password" class="form-control" id="password" name="_password" required="required" tabindex="2">
                            </div>
                            <div class="checkbox login__checkbox">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me"/>
                                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                </label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <button tabindex="3" type="submit" class="btn  btn-success  btn-block  login__submit">{{ 'user.login.submit' | trans({}, 'CapcoAppBundle') }}</button>
                        </form>
                    {% endblock %}

                </div>
            </div>
        </div>

        {% set textBottom = capco_site_parameter_value('login.text.bottom') %}
        {% if textBottom %}
            <div class="text-center  login__p">
                {{ textBottom|raw }}
            </div>
        {% endif %}

    </div>
{% endblock fos_user_content %}
