{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block actions %}
{% spaceless %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
        <p class="navbar-btn">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#opinion-create-modal">
                <i class="fa fa-plus-circle"></i>
                {{ 'link_action_create'|trans({}, 'CapcoAppBundle') }}
            </button>
        </p>
    {% endif %}
{% endspaceless %}
{% endblock %}


{% macro createOpinionForType(opinionType) %}
  <li>
    <a href="{{ url('admin_capco_app_opinion_create', {'opinion_type': opinionType.id}) }}">
      <i class="fa fa-plus-circle" style="margin-right: 10px"></i>
      {{ opinionType.title }}
    </a>
  </li>
  {% if opinionType.__children | length > 0 %}
    <ul>
    {% for child in opinionType.__children %}
     {{ _self.createOpinionForType(child) }}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block list_table %}
    {{ parent() }}
    <div class="modal fade" id="opinion-create-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Choisissez le type de proposition à créer</h4>
                </div>
                <div class="modal-body">
                    {% if consultations | length > 0 %}
                        <ul style="list-style-type: none;">
                            {% for consultation, opinionTypes in consultations %}
                                <li>
                                    <span class="dropdown-header" style="padding: 15px 0px 5px;">
                                        {{ consultation }}
                                    </span>
                                </li>
                                <ul>
                                {% for opinionType in opinionTypes %}
                                  {{ _self.createOpinionForType(opinionType )}}
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
