{% extends "CapcoAppBundle::base.html.twig" %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': 'Developper',
        'url':   url('app_developer')
    } only %}
{% endblock %}

{% block body %}
<div class="container  developers__container">

{% include 'CapcoAppBundle:Developer:header.html.twig' with {'active': 'guides'} only %}

<h3>Look up proposals</h3>

{% set stepId = app.request.get('stepId')|default(graphql_list_collect_steps()[0].id) %}
{% set selectedStep = null %}

<div class="alert alert-warning">
<p>
Looking up steps with proposals is <strong>not yet available</strong> on our public API.</p>
<p>But don't worry, we wrote this interactive guide to give you all the information that you need !</p>
</div>

<div class="well">
<h2>Interactive section</h2>
<form method="GET" class="form-inline">
<div class="form-group">
  <label>Step to look up<select onchange="this.form.submit()" name="stepId" class="ml-10 form-control">
    {% for step in graphql_list_collect_steps() %}
        {% set selected = '' %}
        {% if step.id == stepId %}
           {% set selected = 'selected' %}
           {% set selectedStep = step %}
        {% endif %}
        <option value="{{step.id}}" {{ selected }}>{{step.label}}</option>
    {% endfor %}
</select></label>
</div>
</form>
</div>

<p>
The following query looks up the "<strong>{{ selectedStep.label }}</strong>" step, finds the first 10 proposals, and returns each proposal's title, body, author username and responses with question title:
</p>

{% set query = '{
  node(id: "'~ stepId ~ '") {
    ... on CollectStep {
      proposals(first: 10) {
        totalCount
        edges {
          node {
            title
            body
            author {
              username
            }
            responses {
              question {
                title
              }
              ... on ValueResponse {
                value
              }
            }
          }
        }
      }
    }
  }
}' %}
<p class="explorer-link"><a href="{{ path('graphiql_endpoint') ~ '?query=' ~ (query|url_encode) }}">Run in Explorer</a></p>

<pre><code>{{ query }}</code></pre>

</div>
{% endblock %}
