{% extends "CapcoAppBundle::base.html.twig" %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': 'Developper',
        'url':   url('app_developer')
    } only %}
{% endblock %}

{% block body %}
<div class="container  developers__container">

{% include 'CapcoAppBundle:Developer:header.html.twig' with {'active': 'guides'} only %}

<h3>Look up responses to a questionnaire</h3>

{% set questionnaireId = app.request.get('questionnaireId')|default(graphql_list_questionnaires()[0].id) %}
{% set selectedQuestionnaire = null %}

<div class="alert alert-warning">
<p>
Looking up questionnaires is <strong>not yet available</strong> on our public API.</p>
<p>But don't worry, we wrote this interactive guide to give you all the information that you need !</p>
</div>

<div class="well">
<h2>Interactive section</h2>
<form method="GET" class="form-inline">
<div class="form-group">
  <label>Questionnaire to look up<select onchange="this.form.submit()" name="questionnaireId" class="ml-10 form-control">
    {% for step in graphql_list_questionnaires() %}
        {% set selected = '' %}
        {% if step.id == questionnaireId %}
           {% set selected = 'selected' %}
           {% set selectedQuestionnaire = step %}
        {% endif %}
        <option value="{{step.id}}" {{ selected }}>{{step.label}}</option>
    {% endfor %}
</select></label>
</div>
</form>
</div>

<p>
The following query looks up the "<strong>{{ selectedQuestionnaire.label }}</strong>" questionnaire, finds all the questions, and returns each question's title and the first 5 responses:
</p>

{% set query = '{
  node(id: "'~ questionnaireId ~ '") {
    ... on Questionnaire {
      questions {
        title
        responses(first: 5, after: null) {
          totalCount
          pageInfo {
            endCursor
            hasNextPage
          }
          edges {
            node {
              ... on ValueResponse {
                value
              }
            }
          }
        }
      }
    }
  }
}' %}
<p class="explorer-link"><a href="{{ path('graphiql_endpoint') ~ '?query=' ~ (query|url_encode) }}">Run in Explorer</a></p>

<pre><code>{{ query }}</code></pre>

<p>
The following query looks up the "<strong>{{ selectedQuestionnaire.label }}</strong>" questionnaire, finds the first 10 replies, and returns each response's value and question title:
</p>

{% set repliesQuery = '{
  node(id: "'~ questionnaireId ~ '") {
    ... on Questionnaire {
      replies(first: 10, after: null) {
        totalCount
        pageInfo {
            hasNextPage
            endCursor
        }
        edges {
          node {
            id
            createdAt
            publishedAt
            updatedAt
            author {
              id
            }
            responses {
              question {
                title
              }
              ... on ValueResponse {
                value
              }
            }
          }
        }
      }
    }
  }
}' %}
<p class="explorer-link"><a href="{{ path('graphiql_endpoint') ~ '?query=' ~ (repliesQuery|url_encode) }}">Run in Explorer</a></p>

<pre><code>{{ repliesQuery }}</code></pre>

</div>
{% endblock %}
