{% extends "@CapcoMail/standardLayoutNew.html.twig" %}

{% set logo = app_logo_url() %}

{% set btnBg = capco_site_color_value('color.btn.bg') %}
{% if null == btnBg %}{% set btnBg = '#1ABC9C' %}{% endif %}
{% set btnText = capco_site_color_value('color.btn.text') %}
{% if null == btnText %}{% set btnText = '#FFF' %}{% endif %}
{% set linkText = capco_site_color_value('color.link.default') %}
{% if null == linkText %}{% set linkText = '#16a085' %}{% endif %}

{% block core_mail %}
    <div>
        {% if logo is not null %}
            <img style="margin-bottom: 20px;" src="{{ logo }}" alt="logo {{ organizationName }}" />
        {% else %}
            <img style="margin-bottom: 20px;" src="{{ baseUrl ~ asset('apple-icon-76x76.png') }}" alt="" />
        {% endif %}

        {% if coverUrl %}
        <p>
            <img src="{{ coverUrl }}" />
        </p>
        {% endif %}

        <p>
            Bonjour {{ username }}
        </p>

        {# ICI LA DIFF ENTRE MAIL DE LANCEMENT ET MAIL DE RELANCE #}
        {% if isReminder %}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi culpa deserunt dolorem eaque in modi nemo neque nulla odit possimus, reiciendis sequi, sit suscipit totam unde vero voluptates voluptatibus.

                <a href="{{ debateUrl }}">{{ debate.step.title }}</a>

                avec {{ debate.forOpinion.author.displayName }} et {{ debate.againstOpinion.author.displayName }} et aussi {{ participantsCount }} autres personnes.

            </p>
        {% else %}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi culpa deserunt dolorem eaque in modi nemo neque nulla odit possimus, reiciendis sequi, sit suscipit totam unde vero voluptates voluptatibus.

                <a href="{{ debateUrl }}">{{ debate.step.title }}</a>

                avec {{ debate.forOpinion.author.displayName }} et {{ debate.againstOpinion.author.displayName }}.

            </p>
        {% endif %}

        <h1 style="font-size: 24px; font-weight: 600; margin: 0 0 25px 0">
            {{ debate.step.title }}
        </h1>

        {# ICI lES BOUTONS DE VOTE #}
        <div>
            <p>
                <a href="{{ forUrl }}">Pour</a>
            </p>
            <p>
                <a href="{{ againstUrl }}">Contre</a>
            </p>
        </div>

        {# ICI L'ENCART DES AVIS #}
        <div>
            {% if debate.forOpinion %}
                <div>
                    <p>
                        {{ 'opinion.for'|trans({}, 'CapcoAppBundle', user_locale) }}
                    </p>
                    <p>
                        <img src="{{ forAuthorImgUrl }}" />
                    </p>
                    <p>
                        {{ debate.forOpinion.author.displayName }}
                    </p>
                    <p>
                        {{ debate.forOpinion.author.biography }}
                    </p>
                    <p>
                        {{ debate.forOpinion.bodyExcerpt(512) | raw }}
                    </p>
                </div>
            {% endif %}
            {% if debate.againstOpinion %}
                <div>
                    <p>
                        {{ 'opinion.against'|trans({}, 'CapcoAppBundle', user_locale) }}
                    </p>
                    <p>
                        <img src="{{ againstAuthorImgUrl }}" />
                    </p>
                    <p>
                        {{ debate.againstOpinion.author.displayName }}
                    </p>
                    <p>
                        {{ debate.againstOpinion.author.biography }}
                    </p>
                    <p>
                        {{ debate.againstOpinion.bodyExcerpt(512) | raw }}
                    </p>
                </div>
            {% endif %}
        </div>

        <div>
            <a href="{{ debateUrl }}">Consulter le site</a>
        </div>

    </div>
{% endblock %}

{% block footer_mail %}
    <div>
        <p style="margin: 0; text-align: left">{{ 'email.notification.footer.mail-send-by'|trans({'{siteName}': siteName,'{siteUrl}': siteUrl,}, 'CapcoAppBundle', user_locale) | raw }}</p>

        <p style="text-align: left;">
            {{ 'email.propulsed.by'|trans({}, 'CapcoAppBundle', user_locale) | raw }}
            <img src="{{ baseUrl ~ asset("capco-logo-mail.png")}}" alt="logo cap collectif" style="width: 15px;height: 15px;margin: 0 2px 0 4px;"  />
            Cap Collectif
        </p>
    </div>
{% endblock %}
