{% extends "@CapcoMail/standardLayoutNew.html.twig" %}
		{% set logo = app_logo_url() %}
		{% set btnBg = capco_site_color_value('color.btn.bg') %}
		{% if null == btnBg %}{% set btnBg = '#1ABC9C' %}{% endif %}
		{% set btnText = capco_site_color_value('color.btn.text') %}
		{% if null == btnText %}{% set btnText = '#FFF' %}{% endif %}
		{% set linkText = capco_site_color_value('color.link.default') %}
		{% if null == linkText %}{% set linkText = '#16a085' %}{% endif %}
		{% block style_mail %}
            {{ parent() }}
            {{ include("@CapcoMail/Debate/debateLaunch.css") }}
        {% endblock %}
		{% block core_mail %}
            <div>
                {% if logo is not null %}
                    <img src="{{ logo }}" alt="logo {{ organizationName }}"  style="width:150px;margin-bottom:5px;"/>
                {% else %}
                    <img src="{{ baseUrl ~ asset('apple-icon-76x76.png') }}" alt="" style="margin-bottom:5px;"/>
                {% endif %}

                <div>
    
                     <table style="width: 100%;margin-bottom:20px;">
                        <tr>
                            <td class="mail__link__wrapper">
                               <h1>
                        {{ 'argument.publication.email.title'|trans({}, 'CapcoAppBundle', user_locale) }}
                    </h1>
                    <p style="color: #5E5E5E;">
                    {{ 'mail-greeting-username'|trans({'{username}': username}, 'CapcoAppBundle', user_locale)}}<br/>
                        {{ 'argument.publication.email.body'|trans({}, 'CapcoAppBundle', user_locale) }}
                    </p>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                       
                            <td class="mail__button__argument__wrapper">
                                <div class="mail__button__argument__publish">
                                    <a href="{{ confirmationUrl }}">{{ 'argument.publication.email.button'|trans({}, 'CapcoAppBundle', user_locale) }}</a>
                                </div>
                            </td>
                       
                    </table>
                     <table style="width: 100%;">
                      
                            <td class="mail__link__wrapper">
                                <a style="text-align: center;color: #1A88FF;" href="{{ confirmationUrl }}">{{ 'https://' ~ confirmationUrl|split('/')[2] ~ '/...' }}</a>
                            </td>
                      
                    </table>
                </div>
            </div>
        {% endblock %}
		{% block footer_mail %}
            <div>
                <p style="color:#ABABAB;margin: 0; text-align: left">{{ 'email.notification.footer.mail-send-by'|trans({'{siteName}': siteName,'{siteUrl}': siteUrl,}, 'CapcoAppBundle', user_locale) | raw }}</p>
                <p style="color:#ABABAB;text-align: left;">
                    {{ 'email.propulsed.by'|trans({}, 'CapcoAppBundle', user_locale) | raw }}


                    <img src="{{ baseUrl ~ asset("capco-logo-mail.png")}}" alt="logo cap collectif" style="width: 15px;height: 15px;margin: 0 2px 0 4px;"  />
                    Cap Collectif


                </p>
            </div>
        {% endblock %}

