<section class="section--custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-lg-offset-4  col-md-6  col-md-offset-3  col-sm-8  col-sm-offset-2  col-xs-12">
                <div class="block--bordered  box">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div class="form-group">
                            {% if invalid_email is defined %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.close'|trans({}, 'CapcoAppBundle') }}</span></button>
                                    <span class="h5">{{ 'resetting.request.invalid_email'|trans({'%email%': invalid_email}, 'CapcoAppBundle') }}</span>
                                </div>
                            {% endif %}
                            <label for="email" class="control-label">{{ 'global.email'|trans({}, 'CapcoAppBundle') }}</label>
                            <input type="email" id="email" name="email" required="required" class="form-control"  />
                        </div>
                        <button type="submit" class="btn  btn-success  btn-block  login__submit">{{ 'global.submit'|trans({}, 'CapcoAppBundle') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
