{% extends 'CapcoAdminBundle::standard_layout.html.twig' %}

{% block content %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.features.title.module'|trans({}, 'SonataAdminBundle') }}
                            </th>
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.features.title.enabled'|trans({}, 'SonataAdminBundle') }}
                            </th>
                            <th class="sonata-ba-list-field-header-text">
                                {{ 'admin.features.title.action'|trans({}, 'SonataAdminBundle') }}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for toggle, value in toggles %}
                            {% set key = 'capco.module.' ~ toggle %}
                            <tr>
                                <td>{{ key|trans({}, 'SonataAdminBundle') }}</td>
                                <td>
                                    {% if value %}
                                        <span class="label label-success">{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}</span>
                                    {% else %}
                                        <span class="label label-danger">{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}</span>
                                    {% endif %}
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-_action">
                                    <div class="btn-group">
                                        {% if value %}
                                            <a href="{{ path('admin_feature_switch', { toggle: toggle }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'disable'|trans({}, 'SonataAdminBundle') }}">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                {{ 'action_disable'|trans({}, 'SonataAdminBundle') }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('admin_feature_switch', { toggle: toggle }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'enable'|trans({}, 'SonataAdminBundle') }}">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                {{ 'action_enable'|trans({}, 'SonataAdminBundle') }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
