{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value | length > 0 %}
        {% for response in value %}
            <strong>{{ response.question.title }}</strong><br/>
            <br/>
            {% if response.value is defined %}
                {% if response.value is iterable %}
                    <ul>
                        {% for label in response.value.labels %}
                            <li>{{ label }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if response.value.label is defined %}
                        {{ response.value.label }}
                    {% else %}
                        {% if response.question.type == constant('Capco\\AppBundle\\Entity\\Questions\\AbstractQuestion::QUESTION_TYPE_MAJORITY_DECISION') %}
                            {% if response.value == constant('Capco\\AppBundle\\Enum\\MajorityVoteTypeEnum::VERY_WELL') %}
                                {{ 'very-well'|trans({}, 'CapcoAppBundle') }}
                            {% elseif response.value == constant('Capco\\AppBundle\\Enum\\MajorityVoteTypeEnum::WELL') %}
                                {{ 'global-well'|trans({}, 'CapcoAppBundle') }}
                            {% elseif response.value == constant('Capco\\AppBundle\\Enum\\MajorityVoteTypeEnum::WELL_ENOUGH') %}
                                {{ 'global-well-enough'|trans({}, 'CapcoAppBundle') }}
                            {% elseif response.value == constant('Capco\\AppBundle\\Enum\\MajorityVoteTypeEnum::PASSABLE') %}
                                {{ 'global-passable'|trans({}, 'CapcoAppBundle') }}
                            {% elseif response.value == constant('Capco\\AppBundle\\Enum\\MajorityVoteTypeEnum::NOT_PASSABLE') %}
                                {{ 'global-not-passable'|trans({}, 'CapcoAppBundle') }}
                            {% elseif response.value == constant('Capco\\AppBundle\\Enum\\MajorityVoteTypeEnum::REJECTED') %}
                                {{ 'global-not-passable'|trans({}, 'CapcoAppBundle') }}
                            {% endif %}
                        {% else %}
                            {{ response.value }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if response.medias is defined %}
                <ul>
                    {% for media in response.medias %}
                        <li>
                            <a href="{{ app.request.schemeAndHttpHost ~ '/media/default/0001/01/' ~ media.providerReference }}" download="{{ media.name }}">{{ media.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if loop.last == false %}<hr>{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
