{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value | length > 0 %}
        {% for response in value %}
            <strong>{{ response.question.title }}</strong></br>
            </br>
            {% if response.value is defined %}
                {% if response.value is iterable %}
                    <ul>
                        {% for label in response.value.labels %}
                            <li>{{ label }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if response.value.label is defined %}
                        {{ response.value.label }}
                    {% else %}
                        {{ response.value }}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if response.medias is defined %}
                <ul>
                    {% for media in response.medias %}
                        <li>
                            <a href="{{ app.request.schemeAndHttpHost ~ '/media/default/0001/01/' ~ media.providerReference }}" download="{{ media.name }}">{{ media.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if loop.last == false %}<hr>{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
