{% extends '@CapcoApp/base.html.twig' %}

{% block canonical_link %}{{ url('app_members') }}{% endblock %}

{% set jumbotron_title = capco_site_parameter_value('proposal_form.title') %}
{% set meta_description = capco_site_parameter_value('members.metadescription') %}
{% set jumbotron_body = capco_site_parameter_value('members.jumbotron.body') %}
{% set content_body = capco_site_parameter_value('members.content.body') %}
{% set picto = capco_site_image_media('members.picto') %}

{% block title %}
    {% if null != jumbotron_title %}
        {{ parent() }} - {{ jumbotron_title }}
    {% else %}
        {{ parent() }} - {{ 'user.index.title'|trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}

{% block metaTags %}
    {% set image %}{% if picto %}{% path picto, 'blockHeader' %}{% endif %}{% endset %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title':       (jumbotron_title ?: 'proposal_form.title'|trans({}, 'CapcoAppBundle')),
        'description': (meta_description|striptags ?: jumbotron_body|striptags ?: content_body|striptags|truncate(250, true)),
        'image':       image,
        'url':         url('app_members')
        } only %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1 text-center">
        <div class="container">
            {% if null != jumbotron_title %}
                <h1>{{ jumbotron_title }}</h1>
            {% else %}
                <h1>{{ 'user.index.title'|trans({}, 'CapcoAppBundle') }}</h1>
            {% endif %}
            {% set jumbotron_body = capco_site_parameter_value('members.jumbotron.body') %}
            {% if null != jumbotron_body %}
                {{ jumbotron_body|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}

    {% set content_body = capco_site_parameter_value('members.content.body') %}
    <section class="section--custom" {% if content_body is null %}style="display: none;"{% endif %}>
        <div class="container">
            {% if null != content_body %}
                {{ content_body|raw }}
            {% endif %}
        </div>
    </section>

    <section class="section--custom">
        <div class="container">

            <div class="filter  block">
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% if is_feature_enabled('user_type') %}
                        <div class="col-xs-12  col-sm-3  col-md-4  col-lg-4 filter__down">
                            {{ form_label(form.userType, null, {'label_attr':{"class":"control-label  sr-only"} }) }}
                            {{ form_errors(form.userType) }}
                            {{ form_widget(form.userType, {'attr':{"class":"form-control"} }) }}
                        </div>
                    {% endif %}
                    <div class="col-xs-12  col-sm-3  col-md-4  col-lg-4 filter__down">
                        <div class="formgroup--inline">
                            {{ form_label(form.sort, null, {'label_attr':{"class":"control-label"} }) }}
                            <span class="formgroup--inline__control">
                                    {{ form_errors(form.sort) }}
                                {{ form_widget(form.sort, {'attr':{"class":"form-control"} }) }}
                            </span>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

            <div class="row">
                {% for member in members %}
                    {% include 'CapcoAppBundle:Default:user_thumbnail.html.twig' with {'user': member, 'col': 3} only %}
                {% else %}
                    <p>
                        {{ 'user.index.no_result'|trans({}, 'CapcoAppBundle') }}
                    </p>
                {% endfor %}

            </div>
            {% set userType = (form.vars.data.userType is null ? 'all' : form.vars.data.userType.slug) %}

            {% if form.vars.data.sort is not null %}
                {% set route, params = 'app_members_type_sorted', {'sort': form.vars.data.sort, 'userType': userType } %}
            {% else %}
                {% set route, params = 'app_members_type', {'userType': userType} %}
            {% endif %}

            {% include 'CapcoAppBundle:Block:pagination.html.twig' with {'current': page, 'nb': nbPage, 'route': route, 'params': params} only  %}

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).on('load', function() {
            App.equalheight('.media--user-thumbnail');
        });

        $(window).on('resize', function() {
            App.resized('.media--user-thumbnail');
        });
    </script>
    {% set customCode = capco_site_parameter_value('members.customcode') %}
    {% if customCode is defined and customCode != '' %}{{ customCode | raw }}{% endif %}
{% endblock %}
