{% extends '@CapcoApp/layout.html.twig' %}

{% block mainContent %}
    {# Header  #}
    {% include '@CapcoApp/Default/header.html.twig' %}

    {% if app.request.hasPreviousSession %}
        <div id="symfony-flash-messages">
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ key }} alert-dismissible  alert--no-radius" role="alert"
                         style="margin-bottom: 0; text-align: center">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                class="sr-only">{{ 'global.alert.close'|trans({}, 'CapcoAppBundle') }}</span></button>
                        <span>{% block error_message %}{{ message | trans({}, 'CapcoAppBundle') }}{% endblock %}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}


    {# Main jumbotron for a primary marketing message or call to action #}
    {% block jumbotron %}{% endblock %}

    <main id="main" class="main" tabindex="-1" role="main">
        {% block body %}{% endblock %}
    </main>

    {# Footer #}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    {% set bannerTrad = '' %}
    {% if analytic_js is not empty and ads_js is empty %}
        {% set bannerTrad =  'text-audience-cookie'|trans({}, 'CapcoAppBundle') %}
    {% elseif ads_js  is not empty and analytic_js is empty %}
        {% set bannerTrad =  'text-cookie-communication'|trans({}, 'CapcoAppBundle') %}
    {% elseif ads_js is not empty and analytic_js is not empty %}
        {% set bannerTrad =  'texte-cookie-audience-communication'|trans({}, 'CapcoAppBundle') %}
    {% endif %}
    {% if bannerTrad is defined and bannerTrad is not empty %}
        {{ react_render_component('CookieApp', {
            'props': {
                'bannerTrad': bannerTrad,
                'isLink': false,
            }
        }) }}
    {% endif %}

    {% include '@CapcoApp/Default/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    <script type="text/javascript">
        window.locale = "{{ intl_locale() }}";
        window.timeZone = "{{ intl_timeZone() }}";
        window.recaptchaOptions = {lang: "{{ intl_locale() }}"};
        window._capco_executeAnalyticScript = function () {
            {% if analytic_js is not null %}
            var script = document.createElement("script");
            script.innerHTML = '{{ analytic_js|e("js") }}';
            document.body.appendChild(script);
            {% endif %}
        };
        window._capco_executeAdsScript = function () {
            {% if ads_js is not null %}
            var script = document.createElement("script");
            script.innerHTML = '{{ ads_js|e("js") }}';
            document.body.appendChild(script);
            {% endif %}
        };
    </script>
    {{ parent() }}

    <script type="text/javascript">


        document.addEventListener("DOMContentLoaded", function (event) {
            cookieMonster.processCookieConsent();
        });

        $(window).on('load', function () {
            App.externalLinks();
            App.skipLinks();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        App.customModal('.modal--custom');
        App.video('.fancybox');
    </script>
    {% set client_js = capco_site_parameter_value('global.site.embed_js') %}
    {% if null != client_js %}
        {{ client_js|raw }}
    {% endif %}

{% endblock %}
