{% extends '@CapcoApp/layout.html.twig' %}

{% block mainContent %}
    {# Header  #}
    {% include '@CapcoApp/Default/header.html.twig' %}

    {% include 'CapcoAppBundle:Homepage:flashbag.html.twig' %}

    {# Main jumbotron for a primary marketing message or call to action #}
    {% block jumbotron %}{% endblock %}

    <main id="main" class="main" tabindex="-1" role="main">
        {% block body %}{% endblock %}
    </main>
    {{ react_render_component('ToastsContainerApp', {
        'rendering': 'client_side'
    }) }}

    {# Footer #}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
        {{ react_render_component('CookieManagerApp', {
            'props': {
                'isLink': false,
            }
        }) }}

    {% include '@CapcoApp/Default/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    <script type="text/javascript">
        {% include '@CapcoApp/window.js.twig' %}
    </script>
    {{ parent() }}

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
            cookieMonster.processCookieConsent();
        });

        $(window).on('load', function () {
            App.externalLinks();
            App.skipLinks();
        });

        window._capco_executeAnalyticScript = function () {
            {% if analytic_js is not null %}
            App.dangerouslyExecuteHtml('{{ analytic_js|e("js") }}');
            {% endif %}
        };
        window._capco_executeAdsScript = function () {
            {% if ads_js is not null %}
            App.dangerouslyExecuteHtml('{{ ads_js|e("js") }}');
            {% endif %}
        };

        App.customModal('.modal--custom');
        App.video('.fancybox');
    </script>
    {% set client_js = capco_site_parameter_value('global.site.embed_js') %}
    {% if null != client_js %}
        {{ client_js|raw }}
    {% endif %}

{% endblock %}

