{% extends '@CapcoApp/layout.html.twig' %}

{% block mainContent %}

    {# Header  #}
    {% include '@CapcoApp/Default/header.html.twig' %}

    {% if app.request.hasPreviousSession %}
      <div id="symfony-flash-messages">
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
            <div class="alert alert-{{ key }} alert-dismissible  alert--no-radius" role="alert" style="margin-bottom: 0; text-align: center">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'global.alert.close'|trans({}, 'CapcoAppBundle') }}</span></button>
                <span>{% block error_message %}{{ message | trans({}, 'CapcoAppBundle') }}{% endblock %}</span>
            </div>
            {% endfor %}
        {% endfor %}
      </div>
    {% endif %}


    {# Main jumbotron for a primary marketing message or call to action #}
    {% block jumbotron %}{% endblock %}

    <div id="main" class="main" tabindex="-1">
        {% block body %}{% endblock %}
    </div>

    {# Footer #}
    {{ render(controller('CapcoAppBundle:Site/Default:footer')) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        require('Resources/js/modernizr');
        {# remove when Piechart is rendered by VotePiechart component everywhere #}
        require('Resources/js/jsapi');
        require('Resources/js/googleCharts');
        window.locale = "{{ intl_locale() }}";

        var cookieChoices = require('Resources/js/cookiechoices').default;
        var App = require('Resources/js/app').default;
        if (!Modernizr.intl) {
            require('Resources/js/browserUpdate');
        }

        $(window).on('load', function() {
            App.externalLinks();
            App.skipLinks();
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
        document.addEventListener('DOMContentLoaded', function(event) {
            cookieChoices.showCookieConsentBar(
              "{{ 'cnil.message' | trans({}, 'CapcoAppBundle') | raw }}",
              "{{ 'cnil.close' | trans({}, 'CapcoAppBundle') | raw }}",
              "{{ 'cnil.learn' | trans({}, 'CapcoAppBundle') | raw }}",
              "{{ url('app_confidentialite') }}",
              "{{ 'cnil.learn.link.title' | trans({}, 'CapcoAppBundle') | raw }}",
              "{{ 'cnil.close.title' | trans({}, 'CapcoAppBundle') | raw }}"
            );
        });
        App.customModal('.modal--custom');
        App.video('.fancybox');
    </script>
    {% set client_js = capco_site_parameter_value('global.site.embed_js') %}
    {% if null != client_js %}
        {{ client_js|raw }}
    {% endif %}

{% endblock %}
