{% extends '@CapcoApp/layout.html.twig' %}

{% set link = capco_site_color_value('color.link.default') %}
{% set linkHover = capco_site_color_value('color.link.hover') %}

{% block stylesheets %}
    {{ parent() }}
        <style>
        .main p { margin-bottom: unset; }

        /* old editor links colours overrides */
        .old-editor a:not(footer .old-editor a, .btn-primary, .btn-secondary, .btn--outline),
        .old-editor .btn.btn-link:not(footer .old-editor .btn.btn-link):not(.btn.btn-primary) {
            color: {{ link | raw }};
        }
        .old-editor a:not(footer .old-editor a, .btn-primary, .btn-secondary, .btn--outline):hover,
        .old-editor .btn.btn-link:not(footer .old-editor .btn.btn-link):not(.btn.btn-primary):hover {
            color: {{ linkHover | raw }};
        }

        /* ql editor links colours overrides */
        .ql-editor a:not(footer .ql-editor a, .btn-primary, .btn-secondary, .btn--outline),
        .ql-editor .btn.btn-link:not(footer .ql-editor .btn.btn-link):not(.btn.btn-primary) {
            color: {{ link | raw }};
        }
        .ql-editor a:not(footer .ql-editor a, .btn-primary, .btn-secondary, .btn--outline):hover,
        .ql-editor .btn.btn-link:not(footer .ql-editor .btn.btn-link):not(.btn.btn-primary):hover {
            color: {{ linkHover | raw }};
        }
    </style>
{% endblock %}

{% block mainContent %}
    {# Header  #}
    {% include '@CapcoApp/Default/header.html.twig' %}

    {% include '@CapcoApp/Homepage/flashbag.html.twig' %}

    {# Main jumbotron for a primary marketing message or call to action #}
    {% block jumbotron %}{% endblock %}
   
    <main id="main" class="main" tabindex="-1" role="main">
        {% block body %} {% endblock %}
    </main>
    {{ react_render_component('ToastsContainerApp', {
        'rendering': 'client_side'
    }) }}

    {# Footer #}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    {%  if ads_js or analytic_js %}
        {{ react_render_component('CookieManagerApp', {
            'props': {
                'isLink': false,
            }
        }) }}
    {%  endif %}
    {% include '@CapcoApp/Default/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    <script type="text/javascript">
        {% include '@CapcoApp/window.js.twig' %}
    </script>
    {{ parent() }}

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
            cookieMonster.processCookieConsent();
        });

        $(window).on('load', function () {
            App.externalLinks();
            App.skipLinks();
        });

        window._capco_executeAnalyticScript = function () {
            {% if analytic_js is not null %}
            App.dangerouslyExecuteHtml('{{ analytic_js|e("js") }}');
            {% endif %}
        };
        window._capco_executeAdsScript = function () {
            {% if ads_js is not null %}
            App.dangerouslyExecuteHtml('{{ ads_js|e("js") }}');
            {% endif %}
        };

        App.customModal('.modal--custom');
        App.video('.fancybox');
    </script>
    {% set client_js = capco_site_parameter_value('global.site.embed_js') %}
    {% if null != client_js %}
        {{ client_js|raw }}
    {% endif %}

{% endblock %}

