<!DOCTYPE html>
<html {% if page_class is defined %} class="{{ page_class }}"{% endif %} prefix="og: http://ogp.me/ns#" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include '@CapcoApp/favicon.html.twig' %}

    <link rel="canonical" href="{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}" />

    {% set siteName = capco_site_parameter_value('global.site.fullname') ? capco_site_parameter_value('global.site.fullname') : 'Cap Collectif' %}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ siteName }}"/>
    <meta property="fb:app_id" content="{{ facebook_app_id }}" />
    <meta name="application-name" content="{{ siteName }}">
    {% block metaTags %}
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta name="twitter:url" content="{{ app.request.uri }}" />
    {% endblock %}

    {% set sitename = capco_site_parameter_value('global.site.fullname') %}

{% spaceless %}
    <title>{% block title %}{% if sitename is not empty %}{{ sitename }}{% else %}Cap-Collectif{% endif %}{% endblock %}</title>
{% endspaceless %}

    {% block stylesheets %}
      <style>
        @font-face {
          font-family: 'cap-collectif';
          font-weight: normal;
          font-style: normal;
          src: url("{{ asset('fonts/cap-collectif.eot') }}");
          src: url("{{ asset('fonts/cap-collectif.eot#iefix') }}") format('embedded-opentype'),
          url("{{ asset('fonts/cap-collectif.woff') }}") format('woff'),
          url("{{ asset('fonts/cap-collectif.ttf') }}") format('truetype'),
          url("{{ asset('fonts/cap-collectif.svg#cap-collectif') }}") format('svg');
        }
        </style>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/print.css') }}" rel="stylesheet" media="print" type="text/css">
    {% endblock %}

    {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries  #}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include '@CapcoApp/Default/custom.css.twig' %}
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1133038790219319');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1133038790219319&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
<!--
Start of Floodlight Tag: Please do not remove
Activity name of this tag: 2019-08-DICOM-RUA-Conversion
URL of the webpage where the tag is expected to be placed: https://www.solidarites-sante.gouv.fr/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/09/2019
-->
<script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://2953234.fls.doubleclick.net/activityi;src=2953234;type=ruadh0;cat=2019-00;dc_lat=;d' +
        'c_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="d' +
        'isplay:none"></iframe>');
</script>
<noscript>
    <iframe
        src="https://2953234.fls.doubleclick.net/activityi;src=2953234;type=ruadh0;cat=2019-00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa
=;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<!--
Start of Floodlight Tag: Please do not remove
Activity name of this tag: 2019-08-DICOM-RUA-Retargeting
URL of the webpage where the tag is expected to be placed: https://www.solidarites-sante.gouv.fr/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 08/09/2019
-->
<script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://2953234.fls.doubleclick.net/activityi;src=2953234;type=ruadh0;cat=2019-0;dc_lat=;dc' +
        '_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="di' +
        'splay:none"></iframe>');
</script>
<noscript>
    <iframe
        src="https://2953234.fls.doubleclick.net/activityi;src=2953234;type=ruadh0;cat=2019-0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=
;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>


<div id="app-wrapper">
    {% block reduxStore %}
      {% include '@CapcoApp/redux_store.html.twig' %}
    {% endblock %}
    {% block mainContent %}{% endblock %}
</div>
{% include '@CapcoApp/partials/_outdated_browser.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('js/vendor.js') }}"></script>
    {% if app.environment == 'test' %}
        <script>
            window.intl_messages={};
        </script>
    {% else %}
        <script src="{{ asset('js/'~intl_locale()~'.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
