<!DOCTYPE html>
<html {% if page_class is defined %} class="{{ page_class }}"{% endif %} prefix="og: http://ogp.me/ns#" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include '@CapcoApp/favicon.html.twig' %}

    <link rel="canonical" href="{% block canonical_link %}{{ url('app_homepage') }}{% endblock %}" />

    {% set siteName = capco_site_parameter_value('global.site.fullname') ? capco_site_parameter_value('global.site.fullname') : 'Cap Collectif' %}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ siteName }}"/>
    <meta property="fb:app_id" content="{{ facebook_app_id }}" />
    <meta name="application-name" content="{{ siteName }}">
    {% block metaTags %}
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta name="twitter:url" content="{{ app.request.uri }}" />
    {% endblock %}

    {% set sitename = capco_site_parameter_value('global.site.fullname') %}

{% spaceless %}
    <title>{% block title %}{% if sitename is not empty %}{{ sitename }}{% else %}Cap-Collectif{% endif %}{% endblock %}</title>
{% endspaceless %}

    {% block stylesheets %}
      <style>
        @font-face {
          font-family: 'cap-collectif';
          font-weight: normal;
          font-style: normal;
          src: url("{{ asset('fonts/cap-collectif.eot') }}");
          src: url("{{ asset('fonts/cap-collectif.eot#iefix') }}") format('embedded-opentype'),
          url("{{ asset('fonts/cap-collectif.woff') }}") format('woff'),
          url("{{ asset('fonts/cap-collectif.ttf') }}") format('truetype'),
          url("{{ asset('fonts/cap-collectif.svg#cap-collectif') }}") format('svg');
        }
        </style>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/print.css') }}" rel="stylesheet" media="print" type="text/css">
    {% endblock %}

    {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries  #}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include '@CapcoApp/Default/custom.css.twig' %}
</head>

<body class="{{ app.request.get('_route') }}">

<div id="app-wrapper">
    {% block reduxStore %}
      {% include '@CapcoApp/redux_store.html.twig' %}
    {% endblock %}
    {% block mainContent %}{% endblock %}
</div>
{% include '@CapcoApp/partials/_outdated_browser.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('js/vendor.js') }}"></script>
    {% if app.environment == 'test' %}
        <script>
            window.intl_messages={};
        </script>
    {% else %}
        <script src="{{ asset('js/'~intl_locale()~'.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
